Repository godotengine/godot-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/documentation, @godotengine/core, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/windows, @godotengine/docks, @godotengine/2d-nodes, @godotengine/3d-nodes, @godotengine/animation, @godotengine/import, @godotengine/audio, @godotengine/script-editor, @godotengine/input, @godotengine/navigation, @godotengine/network, @godotengine/rendering, @godotengine/physics, @godotengine/gdextension, @godotengine/dotnet, @godotengine/gdscript, @godotengine/shaders, @godotengine/gui-nodes, @godotengine/xr

Add JavaScript-based redirects to supplement Read the Docs redirects
  _static/js/custom.js
  _static/redirects.csv
  _tools/redirects/README.md
  _tools/redirects/create_redirects.py
Owners: @godotengine/buildsystem

Fetch redirects based on the current URL.
  404.rst
Owners: @godotengine/documentation

Document SSAO support in Compatibility in Environment and post-processing
  tutorials/3d/environment_and_post_processing.rst
  tutorials/rendering/renderers.rst
Owners: @godotengine/documentation, @godotengine/3d-nodes, @godotengine/rendering

Add a section to godot-cpp explaining core types and where to find their documentation.
  engine_details/architecture/index.rst
  tutorials/scripting/cpp/core_types.rst
  tutorials/scripting/cpp/index.rst
Owners: @godotengine/documentation, @godotengine/core, @godotengine/gdextension

Add Android Gallery Example to JavaClassWrapper
  tutorials/platform/android/javaclasswrapper_and_androidruntimeplugin.rst
Owners: @godotengine/documentation, @godotengine/android

Update exec flag for Visual Studio
  tutorials/editor/external_editor.rst
Owners: @godotengine/documentation, @godotengine/docks

Add images
  tutorials/platform/android/img/play_console_app_bundle_explorer.webp
  tutorials/platform/android/img/play_console_app_bundle_explorer2.webp
  tutorials/platform/android/img/play_console_create_new_release.webp
  tutorials/platform/android/img/play_console_create_new_release2.webp
  tutorials/platform/android/img/play_console_latest_release_bundles.webp
  tutorials/platform/android/img/play_console_latest_release_bundles2.webp
  tutorials/platform/android/img/play_console_upload_native_debug_symbols.webp
  tutorials/platform/android/resolving_crashes_on_android.rst
Owners: @godotengine/documentation, @godotengine/android

Update resolving_crashes_on_android.rst
  tutorials/platform/android/resolving_crashes_on_android.rst
Owners: @godotengine/documentation, @godotengine/android

Update external_editor.rst
  tutorials/editor/external_editor.rst
Owners: @godotengine/documentation, @godotengine/docks

Add a section for multithreading primitives to Core types.
  engine_details/architecture/core_types.rst
  engine_details/architecture/variant_class.rst
  tutorials/performance/using_multiple_threads.rst
Owners: @godotengine/documentation, @godotengine/core

Tweak suggested energy values to simulate volumetric lighting in Volumetric fog
  tutorials/3d/volumetric_fog.rst
Owners: @godotengine/documentation, @godotengine/3d-nodes

Fix error in shader_functions abbr popup
  tutorials/shaders/shader_reference/shader_functions.rst
Owners: @godotengine/documentation, @godotengine/shaders

Merge pull request #11435 from syntaxerror247/debug-symbols
  tutorials/platform/android/img/play_console_app_bundle_explorer.webp
  tutorials/platform/android/img/play_console_app_bundle_explorer2.webp
  tutorials/platform/android/img/play_console_create_new_release.webp
  tutorials/platform/android/img/play_console_create_new_release2.webp
  tutorials/platform/android/img/play_console_latest_release_bundles.webp
  tutorials/platform/android/img/play_console_latest_release_bundles2.webp
  tutorials/platform/android/img/play_console_upload_native_debug_symbols.webp
  tutorials/platform/android/index.rst
  tutorials/platform/android/resolving_crashes_on_android.rst
Owners: @godotengine/documentation, @godotengine/android

Update MeshDataTool tutorial
  tutorials/3d/procedural_geometry/meshdatatool.rst
Owners: @godotengine/documentation, @godotengine/3d-nodes

Add AccessKit build instructions.
  engine_details/development/compiling/compiling_for_linuxbsd.rst
  engine_details/development/compiling/compiling_for_macos.rst
  engine_details/development/compiling/compiling_for_windows.rst
Owners: @godotengine/documentation, @godotengine/linux-bsd, @godotengine/macos, @godotengine/windows

Apply suggestions from code review
  404.rst
Owners: @godotengine/documentation

Change 'subclasses' to 'inner classes' in style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Owners: @godotengine/documentation, @godotengine/gdscript

Update exec flag for Visual Studio (#11455)
  tutorials/editor/external_editor.rst
Owners: @godotengine/documentation, @godotengine/docks

Update casing for autoload in singletons_autoload.rst
  tutorials/scripting/singletons_autoload.rst
Owners: @godotengine/documentation

Document GPUParticles3D precision limitation in Large world coordinates
  tutorials/physics/large_world_coordinates.rst
Owners: @godotengine/documentation, @godotengine/physics

classref: Sync with current master branch (ef34c3d)
  classes/class_@globalscope.rst
  classes/class_array.rst
  classes/class_boneconstraint3d.rst
  classes/class_canvasitem.rst
  classes/class_control.rst
  classes/class_converttransformmodifier3d.rst
  classes/class_copytransformmodifier3d.rst
  classes/class_cpuparticles2d.rst
  classes/class_editorinterface.rst
  classes/class_editorscript.rst
  classes/class_editorsettings.rst
  classes/class_environment.rst
  classes/class_gltfstate.rst
  classes/class_graphnode.rst
  classes/class_hscrollbar.rst
  classes/class_httprequest.rst
  classes/class_input.rst
  classes/class_jacobianik3d.rst
  classes/class_limitangularvelocitymodifier3d.rst
  classes/class_node.rst
  classes/class_node3d.rst
  classes/class_object.rst
  classes/class_openxrextensionwrapper.rst
  classes/class_openxrframesynthesisextension.rst
  classes/class_os.rst
  classes/class_popupmenu.rst
  classes/class_projectsettings.rst
  classes/class_rdvertexattribute.rst
  classes/class_renderingdevice.rst
  classes/class_skeletonmodifier3d.rst
  classes/class_tabbar.rst
  classes/class_textserver.rst
  classes/class_textserverextension.rst
  classes/class_translationserver.rst
  classes/class_vscrollbar.rst
  classes/index.rst
Owners: @godotengine/documentation, @godotengine/buildsystem

Minor spelling correction from 'known' to 'know'.
  classes/class_resourceloader.rst
Owners: @godotengine/documentation, @godotengine/buildsystem

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails.

# buildsystem for all that isn't claimed in root, as well as all scripts.

/*.*                                                        @godotengine/buildsystem
*.py                                                        @godotengine/buildsystem

# Documentation to catch all otherwise unclaimed `.rst` files.

*.rst                                                       @godotengine/documentation

# ---------------- About ---------------------------

/about/                                                     @godotengine/documentation

# ---------------- Classes -------------------------

## Note: Using "buildsystem" as well as the doc team for global ownerships as
## it's generally incorrect to modify this except by automated generation.

/classes/                                                   @godotengine/documentation @godotengine/buildsystem

# ---------------- Community -----------------------

# TODO: Who should control this beyond documentation?

## --------------- Asset Library -------------------

# TODO: Who should control this beyond documentation?

# ---------------- Engine Details ------------------

/engine_details/architecture/                               @godotengine/documentation @godotengine/core
/engine_details/development/compiling/                      @godotengine/documentation @godotengine/buildsystem
/engine_details/development/compiling/*android*             @godotengine/documentation @godotengine/android
/engine_details/development/compiling/*ios*                 @godotengine/documentation @godotengine/ios
/engine_details/development/compiling/*linuxbsd*            @godotengine/documentation @godotengine/linux-bsd
/engine_details/development/compiling/*macos*               @godotengine/documentation @godotengine/macos
/engine_details/development/compiling/*visionos*            @godotengine/documentation @godotengine/ios
/engine_details/development/compiling/*web*                 @godotengine/documentation @godotengine/web
/engine_details/development/compiling/*windows*             @godotengine/documentation @godotengine/windows
/engine_details/editor/                                     @godotengine/documentation @godotengine/docks
/engine_details/file_formats/                               @godotengine/documentation @godotengine/core

# TODO: Who should control the rest?

# ---------------- Getting Started -----------------

# TODO: Who should control this beyond documentation?

# ---------------- Tutorials -----------------------

## --------------- 2D ------------------------------

/tutorials/2d/                                              @godotengine/documentation @godotengine/2d-nodes

# TODO: Any additional ownership for particles and rendering?

## --------------- 3D ------------------------------

/tutorials/3d/                                              @godotengine/documentation @godotengine/3d-nodes

# TODO: Should any of these also have rendering ownership when rendering related?

## --------------- Animation -----------------------

/tutorials/animation/                                       @godotengine/documentation @godotengine/animation

## --------------- Assets Pipeline -----------------

/tutorials/assets_pipeline/                                 @godotengine/documentation @godotengine/import

# TODO: Any additional ownership for 3D and translations?

## --------------- Audio ---------------------------

/tutorials/audio/                                           @godotengine/documentation @godotengine/audio

## --------------- Best Practices ------------------

# TODO: Who should control this beyond documentation?

## --------------- Editor --------------------------

/tutorials/editor/                                          @godotengine/documentation @godotengine/docks
/tutorials/editor/*script*                                  @godotengine/documentation @godotengine/script-editor

# TODO: Who should control this beyond docs?

## --------------- Export --------------------------

/tutorials/export/*android*                                 @godotengine/documentation @godotengine/android
/tutorials/export/*ios*                                     @godotengine/documentation @godotengine/ios
/tutorials/export/*linux*                                   @godotengine/documentation @godotengine/linux-bsd
/tutorials/export/*macos*                                   @godotengine/documentation @godotengine/macos
/tutorials/export/*visionos*                                @godotengine/documentation @godotengine/ios
/tutorials/export/*web*                                     @godotengine/documentation @godotengine/web
/tutorials/export/*windows*                                 @godotengine/documentation @godotengine/windows

# TODO

## --------------- i18n ----------------------------

# TODO: Who should control this beyond documentation?

## --------------- Inputs --------------------------

/tutorials/inputs/                                          @godotengine/documentation @godotengine/input

## --------------- IO ------------------------------

/tutorials/io/                                              @godotengine/documentation @godotengine/core

## --------------- Math ----------------------------

/tutorials/math/                                            @godotengine/documentation @godotengine/core

## --------------- Migrating -----------------------

/tutorials/migrating/                                       @godotengine/documentation

## --------------- Navigation ----------------------

/tutorials/navigation/                                      @godotengine/documentation @godotengine/navigation

## --------------- Networking ----------------------

/tutorials/networking/                                      @godotengine/documentation @godotengine/network

## --------------- Performance ---------------------

/tutorials/performance/                                     @godotengine/documentation @godotengine/core
/tutorials/performance/gpu_optimization.rst                 @godotengine/documentation @godotengine/rendering
/tutorials/performance/index.rst                            @godotengine/documentation
/tutorials/performance/optimizing_3d_performance.rst        @godotengine/documentation @godotengine/rendering
/tutorials/performance/pipeline_compilations.rst            @godotengine/documentation @godotengine/rendering
/tutorials/performance/using_multimesh.rst                  @godotengine/documentation @godotengine/rendering
/tutorials/performance/vertex_animation/                    @godotengine/documentation @godotengine/rendering

# TODO: Who should control this beyond documentation?

## --------------- Physics -------------------------

/tutorials/physics/                                         @godotengine/documentation @godotengine/physics

## --------------- Platform ------------------------

/tutorials/platform/android/                                @godotengine/documentation @godotengine/android
/tutorials/platform/ios/                                    @godotengine/documentation @godotengine/ios
/tutorials/platform/web/                                    @godotengine/documentation @godotengine/web

# TODO

## --------------- Plugins -------------------------

# TODO: Who should control this beyond documentation?

## --------------- Rendering -----------------------

/tutorials/rendering/                                       @godotengine/documentation @godotengine/rendering

## --------------- Scripting -----------------------

# TODO: Who should control this in general beyond documentation?

### -------------- CPP -----------------------------

/tutorials/scripting/cpp/                                   @godotengine/documentation @godotengine/gdextension

### -------------- C# ------------------------------

/tutorials/scripting/c_sharp/                               @godotengine/documentation @godotengine/dotnet

### -------------- Debug ---------------------------

# TODO: Who should control this beyond documentation?

### -------------- GDExtension ---------------------

/tutorials/scripting/gdextension/                           @godotengine/documentation @godotengine/gdextension

### -------------- GDScript ------------------------

/tutorials/scripting/gdscript/                              @godotengine/documentation @godotengine/gdscript

## --------------- Shaders -------------------------

/tutorials/shaders/                                         @godotengine/documentation @godotengine/shaders

## --------------- UI ------------------------------

/tutorials/ui/                                              @godotengine/documentation @godotengine/gui-nodes

## --------------- XR ------------------------------

/tutorials/xr/                                              @godotengine/documentation @godotengine/xr

# TODO: Should any of these also have rendering ownership when rendering related?
