Repository godotengine/godot-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @godotengine/buildsystem, @godotengine/documentation, @godotengine/core, @godotengine/android, @godotengine/ios, @godotengine/linux-bsd, @godotengine/macos, @godotengine/web, @godotengine/windows, @godotengine/docks, @godotengine/2d-nodes, @godotengine/3d-nodes, @godotengine/animation, @godotengine/import, @godotengine/audio, @godotengine/script-editor, @godotengine/input, @godotengine/navigation, @godotengine/network, @godotengine/rendering, @godotengine/physics, @godotengine/gdextension, @godotengine/dotnet, @godotengine/gdscript, @godotengine/shaders, @godotengine/gui-nodes, @godotengine/xr

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Owners can be @users, @org/teams or emails.

# buildsystem for all that isn't claimed in root, as well as all scripts.

/*.*                                                        @godotengine/buildsystem
*.py                                                        @godotengine/buildsystem

# Documentation to catch all otherwise unclaimed `.rst` files.

*.rst                                                       @godotengine/documentation

# ---------------- About ---------------------------

/about/                                                     @godotengine/documentation

# ---------------- Classes -------------------------

## Note: Using "buildsystem" as well as the doc team for global ownerships as
## it's generally incorrect to modify this except by automated generation.

/classes/                                                   @godotengine/documentation @godotengine/buildsystem

# ---------------- Community -----------------------

# TODO: Who should control this beyond documentation?

## --------------- Asset Library -------------------

# TODO: Who should control this beyond documentation?

# ---------------- Engine Details ------------------

/engine_details/architecture/                               @godotengine/documentation @godotengine/core
/engine_details/development/compiling/                      @godotengine/documentation @godotengine/buildsystem
/engine_details/development/compiling/*android*             @godotengine/documentation @godotengine/android
/engine_details/development/compiling/*ios*                 @godotengine/documentation @godotengine/ios
/engine_details/development/compiling/*linuxbsd*            @godotengine/documentation @godotengine/linux-bsd
/engine_details/development/compiling/*macos*               @godotengine/documentation @godotengine/macos
/engine_details/development/compiling/*visionos*            @godotengine/documentation @godotengine/ios
/engine_details/development/compiling/*web*                 @godotengine/documentation @godotengine/web
/engine_details/development/compiling/*windows*             @godotengine/documentation @godotengine/windows
/engine_details/editor/                                     @godotengine/documentation @godotengine/docks
/engine_details/file_formats/                               @godotengine/documentation @godotengine/core

# TODO: Who should control the rest?

# ---------------- Getting Started -----------------

# TODO: Who should control this beyond documentation?

# ---------------- Tutorials -----------------------

## --------------- 2D ------------------------------

/tutorials/2d/                                              @godotengine/documentation @godotengine/2d-nodes

# TODO: Any additional ownership for particles and rendering?

## --------------- 3D ------------------------------

/tutorials/3d/                                              @godotengine/documentation @godotengine/3d-nodes

# TODO: Should any of these also have rendering ownership when rendering related?

## --------------- Animation -----------------------

/tutorials/animation/                                       @godotengine/documentation @godotengine/animation

## --------------- Assets Pipeline -----------------

/tutorials/assets_pipeline/                                 @godotengine/documentation @godotengine/import

# TODO: Any additional ownership for 3D and translations?

## --------------- Audio ---------------------------

/tutorials/audio/                                           @godotengine/documentation @godotengine/audio

## --------------- Best Practices ------------------

# TODO: Who should control this beyond documentation?

## --------------- Editor --------------------------

/tutorials/editor/                                          @godotengine/documentation @godotengine/docks
/tutorials/editor/*script*                                  @godotengine/documentation @godotengine/script-editor

# TODO: Who should control this beyond docs?

## --------------- Export --------------------------

/tutorials/export/*android*                                 @godotengine/documentation @godotengine/android
/tutorials/export/*ios*                                     @godotengine/documentation @godotengine/ios
/tutorials/export/*linux*                                   @godotengine/documentation @godotengine/linux-bsd
/tutorials/export/*macos*                                   @godotengine/documentation @godotengine/macos
/tutorials/export/*visionos*                                @godotengine/documentation @godotengine/ios
/tutorials/export/*web*                                     @godotengine/documentation @godotengine/web
/tutorials/export/*windows*                                 @godotengine/documentation @godotengine/windows

# TODO

## --------------- i18n ----------------------------

# TODO: Who should control this beyond documentation?

## --------------- Inputs --------------------------

/tutorials/inputs/                                          @godotengine/documentation @godotengine/input

## --------------- IO ------------------------------

/tutorials/io/                                              @godotengine/documentation @godotengine/core

## --------------- Math ----------------------------

/tutorials/math/                                            @godotengine/documentation @godotengine/core

## --------------- Migrating -----------------------

/tutorials/migrating/                                       @godotengine/documentation

## --------------- Navigation ----------------------

/tutorials/navigation/                                      @godotengine/documentation @godotengine/navigation

## --------------- Networking ----------------------

/tutorials/networking/                                      @godotengine/documentation @godotengine/network

## --------------- Performance ---------------------

/tutorials/performance/                                     @godotengine/documentation @godotengine/core
/tutorials/performance/gpu_optimization.rst                 @godotengine/documentation @godotengine/rendering
/tutorials/performance/index.rst                            @godotengine/documentation
/tutorials/performance/optimizing_3d_performance.rst        @godotengine/documentation @godotengine/rendering
/tutorials/performance/pipeline_compilations.rst            @godotengine/documentation @godotengine/rendering
/tutorials/performance/using_multimesh.rst                  @godotengine/documentation @godotengine/rendering
/tutorials/performance/vertex_animation/                    @godotengine/documentation @godotengine/rendering

# TODO: Who should control this beyond documentation?

## --------------- Physics -------------------------

/tutorials/physics/                                         @godotengine/documentation @godotengine/physics

## --------------- Platform ------------------------

/tutorials/platform/android/                                @godotengine/documentation @godotengine/android
/tutorials/platform/ios/                                    @godotengine/documentation @godotengine/ios
/tutorials/platform/web/                                    @godotengine/documentation @godotengine/web

# TODO

## --------------- Plugins -------------------------

# TODO: Who should control this beyond documentation?

## --------------- Rendering -----------------------

/tutorials/rendering/                                       @godotengine/documentation @godotengine/rendering

## --------------- Scripting -----------------------

# TODO: Who should control this in general beyond documentation?

### -------------- CPP -----------------------------

/tutorials/scripting/cpp/                                   @godotengine/documentation @godotengine/gdextension

### -------------- C# ------------------------------

/tutorials/scripting/c_sharp/                               @godotengine/documentation @godotengine/dotnet

### -------------- Debug ---------------------------

# TODO: Who should control this beyond documentation?

### -------------- GDExtension ---------------------

/tutorials/scripting/gdextension/                           @godotengine/documentation @godotengine/gdextension

### -------------- GDScript ------------------------

/tutorials/scripting/gdscript/                              @godotengine/documentation @godotengine/gdscript

## --------------- Shaders -------------------------

/tutorials/shaders/                                         @godotengine/documentation @godotengine/shaders

## --------------- UI ------------------------------

/tutorials/ui/                                              @godotengine/documentation @godotengine/gui-nodes

## --------------- XR ------------------------------

/tutorials/xr/                                              @godotengine/documentation @godotengine/xr

# TODO: Should any of these also have rendering ownership when rendering related?

Document plural forms and translation context in Localization using spreadsheets
  tutorials/i18n/internationalizing_games.rst
  tutorials/i18n/localization_using_gettext.rst
  tutorials/i18n/localization_using_spreadsheets.rst
Owners: @godotengine/documentation

Update Using SoftBody3D for Godot 4.5+
  tutorials/physics/img/soft_body_box_mesh.webp
  tutorials/physics/img/soft_body_cloak_bone_attach.webp
  tutorials/physics/img/soft_body_cloak_finish.webp
  tutorials/physics/img/soft_body_cloak_ignore.webp
  tutorials/physics/img/soft_body_cloak_pinned.webp
  tutorials/physics/img/soft_body_cloak_pinned_attach.webp
  tutorials/physics/img/soft_body_cloak_subdivide.webp
  tutorials/physics/img/soft_body_inspector.webp
  tutorials/physics/img/softbody_cloak_bone_attach.png
  tutorials/physics/img/softbody_cloak_finish.png
  tutorials/physics/img/softbody_cloak_ignore.png
  tutorials/physics/img/softbody_cloak_pinned.png
  tutorials/physics/img/softbody_cloak_pinned_attach.png
  tutorials/physics/img/softbody_cloak_subdivide.png
  tutorials/physics/img/softbody_cube.png
  tutorials/physics/img/softbody_cube_menu.png
  tutorials/physics/soft_body.rst
  tutorials/physics/video/soft_body_box_simulation.webm
Owners: @godotengine/documentation, @godotengine/physics

Replace Harvard course recommendation with Learn GDScript from Zero
  getting_started/introduction/introduction_to_godot.rst
  getting_started/introduction/learning_new_features.rst
Owners: @godotengine/documentation

Show handedness in Vector2's angle-related images
  img/vector2_angle.png
  img/vector2_angle_to.png
  img/vector2_angle_to_point.png
Owners: none

Android Studio, new `assets` path
  engine_details/development/configuring_an_ide/android_studio.rst
Owners: @godotengine/documentation

Merge pull request #11391 from RespiteFromReality/3d_transform_page
  tutorials/3d/img/transforms_camera.png
  tutorials/3d/using_transforms.rst
Owners: @godotengine/documentation, @godotengine/3d-nodes

Update Thread-safe APIs for Godot 4.5
  tutorials/performance/thread_safe_apis.rst
  tutorials/performance/using_multiple_threads.rst
Owners: @godotengine/documentation, @godotengine/core

Add documentation on using the ObjectDB profiler
  tutorials/io/data_paths.rst
  tutorials/scripting/debug/img/objectdb_profiler_classes.webp
  tutorials/scripting/debug/img/objectdb_profiler_classes_diff.webp
  tutorials/scripting/debug/img/objectdb_profiler_classes_inspector.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_diff_combined.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_diff_separate.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_orphan.webp
  tutorials/scripting/debug/img/objectdb_profiler_objects_bottom_up.webp
  tutorials/scripting/debug/img/objectdb_profiler_objects_top_down.webp
  tutorials/scripting/debug/img/objectdb_profiler_refcounted.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_diff_against.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_no_snapshots.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_snapshot.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_snapshot_diff.webp
  tutorials/scripting/debug/index.rst
  tutorials/scripting/debug/objectdb_profiler.rst
Owners: @godotengine/documentation, @godotengine/core

classref: Sync with current master branch (0870525)
  classes/class_@globalscope.rst
  classes/class_acceptdialog.rst
  classes/class_animationnodestatemachineplayback.rst
  classes/class_audiostreamrandomizer.rst
  classes/class_confirmationdialog.rst
  classes/class_editorfiledialog.rst
  classes/class_editorsettings.rst
  classes/class_environment.rst
  classes/class_filedialog.rst
  classes/class_json.rst
  classes/class_linkbutton.rst
  classes/class_navigationserver2dmanager.rst
  classes/class_navigationserver3dmanager.rst
  classes/class_object.rst
  classes/class_optimizedtranslation.rst
  classes/class_popup.rst
  classes/class_popupmenu.rst
  classes/class_projectsettings.rst
  classes/class_renderingdevice.rst
  classes/class_renderingserver.rst
  classes/class_resourceimportercsvtranslation.rst
  classes/class_resourceimporterimagefont.rst
  classes/class_textmesh.rst
  classes/class_vector2.rst
  classes/class_viewport.rst
  classes/index.rst
Owners: @godotengine/documentation, @godotengine/buildsystem

Add native debug symbols doc for Android
  tutorials/platform/android/index.rst
  tutorials/platform/android/native_debug_symbols.rst
Owners: @godotengine/documentation, @godotengine/android

Update class_resourceloader.rst
  classes/class_resourceloader.rst
Owners: @godotengine/documentation, @godotengine/buildsystem

Standard_material_3d.rst - Material Shadow Mode names Updated
  tutorials/3d/standard_material_3d.rst
Owners: @godotengine/documentation, @godotengine/3d-nodes

Updated
  engine_details/architecture/common_engine_methods_and_macros.rst
Owners: @godotengine/documentation, @godotengine/core

Add documentation on using the ObjectDB profiler
  tutorials/io/data_paths.rst
  tutorials/scripting/debug/img/objectdb_profiler_classes.webp
  tutorials/scripting/debug/img/objectdb_profiler_classes_diff.webp
  tutorials/scripting/debug/img/objectdb_profiler_classes_inspector.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_diff_combined.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_diff_separate.webp
  tutorials/scripting/debug/img/objectdb_profiler_nodes_orphan.webp
  tutorials/scripting/debug/img/objectdb_profiler_objects_bottom_up.webp
  tutorials/scripting/debug/img/objectdb_profiler_objects_top_down.webp
  tutorials/scripting/debug/img/objectdb_profiler_refcounted.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_diff_against.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_no_snapshots.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_snapshot.webp
  tutorials/scripting/debug/img/objectdb_profiler_summary_snapshot_diff.webp
  tutorials/scripting/debug/index.rst
  tutorials/scripting/debug/objectdb_profiler.rst
Owners: @godotengine/documentation, @godotengine/core

Document plural forms and translation context in Localization using spreadsheets
  tutorials/i18n/internationalizing_games.rst
  tutorials/i18n/localization_using_gettext.rst
  tutorials/i18n/localization_using_spreadsheets.rst
Owners: @godotengine/documentation

Add native debug symbols doc for Android
  tutorials/platform/android/index.rst
  tutorials/platform/android/resolving_crashes_on_android.rst
Owners: @godotengine/documentation, @godotengine/android

Update engine_details/architecture/common_engine_methods_and_macros.rst
  engine_details/architecture/common_engine_methods_and_macros.rst
Owners: @godotengine/documentation, @godotengine/core

Add documentation about OpenXR spatial entities
  tutorials/xr/img/openxr_plane_anchor.webp
  tutorials/xr/img/openxr_spatial_entities_project_settings.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_spatial_entities.rst
Owners: @godotengine/documentation, @godotengine/xr

Document reading an exported property value's early on in GDScript exports
  tutorials/scripting/gdscript/gdscript_exports.rst
Owners: @godotengine/documentation, @godotengine/gdscript

Document relative paths in `.gdextension` files being supported
  tutorials/scripting/cpp/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/gdextension_file.rst
Owners: @godotengine/documentation, @godotengine/gdextension

Replace Harvard course recommendation with Learn GDScript from Zero
  community/tutorials.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/introduction/learning_new_features.rst
Owners: @godotengine/documentation

Apply suggestions from code review
  engine_details/architecture/common_engine_methods_and_macros.rst
Owners: @godotengine/documentation, @godotengine/core

Apply suggestions from code review
  engine_details/architecture/common_engine_methods_and_macros.rst
Owners: @godotengine/documentation, @godotengine/core

Document `textureSize()` should be avoided in Built-in functions
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shader_functions.rst
Owners: @godotengine/documentation, @godotengine/shaders

remove "activate now" button
  tutorials/plugins/editor/img/making_plugins-create_plugin_dialog.webp
  tutorials/plugins/editor/making_plugins.rst
Owners: @godotengine/documentation

Show handedness in Vector2's angle-related images
  img/vector2_angle.png
  img/vector2_angle.webp
  img/vector2_angle_to.png
  img/vector2_angle_to.webp
  img/vector2_angle_to_point.png
  img/vector2_angle_to_point.webp
Owners: none

Refresh core_types.rst to remove outdated and redundant information.
  engine_details/architecture/core_types.rst
Owners: @godotengine/documentation, @godotengine/core

Merge pull request #11339 from Paperomo/update-common_engine_methods_and_macros.rst
  engine_details/architecture/common_engine_methods_and_macros.rst
Owners: @godotengine/documentation, @godotengine/core

godot-cpp CMake documentation guideline conformance updates (#11376)
  tutorials/scripting/cpp/build_system/cmake.rst
Owners: @godotengine/documentation, @godotengine/gdextension

Merge pull request #11425 from teomat/patch-1
  engine_details/architecture/2d_coordinate_systems.rst
Owners: @godotengine/documentation, @godotengine/core

Update `SConstruct` and `.gdextension` file of the godot-cpp example with newest conventions.
  tutorials/scripting/cpp/files/cpp_example/SConstruct
  tutorials/scripting/cpp/gdextension_cpp_example.rst
Owners: @godotengine/documentation, @godotengine/gdextension

Update the Object class engine details page.
  engine_details/architecture/object_class.rst
Owners: @godotengine/documentation, @godotengine/core

Clarify how to define a context-sensitive string in Localization using gettext
  tutorials/i18n/localization_using_gettext.rst
Owners: @godotengine/documentation

Update documentation changelog for Godot 4.5
  about/docs_changelog.rst
Owners: @godotengine/documentation

Link to C# versions of Dodge/Squash the Creeps demos in Your first game intros
  getting_started/first_2d_game/index.rst
  getting_started/first_3d_game/index.rst
Owners: @godotengine/documentation

Use version-specific GH link in customizing_html5_shell.rst
  tutorials/platform/customizing_html5_shell.rst
Owners: @godotengine/documentation

Update beziers_and_curves.rst
  tutorials/math/beziers_and_curves.rst
Owners: @godotengine/documentation, @godotengine/core

Update Android build requirements
  engine_details/development/compiling/compiling_for_android.rst
  tutorials/export/exporting_for_android.rst
Owners: @godotengine/documentation, @godotengine/android

Fix redirects in safari, by moving the redirect js script into the 404 page instead of checking if we're on 404 via the API.
  404.rst
  _static/js/custom.js
Owners: @godotengine/documentation

Fix RTD language switcher redirecting to nonexistent `/en/4.x/` branch
  404.rst
Owners: @godotengine/documentation
