Repository godotengine/godot-docs, pull requests merged in 2018-12, with the labels that each got.

#1953 Update godot_design_philosophy.rst
  getting_started/step_by_step/godot_design_philosophy.rst
Labels: enhancement

#1955 Update ui_introduction_to_the_ui_system.rst
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
Labels: enhancement

#1956 Update ui_main_menu.rst
  getting_started/step_by_step/ui_main_menu.rst
Labels: enhancement

#1958 Update ui_code_a_life_bar.rst
  getting_started/step_by_step/ui_code_a_life_bar.rst
Labels: enhancement

#1961 Add some missing commas.
  getting_started/step_by_step/animations.rst
Labels: enhancement

#1963 Fix some grammar and punctuation in resources.rst
  getting_started/step_by_step/resources.rst
Labels: enhancement

#1964 Fix some grammar and semantic errors in filesystem.rst
  getting_started/step_by_step/filesystem.rst
Labels: enhancement

#1965 Add missing words in singletons_autoload.rst
  getting_started/step_by_step/singletons_autoload.rst
Labels: enhancement

#1976 Fix miscellaneous errors in gdscript_basics.rst
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#1977 Break comments to make them readable
  tutorials/io/saving_games.rst
Labels: enhancement

#1979 Update importing_scenes.rst
  getting_started/workflow/assets/importing_scenes.rst
Labels: enhancement

#1978 Fix some grammar in gdscript_advanced.rst
  getting_started/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement

#1980 Correct idiom in gdscript_styleguide.rst
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#1975 Fix some grammatical errors in command_line_tutorial.rst
  getting_started/editor/command_line_tutorial.rst
Labels: enhancement

#1983 Add some missing commas to gdscript_format_string.rst
  getting_started/scripting/gdscript/gdscript_format_string.rst
Labels: enhancement

#1984 Fix some grammar in getting_started.rst
  getting_started/scripting/visual_script/getting_started.rst
Labels: enhancement

#1985 Fix some grammar in nodes_purposes.rst
  getting_started/scripting/visual_script/nodes_purposes.rst
Labels: enhancement

#1988 Fix some grammar in c_sharp_features.rst
  getting_started/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement

#1987 Mostly rearranging words in c_sharp_basics.rst
  getting_started/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement

#1989 Fix some grammar and punctuation mistakes in c_sharp_differences.rst
  getting_started/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement

#1991 Changed "scenes" to "nodes" for clarity
  getting_started/step_by_step/scripting_continued.rst
Labels: enhancement

#2001 Fix some grammar and punctuation in project_organization.rst
  getting_started/workflow/project_setup/project_organization.rst
Labels: enhancement

#1994 Improve the Compiling for Android page
  development/compiling/compiling_for_android.rst
Labels: enhancement

#2005 Fix some grammar, punctuation and spelling in importing_scenes.rst
  getting_started/workflow/assets/importing_scenes.rst
Labels: enhancement

#2004 Fix some grammar and punctuation in importing_audio_samples.rst
  getting_started/workflow/assets/importing_audio_samples.rst
Labels: enhancement

#2002 Tweak import_process.rst a little
  getting_started/workflow/assets/import_process.rst
Labels: enhancement

#1990 Minor tweaks to c_sharp_style_guide.rst
  getting_started/scripting/c_sharp/c_sharp_style_guide.rst
Labels: enhancement

#2008 Fix some spelling in material.rst
  getting_started/workflow/assets/escn_exporter/material.rst
Labels: enhancement

#2006 Fix subject-verb agreement in index.rst
  getting_started/workflow/assets/escn_exporter/index.rst
Labels: enhancement

#2007 Grammar fix
  tutorials/3d/fps_tutorial/part_four.rst
Labels: enhancement

#2010 Fix usage of the subjunctive mood and other grammar and punctuation mistakes in skeleton.rst
  getting_started/workflow/assets/escn_exporter/skeleton.rst
Labels: enhancement

#2013 Fix word order, grammar and punctuation in feature_tags.rst
  getting_started/workflow/export/feature_tags.rst
Labels: enhancement

#2014 Tweak exporting_for_ios.rst a little
  getting_started/workflow/export/exporting_for_ios.rst
Labels: enhancement

#2015 Add missing definite article to exporting_for_uwp.rst
  getting_started/workflow/export/exporting_for_uwp.rst
Labels: enhancement

#2017 Tweak exporting_for_web.rst a little
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#2020 Fix logical sequence and add missing grave accent mark to French loanword in one-click_deploy.rst
  getting_started/workflow/export/one-click_deploy.rst
Labels: enhancement

#2018 Changed object->cast_to to Object::cast_to
  development/cpp/object_class.rst
Labels: bug

#2012 Tweak exporting_projects.rst a little
  getting_started/workflow/export/exporting_projects.rst
Labels: enhancement

#2021 Add missing word to changing_application_icon_for_windows.rst
  getting_started/workflow/export/changing_application_icon_for_windows.rst
Labels: enhancement

#2022 Tweak canvas_layers.rst a little
  tutorials/2d/canvas_layers.rst
Labels: enhancement

#2023 Add some missing commas to 2d_transforms.rst
  tutorials/2d/2d_transforms.rst
Labels: enhancement

#2024 Fix some grammar and punctuation in using_tilemaps.rst
  tutorials/2d/using_tilemaps.rst
Labels: enhancement

#2027 Tweak particle_systems_2d.rst a little
  tutorials/2d/particle_systems_2d.rst
Labels: enhancement

#2028 Add a missing comma to 2d_movement.rst
  tutorials/2d/2d_movement.rst
Labels: enhancement

#2029 Fix typo in Compiling for Android
  development/compiling/compiling_for_android.rst
Labels: bug

#2030 Tweak 2d_lights_and_shadows.rst a little
  tutorials/2d/2d_lights_and_shadows.rst
Labels: enhancement

#2026 Fix some grammar, punctuation, spelling and compliance with the GDScript style guide in custom_drawing_in_2d.rst
  tutorials/2d/custom_drawing_in_2d.rst
Labels: enhancement

#2039 Docs: Tweak spatial_material
  tutorials/3d/spatial_material.rst
Labels: enhancement

#2035 Added Jetbrains Rider external exec flags example
  getting_started/editor/external_editor.rst
Labels: enhancement

#1912 Added 'Changing scenes manually' section
  getting_started/step_by_step/scene_tree.rst
  tutorials/misc/change_scenes_manually.rst
  tutorials/misc/index.rst
Labels: discussion, proofreading

#1897 Added advanced post-processing tutorial
  tutorials/shading/advanced_postprocessing.rst
  tutorials/shading/index.rst
Labels: proofreading

#1895 Add .pck creation tutorial
  getting_started/workflow/export/exporting_pcks.rst
  getting_started/workflow/export/img/export_pck.png
  getting_started/workflow/export/index.rst
Labels: proofreading

#1818 Update C# code for Dodge The Creeps tutorial
  getting_started/step_by_step/signals.rst
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#2040 Tweak lights_and_shadows
  tutorials/3d/lights_and_shadows.rst
Labels: enhancement

#2042 Tweak reflection_probes
  tutorials/3d/reflection_probes.rst
Labels: enhancement

#2043 Tweak gi_probes
  tutorials/3d/gi_probes.rst
Labels: enhancement

#2045 Escape plurals in "GI Probes" page
  tutorials/3d/gi_probes.rst
Labels: enhancement

#2044 Tweak baked_lightmaps
  tutorials/3d/baked_lightmaps.rst
Labels: enhancement

#2047 Tweak environment_and_post_processing
  tutorials/3d/environment_and_post_processing.rst
Labels: enhancement

#2049 Tweak punctuation of using_gridmaps
  tutorials/3d/using_gridmaps.rst
Labels: enhancement

#2048 Tweak high_dynamic_range
  tutorials/3d/high_dynamic_range.rst
Labels: enhancement

#2050 Tweak using_multi_mesh_instance
  tutorials/3d/using_multi_mesh_instance.rst
Labels: enhancement

#2051 Tweak csg_tools
  tutorials/3d/csg_tools.rst
Labels: enhancement

#2052 Tweak working_with_3d_skeletons
  tutorials/3d/working_with_3d_skeletons.rst
Labels: enhancement

#2053 Clarify meaning in csg_tools
  tutorials/3d/csg_tools.rst
Labels: enhancement

#2054 Tweak inverse_kinematics
  tutorials/3d/inverse_kinematics.rst
Labels: enhancement

#2055 Tweak part_one
  tutorials/3d/fps_tutorial/part_one.rst
Labels: enhancement

#2063 Tweak part_five
  tutorials/3d/fps_tutorial/part_five.rst
Labels: enhancement

#2064 Tweak part_six
  tutorials/3d/fps_tutorial/part_six.rst
Labels: enhancement

#2066 Fix some grammar and punctuation in audio_buses
  tutorials/audio/audio_buses.rst
Labels: enhancement

#2068 Fix punctuation in physics_introduction
  tutorials/physics/physics_introduction.rst
Labels: enhancement

#2069 Tweak rigid_body
  tutorials/physics/rigid_body.rst
Labels: enhancement

#2067 Fix some grammar and punctuation in audio_streams
  tutorials/audio/audio_streams.rst
Labels: enhancement

#2070 Tweak using_kinematic_body_2d
  tutorials/physics/using_kinematic_body_2d.rst
Labels: enhancement

#2073 Fix some punctuation and grammar in ray-casting
  tutorials/physics/ray-casting.rst
Labels: enhancement

#2074 Tweak ragdoll_system
  tutorials/physics/ragdoll_system.rst
Labels: enhancement

#2075 Tweak kinematic_character_2d
  tutorials/physics/kinematic_character_2d.rst
Labels: enhancement

#2078 Fix punctuation in vector_math
  tutorials/math/vector_math.rst
Labels: enhancement

#2080 fix typo in ui_code_a_life_bar
  getting_started/step_by_step/ui_code_a_life_bar.rst
Labels: enhancement

#2081 Capitalized "godot"
  getting_started/editor/external_editor.rst
Labels: enhancement

#2082 Removed hyphen from "file-system"
  getting_started/workflow/project_setup/project_organization.rst
Labels: enhancement

#2083 Fixed grammar
  tutorials/3d/3d_performance_and_limitations.rst
Labels: enhancement

#2084 Changed TYPE_FLOAT to TYPE_REAL
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: bug

#2085 Better formatting for Glossary correspondence
  getting_started/editor/unity_to_godot.rst
Labels: enhancement

#2086 Update part_one.rst
  tutorials/3d/fps_tutorial/part_one.rst
Labels: enhancement
