Repository godotengine/godot-docs, pull requests merged in 2018-11, with the labels that each got.

#1911 Add info about the data directory to 'Compiling with mono'
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#1920 Improve writing style in the VR starter tutorial
  tutorials/vr/vr_starter_tutorial.rst
Labels: enhancement

#1804 added csg tutorial
  tutorials/3d/csg_tools.rst
  tutorials/3d/img/csg.gif
  tutorials/3d/img/csg_bed.png
  tutorials/3d/img/csg_bed_mat.png
  tutorials/3d/img/csg_bed_tree.png
  tutorials/3d/img/csg_custom_mesh.png
  tutorials/3d/img/csg_desk.png
  tutorials/3d/img/csg_lamp.png
  tutorials/3d/img/csg_lamp_extrude.png
  tutorials/3d/img/csg_lamp_pole_stand.png
  tutorials/3d/img/csg_lamp_polygon.png
  tutorials/3d/img/csg_lamp_spin.png
  tutorials/3d/img/csg_mesh.png
  tutorials/3d/img/csg_nodes.png
  tutorials/3d/img/csg_operation.png
  tutorials/3d/img/csg_operation_menu.png
  tutorials/3d/img/csg_overdraw.png
  tutorials/3d/img/csg_pillow.png
  tutorials/3d/img/csg_pillow_hole.png
  tutorials/3d/img/csg_pillow_smooth.png
  tutorials/3d/img/csg_pillow_subtract.png
  tutorials/3d/img/csg_poly.png
  tutorials/3d/img/csg_poly_mode.png
  tutorials/3d/img/csg_room.png
  tutorials/3d/img/csg_room_invert.png
  tutorials/3d/img/csg_room_result.png
  tutorials/3d/img/csg_shelf.png
  tutorials/3d/img/csg_shelf_big.png
  tutorials/3d/img/csg_shelf_subtract.png
  tutorials/3d/img/csg_shelf_subtract_menu.png
  tutorials/3d/index.rst
Labels: enhancement

#1942 Updated GDNative docs
  tutorials/plugins/gdnative/files/cpp_example/SConstruct
  tutorials/plugins/gdnative/gdnative-cpp-example.rst
Labels: enhancement, proofreading

#1927 Fix typo
  tutorials/3d/fps_tutorial/part_one.rst
Labels: bug

#1936 Grammar fix
  getting_started/step_by_step/ui_code_a_life_bar.rst
Labels: enhancement

#1939 Update scenes_and_nodes.rst
  getting_started/step_by_step/scenes_and_nodes.rst
Labels: enhancement

#1944 Renaming the class gdexample to GDExample
  tutorials/plugins/gdnative/gdnative-cpp-example.rst
Labels: enhancement
