Repository godotengine/godot-docs, pull requests merged in 2019-07, with the labels that each got.

#2543 Fix #2526: Rewrite GDScript Signals section with gamedev examples
  getting_started/scripting/gdscript/gdscript_basics.rst
  getting_started/scripting/gdscript/img/gdscript_basics_signals_node_tab_1.png
Labels: cherrypick:3.1, enhancement

#2544 Update changelog to add the "Localization using gettext" page
  about/docs_changelog.rst
  development/compiling/compiling_with_script_encryption_key.rst
Labels: enhancement

#2572 Improve the C# style guide and mention C# 7.0 as minimum version
  getting_started/scripting/c_sharp/c_sharp_style_guide.rst
Labels: enhancement

#2578 Update documentation changelog with new pages added since 3.1
  about/docs_changelog.rst
Labels: enhancement

#2579 Update and shorten "Compiling for Windows"
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#2591 Compiling with Mono: Simplify and update Android instructions
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#2600 Update FreeBSD dependencies in "Compiling for X11"
  development/compiling/compiling_for_x11.rst
Labels: bug

#2608 Use p2p in high level multiplayer player exchange.
  tutorials/networking/high_level_multiplayer.rst
Labels: bug

#2615 Update spatial material page for Godot 3.1
  tutorials/3d/img/spatial_material1.png
  tutorials/3d/img/spatial_material4.png
  tutorials/3d/img/spatial_material5.png
  tutorials/3d/img/spatial_material9.png
  tutorials/3d/spatial_material.rst
Labels: enhancement

#2620 Improve the "Multiple resolutions" page
  tutorials/viewports/multiple_resolutions.rst
Labels: enhancement

#2612 Update VR Primer image for 3.1
  tutorials/vr/img/minimum_setup.png
Labels: enhancement

#2613 Update shader datatypes
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2610 Update shader built-ins
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2618 Update Lights and Shadows for Godot 3.1
  tutorials/3d/img/directional_shadow_params.png
  tutorials/3d/img/light_omni_params.png
  tutorials/3d/img/light_params.png
  tutorials/3d/img/project_setting_shadow.png
  tutorials/3d/img/shadow_atlas.png
  tutorials/3d/img/shadow_pcf1.png
  tutorials/3d/lights_and_shadows.rst
Labels: enhancement

#2616 Update FRAGCOORD descriptions
  tutorials/shading/migrating_to_godot_shader_language.rst
  tutorials/shading/shading_reference/canvas_item_shader.rst
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#2627 Remove outdated information from the HDR page
  tutorials/3d/high_dynamic_range.rst
  tutorials/3d/img/hdr_parameters.png
Labels: enhancement

#2637 Fix a minor typo in the word Dictionary
  getting_started/step_by_step/resources.rst
Labels: bug

#2639 Update the MinGW Arch Linux package to point to the AUR
  development/compiling/compiling_for_windows.rst
Labels: bug

#2635 Docs for local shader arrays
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2643 Added missed desc for shader built-in overload (textureProjLod)
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2631 Organized and updated spatial shader docs
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#2646 Improve writing style in "Compiling with Mono"
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#2665 Fix Sphinx build warnings related to code blocks
  community/contributing/pr_workflow.rst
Labels: bug

#2666 Fix Sphinx Weblate widget warning
  conf.py
  index.rst
Labels: bug

#2634 Improve "Introduction to the buildsystem" with updated SCons commands
  development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement

#2669 Mark Sphinx extensions as parallel-safe
  extensions/gdscript.py
  extensions/sphinx_tabs/tabs.py
Labels: enhancement

#2670 Fix invalid image in "GDNative C example" page
  tutorials/plugins/gdnative/gdnative-c-example.rst
Labels: bug

#2671 Add a notice about the company list on the "Console support in Godot"
  tutorials/platform/consoles.rst
Labels: enhancement
