Repository godotengine/godot-docs, pull requests merged in 2019-01, with the labels that each got.

#2046 Overhauled shading reference
  tutorials/shading/index.rst
  tutorials/shading/shading_language.rst
  tutorials/shading/shading_reference/canvas_item_shader.rst
  tutorials/shading/shading_reference/index.rst
  tutorials/shading/shading_reference/particle_shader.rst
  tutorials/shading/shading_reference/shaders.rst
  tutorials/shading/shading_reference/shading_language.rst
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement, proofreading

#2090 Tweak mouse_and_input_coordinates
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: enhancement

#2091 Fix punctuation in custom_mouse_cursor
  tutorials/inputs/custom_mouse_cursor.rst
Labels: enhancement

#2092 Tweak background_loading
  tutorials/io/background_loading.rst
Labels: enhancement

#2093 Add a missing comma to data_paths
  tutorials/io/data_paths.rst
Labels: enhancement

#2094 Add commas to and fix subjunctive in filesystem
  getting_started/step_by_step/filesystem.rst
Labels: enhancement

#2095 Fix punctuation in saving_games
  tutorials/io/saving_games.rst
Labels: enhancement

#2096 Improve word choice in encrypting_save_games
  tutorials/io/encrypting_save_games.rst
Labels: enhancement

#2097 Fix punctuation in internationalizing_games
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement

#2100 Explain the need to set ANDROID_NDK_HOME env var
  development/compiling/compiling_for_android.rst
Labels: enhancement

#2103 Add comma to make the 2D workspace desc. clearer
  getting_started/step_by_step/intro_to_the_editor_interface.rst
Labels: enhancement

#2104 Added documentation for POSITION built-in
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#2105 Removed reference to shower of bullets demo
  tutorials/2d/custom_drawing_in_2d.rst
Labels: enhancement

#2106 Fix grammar and punctuation in gui_skinning
  tutorials/gui/gui_skinning.rst
Labels: enhancement

#2107 Fix grammar and punctuation in custom_gui_controls
  tutorials/gui/custom_gui_controls.rst
Labels: enhancement

#2108 Fix punctuation in size_and_anchors
  tutorials/gui/size_and_anchors.rst
Labels: enhancement

#2113 Tweak using_viewport_as_texture
  tutorials/viewports/using_viewport_as_texture.rst
Labels: enhancement

#1957 Update ui_game_user_interface.rst
  getting_started/step_by_step/ui_game_user_interface.rst
Labels: enhancement

#1805 added softbody tutorial
  tutorials/physics/img/softbody_cloak_bone_attach.png
  tutorials/physics/img/softbody_cloak_finish.png
  tutorials/physics/img/softbody_cloak_ignore.png
  tutorials/physics/img/softbody_cloak_pinned.png
  tutorials/physics/img/softbody_cloak_pinned_attach.png
  tutorials/physics/img/softbody_cloak_subdivide.png
  tutorials/physics/img/softbody_cube.png
  tutorials/physics/img/softbody_cube_menu.png
  tutorials/physics/index.rst
  tutorials/physics/softbody.rst
Labels: enhancement

#2117 Fix period in first line of 2d mesh tutorial
  tutorials/2d/2d_meshes.rst
Labels: enhancement

#2120 Fix punctuation in spatial_shader
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#2122 Fix grammar and punctuation in canvas_item_shader
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: enhancement

#2123 Added Kids Can Code
  community/resources.rst
Labels: enhancement

#2124 Fix grammar and punctuation in particle_shader
  tutorials/shading/shading_reference/particle_shader.rst
Labels: enhancement

#2125 Tweak shader_materials
  tutorials/shading/shader_materials.rst
Labels: enhancement

#2126 Tweak intro_to_shaders_water_workshop
  tutorials/shading/intro_to_shaders_water_workshop.rst
Labels: enhancement

#2116 Small fixes for the "2D Skeletons"-related pages
  tutorials/animation/2d_skeletons.rst
  tutorials/animation/animation_tree.rst
  tutorials/animation/cutout_animation.rst
  tutorials/animation/img/gBot_complete.png
  tutorials/animation/img/gBot_pieces.png
Labels: enhancement

#2127 Fix malformed table in "Shading language" page
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2129 Tweak screen-reading_shaders
  tutorials/shading/screen-reading_shaders.rst
Labels: enhancement

#2128 Editing pass for the introduction
  about/introduction.rst
Labels: enhancement

#2136 Added example flags for visual studio code
  getting_started/editor/external_editor.rst
Labels: enhancement

#2134 Update "Dodge the Creeps" for 3.1
  getting_started/step_by_step/img/custom_font1.png
  getting_started/step_by_step/img/custom_font2.png
  getting_started/step_by_step/img/export_variable.png
  getting_started/step_by_step/img/player_coll_shape.png
  getting_started/step_by_step/img/player_scale.png
  getting_started/step_by_step/img/set_collision_mask.png
  getting_started/step_by_step/img/start_button_shortcut.png
  getting_started/step_by_step/your_first_game.rst
Labels: proofreading

#2151 #2114 "Rupee" Zelda reference in UI tutorial is not localization friendly
  getting_started/step_by_step/files/ui_gui_design.zip
  getting_started/step_by_step/img/ui_gui_step_tutorial_design_counters_2.png
  getting_started/step_by_step/img/ui_gui_step_tutorial_textures_in_FileSystem_tab.png
  getting_started/step_by_step/ui_game_user_interface.rst
Labels: enhancement
