Repository godotengine/godot-docs, pull requests merged in 2019-04, with the labels that each got.

#2326 Fix `move_and_slide()` usage in 2D movement tutorial
  tutorials/2d/2d_movement.rst
Labels: enhancement

#2291 Add 2D animation tutorial
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/files/run_animation.zip
  tutorials/2d/img/2d_animation_full_animation.png
  tutorials/2d/img/2d_animation_new_animation.png
  tutorials/2d/img/2d_animation_new_spriteframes.png
  tutorials/2d/img/2d_animation_new_track.png
  tutorials/2d/img/2d_animation_player-run.png
  tutorials/2d/img/2d_animation_run_preview.gif
  tutorials/2d/img/2d_animation_running.gif
  tutorials/2d/img/2d_animation_setframes.png
  tutorials/2d/img/2d_animation_spriteframes.png
  tutorials/2d/img/2d_animation_spriteframes_done.png
  tutorials/2d/img/2d_animation_tree1.png
  tutorials/2d/img/2d_animation_tree2.png
  tutorials/2d/index.rst
Labels: cherrypick:3.1, proofreading

#2325 Add input examples tutorial
  tutorials/inputs/img/inputs_inputmap.png
  tutorials/inputs/index.rst
  tutorials/inputs/input_examples.rst
Labels: proofreading

#2362 Escaping double dashes.
  getting_started/editor/external_editor.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2369 Fix malformed table in external editor page
  getting_started/editor/external_editor.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2319 Fix wrong type on replacing callback's types example
  getting_started/scripting/gdscript/static_typing.rst
Labels: cherrypick:3.1

#2366 Explain how to make Sprite visible
  getting_started/step_by_step/signals.rst
Labels: cherrypick:3.1

#2370 Change case sensitive string to "waiting"
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2373 fixed reference to emit_signal function name
  getting_started/step_by_step/signals.rst
Labels: cherrypick:3.1

#2371 Minor typo/grammar fix: "you" -> "your"
  development/cpp/custom_modules_in_cpp.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2372 Format folder/file names with monospace font
  tutorials/plugins/gdnative/gdnative-c-example.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2342 Update documentation_guidelines.rst
  community/contributing/documentation_guidelines.rst
Labels: cherrypick:3.0, cherrypick:3.1

#2380 Fixed incorrect number
  getting_started/step_by_step/instancing.rst
Labels: cherrypick:3.1

#2338 GetViewPortRect().Size -> GetViewportRect().Size
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: cherrypick:3.0

#2313 Updated gles2 differences with built-in variables
  tutorials/misc/gles2_gles3_differences.rst
Labels: cherrypick:3.1

#2387 General fixes for the new "Legal" page
  tutorials/legal/complying_with_licenses.rst
  tutorials/legal/index.rst
Labels: cherrypick:3.0, cherrypick:3.1
