Repository godotengine/godot-docs, pull requests merged in 2019-10, with the labels that each got.

#2812 Bold the entirety of an accented phrase
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement

#2810 Remove redundant phrase
  tutorials/math/interpolation.rst
Labels: enhancement

#2738 Fix mistakes in some recent tutorials changes
  tutorials/3d/high_dynamic_range.rst
  tutorials/animation/introduction_2d.rst
Labels: bug

#2794 Add note about parameter limit in C++ modules
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#2807 Fix: FPS TUT. PART 5 - Problematic Null Control
  tutorials/3d/fps_tutorial/part_five.rst
Labels: bug

#2828 Fix a function name in GDNative C tutorial
  tutorials/plugins/gdnative/gdnative-c-example.rst
Labels: bug

#2791 Mention autowrap in your first game tutorial
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#2832 Correct spelling mistakes
  getting_started/step_by_step/ui_game_user_interface.rst
Labels: enhancement

#2839 Fix various typos and grammar issues in tutorial articles
  tutorials/2d/particle_systems_2d.rst
  tutorials/3d/vertex_animation/controlling_thousands_of_fish.rst
  tutorials/animation/2d_skeletons.rst
  tutorials/animation/animation_tree.rst
  tutorials/audio/audio_buses.rst
  tutorials/audio/sync_with_audio.rst
  tutorials/content/making_trees.rst
  tutorials/gui/gui_containers.rst
  tutorials/misc/handling_quit_requests.rst
  tutorials/misc/jitter_stutter.rst
  tutorials/networking/webrtc.rst
  tutorials/networking/websocket.rst
  tutorials/optimization/using_servers.rst
  tutorials/plugins/android/android_plugin.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/plugins/gdnative/gdnative-cpp-example.rst
  tutorials/shading/migrating_to_godot_shader_language.rst
  tutorials/shading/your_first_shader/your_first_spatial_shader.rst
Labels: bug

#2842 Mention additional MinGW compilation troubleshooting tips
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#2848 Fixed spatial shader part2 wave effect redundant parameter usage
  tutorials/shading/your_first_shader/your_second_spatial_shader.rst
Labels: bug

#2851 Gettext pybabel
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement

#2852 Instructions about reusing HTML file is slightly confusing.
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#2805 Clarify how to download a project template or demo
  getting_started/step_by_step/intro_to_the_editor_interface.rst
Labels: enhancement

#2863 Change example signal name to animation_finished
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: bug

#2741 Fix `res://` appearing as an URL in Scenes and nodes
  getting_started/step_by_step/scenes_and_nodes.rst
Labels: bug

#2872 Improve the Custom builds for Android page
  getting_started/workflow/export/android_custom_build.rst
Labels: bug, enhancement

#2868 GDScript style guide: Add comments section, and change quotes
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#2882 Revert "Mention additional MinGW compilation troubleshooting tips"
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#2885 minor grammar changes
  development/cpp/configuring_an_ide.rst
Labels: enhancement

#2880 Typo with the Animation introduction referring to the wrong target node class
  tutorials/animation/introduction_2d.rst
Labels: bug

#2796 Update Android compiling documentation
  development/compiling/compiling_for_android.rst
Labels: enhancement

#2797 Update a paragraph in the AssetLib page for clarity
  tutorials/assetlib/using_assetlib.rst
Labels: enhancement

#2802 Update WASM statement
  getting_started/step_by_step/exporting.rst
Labels: enhancement

#2822 Update images in Scenes and Nodes for Godot 3.1 and add extra informa…
  getting_started/step_by_step/img/create_new_project.png
  getting_started/step_by_step/img/editor_with_label.png
  getting_started/step_by_step/img/empty_editor.png
  getting_started/step_by_step/img/hw.png
  getting_started/step_by_step/img/main_scene.png
  getting_started/step_by_step/img/newnode_button.png
  getting_started/step_by_step/img/node_classes.png
  getting_started/step_by_step/img/node_search_label.png
  getting_started/step_by_step/img/playscene.png
  getting_started/step_by_step/img/scene_tree_example.png
  getting_started/step_by_step/scenes_and_nodes.rst
Labels: enhancement

#2825 Update documentation guidelines for new simplified GitHub procedure
  community/contributing/documentation_guidelines.rst
Labels: enhancement

#2835 Improve the Handling quit requests page
  tutorials/misc/handling_quit_requests.rst
Labels: enhancement

#2843 Improvements in "Saving Games" tutorial
  tutorials/io/saving_games.rst
Labels: enhancement

#2844 Clarify how the "step" value behaves in GDScript exports
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#2841 Update spatial material page for Godot 3.2
  tutorials/3d/img/spatial_material1.png
  tutorials/3d/spatial_material.rst
Labels: enhancement

#2795 Updated plugin tutorial w/ dialog & dep warning.
  tutorials/plugins/editor/img/making_plugins-create_plugin_dialog.png
  tutorials/plugins/editor/making_plugins.rst
Labels: enhancement

#2866 Add proper extends / method calls to inspector plugins tutorial
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug

#2871 Update Particle Systems (2D) page for Godot 3.2
  tutorials/2d/img/emission_shapes1.png
  tutorials/2d/img/emission_shapes2.png
  tutorials/2d/img/emission_shapes3.png
  tutorials/2d/img/particles2.png
  tutorials/2d/img/particles_convert.png
  tutorials/2d/img/particles_material.png
  tutorials/2d/particle_systems_2d.rst
Labels: enhancement

#2877 Script path in C# code is wrong.
  tutorials/plugins/editor/making_plugins.rst
Labels: bug

#2887 Remove redundant adjective in introduction.rst
  about/introduction.rst
Labels: enhancement

#2792 Update debug images for Godot 3.2, add information and reword some de…
  tutorials/debug/img/overview_debug.png
  tutorials/debug/img/overview_debugger.png
  tutorials/debug/img/overview_remote.png
  tutorials/debug/img/overview_script_editor.png
  tutorials/debug/overview_of_debugging_tools.rst
Labels: enhancement

#2798 Add IDE configuration for Android studio
  development/cpp/configuring_an_ide.rst
  development/cpp/img/android_studio_setup_project_1.png
Labels: enhancement

#2740 Improve One-click deploy documentation
  getting_started/workflow/export/one-click_deploy.rst
Labels: enhancement

#2743 Improve the Viewports documentation
  tutorials/viewports/viewports.rst
Labels: enhancement

#2769 Update GLES2 differences doc with recent changes
  tutorials/misc/gles2_gles3_differences.rst
Labels: enhancement

#2891 Mention the SCons version requirement when using Visual Studio 2019
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#2890 Updated BBCode tutorial with image size and vertical offset
  tutorials/gui/bbcode_in_richtextlabel.rst
Labels: enhancement
