Repository godotengine/godot-docs, pull requests merged in 2019-12, with the labels that each got.

#2955 Added new gotcha regarding snake_case for certain api methods
  getting_started/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement

#2968 Add information on profiler and misc debugging tools
  tutorials/debug/overview_of_debugging_tools.rst
Labels: enhancement

#2972 Replace images and move text for visual shader page
  tutorials/shading/img/shader_material_create_mesh.png
  tutorials/shading/img/visual_shader_create.png
  tutorials/shading/visual_shaders.rst
Labels: enhancement

#2977 Update screen-reading_shaders.rst
  tutorials/shading/screen-reading_shaders.rst
Labels: bug

#2640 Update GI probe page for Godot 3.2
  tutorials/3d/gi_probes.rst
  tutorials/3d/img/giprobe_bake.png
  tutorials/3d/img/giprobe_bake_property.png
  tutorials/3d/img/giprobe_interior_setting.png
  tutorials/3d/img/giprobe_light_indirect.png
  tutorials/3d/img/giprobe_quality.png
  tutorials/3d/img/giprobe_tweaking.png
Labels: enhancement

#2826 Documentation page about C#/GDScript interactions
  getting_started/scripting/c_sharp/c_sharp_differences.rst
  getting_started/scripting/c_sharp/c_sharp_features.rst
  getting_started/scripting/cross_language_scripting.rst
  getting_started/scripting/gdscript/gdscript_basics.rst
  getting_started/scripting/index.rst
Labels: cherrypick:3.1, enhancement

#2895 Adding links to multilingual Discord servers
  community/channels.rst
Labels: enhancement

#2966 [iOS] Add commands for bundling camera and ARKit universal libs.
  development/compiling/compiling_for_ios.rst
  development/compiling/cross-compiling_for_ios_on_linux.rst
Labels: enhancement

#2976 Explain how to add a SpatialMaterial to a mesh
  tutorials/3d/img/add_material.png
  tutorials/3d/spatial_material.rst
Labels: enhancement

#2998 Proof best practices: autoloads_versus_internal_nodes
  getting_started/workflow/best_practices/autoloads_versus_internal_nodes.rst
Labels: enhancement

#2982 Fix VR tutorial references in changelog page
  about/docs_changelog.rst
Labels: bug

#2963 Add clarification on how to connect C# signals in the editor
  getting_started/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement

#3000 Fixed some typos and wording in tutorials
  tutorials/3d/spatial_material.rst
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/ragdoll_system.rst
Labels: enhancement

#3003 Add link to tool docs in gdscript docs.
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3008 Very small styling fixups to the GDScript export page
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#3009 fixed variable name
  tutorials/networking/high_level_multiplayer.rst
Labels: bug

#3010 Use sound pressure level rather than power
  tutorials/audio/audio_buses.rst
Labels: enhancement

#3015 Add a `FAQ` meta keyword to the frequently asked questions page
  about/faq.rst
Labels: enhancement

#2967 function call operator added to operator table
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3020 Add yasm to scoop install.
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#2996 Add an enum naming guideline to the GDScript style guide
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#2995 Add a boolean operators guideline to the GDScript style guide
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement
