Repository godotengine/godot-docs, pull requests merged in 2019-06, with the labels that each got.

#2490 Fix package name in FreeBSD dependencies list
  development/compiling/compiling_for_x11.rst
Labels: bug

#2493 Add instructions about compiling with Mono for Android
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#2497 Add a Make.config to the Mono for Android build script
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#2517 Add a page on localization using gettext
  getting_started/workflow/assets/importing_translations.rst
  tutorials/i18n/index.rst
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement

#2527 Improve the "TSCN file format" page
  development/file_formats/tscn.rst
Labels: enhancement

#2542 Clarify features that are only available in GLES3
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/gi_probes.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/spatial_material.rst
  tutorials/shading/shading_reference/particle_shader.rst
Labels: enhancement

#2556 Mention Linux binary compatibility limitations on "Compiling for X11"
  development/compiling/compiling_for_x11.rst
Labels: cherrypick:3.1, enhancement
