Repository godotengine/godot-docs, pull requests merged in 2019-09, with the labels that each got.

#2736 Mention new Firefox security policies in Exporting for the Web
  getting_started/workflow/export/exporting_for_web.rst
Labels: cherrypick:3.1, enhancement

#2705 Mention caveats of using RGTC compression for normal maps with shaders
  getting_started/workflow/assets/importing_images.rst
Labels: enhancement

#2707 Add Windows snippet for compiling with script encryption key
  development/compiling/compiling_with_script_encryption_key.rst
Labels: enhancement

#2718 Split GDScript exports documentation into its own page
  getting_started/scripting/gdscript/gdscript_basics.rst
  getting_started/scripting/gdscript/gdscript_exports.rst
  getting_started/scripting/gdscript/index.rst
Labels: enhancement

#2714 correct variable reference in setget example
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: bug

#2719 Improve "Audio buses", "Audio streams" and "Importing audio samples"
  getting_started/workflow/assets/importing_audio_samples.rst
  tutorials/audio/audio_buses.rst
  tutorials/audio/audio_streams.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/viewports/viewports.rst
Labels: enhancement

#2697 Document APK size optimization in Exporting for Android
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#2649 Update GDScript int, float, and bool docs
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#2678 Update intro to 2D animation for Godot 3.1
  tutorials/animation/img/animation_add_audiostreamplayer.png
  tutorials/animation/img/animation_add_call_func_track.png
  tutorials/animation/img/animation_add_call_method_track.png
  tutorials/animation/img/animation_add_keyframe.png
  tutorials/animation/img/animation_animation_panel.png
  tutorials/animation/img/animation_animation_panel_overview.png
  tutorials/animation/img/animation_animation_panel_reference.png
  tutorials/animation/img/animation_animation_player_tree.png
  tutorials/animation/img/animation_call_func_add_keyframe.png
  tutorials/animation/img/animation_call_func_keyframe.png
  tutorials/animation/img/animation_call_method_keyframe.png
  tutorials/animation/img/animation_convenience_buttons.png
  tutorials/animation/img/animation_create_animationplayer.png
  tutorials/animation/img/animation_create_new_animation.png
  tutorials/animation/img/animation_illustration.png
  tutorials/animation/img/animation_keyframe_editor_key.png
  tutorials/animation/img/animation_keyframe_editor_toggle.png
  tutorials/animation/img/animation_keyframe_editor_transition.png
  tutorials/animation/img/animation_loop.png
  tutorials/animation/img/animation_method_options.png
  tutorials/animation/img/animation_normal_track.png
  tutorials/animation/img/animation_play_from_beginning.png
  tutorials/animation/img/animation_properties_keyframe.png
  tutorials/animation/img/animation_reference_animation_controls.png
  tutorials/animation/img/animation_reference_animation_management.png
  tutorials/animation/img/animation_reference_timeline_controls.png
  tutorials/animation/img/animation_reference_timeline_zoom_level.png
  tutorials/animation/img/animation_reference_track_control.png
  tutorials/animation/img/animation_select_audiostreamplayer.png
  tutorials/animation/img/animation_set_length.png
  tutorials/animation/img/animation_timeline.png
  tutorials/animation/img/animation_track_interpolation.png
  tutorials/animation/img/animation_track_loop_modes.png
  tutorials/animation/img/animation_track_rate.png
  tutorials/animation/img/animation_track_settings.png
  tutorials/animation/introduction_2d.rst
Labels: enhancement

#2731 Adds 'Code with Tom' to the list
  community/tutorials.rst
Labels: enhancement

#2776 Fix missing parenthesis in Using the SurfaceTool
  tutorials/content/procedural_geometry/surfacetool.rst
Labels: bug

#2780 Default to parallel builds in Sphinx for faster builds
  Makefile
  make.bat
Labels: enhancement

#2781 Adds underscore before on_Button_pressed()
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: bug

#2783 Misuse of Directive
  getting_started/step_by_step/ui_main_menu.rst
Labels: bug

#2790 Fixing a typo from the PR to add Pineapple Works
  tutorials/platform/consoles.rst
Labels: bug

#2804 Add a period to list item for consistency
  getting_started/step_by_step/scene_tree.rst
Labels: enhancement

#2803 Fix some awkward wording
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
Labels: enhancement

#2518 Add tip about fixing commit mistakes in PR branches + minor grammar fix
  community/contributing/pr_workflow.rst
Labels: enhancement

#2801 Replace "use Google" with "search online"
  getting_started/step_by_step/exporting.rst
Labels: enhancement

#2799 Clean up Getting Started code example
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement
