Repository godotengine/godot-docs, pull requests merged in 2020-09, with the labels that each got.

#3943 Document the GDScript debugger not supporting threads yet
  tutorials/debug/debugger_panel.rst
  tutorials/debug/overview_of_debugging_tools.rst
Labels: enhancement

#3942 Add information on how get_slide_count counts collisions
  tutorials/physics/using_kinematic_body_2d.rst
Labels: enhancement

#3945 Fix Euler angles image being unreadable on a dark background
  tutorials/3d/img/transforms_euler.png
Labels: enhancement

#3921 Mention licensing requirements in Best practices for engine contributors
  community/contributing/best_practices_for_engine_contributors.rst
Labels: enhancement

#3930 Document known bugs with rcedit in executables that embed a PCK file
  getting_started/workflow/export/changing_application_icon_for_windows.rst
Labels: enhancement

#3931 Add warnings on embedded pck files
  development/compiling/optimizing_for_size.rst
  getting_started/workflow/export/exporting_for_pc.rst
Labels: enhancement

#3949 Add a style guide for informational blocks in the class reference
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#3957 Fix texture mapping in Custom post-processing
  tutorials/viewports/custom_postprocessing.rst
Labels: bug

#3960 Added line to clarify we'll be starting a new project.
  getting_started/step_by_step/scripting.rst
Labels: enhancement

#3959 Fix and improve changing application icon for Windows page
  getting_started/workflow/export/changing_application_icon_for_windows.rst
  getting_started/workflow/export/img/icon_export_settings.png
  getting_started/workflow/export/img/icon_project_settings.png
  getting_started/workflow/export/img/icon_rcedit.png
Labels: bug, enhancement

#3963 Update instant search plugin to a packaged version
  requirements.txt
Labels: enhancement

#3948 Update GDScript examples - Step By Step: Scripting
  getting_started/step_by_step/scripting.rst
Labels: enhancement

#3973 Update the command line tutorial with the options currently in `master`
  getting_started/editor/command_line_tutorial.rst
Labels: enhancement

#3972 Rename the CSG page to give it a more descriptive title
  tutorials/3d/csg_tools.rst
Labels: enhancement

#3971 Rename the high dynamic range page, add a note about HDR output
  tutorials/3d/high_dynamic_range.rst
Labels: enhancement

#3970 Rename "Using the AssetLib" to "Using the Asset Library"
  tutorials/assetlib/using_assetlib.rst
Labels: enhancement

#3954 Improve import process page
  getting_started/workflow/assets/img/reimport_multiple.png
  getting_started/workflow/assets/import_process.rst
Labels: enhancement

#3978 Update GLES2 restrictions in Environment and post-processing
  tutorials/3d/environment_and_post_processing.rst
Labels: bug

#3958 Edit "What are Godot classes"
  getting_started/workflow/best_practices/introduction_best_practices.rst
  getting_started/workflow/best_practices/scenes_versus_scripts.rst
  getting_started/workflow/best_practices/what_are_godot_classes.rst
Labels: enhancement

#3979 Qt Creator tutorial: Specify C++ code style settings location
  development/cpp/configuring_an_ide/qt_creator.rst
Labels: enhancement

#3975 Fix RichTextEffects not loading correctly in BBCode in RichTextLabel
  tutorials/gui/bbcode_in_richtextlabel.rst
Labels: bug

#3980 Document that 2D batching currently only works with the GLES2 renderer
  tutorials/optimization/batching.rst
Labels: enhancement

#2762 Clarify snapping behaviour in Dodge the Creeps tutorial
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#3944 Document how to start a server in Exporting for dedicated servers
  getting_started/workflow/export/exporting_for_dedicated_servers.rst
Labels: enhancement

#3940 Use a more explicit `git bisect` command in Bisecting regressions
  community/contributing/bisecting_regressions.rst
Labels: enhancement

#3895 Update instructions to make subresources unique in inspector
  getting_started/step_by_step/instancing.rst
Labels: enhancement

#3828 Updated Python Code Style Guidelines
  community/contributing/code_style_guidelines.rst
Labels: enhancement

#3901 Add C# examples to running_code_in_the_editor.rst
  tutorials/misc/running_code_in_the_editor.rst
Labels: enhancement

#3964 Fix lgtm alerts
  _static/js/custom.js
  tutorials/plugins/gdnative/files/cpp_example/SConstruct
Labels: enhancement

#3976 Improve importing images page
  about/list_of_features.rst
  getting_started/workflow/assets/importing_images.rst
Labels: enhancement

#3898 Typo in C# example change velocity to _velocity
  tutorials/physics/using_kinematic_body_2d.rst
Labels: bug, topic:mono

#3785 Add 2x2 and 3x3 Minimal autotile templates to Using tilemaps
  tutorials/2d/img/autotile_template_2x2.png
  tutorials/2d/img/autotile_template_3x3_minimal.png
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_floor.png
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_walls.png
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_walls_tall.png
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_walls_thick.png
  tutorials/2d/using_tilemaps.rst
Labels: enhancement

#3852 Proofread and improve the optimization guides
  tutorials/optimization/batching.rst
  tutorials/optimization/cpu_optimization.rst
  tutorials/optimization/general_optimization.rst
  tutorials/optimization/gpu_optimization.rst
  tutorials/optimization/index.rst
  tutorials/optimization/optimizing_3d_performance.rst
Labels: enhancement

#3687 styleguide: clarify "static typing" syntax
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#3986 Fix quote marks
  community/contributing/updating_the_class_reference.rst
Labels: bug

#3991 Improve the BBCode tags description, mention lack of vertical centering
  tutorials/gui/bbcode_in_richtextlabel.rst
Labels: enhancement

#3693 Mention the Node2D shearing property in Matrices and transforms
  tutorials/math/matrices_and_transforms.rst
Labels: enhancement

#4000 Initial port of optimization tutorials to master
  tutorials/3d/index.rst
  tutorials/3d/optimizing_3d_performance.rst
  tutorials/optimization/cpu_optimization.rst
  tutorials/optimization/general_optimization.rst
  tutorials/optimization/gpu_optimization.rst
  tutorials/optimization/img/godot_profiler.png
  tutorials/optimization/img/lights_overlap.png
  tutorials/optimization/img/lights_separate.png
  tutorials/optimization/img/overlap1.png
  tutorials/optimization/img/overlap2.png
  tutorials/optimization/img/scissoring.png
  tutorials/optimization/img/valgrind.png
  tutorials/optimization/index.rst
  tutorials/optimization/optimizing_3d_performance.rst
Labels: enhancement

#4008 Add a FAQ item about "When is the next release of Godot out?"
  about/faq.rst
  about/release_policy.rst
Labels: enhancement

#4004 Document a fallback method to change the application icon on Windows
  getting_started/workflow/export/changing_application_icon_for_windows.rst
Labels: enhancement

#4005 Remove UPX recommendation in Optimizing for size
  development/compiling/optimizing_for_size.rst
Labels: discussion, enhancement

#4006 Document the upsides and downsides of PCK and ZIP pack formats
  getting_started/workflow/export/exporting_projects.rst
Labels: enhancement

#4009 Clarify license requirement in Asset Library submitting instructions
  tutorials/assetlib/uploading_to_assetlib.rst
Labels: enhancement

#4016 Update Keywords to include class_name
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4026 Update encryption key page according to the new PCK encryption feature.
  development/compiling/compiling_with_script_encryption_key.rst
  development/compiling/img/encryption_key.png
  development/compiling/img/script_encryption_key.png
Labels: enhancement

#4027 Fix typo in Cross-language scripting
  getting_started/scripting/cross_language_scripting.rst
Labels: bug

#4028 Added shebang example to Command line tutorial
  getting_started/editor/command_line_tutorial.rst
Labels: enhancement

#4032 Compiling for Linux/*BSD: Add NetBSD one-liner
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement

#4025 Improve audio buses page
  tutorials/audio/audio_buses.rst
Labels: enhancement

#4001 Update and simplify android custom build instructions
  getting_started/workflow/export/android_custom_build.rst
  getting_started/workflow/export/img/custom_build_editor_settings.png
  getting_started/workflow/export/img/custom_build_zip.png
Labels: enhancement

#4007 Add a FAQ item about why Godot uses Vulkan/OpenGL instead of Direct3D
  about/faq.rst
Labels: enhancement

#4033 Optimize PCK encryption screenshot
  development/compiling/img/encryption_key.png
Labels: enhancement

#4036 Improve phrasing of constants in GDScript basics
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4039 Fix markup on Command line tutorial
  getting_started/editor/command_line_tutorial.rst
Labels: bug

#4041 Add information about external materials not updated on reimport
  getting_started/workflow/assets/importing_scenes.rst
Labels: enhancement

#4045 Clarify that the JavaScript singleton is available in official templates
  development/compiling/compiling_for_web.rst
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#4052 Add a warning about `latest` documentation compatibility
  conf.py
Labels: enhancement

#4054 Fix visual shader plugin example
  tutorials/plugins/editor/visual_shader_plugins.rst
Labels: enhancement

#4053 Update locales to match current engine core/translation.cpp
  .github/workflows/ci.yml
  _tools/codespell-ignore-lines.txt
  tutorials/i18n/locales.rst
Labels: enhancement

#4038 Document why Godot doesn't support changing the monitor resolution
  tutorials/viewports/multiple_resolutions.rst
Labels: enhancement

#4043 Mention limit of 8 lights per mesh
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement

#4050 Add MDN reference for Local server setup
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#4056 Prevent the compatibility notice from being the `meta description`
  _static/js/custom.js
  conf.py
Labels: bug

#4057 Update instant.page to 5.1.0
  _static/js/custom.js
Labels: enhancement

#4048 Formalize language and improve grammar in "Shading Language"
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#4068 Escape double quotes for meta descriptions in HTML
  _extensions/godot_descriptions.py
Labels: bug

#4070 fix(getting_started): wording
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#4062 Removed GD namespace from RandRange
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#4040 Add a page about 3D collision shapes
  getting_started/workflow/assets/importing_scenes.rst
  tutorials/physics/collision_shapes_3d.rst
  tutorials/physics/index.rst
Labels: enhancement

#3989 Add an 'unsupported on android' warning to 2d skeleton documentation
  tutorials/animation/2d_skeletons.rst
Labels: enhancement

#4058 Add a Troubleshooting page with common problems and solutions
  about/index.rst
  about/troubleshooting.rst
  getting_started/workflow/export/exporting_projects.rst
  getting_started/workflow/project_setup/project_organization.rst
Labels: enhancement

#4017 Document unit testing in the engine and modules
  development/cpp/custom_modules_in_cpp.rst
  development/cpp/index.rst
  development/cpp/unit_testing.rst
Labels: enhancement

#4075 Remove article in best_practices_for_engine_contributors.rst
  community/contributing/best_practices_for_engine_contributors.rst
Labels: enhancement

#4073 Edit 3D collision shapes
  tutorials/physics/collision_shapes_3d.rst
Labels: enhancement

#4095 Fix markup in the GDScript style guide
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: bug

#4094 Document how to rebuild the documentation automatically on changes
  README.md
Labels: enhancement

#4092 Document caveats related to multiple inheritance in C++ modules
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#4093 Clarify the GLES2 Environment glow limitations
  tutorials/3d/environment_and_post_processing.rst
  tutorials/misc/gles2_gles3_differences.rst
Labels: enhancement

#4024 Add a random number generation tutorial
  tutorials/math/index.rst
  tutorials/math/random_number_generation.rst
Labels: enhancement
