Repository godotengine/godot-docs, pull requests merged in 2020-05, with the labels that each got.

#3477 Replace `Meta` keyboard shortcut with explicit key
  getting_started/step_by_step/ui_game_user_interface.rst
  getting_started/step_by_step/ui_main_menu.rst
Labels: enhancement

#3478 Use `network_peer` as a property instead of using the setter method
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#3473 Expand NodePath hints, added Resource hints to GDScript exports
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#3480 Added documentation for drag-and-drop support for exported arrays
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#3483 Create Sphinx extension to generate HTML meta description tags
  _extensions/godot_descriptions.py
  conf.py
Labels: enhancement

#3468 Mention the lack of support for cross-language script inheritance
  getting_started/scripting/cross_language_scripting.rst
Labels: enhancement, topic:mono

#2644 Elaborate on yielding to `completed` signal in GDScript basics
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3487 Make more snippets in GDScript basics page follow the styleguide
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3488 Mention the normal map coordinate system expected by Godot
  getting_started/workflow/assets/importing_images.rst
  tutorials/3d/spatial_material.rst
Labels: enhancement

#3490 Document how to opt-out of replacing files when loading a PCK file
  getting_started/workflow/export/exporting_pcks.rst
Labels: cherrypick:3.2, enhancement

#3482 Add a dedicated page for 3D rendering limitations
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/index.rst
  tutorials/3d/optimizing_3d_performance.rst
Labels: enhancement

#3444 Document GDScript export category and property grouping
  development/cpp/object_class.rst
  getting_started/scripting/gdscript/gdscript_exports.rst
  getting_started/workflow/best_practices/godot_interfaces.rst
Labels: enhancement

#3380 Unclear instruction
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3350 How to fix "Could not create settings"
  getting_started/workflow/export/android_custom_build.rst
Labels: enhancement

#3336 Attempting to clean up thread safe language.
  tutorials/threads/thread_safe_apis.rst
Labels: enhancement

#3355 Add file name conventions in the GDScript style guide
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#3494 Improve docs on TIME
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: enhancement

#3500 Added BBcode tags for Table and Cell
  tutorials/gui/bbcode_in_richtextlabel.rst
Labels: enhancement

#3501 Instancing section added to the running code in the editor tutorial
  tutorials/misc/running_code_in_the_editor.rst
Labels: enhancement

#3502 Add an hyphen to all instances of "thread-safe"
  tutorials/threads/thread_safe_apis.rst
  tutorials/threads/using_multiple_threads.rst
Labels: enhancement

#3504 Remove obsolete information related to the asset library
  tutorials/assetlib/img/assetlib_asset.png
  tutorials/assetlib/uploading_to_assetlib.rst
  tutorials/assetlib/using_assetlib.rst
Labels: enhancement

#3499 Document upcoming CI shader builtin MODULATE
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: enhancement

#3509 Remove uninformative editor development Introduction page
  development/editor/index.rst
  development/editor/introduction.rst
Labels: enhancement

#3508 Mention Object bracket property access and dynamic property indexing
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3510 Document how to work with the editor icons' automatic theme conversion
  development/editor/creating_icons.rst
Labels: enhancement

#3522 Add missing whitespace in Your first game
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3524 Add having a gitignore to the asset library requirements
  tutorials/assetlib/uploading_to_assetlib.rst
Labels: enhancement

#3525 Update the Editor icons optimization guide to follow current usage
  development/editor/creating_icons.rst
Labels: enhancement

#3528 Replace outdated identifier in example code
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: bug

#3526 Update MinGW requirements
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#3496 Fix GDNative C++ SConstruct for OSX
  tutorials/plugins/gdnative/files/cpp_example/SConstruct
Labels: bug

#3523 Dodge the Creeps tutorial updates
  getting_started/step_by_step/img/add_node.png
  getting_started/step_by_step/img/attach_node_window.png
  getting_started/step_by_step/img/filesystem_dock.png
  getting_started/step_by_step/img/grid_snap_button.png
  getting_started/step_by_step/img/group_tab.png
  getting_started/step_by_step/img/lock_children.png
  getting_started/step_by_step/img/main_scene_nodes.png
  getting_started/step_by_step/img/mob_animations.gif
  getting_started/step_by_step/img/player_signal_connection.png
  getting_started/step_by_step/img/player_signals.png
  getting_started/step_by_step/img/spriteframes_panel.png
  getting_started/step_by_step/img/spriteframes_panel2.png
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#3521 Removed redundant code recalculating velocity
  getting_started/step_by_step/exporting.rst
Labels: enhancement

#3049 Added guide to edit variables
  tutorials/misc/running_code_in_the_editor.rst
Labels: enhancement

#3532 Add GDScript grammar by vnen
  development/file_formats/gdscript_grammar.rst
  development/file_formats/index.rst
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3536 Update compiling_for_osx.rst
  development/compiling/compiling_for_osx.rst
Labels: enhancement

#3538 Fix malformatted bullet section in "Your first game" page
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3537 Add a note about case sensitivity in Project organization
  getting_started/workflow/project_setup/project_organization.rst
Labels: enhancement

#3040 Add Oculus Quest tutorial to documentation
  tutorials/vr/developing_for_oculus_quest.rst
  tutorials/vr/img/quest_developer_mode.png
  tutorials/vr/img/quest_export_settings.png
  tutorials/vr/img/quest_new_project.png
  tutorials/vr/img/quest_phone_settings.png
  tutorials/vr/img/quest_phone_settings_2.png
  tutorials/vr/img/quest_project_settings.png
  tutorials/vr/img/quest_project_tree.png
  tutorials/vr/img/quest_scene_tree.png
  tutorials/vr/index.rst
Labels: enhancement

#3535 Improve Windows compiling instructions
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#3540 PR workflow: Improve instructions around updating, amending and rebasing
  community/contributing/pr_workflow.rst
Labels: enhancement

#3542 Improve the Contribute to the Class Reference page
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#3544 Tweak caption styling to be closer to typical captions
  _static/css/custom.css
Labels: enhancement

#3550 Improvements and fixed for Oculus tutorial
  tutorials/vr/developing_for_oculus_quest.rst
Labels: bug, enhancement

#3546 Split the GDScript warning system documentation into its own page
  getting_started/scripting/gdscript/index.rst
  getting_started/scripting/gdscript/static_typing.rst
  getting_started/scripting/gdscript/warning_system.rst
Labels: enhancement

#3548 Fix unstyled message for empty search results
  _static/css/custom.css
Labels: bug

#3543 Expand Resource section
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#3310 Update "Download the command-line tools" section
  getting_started/workflow/export/android_custom_build.rst
Labels: enhancement

#3553 Remove outdated notice at the end of Background loading
  tutorials/io/background_loading.rst
Labels: enhancement

#3552 Fix various spacing and capitalization issues
  community/contributing/best_practices_for_engine_contributors.rst
  getting_started/scripting/gdscript/gdscript_format_string.rst
  getting_started/scripting/visual_script/custom_visualscript_nodes.rst
  getting_started/scripting/visual_script/nodes_purposes.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/fps_tutorial/part_six.rst
  tutorials/3d/introduction_to_3d.rst
  tutorials/3d/using_transforms.rst
  tutorials/assetlib/uploading_to_assetlib.rst
  tutorials/content/making_trees.rst
  tutorials/gui/size_and_anchors.rst
  tutorials/i18n/locales.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/networking/http_client_class.rst
  tutorials/platform/android_in_app_purchases.rst
  tutorials/shading/shading_reference/shading_language.rst
Labels: enhancement

#2956 Add new tutorials to doc changelog
  about/docs_changelog.rst
Labels: cherrypick:3.2, enhancement

#3555 Add AUTHORS.md with list of main contributors
  .mailmap
  AUTHORS.md
Labels: enhancement

#3559 Mention lawnjelly's smoothing add-on in Fixing jitter and stutter
  tutorials/misc/jitter_stutter.rst
Labels: enhancement

#3561 Update the documentation for the Android v1 plugin
  tutorials/plugins/android/android_plugin.rst
  tutorials/plugins/android/img/android_export_preset_plugins_section.png
Labels: enhancement

#3560 [3.2] Documentation update for the Android v1 plugin
  tutorials/plugins/android/android_plugin.rst
  tutorials/plugins/android/img/android_export_preset_plugins_section.png
Labels: enhancement

#3562 Update VR starter tutorial for Godot 3.2
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
Labels: bug

#3556 Fix C# issues in physics introduction
  tutorials/physics/physics_introduction.rst
Labels: bug, topic:mono

#3563 Fix ending quote in Using tilemaps
  tutorials/2d/using_tilemaps.rst
Labels: bug

#3557 Add documentation about exporting for dedicated servers
  development/compiling/compiling_for_linuxbsd.rst
  development/compiling/compiling_for_osx.rst
  development/compiling/compiling_for_windows.rst
  development/compiling/introduction_to_the_buildsystem.rst
  development/cpp/custom_modules_in_cpp.rst
  getting_started/editor/command_line_tutorial.rst
  getting_started/workflow/export/exporting_for_dedicated_servers.rst
  getting_started/workflow/export/index.rst
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#3006 Improve the 'Writing custom documentation' section
  development/cpp/custom_modules_in_cpp.rst
Labels: bug, enhancement

#3566 Improve the Console support in Godot page
  tutorials/platform/consoles.rst
Labels: enhancement

#3567 Pin ReadTheDocs sphinx search to specific commit instead of master tip
  requirements.txt
Labels: enhancement

#3569 Fix image with incorrect numbers in Size and anchors
  tutorials/gui/img/margin.png
Labels: bug

#3575 Fix numbering in the ordering section of Shader language style guide
  tutorials/shading/godot_shader_language_style_guide.rst
Labels: bug

#3578 Fix incorrect Node label in "Your first game"
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3577 Deduplicates some text in fps_tutorial part 2
  tutorials/3d/fps_tutorial/part_two.rst
Labels: enhancement

#3564 Adjust language and layout of configuring an IDE docs
  _static/css/custom.css
  development/cpp/configuring_an_ide/android_studio.rst
  development/cpp/configuring_an_ide/clion.rst
  development/cpp/configuring_an_ide/img/qtcreator-add-custom-process-step.png
  development/cpp/configuring_an_ide/img/qtcreator-edit-files-dialog.png
  development/cpp/configuring_an_ide/img/vs_2_project_properties.png
  development/cpp/configuring_an_ide/img/vscode_1_create_launch.json.png
  development/cpp/configuring_an_ide/img/vscode_configure_task.png
  development/cpp/configuring_an_ide/img/vscode_create_tasksjson.png
  development/cpp/configuring_an_ide/img/vscode_create_tasksjson_others.png
  development/cpp/configuring_an_ide/index.rst
  development/cpp/configuring_an_ide/kdevelop.rst
  development/cpp/configuring_an_ide/qt_creator.rst
  development/cpp/configuring_an_ide/visual_studio.rst
  development/cpp/configuring_an_ide/visual_studio_code.rst
  development/cpp/configuring_an_ide/xcode.rst
Labels: enhancement

#3579 Mention Open JDK in step by step exporting
  getting_started/step_by_step/exporting.rst
  getting_started/workflow/export/android_custom_build.rst
Labels: enhancement

#3582 minor typo fix
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3588 Updated Choose Animations script to match new name
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3587 Change incorrect MessageLabel to Message in Your first game
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3581 Document automatic signing of UWP apps
  getting_started/workflow/export/exporting_for_uwp.rst
  getting_started/workflow/export/img/UWP_export_signing.png
  getting_started/workflow/export/img/UWP_sign_tool.png
Labels: enhancement

#3586 Capitalize all instances of Git in the documentation
  README.md
  community/contributing/bug_triage_guidelines.rst
  community/contributing/pr_workflow.rst
  community/contributing/updating_the_class_reference.rst
  community/contributing/ways_to_contribute.rst
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#3594 Clarify example code for signal
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: bug

#3595 Document `custom_modules` build option
  development/compiling/introduction_to_the_buildsystem.rst
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#3585 Tweak `LD_LIBRARY_PATH` export to work with paths that contain spaces
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#3602 Tweak the theme font stack to follow Bootstrap 5.0.0-alpha1
  _static/css/custom.css
Labels: enhancement

#3599 Fix old style -path mention
  getting_started/editor/command_line_tutorial.rst
Labels: bug, enhancement

#3605 Add a reference to the Data paths doc in the Step by step guide
  getting_started/step_by_step/filesystem.rst
Labels: enhancement

#3601 Document export hints for physics and render layers
  getting_started/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#3618 Add gcc-c++ dependency for Fedora.
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement

#3619 Fixed typo on modal notification
  tutorials/gui/custom_gui_controls.rst
Labels: bug

#3617 Add --path option to sample VS Code launch.json
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement

#3589 EASE_IN no longer required for interpolate_property
  getting_started/step_by_step/ui_code_a_life_bar.rst
Labels: enhancement

#3615 Describe the differences between hardware and software mouse cursors
  tutorials/inputs/custom_mouse_cursor.rst
Labels: enhancement

#3611 Update cutout_animation.rst
  tutorials/animation/cutout_animation.rst
Labels: bug

#3616 Add a note to remind the user to set up input actions in 2D movement
  tutorials/2d/2d_movement.rst
Labels: enhancement

#3620 Tweak arguments in the VS Code configuration guide
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement
