Repository godotengine/godot-docs, pull requests merged in 2020-03, with the labels that each got.

#3216 replace 'Linux or other Unix Variants' with macOS
  development/compiling/compiling_for_osx.rst
Labels: bug

#3225 Fix incorrect name of JetBrains company
  development/cpp/configuring_an_ide.rst
Labels: bug

#2750 replaced erroneous sourcecode parts, added resource saver
  development/cpp/custom_resource_format_loaders.rst
Labels: bug, enhancement

#3224 Rephrase dock descriptions to be location-agnostic
  getting_started/step_by_step/intro_to_the_editor_interface.rst
  getting_started/step_by_step/scenes_and_nodes.rst
Labels: enhancement

#3223 Refer to dropdown rather than down arrow
  getting_started/step_by_step/instancing.rst
Labels: enhancement

#3230 GDNative C Example folder structure consistency with demo repository
  tutorials/plugins/gdnative/gdnative-c-example.rst
Labels: enhancement

#3222 update export_touchsettings.png
  getting_started/step_by_step/exporting.rst
  getting_started/step_by_step/img/export_touchsettings.png
  getting_started/step_by_step/img/export_web_export_with_debug_disabled.png
Labels: enhancement

#3213 Fixes #34638
  tutorials/optimization/using_servers.rst
Labels: bug

#3212 Added a third party channel and fixed broken link to tutorials.rst
  community/tutorials.rst
Labels: bug, enhancement

#3200 Updated c# function prototype in the example code.
  getting_started/step_by_step/signals.rst
Labels: bug

#3159 Update 2D animation tutorial to show how to use a sprite sheet with AnimatedSprite
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/img/2d_animation_add_from_spritesheet.png
  tutorials/2d/img/2d_animation_frog_spritesheet.png
  tutorials/2d/img/2d_animation_play_spritesheet_animation.png
  tutorials/2d/img/2d_animation_spritesheet_animation.png
  tutorials/2d/img/2d_animation_spritesheet_select_rows.png
  tutorials/2d/img/2d_animation_spritesheet_selectframes.png
Labels: enhancement

#3158 added some c# input examples
  tutorials/inputs/input_examples.rst
Labels: enhancement

#3156 Possible typo
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug

#3150 Remove duplicated code in Sync Audio
  tutorials/audio/sync_with_audio.rst
Labels: enhancement

#3220 C# bullet documentation
  tutorials/physics/using_kinematic_body_2d.rst
Labels: bug

#3228 Update resource_queue.gd for Godot 3.2
  tutorials/io/files/resource_queue.gd
Labels: cherrypick:3.2, enhancement

#3232 Update main screen plugin tutorial
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: enhancement

#3173 Added parallel compilation to bindings compilation.
  tutorials/plugins/gdnative/gdnative-cpp-example.rst
Labels: enhancement

#3024 Expand Inspector Plugin tutorial
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement

#2586 Added looped Coroutine Example to GDScript Basics to improve understanding of the coroutine concept
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#2710 State design pattern tutorial
  tutorials/misc/files/llama.zip
  tutorials/misc/img/llama_idle.gif
  tutorials/misc/img/llama_run.gif
  tutorials/misc/img/state_design_compelte.gif
  tutorials/misc/img/state_design_complete.gif
  tutorials/misc/img/state_design_node_setup.png
  tutorials/misc/index.rst
  tutorials/misc/state_design_pattern.rst
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#2886 Show how to pass a value with a signal
  getting_started/step_by_step/signals.rst
Labels: enhancement

#3066 Add minimal details required to successfully Export to Android
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#3237 Add scrollbar to the navigation bar (salvaged from xelivous/godot-docs)
  _static/css/custom.css
Labels: enhancement

#3038 Update docs regarding current Nuget workflow
  getting_started/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement

#3238 Correct mistake "Method in Node"
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3241 Fix a typo in an Exporting for Web code sample
  getting_started/workflow/export/exporting_for_web.rst
Labels: bug

#3242 Describe how to load a C# DLC
  getting_started/workflow/export/exporting_pcks.rst
Labels: enhancement

#2979 Add documentation for version 1 of the Godot Android plugin.
  tutorials/plugins/android/android_plugin.rst
Labels: enhancement

#3246 Fix broken links to background image
  tutorials/2d/2d_lights_and_shadows.rst
Labels: bug

#3247 Small fixes for recent formating errors
  getting_started/scripting/gdscript/gdscript_basics.rst
  tutorials/plugins/android/android_plugin.rst
Labels: bug

#3248 General formating fixes for GDScript scripting pages
  getting_started/scripting/gdscript/gdscript_advanced.rst
  getting_started/scripting/gdscript/gdscript_basics.rst
  getting_started/scripting/gdscript/static_typing.rst
Labels: enhancement

#3165 Add info on if a youtuber covers 3D or 2D content and what programming language they use
  community/tutorials.rst
Labels: enhancement

#2923 Added brief "Extra Call Argument" description to signals.rst
  getting_started/step_by_step/img/signals_connect_dialog_timer.png
  getting_started/step_by_step/signals.rst
Labels: enhancement

#2742 Improve the Light transport in game engines documentation
  tutorials/3d/high_dynamic_range.rst
Labels: enhancement

#3257 Improved keystroke formatting for shortcuts and key press mentions
  _static/css/custom.css
  development/compiling/compiling_for_android.rst
  development/compiling/compiling_for_uwp.rst
  development/cpp/configuring_an_ide.rst
  getting_started/scripting/gdscript/gdscript_styleguide.rst
  getting_started/scripting/visual_script/nodes_purposes.rst
  getting_started/step_by_step/animations.rst
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/intro_to_the_editor_interface.rst
  getting_started/step_by_step/scenes_and_nodes.rst
  getting_started/step_by_step/scripting.rst
  getting_started/step_by_step/ui_code_a_life_bar.rst
  getting_started/step_by_step/ui_game_user_interface.rst
  getting_started/step_by_step/ui_main_menu.rst
  getting_started/step_by_step/your_first_game.rst
  getting_started/workflow/best_practices/autoloads_versus_internal_nodes.rst
  getting_started/workflow/export/android_custom_build.rst
  tutorials/2d/using_tilemaps.rst
  tutorials/3d/fps_tutorial/part_one.rst
  tutorials/3d/fps_tutorial/part_three.rst
  tutorials/3d/fps_tutorial/part_two.rst
  tutorials/3d/introduction_to_3d.rst
  tutorials/3d/using_gridmaps.rst
  tutorials/animation/cutout_animation.rst
  tutorials/animation/introduction_2d.rst
  tutorials/inputs/input_examples.rst
  tutorials/math/matrices_and_transforms.rst
Labels: enhancement

#3258 Adjust code sample to use new offset syntax
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#3210 Add information on compiling Godot on Linux using Clang + LLD
  development/compiling/compiling_for_x11.rst
Labels: enhancement

#3236 Fix invalid JSON in Custom resource format loaders
  development/cpp/custom_resource_format_loaders.rst
Labels: bug

#3250 Document modules ability to pre-register types
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#3240 Add Asset Library Submission Guidelines
  tutorials/assetlib/uploading_to_assetlib.rst
  tutorials/assetlib/what_is_assetlib.rst
Labels: discussion, enhancement

#3211 Clarify CSV encoding requirements when importing translations
  getting_started/workflow/assets/importing_translations.rst
Labels: enhancement

#3219 Add a page on installing plugins
  tutorials/plugins/editor/img/installing_plugins_assetlib_tab.png
  tutorials/plugins/editor/img/installing_plugins_github_download_zip.png
  tutorials/plugins/editor/img/installing_plugins_project_settings.png
  tutorials/plugins/editor/index.rst
  tutorials/plugins/editor/installing_plugins.rst
Labels: enhancement

#3234 Improve the Compiling for macOS documentation
  development/compiling/compiling_for_osx.rst
Labels: enhancement

#3226 Remove the screenshot of the documentation in the networking tutorial
  tutorials/networking/high_level_multiplayer.rst
  tutorials/networking/img/nmpeer.png
Labels: enhancement

#3229 Format `gdscript.py` and `conf.py` using Black and Flake8
  conf.py
  extensions/gdscript.py
Labels: enhancement

#3263 Improve the Docs writing guidelines page
  community/contributing/docs_writing_guidelines.rst
Labels: enhancement

#3267 Improved CSS media queries to remove conflicts
  _static/css/custom.css
  _static/js/custom.js
Labels: bug

#3272 Include x86-64 option in adding support for Android x86 devices.
  development/compiling/compiling_for_android.rst
Labels: enhancement

#3274 Fix typo in code example
  tutorials/io/background_loading.rst
Labels: bug

#3271 Ubuntu Jarsigner location hint
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#3273 Remove references to Python 2.7 in build requirements.
  development/compiling/compiling_for_android.rst
  development/compiling/compiling_for_osx.rst
  development/compiling/compiling_for_web.rst
  development/compiling/compiling_for_windows.rst
  development/compiling/compiling_for_x11.rst
Labels: enhancement

#3275 Use consistant case for Tween
  getting_started/step_by_step/ui_code_a_life_bar.rst
Labels: enhancement

#3276 Install sphinx_tabs using pip requirements.txt + rename folder to _extensions
  _extensions/gdscript.py
  conf.py
  extensions/sphinx_tabs/LICENSE
  extensions/sphinx_tabs/__init__.py
  extensions/sphinx_tabs/semantic-ui-2.2.10/LICENSE.md
  extensions/sphinx_tabs/semantic-ui-2.2.10/menu.min.css
  extensions/sphinx_tabs/semantic-ui-2.2.10/segment.min.css
  extensions/sphinx_tabs/semantic-ui-2.2.10/tab.min.css
  extensions/sphinx_tabs/semantic-ui-2.2.10/tab.min.js
  extensions/sphinx_tabs/tabs.css
  extensions/sphinx_tabs/tabs.js
  extensions/sphinx_tabs/tabs.py
  requirements.txt
Labels: enhancement

#3277 Use new full-page search UI from upstream RTD
  requirements.txt
Labels: enhancement

#3278 Document installation of requirements.txt with pip
  README.md
  requirements.txt
Labels: enhancement

#3283 Adjust styling of new instant search popup
  _static/css/custom.css
Labels: enhancement

#3285 Mark shader TIME as global built-in
  tutorials/shading/shading_reference/canvas_item_shader.rst
  tutorials/shading/shading_reference/particle_shader.rst
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#3288 Removed invalid spaces in shader "TIME"
  tutorials/shading/shading_reference/canvas_item_shader.rst
  tutorials/shading/shading_reference/particle_shader.rst
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: bug

#3290 Rearrange description of shader built-in a bit
  tutorials/shading/shading_reference/canvas_item_shader.rst
  tutorials/shading/shading_reference/particle_shader.rst
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: enhancement

#3295 Clarification on "Identifier" term in docs
  getting_started/workflow/export/exporting_for_ios.rst
Labels: enhancement

#3282 Replace Pool*Arrays with Packed*Arrays in tutorials and references
  _extensions/gdscript.py
  development/file_formats/tscn.rst
  getting_started/scripting/c_sharp/c_sharp_differences.rst
  getting_started/scripting/gdscript/gdscript_basics.rst
  getting_started/scripting/gdscript/gdscript_exports.rst
  getting_started/workflow/best_practices/data_preferences.rst
  getting_started/workflow/export/exporting_for_web.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/content/procedural_geometry/arraymesh.rst
  tutorials/content/procedural_geometry/index.rst
  tutorials/misc/binary_serialization_api.rst
  tutorials/networking/http_client_class.rst
  tutorials/plugins/editor/spatial_gizmos.rst
  tutorials/shading/advanced_postprocessing.rst
Labels: enhancement

#3281 Update Transform and Basis value descriptions for binary serialization
  tutorials/misc/binary_serialization_api.rst
Labels: enhancement

#3300 use csharp syntax on csharp tab
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3303 Silence blank line warning in "Your first game" page
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#3305 Add a formatting script for local checking and for Travis CI
  .travis.yml
  format.sh
  getting_started/workflow/index.rst
  tutorials/2d/using_tilemaps.rst
  tutorials/physics/using_area_2d.rst
  tutorials/vr/index.rst
Labels: enhancement

#3307 Add proper styles for JS class reference
  _static/css/custom.css
Labels: bug

#3309 Improve docs about compilation toolchain requirements
  README.md
  development/compiling/compiling_for_android.rst
  development/compiling/compiling_for_ios.rst
  development/compiling/compiling_for_osx.rst
  development/compiling/compiling_for_uwp.rst
  development/compiling/compiling_for_web.rst
  development/compiling/compiling_for_windows.rst
  development/compiling/compiling_for_x11.rst
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#3296 Update tutorials.rst
  community/tutorials.rst
Labels: enhancement

#3320 Fix typo in the 'Using the system clock to sync' section
  tutorials/audio/sync_with_audio.rst
Labels: bug

#3328 Add missing arguments to C# example of signals
  getting_started/step_by_step/signals.rst
Labels: enhancement

#3329 Add a list of all default keyboard shortcuts
  getting_started/editor/default_key_mapping.rst
  getting_started/editor/index.rst
  getting_started/step_by_step/instancing.rst
Labels: enhancement

#3330 Use direction_to, remove code example for manually normalizing in vector math
  tutorials/math/vector_math.rst
  tutorials/math/vectors_advanced.rst
Labels: enhancement

#3312 Update how to force SCons to use Python v3 on Linux.
  development/compiling/compiling_for_x11.rst
Labels: enhancement

#3334 Fix macOS shortcuts for Delete key
  getting_started/editor/default_key_mapping.rst
Labels: bug

#3265 Update 'Compiling with Mono': iOS, WASM, AOT and BCL
  development/compiling/compiling_with_mono.rst
Labels: enhancement
