Repository godotengine/godot-docs, pull requests merged in 2020-11, with the labels that each got.

#4328 Explain what fractional means in the Shading language reference
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#4330 Update GDNative repository and demo URLs
  tutorials/plugins/gdnative/gdnative-c-example.rst
  tutorials/plugins/gdnative/gdnative-cpp-example.rst
Labels: bug

#4334 Clarify "source" mesh in Using MultiMeshInstance
  tutorials/3d/using_multi_mesh_instance.rst
Labels: enhancement

#4307 Add a symbol next to class reference page links
  _static/css/custom.css
Labels: enhancement

#4327 proofreading 2d/canvas_layers.rst : change passive voice to direct voice
  tutorials/2d/canvas_layers.rst
Labels: enhancement

#4336 Mention hosts that support on-the-fly compression in Exporting for the Web
  tutorials/export/exporting_for_web.rst
Labels: enhancement

#4340 Fix the "ref" badge appearing twice in instant search results
  _static/css/custom.css
Labels: bug

#3703 Rename InputEventKey.scancode into keycode
  tutorials/inputs/input_examples.rst
  tutorials/inputs/inputevent.rst
Labels: bug, enhancement

#4353 Fix missing ":ref:" in canvas_layers.rst
  tutorials/2d/canvas_layers.rst
Labels: bug

#4352 Add a Hosting considerations section to High-level multiplayer
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#4349 Specify where to open class reference issues
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#4356 Add paragraph to specify that IK chains are editor-only
  tutorials/animation/cutout_animation.rst
Labels: enhancement

#4357 Update GDScript FAQ text to not reference history in link
  about/faq.rst
Labels: enhancement

#4344 Split and edit scripting_continued.rst, improve scripting section
  getting_started/step_by_step/img/groups_in_nodes.png
  getting_started/step_by_step/index.rst
  getting_started/step_by_step/resources.rst
  getting_started/step_by_step/scripting_continued.rst
  tutorials/best_practices/autoloads_versus_internal_nodes.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/io/saving_games.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/static_typing.rst
  tutorials/scripting/groups.rst
  tutorials/scripting/idle_and_physics_processing.rst
  tutorials/scripting/img/groups_add_node_to_group.png
  tutorials/scripting/img/groups_group_editor_window.png
  tutorials/scripting/img/groups_manage_groups_button.png
  tutorials/scripting/img/groups_node_after_adding.png
  tutorials/scripting/img/groups_node_tab.png
  tutorials/scripting/img/nodes_and_scene_instances_player_scene_example.png
  tutorials/scripting/img/nodes_and_scene_instances_remote_tree_no_sprite.png
  tutorials/scripting/img/nodes_and_scene_instances_remote_tree_with_sprite.png
  tutorials/scripting/img/nodes_and_scene_instances_sprite_node.png
  tutorials/scripting/img/nodes_and_scene_instances_sprite_node_renamed.png
  tutorials/scripting/img/nodes_and_scene_instances_ui_scene_example.png
  tutorials/scripting/index.rst
  tutorials/scripting/nodes_and_scene_instances.rst
  tutorials/scripting/overridable_functions.rst
Labels: new page, proofreading

#4064 Write content guidelines
  README.md
  community/contributing/content_guidelines.rst
  community/contributing/index.rst
  getting_started/step_by_step/your_first_game.rst
  tutorials/export/exporting_pcks.rst
  tutorials/rendering/viewports.rst
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement

#4360 Fix couple of missing `#` and `//` for comments in code examples
  tutorials/scripting/overridable_functions.rst
Labels: bug

#4361 Document known issues with variable refresh rate in the editor
  about/troubleshooting.rst
Labels: enhancement

#4366 Fix "intaller" typo in Configuring Visual Studio IDE
  development/cpp/configuring_an_ide/visual_studio.rst
Labels: bug

#4372 Fix code samples on 3.2's State design pattern page
  tutorials/misc/state_design_pattern.rst
Labels: bug

#4376 Add documentation for debugging Godot Engine with CLion
  development/cpp/configuring_an_ide/clion.rst
  development/cpp/configuring_an_ide/img/clion_4_select_attach_to_process.png
  development/cpp/configuring_an_ide/img/clion_5_select_godot_process.png
Labels: enhancement

#4367 Update links to source code files in `core/`
  development/cpp/common_engine_methods_and_macros.rst
  development/cpp/core_types.rst
  development/cpp/custom_godot_servers.rst
  development/cpp/custom_resource_format_loaders.rst
  development/cpp/object_class.rst
  development/cpp/variant_class.rst
Labels: enhancement

#4380 Fix typo in CPU optimization
  tutorials/performance/cpu_optimization.rst
Labels: bug

#4383 Fix proximity and distance fade alpha blend warning, move a GIF
  tutorials/3d/standard_material_3d.rst
Labels: enhancement

#4384 Add note about line skips in the style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement

#4382 Specify that only collada files can use -colonly with empty shapes
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement

#4388 Clarify that GDScript is not based on Python
  about/faq.rst
  about/list_of_features.rst
  getting_started/step_by_step/godot_design_philosophy.rst
  tutorials/assets_pipeline/escn_exporter/index.rst
  tutorials/physics/ray-casting.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4392 Fix method name in Groups
  tutorials/scripting/groups.rst
Labels: bug

#4399 Update Game Development Center name and topics in Tutorials
  community/tutorials.rst
Labels: enhancement

#4067 Update contribution guidelines
  README.md
  about/introduction.rst
  community/contributing/building_the_manual.rst
  community/contributing/class_reference_writing_guidelines.rst
  community/contributing/contributing_to_the_documentation.rst
  community/contributing/documentation_guidelines.rst
  community/contributing/editor_and_docs_localization.rst
  community/contributing/index.rst
  community/contributing/updating_the_class_reference.rst
  community/contributing/ways_to_contribute.rst
  development/cpp/custom_modules_in_cpp.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#4346 Add a page on evaluating expressions using the Expression class
  tutorials/scripting/evaluating_expressions.rst
  tutorials/scripting/index.rst
Labels: enhancement

#4337 make example asteroids spaceship fly up/forward
  tutorials/physics/physics_introduction.rst
Labels: enhancement

#4401 Add GDQuest profiler page
  tutorials/performance/general_optimization.rst
  tutorials/scripting/debug/debugger_panel.rst
  tutorials/scripting/debug/img/profiler.png
  tutorials/scripting/debug/img/self_curve.png
  tutorials/scripting/debug/img/split_curve.png
  tutorials/scripting/debug/index.rst
  tutorials/scripting/debug/the_profiler.rst
Labels: enhancement

#4343 Document how to compare floats properly in Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#4363 Document hiDPI support in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement

#4335 Improve the one-click deploy page
  tutorials/export/one-click_deploy.rst
Labels: enhancement

#4410 Rename the Locales pages to Locale codes for better SEO
  tutorials/i18n/locales.rst
Labels: enhancement
