Repository godotengine/godot-docs, pull requests merged in 2020-08, with the labels that each got.

#3855 Specify more options to `python -m http.server` to avoid errors
  getting_started/workflow/export/exporting_for_web.rst
Labels: enhancement

#3860 Correct grammar, formatting and add download link
  getting_started/scripting/gdscript/gdscript_exports.rst
  getting_started/scripting/gdscript/gdscript_styleguide.rst
  getting_started/scripting/gdscript/static_typing.rst
  getting_started/step_by_step/intro_to_the_editor_interface.rst
Labels: bug, enhancement

#3863 Added examples for collision layer masks
  tutorials/3d/fps_tutorial/part_five.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/ragdoll_system.rst
  tutorials/physics/ray-casting.rst
Labels: enhancement

#3875 Rename the Lights and shadows page to 3D lights and shadows
  tutorials/3d/lights_and_shadows.rst
Labels: enhancement

#3859 Add issue template configuration to replace the dummy support template
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/support_question.md
Labels: enhancement

#3877 Change "Custom Node" to "Other Node" in Scenes and nodes
  getting_started/step_by_step/img/newnode_button.png
  getting_started/step_by_step/scenes_and_nodes.rst
Labels: enhancement

#3878 Fix missing indentation in State design pattern
  tutorials/misc/state_design_pattern.rst
Labels: bug

#3886 Clarify misleading sentence
  getting_started/step_by_step/scripting.rst
Labels: enhancement

#3885 Add missing code formatting to function name in GDScript basics
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3821 Style external links differently to distinguish them from internal ones
  _static/css/custom.css
Labels: enhancement

#3865 Use transparent instead of white to separate editor screenshots
  getting_started/step_by_step/img/script_added.png
  getting_started/step_by_step/img/signals.png
Labels: enhancement

#3866 Improve the Singletons (AutoLoad) documentation
  getting_started/step_by_step/singletons_autoload.rst
Labels: enhancement

#3872 Improve suffix documentation in Importing 3D scenes
  getting_started/workflow/assets/importing_scenes.rst
Labels: enhancement

#3874 Mention the need to rebuild C# solutions for the editor in C# basics
  getting_started/scripting/c_sharp/c_sharp_basics.rst
  getting_started/scripting/c_sharp/c_sharp_differences.rst
  getting_started/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:mono

#3876 Document theming customizations in the README
  README.md
Labels: enhancement

#3879 Mention the OpenGL requirement when using the `--no-window` CLI argument
  getting_started/workflow/export/exporting_for_dedicated_servers.rst
Labels: enhancement

#3888 Update jitter_stutter.rst
  tutorials/misc/jitter_stutter.rst
Labels: enhancement

#3891 Mention Git for Windows CRLF/LF line ending issues
  getting_started/workflow/project_setup/version_control_systems.rst
Labels: enhancement

#3897 Fix nested list formatting in List of features
  about/list_of_features.rst
Labels: bug

#3902 Fix typo "parabolid" -> "paraboloid"
  about/list_of_features.rst
Labels: bug

#3905 Fix first snippet in Change scenes manually
  tutorials/misc/change_scenes_manually.rst
Labels: bug

#3906 Add `disable_fog` to Sky shaders documentation
  tutorials/shading/shading_reference/sky_shader.rst
Labels: enhancement

#3923 Fix GD.RandRange C# call in the "Your First Game" example
  getting_started/step_by_step/your_first_game.rst
Labels: bug, topic:mono

#3926 Fix incorrect state machine parameter in example
  tutorials/animation/animation_tree.rst
Labels: bug

#3929 Reorder exporting articles to be more logically ordered
  getting_started/workflow/export/index.rst
Labels: enhancement

#3932 Document direction and flatness properties in Particle systems (2D)
  tutorials/2d/img/direction1.png
  tutorials/2d/img/direction2.png
  tutorials/2d/img/paranim1.gif
  tutorials/2d/img/paranim2.gif
  tutorials/2d/particle_systems_2d.rst
Labels: enhancement

#3933 Clarify what UV means in CanvasItem shaders
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: enhancement

#3934 Fix double scaling
  tutorials/shading/your_first_shader/your_first_spatial_shader.rst
Labels: bug

#3936 Normalize texture coordinates in [0,1] to avoid seam mark
  tutorials/shading/your_first_shader/your_first_spatial_shader.rst
Labels: bug

#3941 Fix typo in visual scripting Nodes and terminology
  getting_started/scripting/visual_script/nodes_purposes.rst
Labels: bug

#3928 Fix TextureButton texture number in Design interfaces with the Control nodes
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
Labels: bug
