Repository godotengine/godot-docs, pull requests merged in 2020-12, with the labels that each got.

#4415 Fix URL typo in the README
  README.md
Labels: bug

#4422 Move remaining files out of step_by_step/
  about/docs_changelog.rst
  classes/class_directory.rst
  classes/class_file.rst
  classes/class_resource.rst
  classes/class_scenetree.rst
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/introduction/img/engine_design_01.png
  getting_started/introduction/img/engine_design_02.png
  getting_started/introduction/img/engine_design_03.png
  getting_started/introduction/img/engine_design_fsm_plugin.png
  getting_started/introduction/img/engine_design_rpg_in_a_box.png
  getting_started/introduction/img/engine_design_visual_script.png
  getting_started/introduction/index.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/step_by_step/index.rst
  tutorials/export/exporting_basics.rst
  tutorials/export/img/export_android_oneclick.png
  tutorials/export/img/export_editor_android_settings.png
  tutorials/export/img/export_handheld_stretchsettings.png
  tutorials/export/img/export_ios_settings.png
  tutorials/export/img/export_presets_window.png
  tutorials/export/img/export_template_manager.png
  tutorials/export/img/export_template_menu.png
  tutorials/export/img/export_touchsettings.png
  tutorials/export/img/export_web_example.png
  tutorials/export/img/export_web_export_with_debug_disabled.png
  tutorials/export/img/export_web_files.png
  tutorials/export/img/export_xcode_project_folders.png
  tutorials/export/index.rst
  tutorials/scripting/files/autoload.zip
  tutorials/scripting/filesystem.rst
  tutorials/scripting/img/activescene.png
  tutorials/scripting/img/autoload_example.png
  tutorials/scripting/img/autoload_runtime.png
  tutorials/scripting/img/autoload_script.png
  tutorials/scripting/img/autoload_tab.png
  tutorials/scripting/img/autoload_tutorial1.png
  tutorials/scripting/img/nodes_resources.png
  tutorials/scripting/img/resourcerobi.png
  tutorials/scripting/img/singleton.png
  tutorials/scripting/img/spriteprop.png
  tutorials/scripting/img/toptobottom.png
  tutorials/scripting/index.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/scene_tree.rst
  tutorials/scripting/singletons_autoload.rst
Labels: redirect

#4430 Improve learning_new_features.rst
  getting_started/introduction/learning_new_features.rst
Labels: enhancement

#4443 Replace outdated pictures in first_3d_game/
  getting_started/first_3d_game/img/02.player_input/08.actions_list_empty.png
  getting_started/first_3d_game/img/02.player_input/12.move_inputs_mapped.png
Labels: enhancement

#4444 Mention BornCG's 2D tutorials in Tutorials and resources
  community/tutorials.rst
Labels: enhancement

#4456 Add data path location for macOS starting from 10.15 (Catalina)
  tutorials/io/data_paths.rst
Labels: enhancement

#4451 Fix incorrect YouTube video link in Godot's design philosophy
  getting_started/introduction/godot_design_philosophy.rst
Labels: bug

#4464 Fix Hide() in _ready() first player example code
  getting_started/step_by_step/your_first_game.rst
Labels: bug

#4472 Edit animation intro page for clarity and grammar
  tutorials/animation/introduction.rst
Labels: enhancement

#4457 Fix property names in the Baked lightmaps documentation
  tutorials/3d/baked_lightmaps.rst
Labels: bug, enhancement

#4463 Fix list formatting and outdated information in Ways to contribute
  community/contributing/updating_the_class_reference.rst
  community/contributing/ways_to_contribute.rst
Labels: bug

#4476 Document using `nproc` instead of hardcoded number of threads
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement

#4440 Document the ternary operator in Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#4481 Fix MinGW typo in Compiling for Windows
  development/compiling/compiling_for_windows.rst
Labels: bug

#4482 Allow Dependabot to check Python dependencies
  .github/dependabot.yml
Labels: enhancement

#4486 Dependabot: Ignore Sphinx upgrades due to ReadTheDocs on v1
  .github/dependabot.yml
Labels: enhancement

#4490 CLion setup: Update path and screenshot for `CMakeLists.txt`
  development/cpp/configuring_an_ide/clion.rst
  development/cpp/configuring_an_ide/img/clion_1_open.png
Labels: bug

#4492 CLion setup: Reference clang-format alternative
  community/contributing/code_style_guidelines.rst
Labels: enhancement

#4493 Improve grammar for icon paragraph in Exporting for Android
  tutorials/export/exporting_for_android.rst
Labels: enhancement

#4504 Fix PR workflow git-scm.com URL with correct rST syntax
  community/contributing/pr_workflow.rst
Labels: bug
