Repository godotengine/godot-docs, pull requests merged in 2020-10, with the labels that each got.

#3786 Add a page describing what is GDNative
  tutorials/plugins/gdnative/index.rst
  tutorials/plugins/gdnative/what_is_gdnative.rst
Labels: enhancement

#4100 Remove needless note about signals and classes.
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4099 Improve grammar in script templates doc
  getting_started/scripting/creating_script_templates.rst
Labels: enhancement

#4101 Add a Troubleshooting item about high CPU/GPU usage in the editor
  about/troubleshooting.rst
Labels: enhancement

#4187 Fix broken formatting in the beginning of What is GDNative?
  tutorials/plugins/gdnative/what_is_gdnative.rst
Labels: bug

#4186 Fix syntax error in the `randi_range()` example in the RNG tutorial
  tutorials/math/random_number_generation.rst
Labels: bug

#4190 Your first game: Add "Play Scene" keyboard shortcut for MacOS
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#4191 Added glow level usage in Differences between GLES2 and GLES3
  tutorials/misc/gles2_gles3_differences.rst
Labels: enhancement

#4185 Update Bug triage guidelines with the current labels, add doc labels
  community/contributing/bug_triage_guidelines.rst
Labels: enhancement

#4199 Use MinGW-w64 package available in Arch Linux's official repository
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#4203 Add a page about 2D collision shapes
  tutorials/physics/collision_shapes_2d.rst
  tutorials/physics/index.rst
Labels: new page

#4204 Update the Blender collision empties tip for Blender 2.80+
  getting_started/workflow/assets/importing_scenes.rst
Labels: enhancement

#4209 Document `.gitignore` template and editor bug in Version control systems
  getting_started/workflow/project_setup/version_control_systems.rst
Labels: enhancement

#4210 Clarify that procedural geometry can only be created on the CPU
  tutorials/content/procedural_geometry/index.rst
Labels: enhancement

#4212 Document how struct "constants" aren't really constants in C#
  getting_started/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:mono

#4207 [iOS] Update required Xcode/SDK version
  development/compiling/compiling_for_ios.rst
Labels: enhancement

#4218 Add rendering section
  index.rst
  tutorials/rendering/index.rst
Labels: new page

#4224 Remove tutorials/legal, move complying_with_licenses
  about/complying_with_licenses.rst
  about/index.rst
  index.rst
  tutorials/legal/index.rst
Labels: organization, redirect

#4230 Remove water shader tutorial series
  about/docs_changelog.rst
  tutorials/shading/files/2d_water_shader.zip
  tutorials/shading/img/intro_to_shaders_water_godot_project.png
  tutorials/shading/img/intro_to_shaders_water_thumbnail.png
  tutorials/shading/index.rst
  tutorials/shading/intro_to_shaders_water_workshop.rst
Labels: organization, redirect

#4231 Clarify that the Godot editor isn't a "real" Godot project
  getting_started/step_by_step/godot_design_philosophy.rst
Labels: enhancement

#4225 Merge Multi-threading and Optimization into a new Performance section
  classes/class_multimesh.rst
  classes/class_multimeshinstance.rst
  classes/class_mutex.rst
  classes/class_semaphore.rst
  classes/class_thread.rst
  classes/class_visualserver.rst
  index.rst
  tutorials/performance/cpu_optimization.rst
  tutorials/performance/general_optimization.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/performance/img/godot_profiler.png
  tutorials/performance/img/lights_overlap.png
  tutorials/performance/img/lights_separate.png
  tutorials/performance/img/overlap1.png
  tutorials/performance/img/overlap2.png
  tutorials/performance/img/scissoring.png
  tutorials/performance/img/valgrind.png
  tutorials/performance/index.rst
  tutorials/performance/optimizing_3d_performance.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/performance/using_multimesh.rst
  tutorials/performance/using_multiple_threads.rst
  tutorials/performance/using_servers.rst
  tutorials/threads/index.rst
Labels: organization, redirect

#4228 Move and group android docs in platform/android
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/android/img/android_export_preset_plugins_section.png
  tutorials/platform/android/index.rst
  tutorials/platform/index.rst
  tutorials/plugins/index.rst
Labels: organization, redirect

#4227 Move assetlib section to community
  community/asset_library/img/assetlib_asset.png
  community/asset_library/img/assetlib_editor.png
  community/asset_library/img/assetlib_editor_asset.png
  community/asset_library/img/assetlib_editor_download.png
  community/asset_library/img/assetlib_editor_installer.png
  community/asset_library/img/assetlib_editor_installer_error.png
  community/asset_library/img/assetlib_editor_installer_success.png
  community/asset_library/img/assetlib_editor_projects.png
  community/asset_library/img/assetlib_editor_workspace.png
  community/asset_library/img/assetlib_login.png
  community/asset_library/img/assetlib_login_header.png
  community/asset_library/img/assetlib_register-login.png
  community/asset_library/img/assetlib_register.png
  community/asset_library/img/assetlib_search.png
  community/asset_library/img/assetlib_submit.png
  community/asset_library/img/assetlib_website.png
  community/asset_library/index.rst
  community/asset_library/uploading_to_assetlib.rst
  community/asset_library/using_assetlib.rst
  community/asset_library/what_is_assetlib.rst
  index.rst
Labels: organization, redirect

#4215 Move viewport pages
  classes/class_scenetree.rst
  classes/class_viewport.rst
  index.rst
  tutorials/rendering/img/cameras.png
  tutorials/rendering/img/container.png
  tutorials/rendering/img/default_scene.png
  tutorials/rendering/img/input.png
  tutorials/rendering/img/overdraw.png
  tutorials/rendering/img/screenres.png
  tutorials/rendering/img/stretch.png
  tutorials/rendering/img/stretch.svg
  tutorials/rendering/img/stretch_2d_expand.gif
  tutorials/rendering/img/stretch_demo_scene.png
  tutorials/rendering/img/stretch_disabled_expand.gif
  tutorials/rendering/img/stretch_viewport_expand.gif
  tutorials/rendering/img/stretch_viewport_ignore.gif
  tutorials/rendering/img/stretch_viewport_keep.gif
  tutorials/rendering/img/stretch_viewport_keep_height.gif
  tutorials/rendering/img/stretch_viewport_keep_width.gif
  tutorials/rendering/img/stretchsettings.png
  tutorials/rendering/img/texturemenu.png
  tutorials/rendering/img/texturepath.png
  tutorials/rendering/img/unshaded.png
  tutorials/rendering/img/viewportnode.png
  tutorials/rendering/index.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/rendering/viewports.rst
  tutorials/shading/custom_postprocessing.rst
  tutorials/shading/img/planet_example.png
  tutorials/shading/img/planet_gradient.png
  tutorials/shading/img/planet_new_colorrect.png
  tutorials/shading/img/planet_new_viewport.png
  tutorials/shading/img/planet_new_viewport_texture.png
  tutorials/shading/img/planet_noise.png
  tutorials/shading/img/planet_noise_color.png
  tutorials/shading/img/planet_noise_fbm.png
  tutorials/shading/img/planet_noise_fbm_shaded.png
  tutorials/shading/img/planet_noise_smooth.png
  tutorials/shading/img/planet_normals.png
  tutorials/shading/img/planet_ocean.png
  tutorials/shading/img/planet_ocean_reflect.png
  tutorials/shading/img/planet_pick_viewport_texture.png
  tutorials/shading/img/planet_seam.png
  tutorials/shading/img/planet_sincos.png
  tutorials/shading/img/post_blur.png
  tutorials/shading/img/post_boxes.png
  tutorials/shading/img/post_hierarchy1.png
  tutorials/shading/img/post_hierarchy2.png
  tutorials/shading/img/post_outline.png
  tutorials/shading/index.rst
  tutorials/shading/using_viewport_as_texture.rst
  tutorials/viewports/index.rst
Labels: organization, redirect

#4217 Move and rename shader pages
  about/docs_changelog.rst
  classes/class_shader.rst
  tutorials/shading/converting_glsl_to_godot_shaders.rst
  tutorials/shading/index.rst
  tutorials/shading/introduction_to_shaders.rst
  tutorials/shading/shading_reference/shading_language.rst
  tutorials/shading/visual_shaders.rst
  tutorials/shading/your_first_shader/index.rst
  tutorials/shading/your_first_shader/your_first_2d_shader.rst
Labels: organization, redirect

#4219 Move files out of the misc section
  index.rst
  tutorials/inputs/handling_quit_requests.rst
  tutorials/inputs/index.rst
  tutorials/io/binary_serialization_api.rst
  tutorials/io/index.rst
  tutorials/misc/files/llama.zip
  tutorials/misc/img/llama_run.gif
  tutorials/misc/img/state_design_complete.gif
  tutorials/misc/img/state_design_node_setup.png
  tutorials/misc/index.rst
  tutorials/misc/state_design_pattern.rst
  tutorials/plugins/img/rotating_in_editor.gif
  tutorials/plugins/index.rst
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/rendering/gles2_gles3_differences.rst
  tutorials/rendering/img/motion_jitter.gif
  tutorials/rendering/img/motion_normal.gif
  tutorials/rendering/img/motion_stutter.gif
  tutorials/rendering/index.rst
  tutorials/rendering/jitter_stutter.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/scripting/img/pause_popup.png
  tutorials/scripting/img/pausemode.png
  tutorials/scripting/img/signals_shoot1.gif
  tutorials/scripting/img/signals_shoot2.gif
  tutorials/scripting/index.rst
  tutorials/scripting/instancing_with_signals.rst
  tutorials/scripting/pausing_games.rst
Labels: organization, redirect

#4235 Move plugins/gdnative to scripting/
  classes/class_gdnativelibrary.rst
  tutorials/plugins/index.rst
  tutorials/scripting/gdnative/files/cpp_example/SConstruct
  tutorials/scripting/gdnative/gdnative_c_example.rst
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
  tutorials/scripting/gdnative/img/add_main_script.gif
  tutorials/scripting/gdnative/img/c_main_scene_layout.png
  tutorials/scripting/gdnative/img/c_sample_result.png
  tutorials/scripting/gdnative/img/connect_button_signal.gif
  tutorials/scripting/gdnative/img/gdnative_cpp_animated.gif
  tutorials/scripting/gdnative/img/gdnative_cpp_nodes.png
  tutorials/scripting/gdnative/img/gdnative_cpp_sprite.png
  tutorials/scripting/gdnative/img/gdnative_library.png
  tutorials/scripting/gdnative/img/gdnativelibrary_editor.png
  tutorials/scripting/gdnative/img/gdnativelibrary_editor_complete.png
  tutorials/scripting/gdnative/img/gdnativelibrary_resource.png
  tutorials/scripting/gdnative/img/gdnativelibrary_save.png
  tutorials/scripting/gdnative/img/nativescript_library.png
  tutorials/scripting/gdnative/img/nativescript_resource.png
  tutorials/scripting/gdnative/img/new_resource.gif
  tutorials/scripting/gdnative/img/save_gdns.gif
  tutorials/scripting/gdnative/index.rst
  tutorials/scripting/gdnative/what_is_gdnative.rst
  tutorials/scripting/index.rst
Labels: organization, redirect

#4198 Document addition of METALLIC to light() built-ins (pending #42548)
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#4238 Document that rcedit requires valid metadata to work correctly
  getting_started/workflow/export/changing_application_icon_for_windows.rst
Labels: enhancement

#4214 Rename and edit data_paths.rst
  tutorials/io/data_paths.rst
Labels: enhancement, proofreading

#4243 Fix "initialize" typo in Code::Blocks configuration page
  development/cpp/configuring_an_ide/code_blocks.rst
Labels: bug

#3968 Document multiple language support for the class reference
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#4245 Document node configuration warnings in Running code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement

#3955 Add yield with multiple arguments example to GDSCript Basics
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#3867 Improve Inspector plugin tutorial with a better example
  tutorials/plugins/editor/img/inspector_plugin_example.png
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement

#4242 Add a page on the different animation track types
  tutorials/2d/2d_lights_and_shadows.rst
  tutorials/animation/animation_track_types.rst
  tutorials/animation/cutout_animation.rst
  tutorials/animation/img/3D_transform_track.png
  tutorials/animation/img/animation_add_call_method_track.png
  tutorials/animation/img/animation_add_track.png
  tutorials/animation/img/animation_call_method_keyframe.png
  tutorials/animation/img/animation_method_options.png
  tutorials/animation/img/animation_player_animation.png
  tutorials/animation/img/animation_select_audiostreamplayer.png
  tutorials/animation/img/audio_track.png
  tutorials/animation/img/bezier_curve_icon.png
  tutorials/animation/img/bezier_curves.png
  tutorials/animation/img/manipulator_modes.png
  tutorials/animation/img/node_method_args.png
  tutorials/animation/img/node_methods.png
  tutorials/animation/img/track_types.png
  tutorials/animation/index.rst
  tutorials/animation/introduction.rst
Labels: enhancement, new page

#4247 First pass on GDScript 2.0 docs
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#4216 Add a tool to move rst files and images
  _tools/move_rst_files.py
Labels: enhancement

#4253 Add macOS default tools locations on Android export page
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#4255 Remove obsolete warning in signals.rst
  getting_started/step_by_step/signals.rst
Labels: bug

#4254 Update vector math doc
  tutorials/math/vector_math.rst
Labels: enhancement

#4236 Check for updates to GitHub Actions every weekday
  .github/dependabot.yml
Labels: enhancement

#4256 Fix indentation in vector_math.rst, fill at 80 characters
  tutorials/math/vector_math.rst
Labels: bug

#4257 Update the Input Map tab name in the InputEvent documentation
  tutorials/inputs/inputevent.rst
Labels: bug

#4259 Update link to GDNative simple demo project
  tutorials/scripting/gdnative/gdnative_c_example.rst
Labels: bug

#4261 Update external editor page to explain presets
  getting_started/editor/external_editor.rst
  getting_started/editor/img/editor_settings.png
Labels: enhancement

#4260 Rename file for Submitting to the Asset Library
  community/asset_library/index.rst
  community/asset_library/submitting_to_assetlib.rst
  community/asset_library/using_assetlib.rst
Labels: redirect

#4263 Recommend vertex shading for particles in GPU optimization
  tutorials/performance/gpu_optimization.rst
Labels: enhancement

#4241 Merge and edit intro to shader pages
  about/docs_changelog.rst
  tutorials/shaders/introduction_to_shaders.rst
  tutorials/shaders/shader_reference/index.rst
  tutorials/shaders/shader_reference/shaders.rst
Labels: organization, proofreading, redirect

#4258 Add 'Learning new features' page.
  community/tutorials.rst
  getting_started/introduction/img/manual_class_reference_inheritance.png
  getting_started/introduction/img/manual_class_reference_search.png
  getting_started/introduction/img/manual_search.png
  getting_started/introduction/index.rst
  getting_started/introduction/learning_new_features.rst
  index.rst
Labels: new page

#4265 Fix "Better Collada Exporter" link in FAQ
  about/faq.rst
Labels: enhancement

#4268 Strip URL to prevent XSS vulnerability
  _static/js/custom.js
Labels: bug, topic:website

#4275 Improve the shading language reference table
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#4264 Make PerlinNoise3D accept scalars directly
  tutorials/plugins/editor/visual_shader_plugins.rst
Labels: enhancement

#4279 Remove duplicate documentation compatibility notice on the homepage
  index.rst
Labels: enhancement

#4208 Change Dodge the Creeps to be more consistent with the demo projects
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement, topic:mono

#4288 Add a background to math formulas to make them readable on dark theme
  tutorials/math/img/vector_cross1.png
  tutorials/math/img/vector_dot1.png
  tutorials/math/img/vector_dot2.png
  tutorials/math/img/vector_dot3.png
Labels: bug

#4293 Update the IRC logs location to follow migration
  community/channels.rst
Labels: enhancement

#4301 Add `FOG`/`RADIANCE`/`IRRADIANCE` built-ins in Spatial shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#4285 Fix missing quotes in Code style guidelines C++ code sample
  community/contributing/code_style_guidelines.rst
Labels: bug

#4296 Update best_practices_for_engine_contributors
  community/contributing/best_practices_for_engine_contributors.rst
Labels: enhancement

#4292 Improve supported 3D formats faq section
  about/faq.rst
Labels: enhancement

#4283 Improve explanations around shader language's `TIME` variable (3.2)
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: enhancement

#4284 Improve explanations around shader language's `TIME` variable
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement

#4299 Clarify the requirements for exporting projects from the command line
  getting_started/editor/command_line_tutorial.rst
Labels: enhancement

#4304 Fix shader `TIME` description to match how it actually works (3.2)
  tutorials/shading/shading_reference/canvas_item_shader.rst
Labels: bug

#4303 Fix shader `TIME` description to match how it actually works
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: bug

#4306 Add a FAQ item about using Godot to create non-game applications
  about/faq.rst
Labels: enhancement

#4305 Document that "hidden" files and folders are never included in a PCK
  about/troubleshooting.rst
  getting_started/workflow/export/exporting_projects.rst
Labels: enhancement

#4317 Correct small mistakes to Getting Started
  getting_started/editor/command_line_tutorial.rst
  getting_started/step_by_step/scene_tree.rst
Labels: enhancement

#4313 Update "updating_the_class_reference.rst"
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#4324 GDNative C++: fix links to godotengine/godot-cpp
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
Labels: enhancement
