Repository godotengine/godot-docs, pull requests merged in 2021-06, with the labels that each got.

#4942 Add Introduction to editor development page (3.3)
  development/editor/index.rst
  development/editor/introduction_to_editor_development.rst
Labels: enhancement

#4880 Rename documentation pages that have the same name as classref pages
  tutorials/2d/using_tilemaps.rst
  tutorials/3d/gi_probes.rst
  tutorials/3d/using_gridmaps.rst
  tutorials/animation/animation_tree.rst
  tutorials/inputs/inputevent.rst
  tutorials/physics/rigid_body.rst
  tutorials/physics/soft_body.rst
  tutorials/rendering/viewports.rst
  tutorials/scripting/scene_tree.rst
  tutorials/shaders/visual_shaders.rst
  tutorials/ui/gui_containers.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4948 Give input event flow graph a background to make it visible on dark theme
  tutorials/inputs/img/input_event_flow.png
Labels: enhancement

#4895 Fix GDNative C example
  tutorials/scripting/gdnative/gdnative_c_example.rst
  tutorials/scripting/gdnative/img/nativescript_library.png
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4842 Describe the process of writing integration tests for GDScript
  development/cpp/unit_testing.rst
Labels: enhancement

#4886 Remove "Exporting" page and update two "Exporting Projects" images
  about/docs_changelog.rst
  tutorials/export/exporting_basics.rst
  tutorials/export/img/export_android_oneclick.png
  tutorials/export/img/export_editor_android_settings.png
  tutorials/export/img/export_handheld_stretchsettings.png
  tutorials/export/img/export_ios_settings.png
  tutorials/export/img/export_preset.png
  tutorials/export/img/export_presets_window.png
  tutorials/export/img/export_template_manager.png
  tutorials/export/img/export_template_menu.png
  tutorials/export/img/export_touchsettings.png
  tutorials/export/img/export_web_example.png
  tutorials/export/img/export_web_export_with_debug_disabled.png
  tutorials/export/img/export_web_files.png
  tutorials/export/img/export_xcode_project_folders.png
  tutorials/export/img/expselected.png
  tutorials/export/index.rst
Labels: enhancement

#4319 [Complex Text Layouts] Update tutorials and documentation to match TextServer changes.
  about/list_of_features.rst
  classes/class_textserver.rst
  classes/class_textservermanager.rst
  community/contributing/editor_and_docs_localization.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/custom_font3.png
  getting_started/step_by_step/img/custom_font3.png
  tutorials/i18n/img/bidi_override.png
  tutorials/i18n/img/icu_data.png
  tutorials/i18n/img/ui_mirror.png
  tutorials/i18n/internationalizing_games.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#4861 Update documentation changelog for Godot 3.3+
  about/docs_changelog.rst
  tutorials/ui/control_node_gallery.rst
Labels: enhancement

#4835 fix the doc for skip_vertex_transform.
  tutorials/shading/shading_reference/spatial_shader.rst
Labels: bug

#4881 Update exporting for android images
  tutorials/export/exporting_for_android.rst
  tutorials/export/img/androidsdk.png
  tutorials/export/img/custom_build_enable.png
  tutorials/export/img/custom_build_install_template.png
  tutorials/export/img/editor-export-presets-android.png
  tutorials/export/img/editorsettings.png
  tutorials/export/img/export-with-debug-button.png
Labels: cherrypick:3.3, enhancement

#4892 Hard wrap some long comments in godot_interfaces.rst
  getting_started/workflow/best_practices/godot_interfaces.rst
Labels: enhancement

#4824 Add a FAQ item about the UI toolkit used by Godot
  about/faq.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4946 Add a page on testing pull requests
  community/contributing/img/testing_pull_requests_access_checks.png
  community/contributing/img/testing_pull_requests_access_fork.png
  community/contributing/img/testing_pull_requests_checks_artifacts.png
  community/contributing/img/testing_pull_requests_checks_platforms.png
  community/contributing/img/testing_pull_requests_fork_zip.png
  community/contributing/img/testing_pull_requests_nightly_link.png
  community/contributing/index.rst
  community/contributing/testing_pull_requests.rst
Labels: cherrypick:3.3, enhancement

#4848 Marking overlapp area (grey) in 3x3minimal wall tilemap templates
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_walls_tall.png
  tutorials/2d/img/autotile_template_3x3_minimal_topdown_walls_thick.png
  tutorials/2d/using_tilemaps.rst
Labels: cherrypick:3.2, enhancement

#4941 List "important" editor source files in Introduction to editor development
  development/editor/introduction_to_editor_development.rst
Labels: enhancement

#4949 List project manager source file in Introduction to editor development (3.3)
  development/editor/introduction_to_editor_development.rst
Labels: enhancement

#4944 Add a page on using C++ profilers with Godot
  development/cpp/img/cpp_profiler_hotspot_flame_graph.png
  development/cpp/img/cpp_profiler_hotspot_record.png
  development/cpp/img/cpp_profiler_hotspot_view_results.png
  development/cpp/img/cpp_profiler_hotspot_welcome.png
  development/cpp/img/cpp_profiler_verysleepy_results_filtered.png
  development/cpp/img/cpp_profiler_verysleepy_select_process.png
  development/cpp/index.rst
  development/cpp/using_cpp_profilers.rst
Labels: enhancement

#4953 Change text to avoid use of first person in Static typing in GDScript
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement

#4952 Add a workaround for VerySleepy freezing when loading symbols
  development/cpp/using_cpp_profilers.rst
Labels: enhancement

#4954 Fix class reference link on C# features
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4955 Fix a typo in Logic preferences
  tutorials/best_practices/logic_preferences.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4959 Remove duplicate text on Creating iOS plugins
  tutorials/platform/ios/ios_plugin.rst
Labels: bug

#4962 Update class reference link on Scene organization
  tutorials/best_practices/scene_organization.rst
Labels: enhancement

#4965 Cleanup uses of double spaces between words or after punctuation
  conf.py
  development/compiling/compiling_with_script_encryption_key.rst
  development/cpp/binding_to_external_libraries.rst
  development/cpp/configuring_an_ide/code_blocks.rst
  development/cpp/custom_resource_format_loaders.rst
  development/file_formats/tscn.rst
  tutorials/2d/2d_sprite_animation.rst
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/export/exporting_for_web.rst
  tutorials/inputs/input_examples.rst
  tutorials/io/saving_games.rst
  tutorials/math/beziers_and_curves.rst
  tutorials/networking/http_request_class.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/performance/vertex_animation/controlling_thousands_of_fish.rst
  tutorials/physics/physics_introduction.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/ios/ios_plugin.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/rendering/gles2_gles3_differences.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
  tutorials/vr/developing_for_oculus_quest.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_two.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4968 Remove pleonasm in Localization using gettext
  tutorials/i18n/localization_using_gettext.rst
Labels: bug

#4970 Design a title screen: change text to avoid use of first person
  getting_started/step_by_step/ui_main_menu.rst
Labels: enhancement

#4974 Fix GDScript example formating
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4971 Add note about deploying to Android device where relevant
  tutorials/export/exporting_for_android.rst
Labels: cherrypick:3.3, enhancement

#4840 Document lossless WebP
  tutorials/assets_pipeline/importing_images.rst
Labels: enhancement

#4989 Fix small typo
  tutorials/networking/high_level_multiplayer.rst
Labels: bug

#4884 Implemented Algolia search
  _static/css/algolia.css
  _static/js/algolia.js
  _templates/layout.html
  conf.py
  requirements.txt
Labels: enhancement, topic:website

#4991 Community channels: fix User groups link
  community/channels.rst
Labels: bug

#4996 C++ profilers: fix SCons options list
  development/cpp/using_cpp_profilers.rst
Labels: bug

#4997 Fix typo in Compiling for Web: add missing '.' to file extension
  development/compiling/compiling_for_web.rst
Labels: bug

#4998 Random number generation: Fix comment for `randi_range()` example
  tutorials/math/random_number_generation.rst
Labels: bug

#5001 Clarify the purpose of `load_steps` in TSCN file format
  development/file_formats/tscn.rst
Labels: enhancement

#5002 Fix dark mode in JavaScript class reference
  _static/css/custom.css
Labels: bug, topic:website

#5003 Remove extra comma in iOS plugins page
  tutorials/platform/ios/ios_plugin.rst
Labels: bug

#5004 Fix JavaScript class reference dark mode
  _static/css/custom.css
Labels: bug

#5005 Added shader built-in constants + fix formatting of table headers
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/particle_shader.rst
  tutorials/shaders/shader_reference/sky_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#5008 Fix C# code label in Multimesh example
  tutorials/performance/using_multimesh.rst
Labels: bug, topic:mono

#5011 Add C# variant tab to Pausing games example
  tutorials/scripting/pausing_games.rst
Labels: enhancement, topic:mono

#5020 Adjust GDscript example formatting in Using Containers
  tutorials/ui/gui_containers.rst
Labels: enhancement

#5018 Replace C# if statement with switch statement to match GDScript
  tutorials/best_practices/data_preferences.rst
Labels: enhancement, topic:mono

#5016 Remove unused GitHub Actions scheduled workflow
  .github/workflows/build_offline_docs.yml
Labels: bug, cherrypick:3.2

#5021 Use explicit casting for `MobScene.Instance()` in 3D game tutorial
  getting_started/first_3d_game/05.spawning_mobs.rst
Labels: bug, topic:mono

#5023 Fixes some shader built-ins (again)
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/particle_shader.rst
  tutorials/shaders/shader_reference/sky_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#5024 Remove unnecessary parentheses from if statements in VR started tutorial
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
Labels: enhancement

#5026 Fix typo in Differences between GLES2 and GLES3
  tutorials/rendering/gles2_gles3_differences.rst
Labels: bug, cherrypick:3.3, enhancement

#5029 Add missing C# example semicolon in Using AnimationTree
  tutorials/animation/animation_tree.rst
Labels: bug

#5036 Remove deleted channel "Jeremy Bullock" from video tutorials list in Tutorials and resources
  community/tutorials.rst
Labels: bug

#5040 Update the keyboard shortcut to open the editor help
  getting_started/editor/default_key_mapping.rst
  getting_started/step_by_step/intro_to_the_editor_interface.rst
Labels: bug

#5039 Update the keyboard shortcut to open the editor help
  getting_started/introduction/first_look_at_the_editor.rst
  tutorials/editor/default_key_mapping.rst
Labels: bug

#5042 Update OpenXR plugin information
  tutorials/vr/vr_primer.rst
Labels: enhancement

#4993 Remove main screen keyboard shortcuts from introduction
  getting_started/introduction/first_look_at_the_editor.rst
Labels: enhancement

#5045 Fixed class_name keyword ordering in GDScript style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#5046 Add missing space in GLSL function list in Differences between GLES2 and GLES3
  tutorials/rendering/gles2_gles3_differences.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5048 Fix hyperlink usage in Your first 2D/3D shaders
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug

#5049 Fix scrolling the navigation bar on mobile
  _static/css/algolia.css
Labels: bug

#5051 Remove the note about GLES2 exclusive 2D batching
  tutorials/optimization/batching.rst
Labels: bug

#5052 Change name of exported variable
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#5054 Remove extraneous "from" in Using the Asset Library
  community/asset_library/using_assetlib.rst
Labels: bug

#5057 Remove obsolete C++11 flag from C++ module examples
  development/cpp/binding_to_external_libraries.rst
  development/cpp/custom_modules_in_cpp.rst
Labels: bug, cherrypick:3.3

#5055 Exporting for Web: Update info about WebGL
  tutorials/export/exporting_for_web.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement
