Repository godotengine/godot-docs, pull requests merged in 2021-10, with the labels that each got.

#5296 Fix typo in WebSocket tutorial
  tutorials/networking/websocket.rst
Labels: bug

#5294 Fix `emit_signal` arity in Signals tutorial
  getting_started/step_by_step/signals.rst
Labels: bug

#5288 Fix grammar issue in "Ways to contribute" page
  community/contributing/ways_to_contribute.rst
Labels: bug, cherrypick:3.3, cherrypick:3.4

#5345 Add a page on making a UI controller/keyboard navigable (Master)
  tutorials/ui/gui_navigation.rst
  tutorials/ui/img/focus_settings.png
  tutorials/ui/index.rst
Labels: enhancement
