Repository godotengine/godot-docs, pull requests merged in 2021-02, with the labels that each got.

#4615 Change the order and text of UI workflows list
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
Labels: enhancement

#4618 Fix CSharp instanciation example
  tutorials/scripting/nodes_and_scene_instances.rst
Labels: bug

#4624 Add a more descriptive custom 404 error page
  conf.py
  requirements.txt
Labels: enhancement, topic:website

#4626 Revert "Fix Sphinx `add_lexer()` deprecation in the GDScript extension (#4594)"
  _extensions/gdscript.py
Labels: bug

#4621 Add Capture effect to audio buses page (4.0)
  tutorials/audio/audio_buses.rst
  tutorials/audio/img/audio_buses4.png
Labels: enhancement

#4627 Fix confusing writing in Your first 3D shader
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug

#4631 Fix `height()` functions missing `return` in Your second 3D shader
  tutorials/shaders/your_first_shader/your_second_3d_shader.rst
Labels: bug

#4634 inputevent: Fix/update default signal name
  tutorials/inputs/inputevent.rst
Labels: bug

#4637 Fix GDNative demo projects repository link
  tutorials/plugins/gdnative/gdnative-c-example.rst
Labels: bug

#4641 Update link to `awesome-godot` repository
  community/tutorials.rst
Labels: enhancement

#4642 Update link to `awesome-godot` repository
  community/tutorials.rst
Labels: enhancement

#4636 Discourage using Linux distribution packages for Android SDKs
  development/compiling/compiling_for_android.rst
  tutorials/export/exporting_for_android.rst
Labels: enhancement

#4628 Document Firefox WebGL being slow on Linux and workaround
  tutorials/export/exporting_for_web.rst
Labels: enhancement

#4620 Add a page about gamepad/controller support in Godot
  tutorials/inputs/controllers_gamepads_joysticks.rst
  tutorials/inputs/index.rst
Labels: enhancement

#4633 Clarify the 2 editor assetlib browsers displaying different categories
  community/asset_library/using_assetlib.rst
Labels: enhancement

#4643 Fix incorrect code block tab syntax in Controllers documentation
  development/compiling/introduction_to_the_buildsystem.rst
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: bug

#4644 Remove mentions of IRC in favor of the new Contributors Chat platform
  about/introduction.rst
  community/asset_library/submitting_to_assetlib.rst
  community/channels.rst
  community/contributing/bug_triage_guidelines.rst
  community/contributing/class_reference_writing_guidelines.rst
  community/contributing/pr_workflow.rst
  community/contributing/updating_the_class_reference.rst
  community/contributing/ways_to_contribute.rst
  index.rst
Labels: enhancement

#4648 Update docs about named colors in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#4646 Update 3D rendering limitations to mention Use Debanding project setting
  tutorials/3d/3d_rendering_limitations.rst
Labels: cherrypick:3.2, enhancement

#4650 Add a note to set default values for custom resources
  tutorials/scripting/resources.rst
Labels: enhancement

#4651 Clarify deadzone difference for `Input.get_vector()` in Controllers
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement

#4560 Improve C# setup instructions
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:mono

#4521 Update instructions for compiling for Android
  development/compiling/compiling_for_android.rst
Labels: enhancement

#4660 Update link to the new Android export instructions page for Godot 3.2.4
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#4678 Add images for Vector2's angle methods
  img/vector2_angle.png
  img/vector2_angle_to.png
  img/vector2_angle_to_point.png
Labels: enhancement

#4629 Add an Using the web editor page
  about/troubleshooting.rst
  tutorials/editor/index.rst
  tutorials/editor/using_the_web_editor.rst
Labels: enhancement

#4683 Update HTML5 classref with autogenerated jsdoc.
  tutorials/platform/html5_shell_classref.rst
Labels: cherrypick:3.2, class reference, enhancement

#4684 Edit images for Vector2's angle methods
  img/vector2_angle.png
  img/vector2_angle_to.png
  img/vector2_angle_to_point.png
Labels: class reference, enhancement

#4674 Document that addons/ `class_name` is only visible if part of a plugin
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4679 Add a notice to explain the purpose of the top-level `img/` folder
  img/README.md
Labels: enhancement

#4665 Highlight requirement to have an `_init` function in GDNative C++ example
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
Labels: enhancement

#4649 Mention `Input.is_action_just_pressed()` on the Controllers page
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement

#4612 Mention the DynamicFont fallback system in Internationalizing games
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement

#4585 Remove mentions of Perforce and PlasticSCM as they're seldom tested
  tutorials/scripting/filesystem.rst
Labels: enhancement

#4611 Clarify the need to include Mono libraries for export templates as well
  development/compiling/compiling_with_mono.rst
Labels: enhancement, topic:mono

#4689 Fix "part" typo in Introduction to the UI system
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
Labels: enhancement

#4690 Remove Xbox One from the platforms provided by Lone Wolf Technology
  tutorials/platform/consoles.rst
Labels: bug, cherrypick:3.2

#4693 Update iOS plugins documentation
  tutorials/export/exporting_for_ios.rst
  tutorials/platform/index.rst
  tutorials/platform/ios/index.rst
  tutorials/platform/ios/ios_plugin.rst
  tutorials/platform/ios/plugins_for_ios.rst
Labels: enhancement

#4695 Add libstdc++-static to Fedora pre-compile one-liner
  development/compiling/compiling_for_x11.rst
Labels: enhancement
