Repository godotengine/godot-docs, pull requests merged in 2021-04, with the labels that each got.

#4801 Add a mention of the PR review process and proposals to the contribution guide
  community/contributing/ways_to_contribute.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4803 Remove March from 3.3 release date
  about/release_policy.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4811 Remove extra "v" option from exporting for android
  tutorials/export/exporting_for_android.rst
Labels: bug

#4812 Remove extra "v" option from exporting for android (3.3)
  getting_started/workflow/export/exporting_for_android.rst
Labels: bug

#4816 Replaced obsolete screenshot to actual version (visual_shader_plugins.rst)
  tutorials/plugins/editor/img/visual_shader_plugins_result1.png
  tutorials/plugins/editor/visual_shader_plugins.rst
Labels: enhancement

#4808 Improve VSCode and VS C# instructions and mention "Build" button
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:mono

#4809 Improve VSCode and VS C# instructions and mention "Build" button(3.3)
  getting_started/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:mono

#4810 Clarify optimization instructions
  tutorials/performance/gpu_optimization.rst
Labels: enhancement

#4819 Replace single quotes with double in 2D movement
  tutorials/2d/2d_movement.rst
Labels: enhancement

#4823 Remove a stray double quote from Exporting
  tutorials/export/exporting_basics.rst
Labels: bug

#4807 Validation layers on Android
  development/compiling/compiling_for_android.rst
  development/cpp/index.rst
  development/cpp/vulkan/index.rst
  development/cpp/vulkan/vulkan_validation_layers.rst
Labels: enhancement

#4827 Add macOS instructions for MacPorts to go alongside Homebrew
  development/compiling/compiling_for_ios.rst
  development/compiling/compiling_for_osx.rst
  tutorials/i18n/localization_using_gettext.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4832 Fix "SurfaceTool" link pointing to itself in Using the SurfaceTool
  tutorials/3d/procedural_geometry/surfacetool.rst
Labels: bug

#4838 Document how `override.cfg` works in relation with feature tags
  tutorials/export/feature_tags.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4851 Fixed typo
  development/editor/editor_style_guide.rst
Labels: cherrypick:3.2, cherrypick:3.3

#4853 Mention ICO size caveats in Changing application icon for Windows
  tutorials/export/changing_application_icon_for_windows.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4846 Removing " a" (singular) in front of "ViewportContainers" (plural)
  tutorials/scripting/change_scenes_manually.rst
Labels: enhancement

#4854 Release policy: Add 3.4 beta, mark 3.2 as EOL
  about/release_policy.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4855 Update List of features page for Godot 3.3
  about/list_of_features.rst
Labels: enhancement

#4849 Document AnimationNodeTimeSeek with clarified usage and code example
  tutorials/animation/animation_tree.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4862 Fix "example" spelling in Frequently asked questions
  about/faq.rst
Labels: bug

#4864 Add a "see also" link to the GDScript grammar in the GDScript section
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/index.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4867 Fix broken C# tab in Resources scripting tutorial
  tutorials/scripting/resources.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4868 Clarify 'bgr' swizzle example in Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#4850 Fix entry type in C# example for loading savegames
  tutorials/io/saving_games.rst
Labels: bug

#4869 Remove duplicate setup instructions from android custom build page
  tutorials/export/android_custom_build.rst
  tutorials/export/img/custom_build_bin_folder.png
  tutorials/export/img/custom_build_command_line.png
  tutorials/export/img/custom_build_command_line2.png
  tutorials/export/img/custom_build_editor_settings.png
  tutorials/export/img/custom_build_editor_settings2.png
  tutorials/export/img/custom_build_install_android_studio1.png
  tutorials/export/img/custom_build_open_shell.png
  tutorials/export/img/custom_build_platform_tools.png
  tutorials/export/img/custom_build_sdkmanager.png
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4871 Bump required Mono version to 6.12
  development/compiling/compiling_with_mono.rst
Labels: cherrypick:3.2, cherrypick:3.3, topic:mono

#4873 Update build-tools to 30.0.3
  development/compiling/compiling_for_android.rst
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#4876 Fixed "GetNode" inconsistency
  tutorials/math/vector_math.rst
Labels: enhancement, topic:mono

#4883 Add an image for Camera3D is_position_behind and is_position_in_frustum
  img/camera3d_position_frustum.png
Labels: enhancement
