Repository godotengine/godot-docs, pull requests merged in 2021-01, with the labels that each got.

#4510 Mention required steps for Godot 3.2+ in part 3 of FPS tutorial
  tutorials/3d/fps_tutorial/part_three.rst
Labels: bug

#4513 Add commas to improve readability in GDNative C++ example
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
Labels: bug

#4348 Update Rider prerequisites to match Godot 3.2.3+
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement

#4454 Update documentation about HTML5 exporting and compiling
  development/compiling/compiling_for_web.rst
  tutorials/export/exporting_for_web.rst
Labels: enhancement

#4501 Add a white background to the nodes/resources image
  tutorials/scripting/img/nodes_resources.png
Labels: bug

#4439 Mention the ProjectSettings globalize/localize methods in Data paths
  tutorials/io/data_paths.rst
Labels: enhancement

#4466 Improve importing 3D scenes page
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement

#4449 Remove known bugs notice about 2D skeletons on Android
  tutorials/animation/2d_skeletons.rst
Labels: enhancement

#4465 Update services_for_ios.rst
  tutorials/platform/services_for_ios.rst
Labels: enhancement

#4515 Fix "SchlickGGX" typo in Standard Material 3D
  tutorials/3d/standard_material_3d.rst
Labels: bug

#4527 Clarify instructions in Your first 2D shader
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: enhancement

#4523 Fix C# code for changing scene
  tutorials/scripting/change_scenes_manually.rst
Labels: bug

#4536 Add missing punctuation to FPS tutorial part 1
  tutorials/3d/fps_tutorial/part_one.rst
Labels: enhancement

#4534 Code style: Now using clang-format 11
  community/contributing/code_style_guidelines.rst
Labels: enhancement

#4537 GitHub Actions: Upload ZIPs of compiled HTML documentation for reading
  .github/workflows/ci.yml
Labels: enhancement

#4542 Clarify the introduction of Exporting for Android
  tutorials/export/exporting_for_android.rst
Labels: enhancement

#4545 Make Vulkan requirement an important note in Compiling for macOS
  development/compiling/compiling_for_osx.rst
Labels: enhancement

#4548 Fix typos in FPS Tutorial Part 2
  tutorials/3d/fps_tutorial/part_two.rst
Labels: bug, enhancement

#4549 Fixed typo: multiples -> multiplies
  tutorials/2d/2d_lights_and_shadows.rst
Labels: bug

#4543 Fix minor typos in part_two.rst
  tutorials/3d/fps_tutorial/part_two.rst
Labels: bug

#4553 Add C# `using` dependencies to Your first game
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement, topic:mono

#4552 Fix `:ref:` link typo in C# basics
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug

#4559 Fix `emit_signal()` call in GDScript basics' coroutine example
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: bug

#4561 Update ray length constant to match style guidelines
  tutorials/physics/ray-casting.rst
Labels: enhancement

#4547 Add note about content guidelines in writing guidelines page
  community/contributing/docs_writing_guidelines.rst
Labels: enhancement

#4538 Link to DevDocs on the home page for offline browsing
  index.rst
Labels: enhancement

#4213 Document iOS plugins
  tutorials/platform/index.rst
  tutorials/platform/ios/img/ios_export_preset_plugins_section.png
  tutorials/platform/ios/index.rst
  tutorials/platform/ios/ios_plugin.rst
Labels: new page

#4541 Add a page about Godot editor development
  development/editor/index.rst
  development/editor/introduction_to_editor_development.rst
Labels: enhancement

#4566 Fix typo in input_examples.rst
  tutorials/inputs/input_examples.rst
Labels: bug

#4569 Add MP3 to the list of supported audio formats
  about/list_of_features.rst
Labels: enhancement

#4571 Fix typo in Audio streams
  tutorials/audio/audio_streams.rst
Labels: bug

#4577 3D game: Fix translation/rotation values to be the same as in images
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug

#4578 3D Game: Fix text to reflect the context images for collision masks
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: bug

#4582 Revert "[3.2] Update instructions to setup Exporting for Android"
  getting_started/workflow/export/exporting_for_android.rst
  getting_started/workflow/export/img/androidsdk.png
Labels: enhancement

#4535 Add a page referencing the Control gallery image and demo
  img/control_gallery.png
  tutorials/ui/control_node_gallery.rst
  tutorials/ui/index.rst
Labels: enhancement

#4592 Add @TheGuideKnight's 2D tutorial series to Tutorials and resources
  community/tutorials.rst
Labels: enhancement

#4579 Backport theming changes from `master` to `3.1`
  _static/css/custom.css
  _static/js/custom.js
  conf.py
Labels: enhancement

#4574 Document the executable permission for the dedicated server binary
  tutorials/export/exporting_for_dedicated_servers.rst
Labels: enhancement

#4596 Add a notice about changes coming to 3.2.4 to Exporting for Android
  getting_started/workflow/export/exporting_for_android.rst
Labels: enhancement

#4598 Fix collision layer math formula in Physics introduction
  tutorials/physics/physics_introduction.rst
Labels: bug

#4604 Reference Custom Effects property in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#4609 Replace instance diagram images for readability on all backgrounds
  getting_started/step_by_step/img/instancing_diagram_open_world.png
  getting_started/step_by_step/img/instancing_diagram_shooter.png
Labels: enhancement

#4608 Mention WebXR support in AR/VR primer page
  tutorials/vr/vr_primer.rst
Labels: enhancement

#4606 Update audio stream and audio import pages, document MP3 support
  tutorials/assets_pipeline/importing_audio_samples.rst
  tutorials/audio/audio_streams.rst
  tutorials/audio/img/audio_stream_import.png
Labels: enhancement
