Repository godotengine/godot-docs, pull requests merged in 2021-07, with the labels that each got.

#5056 Fixed GetNode inconsistencies
  tutorials/physics/ray-casting.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, topic:mono

#5064 Update making_main_screen_plugins.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: enhancement

#5047 Reword in Box Containers section in Using Containers
  tutorials/ui/gui_containers.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5044 Update one-click_deploy.rst - Enabled USB debugging on android devices.
  tutorials/export/one-click_deploy.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5035 Fix outdated stable version number in List of features
  about/list_of_features.rst
Labels: bug

#5043 Update inputevent.rst
  tutorials/inputs/inputevent.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5067 Fix Sphinx warning about GDScriptLexer
  _extensions/gdscript.py
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5037 Add Xcode Instruments to the "Using C++ profilers with Godot" page.
  development/cpp/img/cpp_profiler_time_profiler.png
  development/cpp/img/cpp_profiler_time_profiler_record.png
  development/cpp/img/cpp_profiler_time_profiler_result.png
  development/cpp/img/cpp_profiler_xcode_menu.png
  development/cpp/using_cpp_profilers.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5034 Recommend not adding nodes as a child of AnimationPlayer
  tutorials/animation/introduction.rst
Labels: cherrypick:3.3, enhancement

#5031 Mention the editor must be restarted for `class_name` icons to display
  getting_started/step_by_step/scripting_continued.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5030 Properly format file paths in Import process tutorial
  tutorials/assets_pipeline/import_process.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4994 Getting source: Add --depth 1 arguments
  development/compiling/getting_source.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5017 Rename generic C# function name to GDScript example equivalent
  tutorials/best_practices/godot_interfaces.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement, topic:mono

#5068 Remove update block from sphinx-tabs extension
  requirements.txt
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4980 Fixed link to C# documentation (issue: #4979)
  about/list_of_features.rst
Labels: bug, cherrypick:3.2

#4975 FAQ: Revision on punctuation
  about/faq.rst
Labels: cherrypick:3.3, enhancement

#4963 Remove misplaced (?) characters in Exporting for iOS
  tutorials/export/exporting_for_ios.rst
Labels: bug

#4829 Mention that you can link to the Godot license to comply with it
  about/complying_with_licenses.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4780 Fixed minor error in wording in Scene Organisation tutorial
  tutorials/best_practices/scene_organization.rst
Labels: enhancement

#4969 Clarify when to use BackBufferCopy in Screen-reading shaders
  tutorials/shaders/screen-reading_shaders.rst
Labels: cherrypick:3.3, enhancement

#4857 Minor change to section on for loop syntax
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement

#4756 Add a section about editor tooltips blinking in the Troubleshooting page
  about/troubleshooting.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4951 Add a page on using C++ profilers (3.3)
  development/cpp/img/cpp_profiler_hotspot_flame_graph.png
  development/cpp/img/cpp_profiler_hotspot_record.png
  development/cpp/img/cpp_profiler_hotspot_view_results.png
  development/cpp/img/cpp_profiler_hotspot_welcome.png
  development/cpp/img/cpp_profiler_verysleepy_results_filtered.png
  development/cpp/img/cpp_profiler_verysleepy_select_process.png
  development/cpp/index.rst
  development/cpp/using_cpp_profilers.rst
Labels: enhancement

#5070 Update CSS for new sphinx-tabs version
  _static/css/custom.css
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4958 Minor improvements to `Custom modules in C++` tutorial
  development/cpp/custom_modules_in_cpp.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4982 Update GDScript EBNF grammar
  development/file_formats/gdscript_grammar.rst
Labels: enhancement

#5071 Document nested ternary-if usage example in GDScript reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#5006 Fix inline code going out of bounds
  tutorials/platform/ios/ios_plugin.rst
Labels: enhancement, topic:website

#5073 Fix text formatting in Contributing to the documentation
  community/contributing/contributing_to_the_documentation.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5072 Fix hyperlink formatting in Building the manual
  community/contributing/building_the_manual.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4573 Update issue template with links to doc tutorials
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: enhancement

#5027 Add common use case scenarios in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement

#5077 Small improvements to named types explanation
  tutorials/best_practices/scenes_versus_scripts.rst
Labels: enhancement

#5079 CSS: Remove error higlight
  _static/css/custom.css
  _static/css/dev.css
  conf.py
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4496 Draft: Remove "simple", "simply", "easy", and "just" from the docs
  community/contributing/best_practices_for_engine_contributors.rst
  community/contributing/docs_writing_guidelines.rst
  development/cpp/binding_to_external_libraries.rst
  development/cpp/core_types.rst
  development/cpp/custom_modules_in_cpp.rst
  development/cpp/custom_resource_format_loaders.rst
  getting_started/first_3d_game/index.rst
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/step_by_step/instancing.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/2d/particle_systems_2d.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/high_dynamic_range.rst
  tutorials/3d/introduction_to_3d.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/procedural_geometry/index.rst
  tutorials/3d/reflection_probes.rst
  tutorials/3d/using_transforms.rst
  tutorials/animation/animation_tree.rst
  tutorials/animation/introduction.rst
  tutorials/assets_pipeline/import_process.rst
  tutorials/editor/command_line_tutorial.rst
  tutorials/inputs/custom_mouse_cursor.rst
  tutorials/io/binary_serialization_api.rst
  tutorials/io/saving_games.rst
  tutorials/math/beziers_and_curves.rst
  tutorials/math/interpolation.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/math/vectors_advanced.rst
  tutorials/networking/webrtc.rst
  tutorials/networking/websocket.rst
  tutorials/performance/using_multiple_threads.rst
  tutorials/performance/using_servers.rst
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/using_kinematic_body_2d.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/plugins/editor/spatial_gizmos.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/scripting/filesystem.rst
  tutorials/scripting/gdnative/gdnative_c_example.rst
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
  tutorials/scripting/gdscript/gdscript_advanced.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/pausing_games.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/scene_tree.rst
  tutorials/scripting/visual_script/nodes_purposes.rst
  tutorials/shaders/making_trees.rst
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
  tutorials/ui/gui_containers.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_two.rst
Labels: enhancement

#5083 Note which primitives can currently be batched
  tutorials/optimization/batching.rst
Labels: enhancement

#5081 Update GDScriptLexer for new GDScript features
  _extensions/gdscript.py
Labels: enhancement

#5084 Add reference to build-in variables in Shader Language overview
  tutorials/shaders/shader_reference/shading_language.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#3892 Documentation for the GDScript documentation comments
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
  tutorials/scripting/gdscript/index.rst
Labels: new page

#3668 Add a C++ usage guidelines page
  about/faq.rst
  community/contributing/code_style_guidelines.rst
  community/contributing/cpp_usage_guidelines.rst
  community/contributing/index.rst
Labels: enhancement, new page

#5085 Update docs changelog
  about/docs_changelog.rst
Labels: enhancement

#5059 Improve and update Baked lightmaps for 3.3's CPU lightmapper
  tutorials/3d/baked_lightmaps.rst
Labels: cherrypick:3.3, enhancement

#5086 Fix inline code going out of bounds for 3.3
  tutorials/platform/ios/ios_plugin.rst
Labels: enhancement

#5088 Add a `.gitattributes` recommendation to the AssetLib guidelines
  community/asset_library/submitting_to_assetlib.rst
Labels: cherrypick:3.3, enhancement

#5087 Add Windows configuration example for VS Code
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#5089 Fix styling for keyboard shortcuts
  _static/css/custom.css
Labels: bug, cherrypick:3.2, cherrypick:3.3, topic:website

#5090 [iOS] Extend plugins documentation
  tutorials/platform/ios/img/ios_export_preset_plugins_section.png
  tutorials/platform/ios/ios_plugin.rst
  tutorials/platform/ios/plugins_for_ios.rst
Labels: cherrypick:3.3, enhancement

#5095 Fix GLSL hyperlink formatting in List of features
  about/list_of_features.rst
Labels: bug, cherrypick:3.3

#5094 Fix :ref: formatting in Canvas layers
  tutorials/2d/canvas_layers.rst
Labels: bug, cherrypick:3.3

#5093 Fixed wording for when _enter_tree and _ready is called.
  tutorials/best_practices/godot_notifications.rst
Labels: cherrypick:3.3, enhancement

#5097 Fix Github hyperlink formatting in Using SoftBody
  tutorials/physics/soft_body.rst
Labels: bug, cherrypick:3.3

#5096 Fix a typo in Compiling with Mono
  development/compiling/compiling_with_mono.rst
Labels: cherrypick:3.2, cherrypick:3.3, proofreading

#5099 Document the lack of debugging support in Using the web editor
  tutorials/editor/using_the_web_editor.rst
Labels: cherrypick:3.3, enhancement

#5102 Add notes about Blender backface culling when exporting to glTF
  tutorials/3d/standard_material_3d.rst
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement

#5101 Add audio stream player images
  tutorials/audio/audio_streams.rst
  tutorials/audio/img/audio_stream_2d.png
  tutorials/audio/img/audio_stream_3d.png
  tutorials/audio/img/audio_stream_player.png
Labels: cherrypick:3.3, enhancement

#5103 Add notes about Blender backface culling when exporting to glTF
  getting_started/workflow/assets/importing_scenes.rst
  tutorials/3d/spatial_material.rst
Labels: enhancement

#4957 Remove misplaced (?) character in Data preferences
  tutorials/best_practices/data_preferences.rst
Labels: bug

#5110 Add keywords to the Default editor shortcuts page
  tutorials/editor/default_key_mapping.rst
Labels: cherrypick:3.3, enhancement

#5112 Document running Godot from a terminal on macOS in Command line tutorial
  tutorials/editor/command_line_tutorial.rst
Labels: cherrypick:3.3, enhancement

#5109 Update Godot version caveats in Controllers, gamepads and joysticks
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: cherrypick:3.3, enhancement

#4839 Document lossless WebP (3.4)
  getting_started/workflow/assets/importing_images.rst
Labels: enhancement

#5113 Scene tree: Show functions as code
  tutorials/scripting/scene_tree.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5116 Added more notes about shader varyings
  tutorials/shaders/shader_reference/shading_language.rst
Labels: cherrypick:3.4, enhancement

#5117 Add workaround for using the same texture in both 2D and 3D
  tutorials/assets_pipeline/importing_images.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5104 Update android_in_app_purchases.rst
  tutorials/platform/android/android_in_app_purchases.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5078 Add GDNative C++ code examples to Dodge the Creeps aka Your first 2D game
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/files/dodge_assets_with_gdnative.zip
Labels: enhancement

#5111 Add Rooms and Portals docs
  tutorials/3d/index.rst
  tutorials/3d/portals/advanced_room_and_portal_usage.rst
  tutorials/3d/portals/editing_rooms_and_portals.rst
  tutorials/3d/portals/first_steps_with_rooms_and_portals.rst
  tutorials/3d/portals/img/convex_hull.png
  tutorials/3d/portals/img/cull_instance.png
  tutorials/3d/portals/img/example_scenetree.png
  tutorials/3d/portals/img/freeform.png
  tutorials/3d/portals/img/portal_inspector.png
  tutorials/3d/portals/img/portal_points.png
  tutorials/3d/portals/img/room_manager.png
  tutorials/3d/portals/img/room_overlap.png
  tutorials/3d/portals/img/room_points.png
  tutorials/3d/portals/img/roomgroup_notification.png
  tutorials/3d/portals/img/roomgroups.png
  tutorials/3d/portals/img/simple_room.png
  tutorials/3d/portals/img/simple_scenetree.png
  tutorials/3d/portals/img/tent.png
  tutorials/3d/portals/img/tent_terrain.png
  tutorials/3d/portals/img/visibility_enabler.png
  tutorials/3d/portals/index.rst
  tutorials/3d/portals/introduction_to_rooms_and_portals.rst
  tutorials/3d/portals/rooms_and_portals_example.rst
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple1.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple2.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple3.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple4.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple5.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple6.png
  tutorials/3d/portals/using_objects_in_rooms_and_portals.rst
  tutorials/optimization/optimizing_3d_performance.rst
Labels: enhancement

#5122 Add a GDScript style guide recommendation for multiline wrapping
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5120 Fix C# mistakes in Custom drawing in 2D
  tutorials/2d/custom_drawing_in_2d.rst
Labels: bug, topic:mono

#5124 Prevent the "ref" badge from appearing in the sidebar
  _static/css/custom.css
Labels: topic:website

#5132 Update introduction section in TSCN file format to be more accurate
  development/file_formats/tscn.rst
Labels: bug, enhancement

#5133 Update introduction section in TSCN file format to be more accurate
  development/file_formats/tscn.rst
Labels: cherrypick:3.3, enhancement

#5137 Replace various links with `ref` roles
  community/contributing/contributing_to_the_documentation.rst
  development/compiling/compiling_for_linuxbsd.rst
  development/cpp/configuring_an_ide/clion.rst
  getting_started/first_2d_game/01.project_setup.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement
