Repository godotengine/godot-docs, pull requests merged in 2021-08, with the labels that each got.

#5138 GDScript style guide: tint borders of good/bad code examples
  _static/css/custom.css
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:website

#5140 Update Sphinx to 4.0.2 to match RTD
  requirements.txt
Labels: enhancement

#5141 Hide "Edit on GitHub" link on the class reference TOC page
  classes/index.rst
Labels: bug

#5135 Fix 3 typos in index.rst
  tutorials/3d/procedural_geometry/index.rst
Labels: bug, cherrypick:3.3, cherrypick:3.4

#5136 Add extra info from SurfaceTool class page
  tutorials/3d/procedural_geometry/surfacetool.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5145 Grammar fix.
  tutorials/2d/using_tilemaps.rst
Labels: bug, cherrypick:3.3, cherrypick:3.4

#5146 Adds Timer Autostart step in Signals tutorial
  getting_started/step_by_step/img/signals_18_timer_autostart.png
  getting_started/step_by_step/signals.rst
Labels: enhancement

#5142 Remove comments from gdscript exports page and rephrase exporting a node description
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#5128 Update VR pages for oculus API deprecation
  tutorials/vr/developing_for_oculus_quest.rst
  tutorials/vr/vr_primer.rst
Labels: enhancement

#5149 Update the pixel snap project setting name in Using tileMaps
  tutorials/2d/using_tilemaps.rst
Labels: cherrypick:3.3, cherrypick:3.4, enhancement

#5151 Don't disable WebP when compiling small binaries in Optimizing for size
  development/compiling/optimizing_for_size.rst
Labels: enhancement, cherrypick:3.4

#5153 One phrase fix for idle_and_physics_processing.rst
  tutorials/scripting/idle_and_physics_processing.rst
Labels: bug

#5154 Portals - update docs for 3.4 beta 3
  tutorials/3d/portals/advanced_room_and_portal_usage.rst
  tutorials/3d/portals/editing_rooms_and_portals.rst
  tutorials/3d/portals/first_steps_with_rooms_and_portals.rst
  tutorials/3d/portals/img/autoplace_priority.png
  tutorials/3d/portals/img/convert_rooms_button.png
  tutorials/3d/portals/img/house_scene.png
  tutorials/3d/portals/img/island.png
  tutorials/3d/portals/img/portal_point_editing.png
  tutorials/3d/portals/img/portal_points.png
  tutorials/3d/portals/img/room_point_editing.png
  tutorials/3d/portals/img/room_points.png
  tutorials/3d/portals/img/roomlist_node.png
  tutorials/3d/portals/rooms_and_portals_example.rst
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple1.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple2.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple3.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple4.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple5.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple6.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_1.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_2.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_3.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_4.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_5.png
  tutorials/3d/portals/tutorial_simple/img/tutorial_simple_6.png
  tutorials/3d/portals/using_objects_in_rooms_and_portals.rst
Labels: enhancement

#5157 Update `--no-window` option description in Command line tutorial
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5155 Fix a misleading statement in the inspector plugins tutorial
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement

#5156 [3.x] Improve Inspector plugin tutorial with a better example
  tutorials/plugins/editor/img/inspector_plugin_example.png
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement, cherrypick:3.3

#4977 Update the saving games doc to describe tradeoffs of JSON vs binary s…
  tutorials/io/saving_games.rst
Labels: enhancement

#5164 Remove UE version number
  tutorials/scripting/resources.rst
Labels: enhancement

#5163 JSON vs binary serialization improvements
  tutorials/io/saving_games.rst
Labels: enhancement

#5162 Overhaul gui skinning page for the new theme editor in 3.4
  tutorials/ui/files/skin_assets.zip
  tutorials/ui/gui_skinning.rst
  tutorials/ui/img/add_item_type.png
  tutorials/ui/img/default_font.png
  tutorials/ui/img/default_preview.png
  tutorials/ui/img/import_items.png
  tutorials/ui/img/manage_items.png
  tutorials/ui/img/new_theme.png
  tutorials/ui/img/sb1.png
  tutorials/ui/img/sb2.png
  tutorials/ui/img/scene_preview.png
  tutorials/ui/img/skinbuttons1.png
  tutorials/ui/img/skinbuttons2.png
  tutorials/ui/img/theme_editor.png
  tutorials/ui/img/theme_item_inspector.png
  tutorials/ui/img/themecheck.png
  tutorials/ui/img/themeci.png
  tutorials/ui/img/themeci2.png
  tutorials/ui/img/themeci3.png
Labels: enhancement, cherrypick:3.4

#4976 Update the binary serialization API doc to accurately describe how Ob…
  tutorials/io/binary_serialization_api.rst
Labels: enhancement

#5166 Document the permission requirement on Android on network tutorials
  tutorials/networking/high_level_multiplayer.rst
  tutorials/networking/http_client_class.rst
  tutorials/networking/http_request_class.rst
  tutorials/networking/webrtc.rst
  tutorials/networking/websocket.rst
Labels: enhancement

#5169 Fix example in Optimization Using Servers tutorial
  tutorials/performance/using_servers.rst
Labels: bug

#5171 Update Bug triage guidelines for newly added labels
  community/contributing/bug_triage_guidelines.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5178 Remove code block indentation in Editor icons
  development/editor/creating_icons.rst
Labels: bug

#5175 Fix sub resource ID formatting in Object Class
  development/cpp/object_class.rst
Labels: bug

#5179 Make minor grammar improvement in Frequently asked questions
  about/faq.rst
Labels: enhancement

#5184 Make pragma once sub-header clearer in C++ usage guidelines
  community/contributing/cpp_usage_guidelines.rst
Labels: enhancement

#5183 Use oxford commas consistently in About the Asset Library
  community/asset_library/what_is_assetlib.rst
Labels: enhancement

#5177 Add navigation section and document 3D navigation (3.4)
  index.rst
  tutorials/navigation/img/bake_navmesh.png
  tutorials/navigation/img/baked_navmesh.png
  tutorials/navigation/img/new_navigation_mesh.png
  tutorials/navigation/index.rst
  tutorials/navigation/real_time_navigation_3d.rst
Labels: enhancement

#5186 Small navigation page fix (3.4)
  tutorials/navigation/real_time_navigation_3d.rst
Labels: bug

#5187 Tweak the Submitting to the Asset Library article
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement

#5182 Update configuring android studio page
  development/cpp/configuring_an_ide/android_studio.rst
  development/cpp/configuring_an_ide/img/android_studio_setup_project_1.png
Labels: enhancement

#5180 Improve theming documentation
  development/editor/introduction_to_editor_development.rst
  tutorials/ui/gui_skinning.rst
  tutorials/ui/gui_using_theme_editor.rst
  tutorials/ui/img/tank-kings-by-winterpixel-games.png
  tutorials/ui/img/theme_pin_the_stylebox.png
  tutorials/ui/img/theme_preview_picker.png
  tutorials/ui/img/theme_type_editor.png
  tutorials/ui/index.rst
Labels: enhancement

#5190 [3.4] Add a new GUI skinning tutorial and a theme editor guide
  development/editor/introduction_to_editor_development.rst
  getting_started/step_by_step/ui_introduction_to_the_ui_system.rst
  tutorials/gui/files/skin_assets.zip
  tutorials/gui/gui_skinning.rst
  tutorials/gui/gui_using_theme_editor.rst
  tutorials/gui/img/add_item_type.png
  tutorials/gui/img/default_font.png
  tutorials/gui/img/default_preview.png
  tutorials/gui/img/import_items.png
  tutorials/gui/img/manage_items.png
  tutorials/gui/img/new_theme.png
  tutorials/gui/img/sb1.png
  tutorials/gui/img/sb2.png
  tutorials/gui/img/scene_preview.png
  tutorials/gui/img/skinbuttons1.png
  tutorials/gui/img/skinbuttons2.png
  tutorials/gui/img/tank-kings-by-winterpixel-games.png
  tutorials/gui/img/theme_editor.png
  tutorials/gui/img/theme_item_inspector.png
  tutorials/gui/img/theme_pin_the_stylebox.png
  tutorials/gui/img/theme_preview_picker.png
  tutorials/gui/img/theme_type_editor.png
  tutorials/gui/img/themecheck.png
  tutorials/gui/img/themeci.png
  tutorials/gui/img/themeci2.png
  tutorials/gui/img/themeci3.png
  tutorials/gui/index.rst
Labels: enhancement

#5192 Document nested ternary-if usage example in GDScript basics
  getting_started/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, cherrypick:3.3

#5197 Always use variables to access iOS-only singletons in Plugins for iOS
  tutorials/platform/ios/plugins_for_ios.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5207 Add introduction for animation section
  tutorials/animation/index.rst
Labels: enhancement

#5210 Fix incorrect default blend mode in Environment and post-processing
  tutorials/3d/environment_and_post_processing.rst
Labels: bug

#5212 Document that compiling a binary with Clang on Linux adds a `.llvm` suffix
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5196 Recommend LLDB over GDB for VSCode
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5213 Update List of features for recent changes in the `master` branch
  about/list_of_features.rst
Labels: enhancement

#5211 Link to godot-proposals instead of godot-roadmap in List of features
  about/list_of_features.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4
