Repository godotengine/godot-docs, pull requests merged in 2021-03, with the labels that each got.

#4699 Added Andrew Wilkes' video/text tutorial platforms
  community/tutorials.rst
Labels: enhancement

#4700 Add `.editorconfig` and `.gitattributes` files for automatic settings
  .editorconfig
  .gitattributes
Labels: cherrypick:3.2, enhancement

#4702 Add Godot Tutorials channel and info to 3.2
  community/tutorials.rst
Labels: enhancement

#4707 Make example code less misleading in Optimization using Servers
  tutorials/performance/using_servers.rst
Labels: cherrypick:3.2, enhancement

#4701 Clarify that MSVC build shell requirements
  development/compiling/compiling_for_windows.rst
Labels: enhancement

#4709 Add missing C++17 flag for Windows build in GDNative SConstruct
  tutorials/plugins/gdnative/files/cpp_example/SConstruct
Labels: bug

#4710 Correct LTO RAM usage in compiling instructions
  development/compiling/compiling_for_linuxbsd.rst
  development/compiling/compiling_for_windows.rst
  development/compiling/optimizing_for_size.rst
Labels: enhancement

#4711 Fix typo in GDScript Dude link
  community/tutorials.rst
Labels: bug, cherrypick:3.2

#4713 Fixed a not needed ';' in GDScript sample code
  getting_started/step_by_step/your_first_game.rst
Labels: enhancement

#4706 Document the relative export path behavior in Command line tutorial
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement

#4697 Add a FAQ item about Godot's lack of ECS
  about/faq.rst
Labels: enhancement

#4696 Update copyright statements in Complying with licenses
  about/complying_with_licenses.rst
Labels: cherrypick:3.2, enhancement

#4600 Document false positives when using Embed Pck on Windows
  tutorials/export/exporting_for_pc.rst
Labels: enhancement

#4421 Add a comment style guide for Godot contributions
  community/contributing/code_style_guidelines.rst
Labels: enhancement

#4714 Renamed directory godot_headers to godot-headers in GDNative SConstruct
  tutorials/plugins/gdnative/files/cpp_example/SConstruct
Labels: bug

#4715 Remove another easily misunderstood joke
  tutorials/assets_pipeline/importing_translations.rst
Labels: cherrypick:3.2, enhancement

#4675 2DSkeletons: Fix "copy polygon to uv" button name
  tutorials/animation/2d_skeletons.rst
Labels: enhancement

#4687 Move your_first_game to a dedicated section, write index.rst
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/02.player_scene.rst
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/07.finishing-up.rst
  getting_started/first_2d_game/files/dodge_assets.zip
  getting_started/first_2d_game/img/add_node.png
  getting_started/first_2d_game/img/add_script_button.png
  getting_started/first_2d_game/img/attach_node_window.png
  getting_started/first_2d_game/img/completed_main_scene.png
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/dodge_preview.gif
  getting_started/first_2d_game/img/draw_path2d.gif
  getting_started/first_2d_game/img/export_variable.png
  getting_started/first_2d_game/img/filesystem_dock.png
  getting_started/first_2d_game/img/folder-content.png
  getting_started/first_2d_game/img/grid_snap_button.png
  getting_started/first_2d_game/img/group_tab.png
  getting_started/first_2d_game/img/instance_scene.png
  getting_started/first_2d_game/img/lock_children.png
  getting_started/first_2d_game/img/main_scene_nodes.png
  getting_started/first_2d_game/img/mob_animations.gif
  getting_started/first_2d_game/img/new-project-button.png
  getting_started/first_2d_game/img/path2d_buttons.png
  getting_started/first_2d_game/img/player_coll_shape.png
  getting_started/first_2d_game/img/player_scale.png
  getting_started/first_2d_game/img/player_scene_nodes.png
  getting_started/first_2d_game/img/player_signal_connection.png
  getting_started/first_2d_game/img/player_signals.png
  getting_started/first_2d_game/img/set_collision_mask.png
  getting_started/first_2d_game/img/setting-project-width-and-height.png
  getting_started/first_2d_game/img/setting-stretch-mode.png
  getting_started/first_2d_game/img/spriteframes_panel.png
  getting_started/first_2d_game/img/spriteframes_panel2.png
  getting_started/first_2d_game/img/start_button_shortcut.png
  getting_started/first_2d_game/img/ui_anchor.png
  getting_started/first_2d_game/index.rst
  getting_started/first_3d_game/index.rst
  getting_started/step_by_step/index.rst
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/signals.rst
  getting_started/step_by_step/your_first_game.rst
  index.rst
  tutorials/export/exporting_basics.rst
  tutorials/physics/using_area_2d.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
Labels: enhancement

#4728 Fix typo "turn of" -> "turn off" in Using tilemaps
  tutorials/2d/using_tilemaps.rst
Labels: bug

#4725 Clarify that built-in animation changes are lost if not saved to files
  tutorials/assets_pipeline/importing_scenes.rst
Labels: cherrypick:3.2, enhancement

#4732 Fix incorrect link in Code style guidelines
  community/contributing/code_style_guidelines.rst
Labels: bug

#4731 Fix GDScript code sample in Matrices and transforms
  tutorials/math/matrices_and_transforms.rst
Labels: cherrypick:3.2, enhancement

#4738 Adjust HTTPClient example code to not break in HTML5 exports
  tutorials/networking/http_client_class.rst
Labels: bug, cherrypick:3.2

#4748 Update the "Customizing the HTML5 Shell" page
  tutorials/platform/customizing_html5_shell.rst
Labels: cherrypick:3.2, enhancement

#4753 Document disabling the NVIDIA text overlay in the Troubleshooting page
  about/troubleshooting.rst
Labels: cherrypick:3.2, enhancement

#4749 Add missing "use" in "use as" in Nodes and scene instances
  tutorials/scripting/nodes_and_scene_instances.rst
Labels: bug

#4742 Recommend triangulating and applying transforms in Importing 3D scenes
  tutorials/assets_pipeline/importing_scenes.rst
Labels: cherrypick:3.2, enhancement

#4740 Fix code samples in VR starter tutorial part 1
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
Labels: bug, cherrypick:3.2

#4736 Recommend adding Godot folder to AV exceptions in Compiling for Windows
  development/compiling/compiling_for_windows.rst
Labels: cherrypick:3.2, enhancement

#4755 Fix code formatting in GDScript style guide
  getting_started/scripting/gdscript/gdscript_styleguide.rst
Labels: bug

#4759 Fix description of `randfn()` in Random number generation
  tutorials/math/random_number_generation.rst
Labels: bug, cherrypick:3.2

#4757 Rewrite release policy to clarify versioning and include 3.3
  about/release_policy.rst
Labels: cherrypick:3.2

#4572 Update Sphinx to 3.5.2, sphinx_rtd_theme to 0.5.1 and sphinx-tabs to 2.1.0
  requirements.txt
Labels: cherrypick:3.2, enhancement

#4760 Use "code editor" instead of "IDE" to refer to Visual Studio Code
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement

#4763 Add Open Graph tags for better link preview on social media
  _templates/layout.html
  conf.py
  requirements.txt
Labels: cherrypick:3.2, enhancement

#4746 Add a 16-tile template to the 3x3 minimal section of the Using tilemaps page
  tutorials/2d/img/autotile_template_3x3_minimal_16.png
  tutorials/2d/using_tilemaps.rst
Labels: enhancement

#4723 Update first_2d_game C# variables capitalization
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement

#4718 add C# code tabs to pages under tutorials/audio
  tutorials/audio/recording_with_microphone.rst
  tutorials/audio/sync_with_audio.rst
Labels: enhancement, topic:mono

#4658 Add more details to the Android export instructions
  tutorials/export/exporting_for_android.rst
Labels: cherrypick:3.3, enhancement

#4597 Add code example for weakref
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#4462 Add C# code examples for HTTPClient and HTTPRequest
  tutorials/networking/http_client_class.rst
  tutorials/networking/http_request_class.rst
Labels: enhancement, topic:mono

#4424 add c# code to 2d-sprite-animation page
  tutorials/2d/2d_sprite_animation.rst
Labels: enhancement, topic:mono

#4458 Improve documentation around exporting projects
  tutorials/export/exporting_basics.rst
  tutorials/export/exporting_projects.rst
Labels: enhancement

#4769 Remove 3.2.x notes not needed in the 3.3 branch
  about/list_of_features.rst
  development/compiling/compiling_for_osx.rst
  getting_started/editor/using_the_web_editor.rst
  getting_started/scripting/c_sharp/c_sharp_basics.rst
  getting_started/workflow/assets/importing_audio_samples.rst
  tutorials/optimization/optimizing_3d_performance.rst
  tutorials/platform/android_in_app_purchases.rst
  tutorials/plugins/android/android_plugin.rst
  tutorials/shading/migrating_to_godot_shader_language.rst
Labels: enhancement

#4724 Add C# code tabs to pages under first_3d_game
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: enhancement

#4775 Simplify C# NuGet package doc to match 3.2.3+
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: cherrypick:3.3, enhancement, topic:mono

#4778 Fixed small mistake in example (Thread Safe APIs)
  tutorials/performance/thread_safe_apis.rst
Labels: bug, cherrypick:3.2, cherrypick:3.3

#4762 Add a FAQ item about why Godot aims to keep its core feature set small
  about/faq.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4770 Remove documentation specific to 3.2.4 (now 3.3, in its own branch)
  about/list_of_features.rst
  about/troubleshooting.rst
  getting_started/editor/index.rst
  getting_started/editor/using_the_web_editor.rst
  getting_started/scripting/c_sharp/c_sharp_basics.rst
  getting_started/workflow/assets/importing_audio_samples.rst
  getting_started/workflow/export/exporting_for_android.rst
  tutorials/optimization/optimizing_3d_performance.rst
  tutorials/plugins/android/android_plugin.rst
Labels: enhancement

#4771 Document workaround for running a project with a ZIP data pack
  tutorials/export/exporting_projects.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4777 Update C# Connect method: `binds` is a Godot array
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:mono

#4785 Fix C# IntersectRay usage: 'exclude' is a Godot Array
  tutorials/physics/ray-casting.rst
Labels: bug

#4784 Document how to avoid light leaks in GI Probes
  tutorials/3d/gi_probes.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4733 Use a separate GitHub Actions workflow to build offline documentation
  .github/workflows/build_offline_docs.yml
  .github/workflows/ci.yml
  README.md
  index.rst
Labels: cherrypick:3.2, enhancement

#4792 Link to User groups page for language-based communities
  community/channels.rst
Labels: cherrypick:3.2, cherrypick:3.3, enhancement

#4737 [3.3] Update iOS plugins documentation
  getting_started/workflow/export/exporting_for_ios.rst
  tutorials/platform/index.rst
  tutorials/platform/ios/img/ios_export_preset_plugins_section.png
  tutorials/platform/ios/index.rst
  tutorials/platform/ios/ios_plugin.rst
  tutorials/platform/ios/plugins_for_ios.rst
Labels: enhancement

#4659 [3.3] Update the Android export instructions
  getting_started/workflow/export/exporting_for_android.rst
  getting_started/workflow/export/img/androidsdk.png
Labels: enhancement

#4522 [3.3] Update instructions for compiling for Android
  development/compiling/compiling_for_android.rst
Labels: enhancement

#4797 [3.2] Reverts HTML5 changes, fix github links
  tutorials/platform/customizing_html5_shell.rst
  tutorials/platform/html5_shell_classref.rst
Labels: bug, class reference

#4798 [3.3] [HTML5] Backport HTML5 changes from master
  development/compiling/compiling_for_web.rst
  getting_started/workflow/export/exporting_for_web.rst
  tutorials/platform/customizing_html5_shell.rst
Labels: enhancement
