Repository godotengine/godot-docs, pull requests merged in 2022-06, with the labels that each got.

#5846 Point to stable branch of godot-headers in GDNative C example
  tutorials/scripting/gdnative/gdnative_c_example.rst
Labels: enhancement, cherrypick:3.4

#5855 Add missing Navigation category
  index.rst
  tutorials/navigation/index.rst
Labels: bug

#5829 Add missing C# samples for the "Inspector plugins" page
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement, topic:dotnet

#5847 Document Label3D and text mesh (3.5)
  tutorials/3d/3d_text.rst
  tutorials/3d/img/label_3d.png
  tutorials/3d/img/text_mesh.png
  tutorials/3d/img/text_mesh_texture.png
  tutorials/3d/img/text_mesh_textured.png
  tutorials/3d/index.rst
Labels: enhancement

#5837 Fix outdated comment about GDNative on HTML5
  tutorials/scripting/gdnative/what_is_gdnative.rst
Labels: bug, cherrypick:3.4, cherrypick:3.5

#5849 Update first look at godot's editor for 3.5
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/img/editor_intro_project_manager.png
  getting_started/introduction/img/editor_intro_project_templates.png
Labels: enhancement

#5865 Fix C# connect signal for 3.x
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug, topic:dotnet

#5864 [3.5] Update MeshLibrary navmesh setup image
  tutorials/3d/img/meshlibrary_scene.png
Labels: enhancement

#5876 Improve side-aligned image positioning
  _static/css/custom.css
Labels: bug, topic:website

#5880 Docs writing guidelines: Replace "direct" with "active"
  community/contributing/docs_writing_guidelines.rst
Labels: enhancement, cherrypick:3.5

#5885 Fix `websocket_url` on the minimal WebSocket client example
  tutorials/networking/websocket.rst
Labels: bug

#5882 Update OS feature tags list with new architecture features and OS names in 4.0
  tutorials/export/feature_tags.rst
Labels: enhancement

#5883 Improved documentation for GDScript `in` keyword
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5869 Update "locale codes" list.
  _tools/codespell-ignore-lines.txt
  tutorials/i18n/locales.rst
Labels: enhancement

#5870 Update blender gltf export information
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5879 Add Android troubleshooting instructions in One-click deploy
  tutorials/export/one-click_deploy.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5897 Improved title of 3d_text.rst for descriptive navigation
  tutorials/3d/3d_text.rst
Labels: enhancement
