Repository godotengine/godot-docs, pull requests merged in 2022-11, with the labels that each got.

#6359 Fix Variant class link pointing to latest branch in Data preferences
  tutorials/best_practices/data_preferences.rst
Labels: bug, cherrypick:3.5

#6360 Update VS Community license terms in Configuring an IDE
  development/cpp/configuring_an_ide/visual_studio.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6

#6384 Change match typeof() example from REAL to FLOAT
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#6382 Document SSR not working with `SCREEN_TEXTURE`/`DEPTH_TEXTURE`
  tutorials/3d/environment_and_post_processing.rst
Labels: enhancement, cherrypick:3.5, topic:rendering

#6380 Fixed a grammatical error
  tutorials/best_practices/godot_interfaces.rst
Labels: bug

#6391 Add styling for call-to-action notes on the class reference
  _static/css/custom.css
Labels: enhancement, content:classref, topic:website

#5955 Make sidebar categories collapsible
  _static/css/custom.css
  _static/js/custom.js
  index.rst
Labels: enhancement, discussion, topic:website

#6267 Add documentation pages on 2D and 3D antialiasing
  about/list_of_features.rst
  tutorials/2d/2d_antialiasing.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/2d/img/antialiasing_msaa_2x.webp
  tutorials/2d/img/antialiasing_msaa_4x.webp
  tutorials/2d/img/antialiasing_msaa_8x.webp
  tutorials/2d/img/antialiasing_none_scaled.webp
  tutorials/2d/index.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/img/antialiasing_fxaa.webp
  tutorials/3d/img/antialiasing_msaa_2x.webp
  tutorials/3d/img/antialiasing_msaa_4x.webp
  tutorials/3d/img/antialiasing_msaa_8x.webp
  tutorials/3d/img/antialiasing_none_scaled.webp
  tutorials/3d/img/antialiasing_ssaa_2.25x.webp
  tutorials/3d/img/antialiasing_ssaa_4x.webp
  tutorials/3d/img/antialiasing_taa.webp
  tutorials/3d/index.rst
Labels: enhancement, content:new page, topic:rendering

#6335 Update inspector plugin documentation
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug

#6397 Change the square logo for a wide one
  _static/css/custom.css
  _static/js/custom.js
  _tools/list-unused-images.sh
  conf.py
  img/docs_logo.png
  img/docs_logo.svg
Labels: enhancement, topic:website

#6390 Add a page on physical light units
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/img/physical_light_units_color_temperature_chart.webp
  tutorials/3d/index.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/physical_light_and_camera_units.rst
Labels: enhancement, content:new page, topic:rendering

#6398 Document recording at a higher resolution than the screen in Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement

#6399 Adjust the class reference badge to use an icon
  _static/css/custom.css
Labels: enhancement, topic:website

#6400 Make the maximum page width slightly bigger
  _static/css/custom.css
Labels: enhancement, topic:website

#6394 Update position of the Ethical banner when folding changes
  _static/js/custom.js
Labels: bug, topic:website

#6395 Hide the ref badge from RTD's version selector
  _static/css/custom.css
Labels: bug, topic:website

#6404 Correct exceptions for the class reference badge
  _static/css/custom.css
  conf.py
Labels: bug, topic:website

#6406 Make the TOC expand button easier to click
  _static/css/custom.css
Labels: bug, topic:website

#6407 Remove search highlights from the page and the history
  _static/css/custom.css
  _static/js/custom.js
  conf.py
Labels: enhancement, topic:website

#6418 Update internationalization docs for 4.0
  tutorials/assets_pipeline/importing_translations.rst
  tutorials/i18n/img/localization_using_gettext_pot_generation.webp
  tutorials/i18n/internationalizing_games.rst
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement

#6410 Fix styling issues in the sidebar
  _static/css/custom.css
  _static/js/custom.js
Labels: bug, topic:website

#6412 Improve the styling of the search results page
  _static/css/custom.css
Labels: enhancement, topic:website

#6366 Update first look at the editor images for 4.0
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/img/editor_intro_3d_viewport.png
  getting_started/introduction/img/editor_intro_3d_viewport.webp
  getting_started/introduction/img/editor_intro_3d_viewport_perspective.png
  getting_started/introduction/img/editor_intro_3d_viewport_perspective.webp
  getting_started/introduction/img/editor_intro_bottom_panel_animation.png
  getting_started/introduction/img/editor_intro_bottom_panel_animation.webp
  getting_started/introduction/img/editor_intro_bottom_panels.png
  getting_started/introduction/img/editor_intro_bottom_panels.webp
  getting_started/introduction/img/editor_intro_editor_empty.png
  getting_started/introduction/img/editor_intro_editor_empty.webp
  getting_started/introduction/img/editor_intro_filesystem_dock.png
  getting_started/introduction/img/editor_intro_filesystem_dock.webp
  getting_started/introduction/img/editor_intro_help_class_animated_sprite.png
  getting_started/introduction/img/editor_intro_help_class_animated_sprite.webp
  getting_started/introduction/img/editor_intro_inspector_dock.png
  getting_started/introduction/img/editor_intro_inspector_dock.webp
  getting_started/introduction/img/editor_intro_language.png
  getting_started/introduction/img/editor_intro_language.webp
  getting_started/introduction/img/editor_intro_project_manager.png
  getting_started/introduction/img/editor_intro_project_manager.webp
  getting_started/introduction/img/editor_intro_project_templates.png
  getting_started/introduction/img/editor_intro_project_templates.webp
  getting_started/introduction/img/editor_intro_scene_dock.png
  getting_started/introduction/img/editor_intro_scene_dock.webp
  getting_started/introduction/img/editor_intro_search_help.png
  getting_started/introduction/img/editor_intro_search_help.webp
  getting_started/introduction/img/editor_intro_search_help_button.png
  getting_started/introduction/img/editor_intro_search_help_button.webp
  getting_started/introduction/img/editor_intro_toolbar_2d.png
  getting_started/introduction/img/editor_intro_toolbar_2d.webp
  getting_started/introduction/img/editor_intro_toolbar_3d.png
  getting_started/introduction/img/editor_intro_toolbar_3d.webp
  getting_started/introduction/img/editor_intro_top_menus.png
  getting_started/introduction/img/editor_intro_top_menus.webp
  getting_started/introduction/img/editor_intro_workspace_2d.png
  getting_started/introduction/img/editor_intro_workspace_2d.webp
  getting_started/introduction/img/editor_intro_workspace_3d.png
  getting_started/introduction/img/editor_intro_workspace_3d.webp
  getting_started/introduction/img/editor_intro_workspace_assetlib.png
  getting_started/introduction/img/editor_intro_workspace_assetlib.webp
  getting_started/introduction/img/editor_intro_workspace_script.png
  getting_started/introduction/img/editor_intro_workspace_script.webp
  getting_started/introduction/img/key_concepts_node_menu.png
  getting_started/introduction/img/key_concepts_node_menu.webp
Labels: enhancement

#6429 Mention `DEPTH` must be set in all branches in Spatial shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#6393 Add a Godot 3 to Godot 4 upgrade guide
  about/release_policy.rst
  tutorials/editor/index.rst
  tutorials/editor/upgrading_to_godot_4.rst
Labels: enhancement, content:new page

#6437 Update all instances of `instance()` to `instantiate()`
  development/cpp/custom_audiostreams.rst
  development/cpp/custom_resource_format_loaders.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/io/background_loading.rst
  tutorials/io/saving_games.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/scripting/instancing_with_signals.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/singletons_autoload.rst
Labels: bug
