Repository godotengine/godot-docs, pull requests merged in 2022-02, with the labels that each got.

#5570 Clarify reference erasure warning in Using Servers
  tutorials/performance/using_servers.rst
Labels: enhancement, cherrypick:3.4

#5582 Fix first 2D game image
  getting_started/first_2d_game/img/filesystem_dock.png
Labels: bug

#5583 Add missing closing quotation marks in GDScript format strings
  tutorials/scripting/gdscript/gdscript_format_string.rst
Labels: bug

#5578 Fix missing underscore in methods
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: bug

#5588 Add hand tracking documention to OpenXR chapter
  tutorials/vr/openxr/handtracking.rst
  tutorials/vr/openxr/img/arvr_mesh_example.png
  tutorials/vr/openxr/img/arvr_nodes_example.png
  tutorials/vr/openxr/img/arvr_openxr_hand.png
  tutorials/vr/openxr/img/arvr_openxr_pose.png
  tutorials/vr/openxr/img/hand_tracking_bones.png
  tutorials/vr/openxr/img/hand_tracking_nodes.png
  tutorials/vr/openxr/index.rst
Labels: new page

#5581 Update tutorials: VisualServer to RenderingServer
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/3d/procedural_geometry/index.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/io/background_loading.rst
  tutorials/io/files/resource_queue.gd
  tutorials/performance/thread_safe_apis.rst
  tutorials/performance/using_multimesh.rst
  tutorials/performance/using_servers.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/rendering/viewports.rst
Labels: bug

#5593 Document using Pyston to speed up builds on Linux
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5590 Fix vr starter tutorial link
  tutorials/vr/openxr/index.rst
Labels: enhancement

#5600 Fix shortcut info on signals page
  getting_started/step_by_step/signals.rst
Labels: bug

#5611 Fix a typo in Using the MeshDataTool
  tutorials/3d/procedural_geometry/meshdatatool.rst
Labels: bug

#5612 Fix another typo in Using the SurfaceTool
  tutorials/3d/procedural_geometry/surfacetool.rst
Labels: bug

#5617 Update wording to use DynamicFont theme overrides in Your first 2D game
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/custom_font3.png
Labels: bug

#5620 Update main scene selection popup image for Godot 3.4
  getting_started/step_by_step/img/nodes_and_scenes_14_main_scene_popup.png
Labels: enhancement

#5629 Remove warning about fixed issue in Using an external text editor
  tutorials/editor/external_editor.rst
Labels: bug

#5628 Add section about the RESET animation in Introduction to the animation features
  tutorials/animation/introduction.rst
Labels: enhancement

#5624 3d game tutorial: fix asset url version
  getting_started/first_3d_game/01.game_setup.rst
Labels: bug

#5623 Doc edit suggestion in '05.the_main_game_scene.rst' to avoid confusion
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/img/grid_snap_button.png
Labels: enhancement

#5632 Fixed one spelling mistake.
  tutorials/ui/gui_using_theme_editor.rst
Labels: bug, cherrypick:3.4

#5636 Updated the Lincense to match the current year
  conf.py
Labels: bug

#5605 Update GDScript syntax highlighting for Godot 4.0
  _extensions/gdscript.py
  _static/css/custom.css
Labels: enhancement, topic:website

#5606 Improve GDScript lexer for Godot 3.x
  _extensions/gdscript.py
Labels: enhancement, topic:website

#5638 add legacy ImageMagick command for ICO convert
  tutorials/export/changing_application_icon_for_windows.rst
Labels: enhancement

#5639 Document line continuation in GDScript
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#5579 Add @ to onready annotated variables in examples
  tutorials/best_practices/godot_interfaces.rst
  tutorials/scripting/gdnative/gdnative_c_example.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/scripting/nodes_and_scene_instances.rst
Labels: bug

#5586 Fixed grammar in "Awaiting for signals" end note
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#5643 requirements: Update to Sphinx 4.4.0, RTD theme 1.0.0, notfound 0.8
  requirements.txt
Labels: dependencies, cherrypick:3.4

#5604 Remove references to NativeScript 1.0 in GDNative C++ example
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5654 Fix missing word in Beziers, curves and paths
  tutorials/math/beziers_and_curves.rst
Labels: bug
