Repository godotengine/godot-docs, pull requests merged in 2022-07, with the labels that each got.

#5899 Fix image link in Internationalizing games
  tutorials/i18n/internationalizing_games.rst
Labels: bug

#5905 Android: Update screenshot showing Custom Build option
  tutorials/export/img/custom_build_enable.png
Labels: enhancement, cherrypick:3.5

#5907 Fix inline code display in GDScript reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#5917 Update `instance()` call to `instantiate()` in Making Plugins
  tutorials/plugins/editor/making_plugins.rst
Labels: bug

#5913 Fix typo in First 3D game - Animating the mobs
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug

#5918 Update Command line tutorial to match 4.0.alpha11 `--help` output
  tutorials/editor/command_line_tutorial.rst
Labels: bug

#5920 3.x: update rpc documentation
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, cherrypick:3.5

#5903 correct a little typo on scripting_laguanges
  getting_started/step_by_step/scripting_languages.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5830 Document type variations and update images
  tutorials/ui/gui_skinning.rst
  tutorials/ui/gui_theme_type_variations.rst
  tutorials/ui/img/base_type.png
  tutorials/ui/img/new_theme.png
  tutorials/ui/img/theme_editor.png
  tutorials/ui/img/theme_item_inspector.png
  tutorials/ui/img/theme_pin_the_stylebox.png
  tutorials/ui/img/theme_type_editor.png
  tutorials/ui/index.rst
Labels: enhancement, cherrypick:3.5

#5902 Improve wording in Matrices and Transforms article and update for Godot 4
  tutorials/math/matrices_and_transforms.rst
Labels: enhancement

#5896 Update navigation page (3.5)
  tutorials/navigation/real_time_navigation_3d.rst
Labels: enhancement

#5893 Update required NDK version (3.5)
  tutorials/export/exporting_for_android.rst
Labels: bug

#5886 added gcc-c++ in opensuse one-liners
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement

#5924 Update required NDK version in Exporting for Android
  tutorials/export/exporting_for_android.rst
Labels: bug

#5927 Fix typo in Creating the player scene
  getting_started/first_2d_game/02.player_scene.rst
Labels: bug

#5934 Update 3.1 custom.js to match the rest of stable branches
  _static/js/custom.js
Labels: bug

#5930 Improve the Compiling with PCK encryption key page
  development/compiling/compiling_with_script_encryption_key.rst
Labels: enhancement

#5937 Update high_level_multiplayer.rst
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#5923 Add a page on playing videos using VideoStreamPlayer
  tutorials/animation/creating_movies.rst
  tutorials/animation/img/playing_videos_aspect_ratio_container.png
  tutorials/animation/index.rst
  tutorials/animation/playing_videos.rst
Labels: enhancement

#5941 Fix typos in FAQ and List of features
  about/faq.rst
  about/list_of_features.rst
Labels: bug

#5938 Change C++ animation name for consistency in Your first 2D game
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: bug

#5951 Add a page on playing videos using VideoPlayer (3.5)
  tutorials/animation/img/playing_videos_aspect_ratio_container.png
  tutorials/animation/index.rst
  tutorials/animation/playing_videos.rst
Labels: enhancement, cherrypick:3.4

#5945 Improve clarity in animation_tree.rst
  tutorials/animation/animation_tree.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5953 Documentation missing method keyword in C# fix
  tutorials/scripting/nodes_and_scene_instances.rst
Labels: bug, cherrypick:3.5

#5952 Update macOS export page.
  tutorials/export/exporting_for_macos.rst
Labels: enhancement, cherrypick:3.5

#5922 [3.x] Fix click-and-move example
  tutorials/2d/2d_movement.rst
Labels: bug, cherrypick:3.4

#5895 Examples of matrix input usage in Spatial Shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#5958 Fix grammar in step-by-step
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement

#5959 Document blend shapes being supported in GLES2
  tutorials/rendering/gles2_gles3_differences.rst
Labels: bug, cherrypick:3.4, cherrypick:3.5

#5960 Add a link to building the manual in readme
  README.md
Labels: enhancement

#5908 Simplify `.gitattributes` in Submitting to the Asset Library
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement

#5961 Update the showcase video links
  getting_started/introduction/introduction_to_godot.rst
Labels: enhancement

#5965 Rename OSX to macOS and iPhoneOS to iOS. Update iOS build instructions.
  community/contributing/bisecting_regressions.rst
  development/compiling/compiling_for_ios.rst
  development/compiling/compiling_for_macos.rst
  development/compiling/cross-compiling_for_ios_on_linux.rst
  development/compiling/introduction_to_the_buildsystem.rst
  development/cpp/configuring_an_ide/xcode.rst
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
Labels: enhancement

#5875 Minor edits, including grammatical fixes, to first_steps_with_rooms_and_portals.rst
  tutorials/3d/portals/first_steps_with_rooms_and_portals.rst
Labels: bug

#5962 Increase spacing between list items to improve readability
  _static/css/custom.css
Labels: enhancement, topic:website

#5963 [3.x] Examples of matrix input usage in Spatial Shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#5973 Update export templates location for Godot 4.0
  development/compiling/compiling_for_android.rst
  development/compiling/compiling_for_linuxbsd.rst
Labels: bug

#5946 Replace the custom post-processing shader tutorial
  tutorials/shaders/custom_postprocessing.rst
  tutorials/shaders/img/post_blur.png
  tutorials/shaders/img/post_boxes.png
  tutorials/shaders/img/post_color_rect.png
  tutorials/shaders/img/post_example1.png
  tutorials/shaders/img/post_example2.png
  tutorials/shaders/img/post_example3.png
  tutorials/shaders/img/post_hierarchy1.png
  tutorials/shaders/img/post_hierarchy2.png
  tutorials/shaders/img/post_outline.png
  tutorials/shaders/img/post_tree1.png
  tutorials/shaders/img/post_tree2.png
Labels: enhancement, cherrypick:3.5

#5969 Improve step-by-step a little
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_languages.rst
  getting_started/step_by_step/signals.rst
Labels: enhancement

#5974 Improve step-by-step a little (3.x)
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_languages.rst
  getting_started/step_by_step/signals.rst
Labels: enhancement, cherrypick:3.4

#5977 Fix misc syntax/style errors/warnings on documentation head
  about/list_of_features.rst
  development/cpp/configuring_an_ide/clion.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  tutorials/animation/creating_movies.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/scene_unique_nodes.rst
Labels: bug

#5984 Remove "Core" from .NET SDK, simplify Mono mention
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, cherrypick:3.4, cherrypick:3.5

#5986 Update recording_with_microphone.rst
  tutorials/audio/recording_with_microphone.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5988 Move OpenJDK installation before Android SDK in Exporting for Android
  tutorials/export/exporting_for_android.rst
Labels: bug

#5983 Add "dotnet CLI" option to all C# editor docs
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, cherrypick:3.4, cherrypick:3.5

#5972 Update and improve clarity in procedural geometry tutorials
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/3d/procedural_geometry/index.rst
  tutorials/3d/procedural_geometry/meshdatatool.rst
Labels: enhancement

#5982 Update RichTextEffect tutorial
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#5992 Fix incorrect indentation in code sample in Creating movies
  tutorials/animation/creating_movies.rst
Labels: bug

#5985 Add notes for common C# bugs on Windows
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, cherrypick:3.4, cherrypick:3.5

#5994 Remove extraneous sentence about finished result in Your first 2D game
  getting_started/first_2d_game/index.rst
Labels: bug

#5993 Nodes & Scenes: Added macOS shortcuts mentioning.
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5996 Remove outdated stretch mode recommendations in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: bug, cherrypick:3.4, cherrypick:3.5

#5995 Fix various typos
  about/list_of_features.rst
  classes/class_packedbytearray.rst
  classes/class_physicalbone2d.rst
  classes/class_webxrinterface.rst
  development/compiling/cross-compiling_for_ios_on_linux.rst
  development/cpp/configuring_an_ide/clion.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug

#5998 Fix missing code blocks in GDScript exports
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug

#5999 Update preview GIF to match the end result in Your first 2D game
  getting_started/first_2d_game/img/dodge_preview.gif
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#5991 Add C# examples to Creating your first script
  getting_started/step_by_step/scripting_first_script.rst
Labels: enhancement, topic:dotnet

#6005 Fix typo in Using the ArrayMesh
  tutorials/3d/procedural_geometry/arraymesh.rst
Labels: bug

#6003 Fix typo in Exporting packs, patches, and mods
  tutorials/export/exporting_pcks.rst
Labels: bug

#5957 Remove obsolete C# methods from Using RigidBody2D
  tutorials/physics/physics_introduction.rst
Labels: bug, topic:dotnet, cherrypick:3.4, cherrypick:3.5

#6006 Fix the animatedsprite2D variable in Coding the Player
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: bug

#6007 Fix mob scene typo in Your first 2D game
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: bug

#6009 Add C# code examples on Listening to player input
  getting_started/step_by_step/scripting_player_input.rst
Labels: enhancement, topic:dotnet

#6016 Fix syntax errors in Sync the gameplay with audio and music
  tutorials/audio/sync_with_audio.rst
Labels: bug

#6012 Add Clangd instructions for VS Code
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5
