Repository godotengine/godot-docs, pull requests merged in 2022-08, with the labels that each got.

#6019 Fix JetBrains Rider arguments in Using an external text editor
  tutorials/editor/external_editor.rst
Labels: bug

#6010 Added C# code examples for Using signals page.
  getting_started/step_by_step/signals.rst
Labels: enhancement, topic:dotnet

#5981 Document new script template system for Godot 4.0
  tutorials/scripting/creating_script_templates.rst
  tutorials/scripting/img/script_create_dialog_custom_templates.png
  tutorials/scripting/img/script_create_dialog_templates.png
Labels: bug

#6021 Describe actual purpose of the index keyword in TSCN file format
  development/file_formats/tscn.rst
Labels: bug

#6004 Improve clarity in procedural generation tutorials
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/3d/procedural_geometry/index.rst
  tutorials/3d/procedural_geometry/meshdatatool.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6020 Attempt to clarify reliable vs unreliable RPCs
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6026 Replace use of `rotation_degrees` in Running code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug

#6029 Clarify `hint_range` in Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#6032 Add macOS keyboard shortcut in Creating your first script
  getting_started/step_by_step/scripting_first_script.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6031 Add `hint_default_transparent` to Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#6033 Fix typo in GDScript reference: 'user' -> 'use'
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#6034 Update android SDK platform requirement
  tutorials/export/exporting_for_android.rst
Labels: cherrypick:3.4, cherrypick:3.5

#5898 Compiling/macOS: Replace old `use_static_mvk` option with `use_volk`
  development/compiling/compiling_for_macos.rst
Labels: enhancement

#5980 Add editor's experimental Android support (and comment on web) to FAQ
  about/faq.rst
Labels: enhancement

#5975 Add editor's support for Web and Android to FAQ
  about/faq.rst
Labels: enhancement

#6018 Singletons tutorial has deprecated methods.
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, topic:dotnet

#5987 Add docs for shader preprocessor
  tutorials/shaders/shader_reference/index.rst
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, new page

#6036 Fix grammar in 'pausing_games.rst'
  tutorials/scripting/pausing_games.rst
Labels: enhancement

#6001 Warning for Blender-glTF-export: models containing blend shapes should Export Deformation Bones Only
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6037 Typo.
  getting_started/first_3d_game/07.killing_player.rst
Labels: bug

#6022 Document new shader built-ins (node position, camera pos/dir)
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#6014 Cheatsheet of ease() with known names of curves
  img/ease_cheatsheet.png
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6039 Fix grammar error in Pull request workflow
  community/contributing/pr_workflow.rst
Labels: bug

#6040 Add Mesa dependency to Alpine one-liner in Compiling for Linux, *BSD
  development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6038 Warning for Blender-glTF-export: Blend shape animations cannot be imported
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement

#6043 Add section about default values (`property_can_revert` and `property_get_revert`) under GDScript exports
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#6057 Release policy: Mark 3.5 stable release
  about/release_policy.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6061 Fix typo in Your first 3D shader
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug

#6065 Add C#/Mono console support by Pineapple Works
  tutorials/platform/consoles.rst
Labels: enhancement, cherrypick:3.5

#6067 Remove incorrect sentence from shader preprocessor.
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: bug

#6066 Remove Flynn's Arcades from list of console porting companies
  tutorials/platform/consoles.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6070 Add docs for new shader built-in functions
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#6071 Add `group_uniforms` to the description of shader uniforms
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#6072 Fix incorrect example in shader language (uniforms section)
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug

#6073 Few fixes in shading_language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug

#6068 Add missing vertex normal array in TSCN file format
  development/file_formats/tscn.rst
Labels: bug

#6075 Add `samplerCubeArray` type to the list of supported shader types.
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement

#6078 Document custom feature tags not being used when running from editor
  tutorials/export/feature_tags.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6077 Warn about the importance of registering the RichTextEffect
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6076 Document using AnimationPlayer's Movie Quit On Finish in Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement

#6058 iOS export: update required options
  tutorials/export/exporting_for_ios.rst
Labels: enhancement, cherrypick:3.5

#6080 Document type variations and update images
  tutorials/ui/gui_skinning.rst
  tutorials/ui/gui_theme_type_variations.rst
  tutorials/ui/img/base_type.png
  tutorials/ui/img/new_theme.png
  tutorials/ui/img/theme_editor.png
  tutorials/ui/img/theme_item_inspector.png
  tutorials/ui/img/theme_pin_the_stylebox.png
  tutorials/ui/img/theme_type_editor.png
  tutorials/ui/index.rst
Labels: enhancement

#6082 Update references to OpenSimplexNoise to use FastNoiseLite
  tutorials/math/random_number_generation.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug

#6096 Codespell I18N locale fixes
  _tools/codespell-ignore-lines.txt
Labels: bug

#6100 Clarify issue with GLES2 renderer
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, cherrypick:3.4

#6085 Small edit to quit requests handling
  tutorials/inputs/handling_quit_requests.rst
Labels: bug

#6102 Improve flow and remove banned words
  development/compiling/cross-compiling_for_ios_on_linux.rst
  development/cpp/object_class.rst
  tutorials/export/exporting_pcks.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: bug

#6103 Document registering an autoload when an editor plugin is enabled
  tutorials/plugins/editor/making_plugins.rst
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6104 Fixed spelling error in Running on MacOS docs
  tutorials/export/running_on_macos.rst
Labels: bug, cherrypick:3.5

#6105 Mention local web server for testing web editor in Compiling for the Web
  development/compiling/compiling_for_web.rst
Labels: enhancement

#6107 Revert "Mention local web server for testing web editor in Compiling for the Web"
  development/compiling/compiling_for_web.rst
Labels: bug

#6112 Remove beta tag from version
  index.rst
Labels: bug

#5956 missing @ hint on export (typo?)
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug

#6110 Update C# signal documentation
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/step_by_step/signals.rst
  tutorials/best_practices/godot_notifications.rst
  tutorials/networking/http_request_class.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_features.rst
  tutorials/scripting/instancing_with_signals.rst
Labels: enhancement, topic:dotnet

#6115 Update compiling_for_android.rst
  development/compiling/compiling_for_android.rst
Labels: enhancement

#6118 Update 3d example gd script code
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug

#6114 Document missing classref BBCode tags and improve formatting
  community/contributing/class_reference_writing_guidelines.rst
Labels: enhancement

#6123 Fix missing quote in GDScript reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#6119 Fix the styling of the HTML shell reference
  _static/css/custom.css
Labels: bug, enhancement, topic:website, cherrypick:3.4, cherrypick:3.5
