Repository godotengine/godot-docs, pull requests merged in 2022-10, with the labels that each got.

#6239 [2D Light and Shadows Tutorial] Replaced Light2D with PointLight2D
  tutorials/2d/2d_lights_and_shadows.rst
Labels: bug

#6236 [2D Game Tutorial] Polished HUD code explanation
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement

#6223 Changed set_shader_param to set_shader_parameter
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: bug

#6193 Updating references to RigidBody2D
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: bug

#6121 updated rotation value
  getting_started/first_3d_game/03.player_movement_code.rst
Labels: bug

#6253 External Editor: add info about debugger setting option
  tutorials/3d/mesh_lod.rst
  tutorials/editor/external_editor.rst
  tutorials/scripting/debug/overview_of_debugging_tools.rst
Labels: enhancement

#6204 Fixes for "Your First 2D Game" tutorial section 5: "The main game scene"
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: bug

#6222 [Signals] Fixed inconsistent code
  getting_started/step_by_step/signals.rst
Labels: bug

#6219 Project Manager Polishing
  getting_started/step_by_step/instancing.rst
Labels: enhancement

#6206 Replace call to non-existent function get_editor_main_control()
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: bug

#6256 fix: replace invalid `World` references with `World3D`/ `World2D`
  tutorials/performance/using_servers.rst
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/rendering/viewports.rst
Labels: bug

#6183 Added node initialization best practices
  tutorials/best_practices/logic_preferences.rst
Labels: enhancement

#6225 [2D Game Tutorial] Explicit add child node clarification
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement

#6171 Improvements for “Building the manual with Sphinx”
  community/contributing/building_the_manual.rst
Labels: enhancement

#6175 Updating change_scene and change_scene_to
  tutorials/best_practices/autoloads_versus_internal_nodes.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/scripting/scene_tree.rst
  tutorials/scripting/singletons_autoload.rst
Labels: bug

#6163 Change instance method to typed version in C# example
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, topic:dotnet

#6169 Improve navigation section pages
  tutorials/navigation/img/bake_navmesh.png
  tutorials/navigation/img/baked_navmesh.png
  tutorials/navigation/img/nav_2d_min_setup_step1.png
  tutorials/navigation/img/nav_2d_min_setup_step2.png
  tutorials/navigation/img/nav_2d_min_setup_step3.png
  tutorials/navigation/img/nav_3d_min_setup_step1.png
  tutorials/navigation/img/nav_3d_min_setup_step2.png
  tutorials/navigation/img/nav_3d_min_setup_step3.png
  tutorials/navigation/img/nav_3d_min_setup_step4.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/real_time_navigation_3d.rst
Labels: enhancement

#6263 fix: invalid label references in `viewports` file
  tutorials/rendering/viewports.rst
Labels: bug

#6262 Fix link to AutoLoads documentation in Using SceneTree
  tutorials/scripting/scene_tree.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6

#6045 Add navigation doc for maps, different actor types, and actor locomotion
  tutorials/navigation/img/nav_actor_locomotion.png
  tutorials/navigation/img/nav_actor_sizes.png
  tutorials/navigation/img/nav_maps.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_different_actor_locomotion.rst
  tutorials/navigation/navigation_different_actor_types.rst
  tutorials/navigation/navigation_using_navigationmaps.rst
Labels: enhancement

#6275 [2D Game Tutorial] Fixing the last codeblock to run on 4.0
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug

#6268 [Instancing with signals] Updated to 4.0
  tutorials/scripting/instancing_with_signals.rst
Labels: bug

#6266 Moved icon spec to itemised list
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement

#6283 Document recording with transparency in Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement

#6294 Revert "Document recording with transparency in Creating movies"
  tutorials/animation/creating_movies.rst
Labels: bug

#6269 Fixed 2 'Introduction' in Navigation tutorial
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
Labels: bug

#6046 Add doc for NavigationObstacle nodes and NavigationServerAPI obstacle agents
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_navigationobstacles.rst
Labels: enhancement

#6048 Add doc for 2D & 3D navigationmesh generation
  tutorials/navigation/img/nav_polydrawtool.png
  tutorials/navigation/img/nav_polymatroschka.png
  tutorials/navigation/img/nav_polyoutlinefail.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement

#6049 Add doc for NavigationServer, NavigationAgent and RVO agent avoidance
  tutorials/navigation/img/agent_avoidance_enabled.png
  tutorials/navigation/img/agent_safevelocity_signal.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_agent_avoidance.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement

#6050 Add doc for NavigationMesh connections and NavigationDebug
  tutorials/navigation/img/nav_debug_settings.png
  tutorials/navigation/img/nav_debug_xray_edge_lines.png
  tutorials/navigation/img/nav_edge_connection2d.gif
  tutorials/navigation/img/nav_edge_connection3d.gif
  tutorials/navigation/img/navigation_debug_toggle.png
  tutorials/navigation/img/navigation_edge_connection.png
  tutorials/navigation/img/navigation_vertex_merge.png
  tutorials/navigation/img/navigation_vertex_merge2.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_debug_tools.rst
Labels: enhancement

#6051 Add doc for NavigationLayers and area access
  tutorials/navigation/img/nav_actor_doorbitmask.png
  tutorials/navigation/img/nav_actor_doors.png
  tutorials/navigation/img/navigationlayers_naming.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_different_actor_area_access.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
Labels: enhancement

#6052 Add doc for direct NavigationServer path queries
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
Labels: enhancement

#6054 Add doc for NavigationRegions
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_navigationregions.rst
Labels: enhancement

#6159 Adding example code for compute shaders
  tutorials/shaders/compute_shaders.rst
  tutorials/shaders/index.rst
Labels: enhancement, content:new page, topic:rendering

#6279 [Resources] Update example to be compatible with 4.0
  tutorials/scripting/resources.rst
Labels: enhancement

#6280 Improve description of `range` function.
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement

#6276 Add explanation of lambdas to GDScript basics.
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#6251 Add C# for 'Making main screen plugins'
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: enhancement, topic:dotnet

#6235 [Signals] Replaced 9 images to match 4.0 version
  getting_started/step_by_step/img/signals_03_dragging_scene.png
  getting_started/step_by_step/img/signals_04_add_child_node.png
  getting_started/step_by_step/img/signals_08_toggle_motion_text.png
  getting_started/step_by_step/img/signals_09_scene_setup.png
  getting_started/step_by_step/img/signals_12_node_connection.png
  getting_started/step_by_step/img/signals_15_scene_tree.png
  getting_started/step_by_step/img/signals_16_click_script.png
  getting_started/step_by_step/img/signals_17_custom_signal.png
  getting_started/step_by_step/img/signals_advanced_connection_window.png
Labels: bug

#6289 Update 'velocity' with move_and_slide
  tutorials/physics/kinematic_character_2d.rst
Labels: bug, cherrypick:3.5

#6184 Update compiling for the web
  development/compiling/compiling_for_web.rst
  development/compiling/introduction_to_the_buildsystem.rst
Labels: bug

#6120 Update description on the IO to use the JSON class
  tutorials/io/saving_games.rst
Labels: bug

#5873 Update gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#6297 Formatting, syntax and URL fixes
  about/docs_changelog.rst
  about/list_of_features.rst
  development/cpp/object_class.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/shaders/compute_shaders.rst
Labels: bug

#6299 Fix Navigation index order to make thematically more sense
  tutorials/navigation/index.rst
Labels: enhancement

#6298 Add missing baked_navmesh image
  tutorials/navigation/img/baked_navmesh.png
Labels: enhancement

#6285 fix: rename `ViewportContainer` to `SubViewportContainer`
  tutorials/rendering/multiple_resolutions.rst
  tutorials/rendering/viewports.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/shaders/advanced_postprocessing.rst
  tutorials/ui/gui_containers.rst
Labels: bug

#6300 Add doc for NavigationLinks
  tutorials/navigation/img/nav_link_debug_visuals.png
  tutorials/navigation/img/nav_link_properties.png
  tutorials/navigation/img/nav_navmesh_links.png
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_using_navigationlinks.rst
  tutorials/navigation/navigation_using_navigationregions.rst
Labels: enhancement

#6305 Document using volumetric fog as a volumetric lighting solution
  tutorials/3d/img/volumetric_fog_comparison.png
  tutorials/3d/img/volumetric_fog_lighting.png
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, topic:rendering

#6302 Update C# in step-by-step Signals example
  getting_started/step_by_step/signals.rst
Labels: enhancement, topic:dotnet

#6309 Fix usage of NOTIFICATION_WM_CLOSE_REQUEST
  tutorials/inputs/handling_quit_requests.rst
Labels: bug

#6138 Warn about non-tool plugin scripts in C#
  tutorials/plugins/editor/inspector_plugins.rst
  tutorials/plugins/editor/making_plugins.rst
Labels: enhancement, topic:dotnet, cherrypick:3.6

#6313 Fix refs and renames
  _tools/redirects/redirects.csv
  community/contributing/docs_writing_guidelines.rst
  development/cpp/object_class.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/introduction/key_concepts_overview.rst
  getting_started/step_by_step/scripting_first_script.rst
  tutorials/2d/2d_movement.rst
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/2d_transforms.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/2d/particle_systems_2d.rst
  tutorials/3d/csg_tools.rst
  tutorials/animation/2d_skeletons.rst
  tutorials/animation/animation_tree.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/logic_preferences.rst
  tutorials/best_practices/what_are_godot_classes.rst
  tutorials/math/beziers_and_curves.rst
  tutorials/math/interpolation.rst
  tutorials/math/vector_math.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/performance/using_servers.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/performance/vertex_animation/controlling_thousands_of_fish.rst
  tutorials/physics/index.rst
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/ragdoll_system.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/using_area_2d.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/rendering/gles2_gles3_differences.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/scripting/gdscript/static_typing.rst
  tutorials/scripting/resources.rst
  tutorials/shaders/shader_materials.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug, content:redirect

#6315 More Godot 4 rename fixes
  _tools/redirects/redirects.csv
  about/docs_changelog.rst
  development/cpp/inheritance_class_tree.rst
  development/file_formats/tscn.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/step_by_step/nodes_and_scenes.rst
  tutorials/3d/baked_lightmaps.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/introduction_to_3d.rst
  tutorials/3d/procedural_geometry/immediategeometry.rst
  tutorials/3d/procedural_geometry/index.rst
  tutorials/3d/procedural_geometry/surfacetool.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/3d/using_gridmaps.rst
  tutorials/3d/using_multi_mesh_instance.rst
  tutorials/3d/using_transforms.rst
  tutorials/animation/cutout_animation.rst
  tutorials/assets_pipeline/escn_exporter/material.rst
  tutorials/assets_pipeline/escn_exporter/physics.rst
  tutorials/assets_pipeline/import_process.rst
  tutorials/assets_pipeline/importing_scenes.rst
  tutorials/audio/audio_effects.rst
  tutorials/best_practices/node_alternatives.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/inputs/inputevent.rst
  tutorials/io/binary_serialization_api.rst
  tutorials/io/saving_games.rst
  tutorials/math/interpolation.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/performance/using_multimesh.rst
  tutorials/performance/using_servers.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/performance/vertex_animation/controlling_thousands_of_fish.rst
  tutorials/physics/collision_shapes_3d.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/rigid_body.rst
  tutorials/physics/soft_body.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/plugins/editor/3d_gizmos.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/plugins/editor/index.rst
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/rendering/gles2_gles3_differences.rst
  tutorials/rendering/viewports.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/resources.rst
  tutorials/shaders/advanced_postprocessing.rst
  tutorials/shaders/shader_reference/particle_shader.rst
  tutorials/shaders/using_viewport_as_texture.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
  tutorials/shaders/your_first_shader/your_second_3d_shader.rst
Labels: bug, content:redirect

#6317 More Godot 4 renames and fixes
  about/docs_changelog.rst
  tutorials/3d/procedural_geometry/immediatemesh.rst
  tutorials/3d/using_gridmaps.rst
  tutorials/assets_pipeline/importing_scenes.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/inputs/inputevent.rst
  tutorials/io/data_paths.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/physics/collision_shapes_2d.rst
  tutorials/physics/collision_shapes_3d.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/rigid_body.rst
  tutorials/physics/soft_body.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
  tutorials/scripting/gdscript/gdscript_advanced.rst
  tutorials/shaders/using_viewport_as_texture.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: bug, content:redirect

#6314 Add a page on large world coordinates (double-precision floats)
  tutorials/3d/standard_material_3d.rst
  tutorials/physics/index.rst
  tutorials/physics/large_world_coordinates.rst
Labels: enhancement, content:new page

#6318 Remove old renderer backend comparison and GDNative tutorial pages
  about/docs_changelog.rst
  about/faq.rst
  about/list_of_features.rst
  community/contributing/bug_triage_guidelines.rst
  community/contributing/cpp_usage_guidelines.rst
  development/compiling/optimizing_for_size.rst
  development/cpp/binding_to_external_libraries.rst
  development/cpp/custom_modules_in_cpp.rst
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/files/dodge_assets_with_gdnative.zip
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/editor/project_manager.rst
  tutorials/editor/using_the_web_editor.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/export/exporting_for_web.rst
  tutorials/performance/cpu_optimization.rst
  tutorials/performance/using_multimesh.rst
  tutorials/rendering/gles2_gles3_differences.rst
  tutorials/scripting/gdnative/files/cpp_example/SConstruct
  tutorials/scripting/gdnative/gdnative_c_example.rst
  tutorials/scripting/gdnative/gdnative_cpp_example.rst
  tutorials/scripting/gdnative/img/add_main_script.gif
  tutorials/scripting/gdnative/img/c_main_scene_layout.png
  tutorials/scripting/gdnative/img/c_sample_result.png
  tutorials/scripting/gdnative/img/connect_button_signal.gif
  tutorials/scripting/gdnative/img/gdnative_cpp_animated.gif
  tutorials/scripting/gdnative/img/gdnative_cpp_nodes.png
  tutorials/scripting/gdnative/img/gdnative_cpp_sprite.png
  tutorials/scripting/gdnative/img/gdnative_library.png
  tutorials/scripting/gdnative/img/gdnativelibrary_editor.png
  tutorials/scripting/gdnative/img/gdnativelibrary_editor_complete.png
  tutorials/scripting/gdnative/img/gdnativelibrary_resource.png
  tutorials/scripting/gdnative/img/gdnativelibrary_save.png
  tutorials/scripting/gdnative/img/nativescript_library.png
  tutorials/scripting/gdnative/img/nativescript_resource.png
  tutorials/scripting/gdnative/img/new_resource.gif
  tutorials/scripting/gdnative/img/save_gdns.gif
  tutorials/scripting/gdnative/index.rst
  tutorials/scripting/gdnative/what_is_gdnative.rst
  tutorials/scripting/index.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug

#6319 Renames / fixes for Godot 4
  tutorials/best_practices/godot_notifications.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/inputs/input_examples.rst
  tutorials/inputs/inputevent.rst
  tutorials/math/beziers_and_curves.rst
  tutorials/math/interpolation.rst
  tutorials/math/random_number_generation.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/networking/http_request_class.rst
  tutorials/networking/ssl_certificates.rst
  tutorials/networking/webrtc.rst
  tutorials/performance/using_servers.rst
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/ragdoll_system.rst
  tutorials/physics/ray-casting.rst
  tutorials/plugins/editor/inspector_plugins.rst
  tutorials/rendering/index.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/rendering/viewports.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
  tutorials/scripting/overridable_functions.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
  tutorials/ui/custom_gui_controls.rst
Labels: bug

#6320 Fix incorrect input port in visual_shader_plugins.rst
  tutorials/plugins/editor/visual_shader_plugins.rst
Labels: bug

#6321 Fix typo in Exporting for the Web
  tutorials/export/exporting_for_web.rst
Labels: bug

#6324 Fix text mentioning model vertex snapping in Large world coordinates
  tutorials/physics/large_world_coordinates.rst
Labels: bug

#6303 rename EditorNode3DGizmo's `redraw()` to `_redraw()`
  tutorials/plugins/editor/3d_gizmos.rst
Labels: bug

#6296 Document recording with transparency in Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement

#6323 Fixes typo saying `Main` where it should say `HUD`
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug

#6326 Removed an additional 'notify' in the function's name
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug

#6307 Add convention comparison chart to Introduction to 3D
  tutorials/3d/img/introduction_to_3d_coordinate_systems.webp
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement

#6322 Add tutorials for blend animation and retargeting
  tutorials/animation/animation_tree.rst
  tutorials/animation/img/blending1.webp
  tutorials/animation/img/blending2.webp
  tutorials/animation/img/blending3.webp
  tutorials/animation/img/blending4.webp
  tutorials/animation/img/blending5.webp
  tutorials/assets_pipeline/img/retargeting1.webp
  tutorials/assets_pipeline/img/retargeting2.webp
  tutorials/assets_pipeline/img/retargeting3.webp
  tutorials/assets_pipeline/img/retargeting4.webp
  tutorials/assets_pipeline/index.rst
  tutorials/assets_pipeline/retargeting_3d_skeletons.rst
Labels: enhancement, content:new page

#6336 Fix tool mode section reference position
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#6337 List Engine methods to get license text in Complying with licenses
  about/complying_with_licenses.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6

#6342 Add warning about importing c#
  tutorials/scripting/cross_language_scripting.rst
Labels: enhancement, topic:dotnet, cherrypick:3.5, cherrypick:3.6

#6338 Update first_look_at_the_editor.rst
  getting_started/introduction/first_look_at_the_editor.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6

#6346 Remove `print`s which make the program hang in Recording with microphone
  tutorials/audio/recording_with_microphone.rst
Labels: bug

#6344 Fix NDC coordinates for Vulkan in Screen-reading shaders
  tutorials/shaders/screen-reading_shaders.rst
Labels: bug

#6348 Fix formatting in Volumetric fog and fog volumes
  tutorials/3d/volumetric_fog.rst
Labels: bug

#6350 Replace `update()` with `queue_redraw()` in Custom drawing in 2D
  tutorials/2d/custom_drawing_in_2d.rst
Labels: bug

#6352 Add aspect ratio recommendations for tablets in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6

#6351 Update build instructions in Compiling for iOS
  development/compiling/compiling_for_ios.rst
Labels: bug
