Repository godotengine/godot-docs, pull requests merged in 2022-09, with the labels that each got.

#6128 Add VisualScript pending removal notice in Godot 4.0
  about/list_of_features.rst
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/scripting/visual_script/custom_visualscript_nodes.rst
  tutorials/scripting/visual_script/index.rst
Labels: enhancement

#6127 Remove mentions of VisualScript in the documentation
  about/docs_changelog.rst
  about/faq.rst
  community/tutorials.rst
  tutorials/editor/default_key_mapping.rst
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement

#6132 Document changing Windows export template icon without external tools
  tutorials/export/changing_application_icon_for_windows.rst
Labels: enhancement

#6136 Fix nested typed arrays being claimed as supported in GDScript reference
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug

#4550 Add 'bitbrain' as a tutorial creator
  community/tutorials.rst
Labels: enhancement

#6141 Use exact name of AnimationPlayer node in Character animation
  getting_started/first_3d_game/09.adding_animations.rst
Labels: enhancement

#6147 Fix Godot Engine Module Summator code examples.
  development/cpp/custom_modules_in_cpp.rst
Labels: enhancement

#6144 Added VERTEX_ID, clarified CUSTOM# as inout
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug

#6153 Typo fix and add forgotten built-in for spatial shader docs
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug

#6152 Add newly shader built-ins to docs backport
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement

#6130 Data paths: Fix editor paths and improve docs on custom user dir
  tutorials/io/data_paths.rst
Labels: bug, enhancement, cherrypick:3.4, cherrypick:3.5

#5970 Compiling for Windows: Clarify that VS is Windows only
  development/compiling/compiling_for_windows.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5

#6162 Add a page on volumetric fog and FogVolumes
  tutorials/3d/index.rst
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, content:new page, topic:rendering

#6161 Add pages on mesh LOD and visibility ranges
  tutorials/3d/img/mesh_lod_comparison_shaded.png
  tutorials/3d/img/mesh_lod_comparison_wireframe.png
  tutorials/3d/img/mesh_lod_disable_lod.png
  tutorials/3d/img/mesh_lod_obj_import.png
  tutorials/3d/index.rst
  tutorials/3d/mesh_lod.rst
  tutorials/3d/visibility_ranges.rst
Labels: enhancement, content:new page, topic:rendering

#6167 Update `print_line()` and add `print_rich()` in Common engine methods and macros
  development/cpp/common_engine_methods_and_macros.rst
Labels: bug, enhancement

#6172 Use official CC BY 3.0 terminology and resources
  AUTHORS.md
  about/faq.rst
  about/introduction.rst
  community/contributing/contributing_to_the_documentation.rst
  conf.py
Labels: enhancement, cherrypick:3.5, cherrypick:3.6

#6160 Add a page on occlusion culling
  tutorials/3d/img/occlusion_culling_disabled.png
  tutorials/3d/img/occlusion_culling_enabled.png
  tutorials/3d/img/occlusion_culling_scene_example.png
  tutorials/3d/index.rst
  tutorials/3d/mesh_lod.rst
  tutorials/3d/occlusion_culling.rst
  tutorials/3d/visibility_ranges.rst
Labels: enhancement, content:new page, topic:rendering

#6180 Tweak property descriptions on Volumetric fog and fog volumes
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, topic:rendering

#6182 English improvements for “Best practices for engine contributors”
  community/contributing/best_practices_for_engine_contributors.rst
Labels: enhancement

#6199 Add note about Android exports not using PCK.
  development/compiling/compiling_with_script_encryption_key.rst
Labels: enhancement

#6189 Improve the 3D text documentation
  tutorials/3d/3d_text.rst
Labels: enhancement

#6188 Minor English improvements for `Makefile`
  Makefile
Labels: enhancement

#6135 update "Apply Reset" option location
  tutorials/animation/introduction.rst
Labels: bug, cherrypick:3.5

#6186 Improve Fixing jitter and stutter documentation
  tutorials/rendering/jitter_stutter.rst
Labels: enhancement

#6198 Update macOS export page to reflect rcodesign support.
  tutorials/export/exporting_for_macos.rst
Labels: enhancement

#6202 Fix order of EXTRA_MATRIX and WORLD_MATRIX
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: bug, cherrypick:3.5, topic:rendering, cherrypick:3.6

#6203 Swap arguments of ResourceSaver.save()
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/scripting/resources.rst
Labels: bug

#6185 English improvements for content guidelines
  community/contributing/content_guidelines.rst
Labels: enhancement

#6213 Small fixes for occlusion culling doc
  tutorials/3d/occlusion_culling.rst
Labels: bug, topic:rendering

#6215 Update example code for Godot 4 in Using RigidBody
  tutorials/physics/rigid_body.rst
Labels: bug

#6230 Update the `2d` stretch mode name to `canvas_items`
  about/list_of_features.rst
  getting_started/first_2d_game/01.project_setup.rst
  tutorials/rendering/multiple_resolutions.rst
Labels: bug

#6238 Add a page to the introduction linking to the learn gdscript app
  getting_started/introduction/img/learn_gdscript_app.png
  getting_started/introduction/index.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/introduction/learn_to_code_with_gdscript.rst
  getting_started/introduction/learning_new_features.rst
Labels: enhancement, content:new page, cherrypick:3.5, topic:gdscript

#6240 Clean up canvas item shader reference and add new light shader built ins
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: bug
