Repository godotengine/godot-docs, pull requests merged in 2022-03, with the labels that each got.

#5657 Recommend avoiding the List datatype in C++ usage guidelines
  community/contributing/cpp_usage_guidelines.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5653 Change remaining "export" to "@export" in GDScript Exports Documentation
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug

#5631 Clarify relative position on Curve2D.add_point
  classes/class_curve2d.rst
Labels: enhancement

#5585 fix 'making_plugin' tutorial code snippet
  tutorials/plugins/editor/making_plugins.rst
Labels: bug

#5668 Remove duplicate asset library page (3.4)
  community/asset_library/index.rst
  community/asset_library/uploading_to_assetlib.rst
Labels: bug

#5660 Change estimated release date for Godot 3.5 to Q2 2022
  about/release_policy.rst
Labels: enhancement, cherrypick:3.4

#5670 Sphinx: Update to 4.4.0, drop incompatible readthedocs-sphinx-search
  conf.py
  requirements.txt
Labels: enhancement, dependencies

#5597 Fix non-unique Sphinx name in Getting Started
  getting_started/first_2d_game/index.rst
  getting_started/first_3d_game/index.rst
Labels: bug

#5683 Fix section header markup
  tutorials/performance/index.rst
Labels: bug

#5684 Clarify the name of the menu action to add a node in Signals
  getting_started/step_by_step/signals.rst
Labels: enhancement

#5679 Update Harvard CS50 link to latest version
  getting_started/introduction/introduction_to_godot.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5680 Update link to Harvard CS50 and fix book author name
  getting_started/introduction/learning_new_features.rst
Labels: enhancement

#5688 Your first 2D game: Set the physics parameters of the mob before adding it to the scene tree
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement

#5687 Your first 2D game: Remove old link
  getting_started/first_2d_game/index.rst
Labels: bug

#5677 Change link on the first script page
  getting_started/introduction/introduction_to_godot.rst
  getting_started/step_by_step/scripting_first_script.rst
Labels: bug

#5685 Document class reference XML linting with Visual Studio Code
  community/contributing/class_reference_writing_guidelines.rst
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement

#5682 Mention that FBX support is partial in List of features
  about/list_of_features.rst
Labels: enhancement, cherrypick:3.3, cherrypick:3.4

#5691 Fix toctree expand icon colors and margins in the theme
  _static/css/custom.css
Labels: bug, topic:website

#5694 Add missing `onready` for NodePath usage in GDScript exports
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug

#5678 Add link to Asset Library to submission guide
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement

#5699 Update theme overrides section for Godot 3.4 in Score and replay
  getting_started/first_3d_game/08.score_and_replay.rst
Labels: enhancement, cherrypick:3.4

#5700 Rename several transform built-ins in shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, documentation

#5695 Clarify purpose of `Node.owner` in Running code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, cherrypick:3.4

#5522 Update task.json creation instructions
  development/cpp/configuring_an_ide/visual_studio_code.rst
Labels: enhancement

#5442 Documents ARRAY_BONES and ARRAY_WEIGHTS
  tutorials/3d/procedural_geometry/arraymesh.rst
Labels: enhancement, cherrypick:3.4

#5697 Update mentions of cylinder shape support for Godot 3.4
  about/list_of_features.rst
  tutorials/physics/collision_shapes_3d.rst
Labels: bug, cherrypick:3.4

#5686 Improve and update pausing games for Godot 4
  tutorials/scripting/img/pause_popup.png
  tutorials/scripting/img/pausemode.png
  tutorials/scripting/pausing_games.rst
Labels: enhancement

#5702 Add note about disabling Gatekeeper to Running on macOS article
  tutorials/export/img/macos_allow_from_anywhere.png
  tutorials/export/running_on_mac.rst
Labels: enhancement

#5710 Remove outdated note about Very Sleepy
  development/cpp/using_cpp_profilers.rst
Labels: bug

#5714 Add Xbox Series X/S support by Pineapple Works
  tutorials/platform/consoles.rst
Labels: enhancement

#5713 Update names of shader matrix built-ins in Advanced post-processing
  tutorials/shaders/advanced_postprocessing.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug

#5716 Organize built-in order in CanvasItem shaders
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement

#5719 Update `fragment()` -> `sky()` function name in Sky shaders
  tutorials/shaders/shader_reference/sky_shader.rst
Labels: bug

#5720 Remove `SHADOW_ATTENUATION` spatial light shader built-in
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug

#5707 Mention that the WOFF2 font format is now supported
  about/list_of_features.rst
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement

#5709 Update List of features for 4.0alpha4
  about/list_of_features.rst
  community/asset_library/using_assetlib.rst
Labels: enhancement

#5718 Clarify that Pool*Arrays are passed by value in Advanced GDScript
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement

#5705 Mention that binary `.mo` is now supported in Localization using gettext
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement

#5706 Add a note about fuzzy strings in Localization using gettext
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement, cherrypick:3.4, cherrypick:3.5
