Repository godotengine/godot-docs, pull requests merged in 2022-01, with the labels that each got.

#5487 Remove outdated vertex attributes link
  tutorials/shaders/converting_glsl_to_godot_shaders.rst
Labels: bug

#5367 Update Android IAP docs for v1.1 of PBL plugin
  tutorials/platform/android/android_in_app_purchases.rst
Labels: enhancement

#5493 Document how export filters work
  tutorials/export/exporting_projects.rst
Labels: enhancement, cherrypick:3.4

#5496 Document keyboard ghosting caveats in Input examples
  tutorials/inputs/input_examples.rst
Labels: enhancement, cherrypick:3.4

#5499 Add missing property name in Using GIProbe
  tutorials/3d/gi_probes.rst
Labels: enhancement, cherrypick:3.4

#5501 Update and improve VS Code setup instructions
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug, enhancement, cherrypick:3.4

#5503 Fix normal map description and improve note
  tutorials/3d/standard_material_3d.rst
  tutorials/assets_pipeline/importing_images.rst
Labels: enhancement

#5502 Add information on using continue with match to gdscript table
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement

#5506 Remove deprecated Discord link on homepage
  index.rst
Labels: bug, cherrypick:3.4

#5509 Document `[bgcolor]` and `[fgcolor]` BBCodes
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement

#5516 Fix typo in Custom Godot servers code sample
  development/cpp/custom_godot_servers.rst
Labels: bug

#5520 Add troubleshooting info to Mono compilation
  development/compiling/compiling_with_mono.rst
Labels: enhancement

#5414 Code scripts to find renamed files in the docs and create redirects
  _tools/convert_git_renames_to_csv.py
  _tools/create_redirects.py
  _tools/requirements.txt
Labels: enhancement, redirect

#5525 Move redirect Python tools to _tools/redirects/
  _tools/redirects/convert_git_renames_to_csv.py
  _tools/redirects/create_redirects.py
  _tools/redirects/requirements.txt
Labels: enhancement

#5485 Update instructions for collision mask in Your first 2D game
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/img/set_collision_mask.png
Labels: bug

#5530 Add explanation: why we use Node and not Node2D
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement

#5539 ReadTheDocs redirect automation.
  .gitignore
  _tools/redirects/README.md
  _tools/redirects/convert_git_renames_to_csv.py
  _tools/redirects/create_redirects.py
  _tools/redirects/redirects.csv
Labels: enhancement

#5541 Fix RTD redirects
  _tools/redirects/create_redirects.py
  _tools/redirects/redirects.csv
Labels: bug

#5537 Add fog shaders to shader refererence
  tutorials/shaders/introduction_to_shaders.rst
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/shaders/shader_reference/fog_shader.rst
  tutorials/shaders/shader_reference/index.rst
  tutorials/shaders/shader_reference/sky_shader.rst
Labels: enhancement, new page

#5546 Update `NORMALMAP` builtin name in Your first 3D shader
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug

#5533 Update the XR documentation
  about/list_of_features.rst
  tutorials/vr/img/quest_developer_mode.png
  tutorials/vr/img/quest_phone_settings.png
  tutorials/vr/img/quest_phone_settings_2.png
  tutorials/vr/index.rst
  tutorials/vr/oculus_mobile/developing_for_oculus_quest.rst
  tutorials/vr/oculus_mobile/img/quest_export_settings.png
  tutorials/vr/oculus_mobile/img/quest_new_project.png
  tutorials/vr/oculus_mobile/img/quest_project_settings.png
  tutorials/vr/oculus_mobile/img/quest_project_tree.png
  tutorials/vr/oculus_mobile/img/quest_scene_tree.png
  tutorials/vr/oculus_mobile/index.rst
  tutorials/vr/openvr/index.rst
  tutorials/vr/openvr/vr_starter_tutorial/img/starter_vr_tutorial_hands.png
  tutorials/vr/openvr/vr_starter_tutorial/img/starter_vr_tutorial_pistol.png
  tutorials/vr/openvr/vr_starter_tutorial/img/starter_vr_tutorial_sword.png
  tutorials/vr/openvr/vr_starter_tutorial/index.rst
  tutorials/vr/openvr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
  tutorials/vr/openvr/vr_starter_tutorial/vr_starter_tutorial_part_two.rst
  tutorials/vr/openxr/deploy_on_quest.rst
  tutorials/vr/openxr/enable_plugin.rst
  tutorials/vr/openxr/img/android_xr_features.png
  tutorials/vr/openxr/img/default_scene.png
  tutorials/vr/openxr/img/editable_children.png
  tutorials/vr/openxr/img/enable_plugin.png
  tutorials/vr/openxr/img/start_passthrough.png
  tutorials/vr/openxr/img/switch_runtime.png
  tutorials/vr/openxr/index.rst
  tutorials/vr/openxr/passthrough.rst
  tutorials/vr/openxr/runtime_selection.rst
  tutorials/vr/xr_primer.rst
Labels: enhancement

#5479 Remove `3.x` VR tutorials, add landing page for future XR docs
  about/list_of_features.rst
  index.rst
  tutorials/vr/developing_for_oculus_quest.rst
  tutorials/vr/img/minimum_setup.png
  tutorials/vr/img/quest_developer_mode.png
  tutorials/vr/img/quest_export_settings.png
  tutorials/vr/img/quest_new_project.png
  tutorials/vr/img/quest_phone_settings.png
  tutorials/vr/img/quest_phone_settings_2.png
  tutorials/vr/img/quest_project_settings.png
  tutorials/vr/img/quest_project_tree.png
  tutorials/vr/img/quest_scene_tree.png
  tutorials/vr/index.rst
  tutorials/vr/vr_primer.rst
  tutorials/vr/vr_starter_tutorial/img/starter_vr_tutorial_hands.png
  tutorials/vr/vr_starter_tutorial/img/starter_vr_tutorial_pistol.png
  tutorials/vr/vr_starter_tutorial/img/starter_vr_tutorial_sword.png
  tutorials/vr/vr_starter_tutorial/index.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_one.rst
  tutorials/vr/vr_starter_tutorial/vr_starter_tutorial_part_two.rst
  tutorials/xr/index.rst
Labels: new page

#5550 Update IRC links to point to Godot Contributors Chat
  community/contributing/pr_workflow.rst
  community/contributing/updating_the_class_reference.rst
Labels: enhancement

#5468 Fix description of adding class icon in 3.4
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#5490 List advanced GUI Objects (Master)
  development/compiling/optimizing_for_size.rst
Labels: enhancement

#5491 List advanced gui objects (3.4)
  development/compiling/optimizing_for_size.rst
Labels: enhancement

#5554 Mention that Godot OpenXR doesn't work with Microsoft MR runtime
  tutorials/vr/openxr/runtime_selection.rst
Labels: enhancement

#5555 Remove duplicated parts of Android plugin page
  tutorials/platform/android/android_plugin.rst
Labels: bug

#5526 Fix player and mob scene being reversed in Your first game
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug

#5560 Fix broken formatting in Creating Android plugins
  tutorials/platform/android/android_plugin.rst
Labels: bug

#5564 update your first 2D game font information
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/custom_font3.png
Labels: enhancement, cherrypick:3.4

#5557 Add navigation annotations to gdscript export docs
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement

#5552 Update plugin tutorial to use @tool
  tutorials/plugins/editor/import_plugins.rst
  tutorials/plugins/editor/inspector_plugins.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/plugins/editor/spatial_gizmos.rst
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug

#5544 [-] Navigation: Replace non-breaking spaces with ASCII spaces
  tutorials/navigation/real_time_navigation_3d.rst
Labels: bug

#5538 Reverse parenting order of Sprite and AnimationPlayer in tutorial
  tutorials/animation/img/animation_animation_player_tree.png
  tutorials/animation/introduction.rst
Labels: bug, cherrypick:3.4

#5565 Revert "update your first 2D game font information"
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/custom_font3.png
Labels: bug

#5542 Update screenshots for fonts to match current UI
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/img/custom_font1.png
  getting_started/first_2d_game/img/custom_font2.png
  getting_started/first_2d_game/img/custom_font3.png
Labels: bug

#5532 Reduced reference to RPC annotations down to @rpc
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug

#5568 Get rid of openssl warning during PCK encryption setup
  development/compiling/compiling_with_script_encryption_key.rst
Labels: bug

#5563 Clarify what selecting the XR runtime does
  tutorials/vr/openxr/runtime_selection.rst
Labels: enhancement

#5573 Swap `extends` line with `class_name` to follow GDScript style guide
  tutorials/best_practices/scenes_versus_scripts.rst
Labels: enhancement
