Repository godotengine/godot-docs, pull requests merged in 2023-07, with the labels that each got.

#7602 Fixed typo in scripting_first_script.rst
  getting_started/step_by_step/scripting_first_script.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#7604 Remove erroneous C# example about autoloads
  tutorials/scripting/singletons_autoload.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7551 Document C# currently not being supported on Android, iOS and Web
  about/faq.rst
  about/list_of_features.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_ios.rst
  tutorials/export/exporting_for_web.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7512 Document whitespace handling in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7511 Update NavigationAgent velocity description
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7557 Update navigation different actor types for new SourceGeometryData
  tutorials/navigation/navigation_different_actor_types.rst
Labels: bug, enhancement, area:manual, cherrypick:4.1

#7514 Update tutorials.rst
  community/tutorials.rst
Labels: enhancement, area:community, cherrypick:4.0, cherrypick:4.1

#7567 Make the steps for deploying to Meta Quest 2 (and other Android headsets) clearer
  tutorials/export/one-click_deploy.rst
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_meta_quest.webp
  tutorials/xr/img/android_one_click_deploy.webp
Labels: enhancement, topic:xr, area:manual, cherrypick:4.0, cherrypick:4.1

#7593 Link to ThorVG's SVG support page in Importing images
  tutorials/assets_pipeline/importing_images.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7610 [4.0] Update navigation different actor types
  tutorials/navigation/navigation_different_actor_types.rst
Labels: bug, enhancement, area:manual

#7499 Update KinematicCharacter2D images
  tutorials/physics/img/kbinstance.png
  tutorials/physics/img/kbinstance.webp
  tutorials/physics/img/kbradius.png
  tutorials/physics/img/kbradius.webp
  tutorials/physics/img/kbscene.png
  tutorials/physics/img/kbscene.webp
  tutorials/physics/kinematic_character_2d.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7524 GDScript: Document static variables
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7561 Document `LIGHT_COLOR` being multiplied by `PI` in Spatial shader
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7568 [3.x] Document `LIGHT_COLOR` being multiplied by `PI` in Spatial shader
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, cherrypick:3.5, area:manual

#7523 Recommend designing lighting in the Godot editor in Importing 3D scenes
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7618 Update screenshots in Introduction section
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/introduction/img/introduction_editor.png
  getting_started/introduction/img/introduction_editor.webp
  getting_started/introduction/img/key_concepts_character_nodes.png
  getting_started/introduction/img/key_concepts_character_nodes.webp
  getting_started/introduction/img/key_concepts_main_menu.png
  getting_started/introduction/img/key_concepts_main_menu.webp
  getting_started/introduction/img/key_concepts_scene_example.png
  getting_started/introduction/img/key_concepts_scene_example.webp
  getting_started/introduction/img/manual_class_reference_inheritance.webp
  getting_started/introduction/img/manual_class_reference_search.png
  getting_started/introduction/img/manual_class_reference_search.webp
  getting_started/introduction/index.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/introduction/key_concepts_overview.rst
  getting_started/introduction/learning_new_features.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7630 Fix mention of Godot3's or_lesser for export_range
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug, topic:dotnet, topic:gdscript, area:manual, cherrypick:4.0, cherrypick:4.1

#7619 Update http_request_class.rst
  tutorials/networking/http_request_class.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7594 Link to Using C++ profilers page in CPU optimization
  tutorials/performance/cpu_optimization.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#6329 Update documentation changelog for 4.1
  about/docs_changelog.rst
Labels: enhancement, area:about, cherrypick:4.1

#7625 macOS: Move Vulkan SDK from a note to a requirement
  contributing/development/compiling/compiling_for_macos.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.0, cherrypick:4.1

#7653 Update GDExtension docs with 4.1 branch info
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, content:proofreading, cherrypick:4.1

#7646 Fix bug in collision masking bits example
  tutorials/physics/physics_introduction.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7641 Not relevant 'Known issues' section in 'Version Control Systems'
  tutorials/best_practices/version_control_systems.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7673 Fix typo in `06.heads_up_display.rst`
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7677 add USERDATA* built-in to Particles shader reference
  tutorials/shaders/shader_reference/particle_shader.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7667 Fix outdated use of `File` in `gdscript_basics`
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.0, cherrypick:4.1

#7656 Add instructions for updating a GDExtension for Godot 4.1
  tutorials/migrating/upgrading_to_godot_4.1.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7676 Update 03.coding_the_player.rst
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#7660 Update "the profiler" docs to use Time class rather than OS class.
  tutorials/scripting/debug/the_profiler.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7655 Fix incorrect usage of backticks in various pages
  tutorials/math/matrices_and_transforms.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/gui_using_fonts.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7518 Add a compatibility policy and common questions to Release policy
  about/faq.rst
  about/release_policy.rst
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7626 Remove c# exprange info
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7595 Fix initialization typos in GDExtension manual
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7552 Document `bullet` parameter for `ul` tag in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7550 Add specific compression guidelines to doc image guide
  contributing/documentation/docs_image_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.0, cherrypick:4.1

#7599 Update multi-threaded rendering setting path in Thread-Safe APIs page
  tutorials/performance/thread_safe_apis.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7560 Fix OBJECT_POSITION description to match engine behavior.
  tutorials/shaders/shader_reference/fog_shader.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7525 C#: Document new version defines and remove mentions of old defines
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7461 Mentioning the GDExtension icon support
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual

#7613 Fix C# differences list for 4.0
  tutorials/scripting/c_sharp/c_sharp_collections.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7612 Update C# differences list for 4.1
  tutorials/scripting/c_sharp/c_sharp_collections.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: bug, enhancement, topic:dotnet, area:manual, cherrypick:4.1

#7644 C#: Add tip about excluding template files from build
  tutorials/scripting/creating_script_templates.rst
Labels: enhancement, topic:dotnet, cherrypick:4.0, cherrypick:4.1

#7647 Update performance optimization pages for Godot 4.x
  tutorials/performance/cpu_optimization.rst
  tutorials/performance/general_optimization.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/performance/index.rst
  tutorials/performance/optimizing_3d_performance.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7603 GDScript: Update array documentation
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7614 Update TSCN file format documentation to Godot 4.0
  contributing/development/file_formats/tscn.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7596 Fix dev=yes in unit testing guide
  contributing/development/core_and_modules/unit_testing.rst
Labels: bug, area:contributing, topic:buildsystem, cherrypick:4.0, cherrypick:4.1

#6277 Update 2D transform tutorial
  contributing/development/core_and_modules/2d_coordinate_systems.rst
  contributing/development/core_and_modules/img/transforms_overview.webp
  contributing/development/core_and_modules/index.rst
  tutorials/2d/2d_transforms.rst
  tutorials/2d/img/viewport_transforms2.png
  tutorials/2d/img/viewport_transforms3.webp
Labels: bug, needs work, area:manual

#7687 Update Triaging guidelines
  contributing/workflow/bug_triage_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.0, cherrypick:4.1

#7586 Update VS .net workloads on c_sharp_basics.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7693 Fix the 4.0 branch CI
  .github/workflows/ci.yml
  _tools/codespell-ignore-lines.txt
Labels: bug, content:website

#7706 Add request to report missing exposed GDExtension functionality
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7691 Fix Advanced language docs
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7704 Fix `[img]` resource type in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7703 Fix reference to Blender 3 path editor setting
  tutorials/assets_pipeline/importing_scenes.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7702 Update GitHub Actions UI workflow in Testing pull requests
  contributing/workflow/img/testing_pull_requests_access_checks.png
  contributing/workflow/img/testing_pull_requests_access_checks.webp
  contributing/workflow/img/testing_pull_requests_checks_artifacts.png
  contributing/workflow/img/testing_pull_requests_checks_artifacts.webp
  contributing/workflow/img/testing_pull_requests_checks_artifacts_list.webp
  contributing/workflow/img/testing_pull_requests_checks_platforms.png
  contributing/workflow/testing_pull_requests.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7701 Update Exporting for dedicated servers for Godot 4
  tutorials/export/exporting_for_dedicated_servers.rst
  tutorials/export/img/exporting_for_dedicated_servers_export_mode.webp
  tutorials/export/img/exporting_for_dedicated_servers_export_resources.webp
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7640 Update Best practices documentation for Godot 4.1
  tutorials/best_practices/autoloads_versus_internal_nodes.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/godot_notifications.rst
  tutorials/best_practices/img/version_control_menu.png
  tutorials/best_practices/img/version_control_systems_generate_metadata.webp
  tutorials/best_practices/index.rst
  tutorials/best_practices/introduction_best_practices.rst
  tutorials/best_practices/logic_preferences.rst
  tutorials/best_practices/node_alternatives.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/best_practices/version_control_systems.rst
  tutorials/best_practices/what_are_godot_classes.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7699 Update GDExtension C++ tutorial to explain compatibility and point out Godot 4.1 breakage
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, cherrypick:4.1

#7698 Document HDR output issues in Troubleshooting
  about/troubleshooting.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:manual, cherrypick:4.0

#7651 C#: Fix `instancing_with_signals` tutorial
  tutorials/scripting/instancing_with_signals.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7661 Update playing_videos.rst
  tutorials/animation/playing_videos.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7583 [3.x] Update SCons link-time optimization option for 3.5 and later
  development/compiling/compiling_for_windows.rst
  development/compiling/compiling_for_x11.rst
  development/compiling/optimizing_for_size.rst
  development/cpp/using_cpp_profilers.rst
Labels: enhancement, cherrypick:3.5, area:manual

#7582 Update SCons link-time optimization option for 3.5 and later
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/optimizing_for_size.rst
  contributing/development/debugging/using_cpp_profilers.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7527 explicit the need for code signing when creating an `.app` of the editor
  contributing/development/compiling/compiling_for_macos.rst
Labels: bug, area:contributing, cherrypick:4.0, cherrypick:4.1

#7713 Fix broken 3.x server download links
  tutorials/export/exporting_for_dedicated_servers.rst
Labels: bug, area:manual

#7589 Fixed Issue 'Broken link on internal_rendering_architecture page - 404 #7570'
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7505 C#: Replace FuncRef with Callable in outdated example
  tutorials/best_practices/scene_organization.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7700 Update player_scene_nodes.webp
  getting_started/first_2d_game/img/player_scene_nodes.webp
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#7683 Remove broken sentence
  tutorials/2d/using_tilesets.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7639 Update Customizing the interface and Using an external text editor docs
  tutorials/editor/customizing_editor.rst
  tutorials/editor/external_editor.rst
  tutorials/editor/img/editor_external_editor_settings.webp
  tutorials/editor/img/editor_settings.png
  tutorials/editor/img/editor_settings.webp
  tutorials/editor/img/editor_ui_intro_editor_07.png
  tutorials/editor/img/editor_ui_intro_editor_08.png
  tutorials/editor/img/editor_ui_move_dock.webp
  tutorials/editor/img/editor_ui_resize_dock.webp
  tutorials/editor/img/editor_ui_split_script_editor.webp
  tutorials/editor/img/editor_ui_split_shader_editor.webp
Labels: enhancement, area:manual, cherrypick:4.1

#7716 Update list of Godot version tags in Bisecting regressions
  contributing/workflow/bisecting_regressions.rst
Labels: bug, area:contributing, cherrypick:4.1

#7720 Mark UWP as non-functional in its respective export and compilation pages
  contributing/development/compiling/compiling_for_uwp.rst
  tutorials/export/exporting_for_uwp.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7723 Fix typo 'partice' -> 'particle'
  tutorials/3d/particles/index.rst
Labels: area:manual, content:proofreading, cherrypick:4.0

#7724 Add behavior change in migration guide
  tutorials/migrating/upgrading_to_godot_4.1.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7278 Remove outdated notices about GDScript debugger not supporting threads
  tutorials/performance/cpu_optimization.rst
  tutorials/scripting/debug/debugger_panel.rst
  tutorials/scripting/debug/overview_of_debugging_tools.rst
Labels: bug, area:manual

#7726 Mark SoftBody page as outdated
  tutorials/physics/soft_body.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7733 Fix formatting for a link on the Release Policy page
  about/release_policy.rst
Labels: bug, area:about, cherrypick:4.0, cherrypick:4.1

#7739 Update 3.x project setting names for test window size to 4.x names
  tutorials/rendering/multiple_resolutions.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7740 Marked 2D skeletons as outdated
  tutorials/animation/2d_skeletons.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7675 Update high level multiplayer manual for Godot 4.
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, area:manual
