Repository godotengine/godot-docs, pull requests merged in 2023-09, with the labels that each got.

#7867 Add missing C# code in making plugins tutorial
  tutorials/plugins/editor/making_plugins.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7874 Fix wrong C# code examples in making plugins tutorial
  tutorials/plugins/editor/making_plugins.rst
Labels: topic:dotnet, area:manual

#7873 PoolVector3Array now should be PackedVector3Array
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7880 Compiling for x11: use `linker=lld`
  development/compiling/compiling_for_x11.rst
Labels: cherrypick:3.5, area:manual, topic:buildsystem

#7875 Add documentation for render mode fog_disabled
  tutorials/3d/standard_material_3d.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual

#7816 Add Olde Sküül to list of porting companies in Console support in Godot
  tutorials/platform/consoles.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7812 GDScript: Mention `Array.assign()` method in typed arrays documentation
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.0, cherrypick:4.1

#7820 Custom editor icon section's command wrong or out of date
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, cherrypick:4.1

#7904 Simplify code for retrieving direction vectors
  tutorials/math/vectors_advanced.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
  tutorials/physics/rigid_body.rst
Labels: enhancement, area:manual

#7865 Update gdextension_cpp_example.rst to avoid unquoted compatibility_minimum trap
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual, cherrypick:4.1

#7897 Fix SIZE built-in in fog shader reference
  tutorials/shaders/shader_reference/fog_shader.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7775 fix: update location of `node_3d_editor_gizmos.cpp`
  contributing/development/editor/introduction_to_editor_development.rst
Labels: enhancement, area:contributing, cherrypick:4.0, cherrypick:4.1

#7940 Fixed URL underscore in general_optimization.rst
  tutorials/performance/general_optimization.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7943 Update c_sharp_basics.rst to fix filename
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7936 Added missing C# example in tutorials -> best practices -> godot_notifications.
  tutorials/best_practices/godot_notifications.rst
Labels: topic:dotnet, area:manual

#7944 Changed Input. to event. in the event_is_action_pressed() example function
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7931 Add macOS shortcut in getting started page
  getting_started/first_2d_game/02.player_scene.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#7960 Fix Olde Sküül link
  tutorials/platform/consoles.rst
Labels: bug, cherrypick:4.1

#7957 OpenXR : Add step to enable the loader plugin
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/xr_enable_loader_plugin.webp
Labels: enhancement, topic:xr, area:manual

#7962 Remove outdated VS setup and 2019 support info
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7969 Recommend using fullscreen on Linux in Fixing jitter and stutter
  tutorials/rendering/jitter_stutter.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7971 Update Navigation Overview for new obstacles
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
Labels: bug, area:manual, cherrypick:4.1

#7974 Document `--quit-after` command line argument in Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7851 update folder-content img on 01.project_setup.rst
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/img/folder-content.png
  getting_started/first_2d_game/img/folder-content.webp
Labels: area:getting started, content:images, cherrypick:4.0, cherrypick:4.1

#7980 Fixes typo in 2d movement C# code example.
  tutorials/2d/2d_movement.rst
Labels: bug, topic:dotnet, area:manual

#7972 Document particle flipbook animation in 2D, improve existing 3D flipbook docs
  tutorials/2d/img/particles_flipbook_configure_animation_offset.webp
  tutorials/2d/img/particles_flipbook_configure_animation_speed.webp
  tutorials/2d/img/particles_flipbook_configure_canvasitemmaterial.webp
  tutorials/2d/img/particles_flipbook_create_canvasitemmaterial.webp
  tutorials/2d/img/particles_flipbook_example.webp
  tutorials/2d/img/particles_flipbook_result.webp
  tutorials/2d/particle_systems_2d.rst
  tutorials/3d/particles/process_material_properties.rst
  tutorials/3d/particles/properties.rst
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.1

#7978 Update Instantiate menu in 03.player_movement_code.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/img/03.player_movement_code/03.instance_child_scene.png
  getting_started/first_3d_game/img/03.player_movement_code/03.instance_child_scene.webp
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#8009 Fix `register_types.h` code in GDExtension example
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual

#8010 Fix typo in `gdextension_cpp_example.rst`
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual

#8032 fix: update location of `audio_stream_player.cpp`
  contributing/development/core_and_modules/custom_audiostreams.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, area:contributing, cherrypick:4.0, cherrypick:4.1

#8031 Update godot_interfaces.rst . It's a simple typo.
  tutorials/best_practices/godot_interfaces.rst
Labels: bug, topic:dotnet, cherrypick:3.5, cherrypick:3.6, area:manual, cherrypick:4.0, cherrypick:4.1

#8001 Mention firewall issues causing long project startup times in Troubleshooting
  about/troubleshooting.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:about, cherrypick:4.0, cherrypick:4.1

#8021 C#: Document new `Asinh`, `Acosh` and `Atanh` functions in Mathf
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: topic:dotnet, area:manual

#8014 Fix sentence in tutorial code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#8011 Fix compiled file names when building on Windows
  contributing/development/compiling/compiling_for_windows.rst
Labels: bug, area:contributing, content:proofreading, cherrypick:4.0, cherrypick:4.1

#8002 Fixed typos in several doc files
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/debug/debugger_panel.rst
  tutorials/scripting/debug/overview_of_debugging_tools.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/your_first_shader/your_second_3d_shader.rst
  tutorials/ui/gui_using_fonts.rst
  tutorials/xr/openxr_hand_tracking.rst
  tutorials/xr/setting_up_xr.rst
Labels: cherrypick:3.5, cherrypick:3.6, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7990 Correct mouse_and_input_coordinates.rst
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8036 Make some clarifications/fixes in the C# docs
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:dotnet, area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#8028 Improve the navigation documentation wording
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_debug_tools.rst
  tutorials/navigation/navigation_different_actor_area_access.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
  tutorials/navigation/navigation_using_navigationmaps.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
  tutorials/navigation/navigation_using_navigationregions.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement, area:manual, content:proofreading

#8051 Remove outdated mention about low-processor mode on mobile in FAQ
  about/faq.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:about, cherrypick:4.0, cherrypick:4.1

#8046 Remove the documentation of an unimplemented feature of the tilemap selection tool
  tutorials/2d/using_tilemaps.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8034 fix getting started URL
  about/introduction.rst
  getting_started/introduction/index.rst
Labels: bug, area:about, area:getting started, cherrypick:4.0, cherrypick:4.1

#8038 Update style guide typo
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8015 Update spatial_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, topic:rendering, area:manual, cherrypick:4.0, cherrypick:4.1

#8059 Document Forward+ limitations with decal and reflection probe rendering
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/using_decals.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.1

#6979 Add concatenation to shader preprocessor
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual

#8068 format error
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started, content:proofreading

#8075 Modifying documentation to use correct editor executable file names
  contributing/development/compiling/compiling_for_macos.rst
Labels: bug, area:contributing

#8083 Update ways_to_contribute.rst
  contributing/ways_to_contribute.rst
Labels: enhancement, area:contributing

#8089 Add Swift to what_is_gdextension.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8088 Document looping support
  tutorials/animation/playing_videos.rst
Labels: enhancement, area:manual

#8101 Update trails.rst
  tutorials/3d/particles/trails.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1
