Repository godotengine/godot-docs, pull requests merged in 2023-06, with the labels that each got.

#7453 Update navigation examples that use NavigationMesh.create_from_mesh()
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7446 Character and typo fixes
  about/introduction.rst
  contributing/development/compiling/compiling_for_ios.rst
  contributing/documentation/building_the_manual.rst
  contributing/documentation/contributing_to_the_documentation.rst
  contributing/documentation/docs_image_guidelines.rst
  getting_started/first_3d_game/going_further.rst
  getting_started/step_by_step/signals.rst
  tutorials/2d/2d_lights_and_shadows.rst
  tutorials/3d/procedural_geometry/surfacetool.rst
  tutorials/animation/introduction.rst
  tutorials/assets_pipeline/escn_exporter/animation.rst
  tutorials/audio/audio_effects.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/platform/ios/plugins_for_ios.rst
  tutorials/platform/web/customizing_html5_shell.rst
  tutorials/rendering/jitter_stutter.rst
Labels: bug, content:proofreading, cherrypick:4.0

#7455 Fix noise example code (`Identifier "NoiseType" not declared in the current scope.`)
  tutorials/math/random_number_generation.rst
Labels: bug, area:manual, cherrypick:4.0

#7449 Include collide_with_areas in ray-casting.rst
  tutorials/physics/ray-casting.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7457 Fix canvas_items stretch mode name in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: bug, area:manual, cherrypick:4.0

#7007 Replace text about migrating preprocessor directives with a short list of supported macros
  tutorials/shaders/converting_glsl_to_godot_shaders.rst
Labels: enhancement, topic:rendering, area:manual

#7460 Update gdextension_cpp_example.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual, cherrypick:4.0

#7462 Typo fix in jitter_stutter.rst
  tutorials/rendering/jitter_stutter.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.0

#6740 Add page about using global classes in C#
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_global_classes.rst
  tutorials/scripting/c_sharp/img/globalclasses_addnode.webp
  tutorials/scripting/c_sharp/img/globalclasses_createresource.webp
  tutorials/scripting/c_sharp/img/globalclasses_exportedproperty1.webp
  tutorials/scripting/c_sharp/img/globalclasses_exportedproperty2.webp
  tutorials/scripting/c_sharp/index.rst
Labels: enhancement, topic:dotnet, content:new page, area:manual

#7474 Document `-j auto` in Building the manual
  contributing/documentation/building_the_manual.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:manual, cherrypick:4.0

#7481 Document EMJC bitmap compression not being supported in Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: bug, enhancement, area:manual, cherrypick:4.0

#7478 SCU (single compilation unit) build docs
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement, area:contributing, topic:buildsystem

#7479 Remove note for looping VideoStreamPlayer
  tutorials/animation/playing_videos.rst
Labels: enhancement, area:manual

#7483 Update threading code examples to use new syntax
  tutorials/performance/using_multiple_threads.rst
Labels: bug, area:manual, cherrypick:4.0

#7484 Added note near top of license compliance section regarding contribution.
  about/complying_with_licenses.rst
  contributing/development/best_practices_for_engine_contributors.rst
Labels: enhancement, area:about, area:contributing, cherrypick:4.0

#7490 Fixes typos in GDExtension tutorial
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.0

#7491 Set godot-cpp branch to 4.0 in GDExtension tutorial in master and stable version
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, content:proofreading

#7496 Add missing full stop
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.0

#7501 Fix typo in resolution_scaling.rst
  tutorials/3d/resolution_scaling.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7486 Tweak Vector math page (style, links, more notes)
  contributing/documentation/docs_image_guidelines.rst
  tutorials/math/img/vector_subtract2.png
  tutorials/math/img/vector_subtract2.webp
  tutorials/math/vector_math.rst
Labels: enhancement, area:manual, content:proofreading, cherrypick:4.0

#7519 tell codespell to ignore the locale code page
  .github/workflows/ci.yml
  _tools/codespell-ignore-lines.txt
Labels: bug, content:website

#7531 Minor grammar correction in your_first_3d_shader.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7472 Mark cutout_animation as outdated
  tutorials/animation/cutout_animation.rst
Labels: bug, area:manual, cherrypick:4.0

#7513 Update multiple_resolutions.rst
  tutorials/rendering/multiple_resolutions.rst
Labels: bug, area:manual, cherrypick:4.0

#7463 Replace references to interpolate_baked with sample_baked.
  tutorials/math/beziers_and_curves.rst
Labels: bug, area:manual, cherrypick:4.0

#7493 Update instancing.rst
  getting_started/step_by_step/img/instancing_physics_material_expand.png
  getting_started/step_by_step/img/instancing_physics_material_expand.webp
  getting_started/step_by_step/img/instancing_property_bounce_updated.png
  getting_started/step_by_step/img/instancing_property_bounce_updated.webp
  getting_started/step_by_step/instancing.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, area:getting started, cherrypick:4.0

#7522 Fix references to XR_ENV_BLEND_MODE_ALPHA_BLEND in openxr_passthrough…
  tutorials/xr/openxr_passthrough.rst
Labels: bug, topic:xr, area:manual, cherrypick:4.0

#7549 changed collisionInfo.Normal to collisionInfo.GetNormal()
  tutorials/physics/physics_introduction.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0

#7536 Updates to visual_shaders.rst to show new way to create visual shaders
  tutorials/shaders/img/visual_shader_create.png
  tutorials/shaders/img/visual_shader_create.webp
  tutorials/shaders/img/visual_shader_create2.webp
  tutorials/shaders/visual_shaders.rst
Labels: bug, needs work, area:manual

#7495 Update NavigationObstacle API doc
  tutorials/navigation/navigation_using_navigationobstacles.rst
Labels: enhancement, area:manual

#7574 Update the information about upcoming and currently supported releases
  about/release_policy.rst
Labels: cherrypick:3.6, area:about, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7526 Document OS-specific web feature tags
  tutorials/export/feature_tags.rst
Labels: enhancement, area:manual

#7572 Missing links to shader reference pages
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7571 Update OpenXR passthrough documentation for transparent background
  tutorials/xr/openxr_passthrough.rst
Labels: topic:xr

#7564 Changed a code example that didn't follow the style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, area:manual, cherrypick:4.0
