Repository godotengine/godot-docs, pull requests merged in 2023-04, with the labels that each got.

#6996 Fix android SDK versions in exporting for android
  tutorials/export/exporting_for_android.rst
Labels: bug, area:manual

#7120 Add comparison images to 3D rendering limitations
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/img/3d_rendering_limitations_banding.webp
  tutorials/3d/img/3d_rendering_limitations_transparency_sorting.webp
  tutorials/3d/img/3d_rendering_limitations_z_fighting.webp
Labels: enhancement, topic:rendering, area:manual

#7113 GDExtension example: `_process` delta is a double
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, content:proofreading

#7122 Fix typo in introduction_to_3d.rst
  tutorials/3d/introduction_to_3d.rst
Labels: bug, area:manual

#7126 Alter a word in "inputevent.rst"
  tutorials/inputs/inputevent.rst
Labels: bug, area:manual

#7119 Fix references to DEPTH_TEXTURE and SCREEN_TEXTURE
  tutorials/3d/environment_and_post_processing.rst
  tutorials/shaders/advanced_postprocessing.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, topic:rendering, area:manual

#7130 Fix incorrect `:abbr:` usage for abbreviation display
  tutorials/3d/environment_and_post_processing.rst
Labels: bug, area:manual

#7125 Remove duplicate C# comment from GDscript codeblock
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: enhancement, area:getting started

#7139 Fix small typos in the particle shader doc
  tutorials/shaders/shader_reference/particle_shader.rst
Labels: bug, topic:rendering, area:manual

#7136 Document custom scale factor in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, area:manual

#7115 Add NavigationLinks to navigation overviews
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
Labels: enhancement, area:manual

#7145 Fixed 'Reporting node configuration warnings' code snippet
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, area:manual, content:proofreading

#7149 3.6 branch: Fix spelling errors
  _tools/codespell-ignore-lines.txt
  _tools/codespell-ignore.txt
  tutorials/performance/optimizing_3d_performance.rst
Labels: bug

#7150 3.6 branch: Git ignore .env files
  .gitignore
Labels: enhancement

#7112 Add a page on using GCC/Clang/MSVC sanitizers
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/debugging/index.rst
  contributing/development/debugging/using_sanitizers.rst
Labels: enhancement, content:new page, area:manual

#7154 Add descriptions of multiview build-ins and EYE_OFFSET
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: topic:xr, area:manual

#7133 Fix in MultiMesh example
  tutorials/performance/using_multimesh.rst
Labels: bug, topic:rendering, area:manual

#7160 Complete render modes list in shaders docs
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, topic:rendering, area:manual

#6568 Added correct reference to Frames property
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement, area:getting started

#7132 Fix in methods names used in Using ImmediateMesh 3d tutorial
  tutorials/3d/procedural_geometry/immediatemesh.rst
Labels: bug, area:manual

#7165 Update GitHub issue URL for encapsulation violations in Editor development
  contributing/development/editor/introduction_to_editor_development.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0

#7164 Update link to set of predefined color mappings in `creating_icons.rst`
  contributing/development/editor/creating_icons.rst
Labels: area:contributing

#7163 Add macOS shortcut for closing Scene window
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started

#7167 Fix typo 'adominitions' in Comment Style Guide
  contributing/development/code_style_guidelines.rst
Labels: bug, area:contributing

#7169 Add a page on troubleshooting common physics issues
  tutorials/physics/index.rst
  tutorials/physics/large_world_coordinates.rst
  tutorials/physics/troubleshooting_physics_issues.rst
Labels: enhancement, content:new page, area:manual, topic:physics

#6918 Add the 'sphinx-copybutton' Sphinx extension.
  _static/css/custom.css
  conf.py
  requirements.txt
Labels: enhancement, content:website

#7175 Fix grammar in canvas_layers.rst
  tutorials/2d/canvas_layers.rst
Labels: bug, area:manual

#7174 Fix broken images in managing_editor_features.rst
  tutorials/editor/managing_editor_features.rst
Labels: bug, area:manual

#7178 Update SFC to Godot Foundation, old URLs
  about/introduction.rst
  community/tutorials.rst
  contributing/development/code_style_guidelines.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/cross-compiling_for_ios_on_linux.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
  contributing/documentation/contributing_to_the_documentation.rst
  make.bat
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/consoles.rst
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
Labels: bug, enhancement

#7180 Update About > Release Policy for Godot 4
  about/release_policy.rst
Labels: enhancement, area:about

#7181 Update About > Troubleshooting for Godot 4
  about/troubleshooting.rst
Labels: bug, area:about

#7182 Remove duplicate the-the
  about/troubleshooting.rst
  contributing/workflow/testing_pull_requests.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/xr/xr_action_map.rst
Labels: bug

#7173 Fix grammer in logic_preferences.rst
  tutorials/best_practices/logic_preferences.rst
Labels: bug, area:manual

#7117 Change OpenXR loader documentation to refer to new asset library entry
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_meta_quest.webp
  tutorials/xr/img/openxr_loader_asset_lib.webp
Labels: topic:xr, area:manual, cherrypick:4.0

#7074 [contributing/documentation/building_the_manual] use tabs and admonitions
  contributing/documentation/building_the_manual.rst
Labels: enhancement, area:contributing

#7177 Update C# code samples in 07.killing_player.rst
  getting_started/first_3d_game/07.killing_player.rst
Labels: bug, area:getting started, content:proofreading

#7185 Added note about key and keystore passwords to Exporting for Android …
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual

#7171 step_by_step/instancing.rst: Add macOS shortcuts
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:getting started

#7161 Add a CI action to sync up the class reference
  .github/workflows/sync_class_ref.yml
Labels: enhancement, area:class reference, content:website

#7188 Fix backquoted text in Controllers doc
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: bug, area:manual

#7190 Gwizz YT Channel Added
  community/tutorials.rst
Labels: enhancement, area:community

#7191 Document how to resolve issues with the editor looking too sharp or blurry
  about/img/troubleshooting_graphics_driver_sharpening.webp
  about/troubleshooting.rst
Labels: enhancement, area:manual

#7199 Mention maximum recommended size of 128×128 in Customizing the mouse cursor
  tutorials/inputs/custom_mouse_cursor.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:manual, cherrypick:4.0

#7195 Fix NavigationAgent script examples
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: bug, area:manual

#7179 Update About > Introduction for Godot 4
  about/introduction.rst
Labels: enhancement, area:about

#7193 Fix file-path strings in C# for plugin tutorial
  tutorials/plugins/editor/making_plugins.rst
Labels: bug, topic:dotnet, area:manual, topic:plugin

#7183 Update HTTP docs for Godot 4
  tutorials/networking/http_request_class.rst
  tutorials/networking/img/rest_api_scene.png
  tutorials/networking/img/rest_api_scene.webp
Labels: bug, enhancement, area:manual

#7206 Update godot_design_philosophy.rst
  getting_started/introduction/godot_design_philosophy.rst
Labels: enhancement, area:getting started

#7208 Fix formatting of pluralization code examples
  tutorials/i18n/internationalizing_games.rst
Labels: bug, area:manual

#7215 Fix typo in inputevent.rst
  tutorials/inputs/inputevent.rst
Labels: bug, area:manual

#7225 Replace legacy setget in tool tutorial
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, area:manual

#7223 Fix C# issues in inspector-plugin tutorial
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug, enhancement, area:manual, cherrypick:4.0

#7222 Move tutorial ZIPs to a dedicated repository
  contributing/documentation/contributing_to_the_documentation.rst
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/files/dodge_assets.zip
  getting_started/first_2d_game/index.rst
  getting_started/step_by_step/files/instancing.zip
  getting_started/step_by_step/files/pong_assets.zip
  getting_started/step_by_step/instancing.rst
  tutorials/2d/2d_movement.rst
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/files/2D_movement_demo.zip
  tutorials/2d/files/run_animation.zip
  tutorials/3d/files/gridmap_demo.zip
  tutorials/3d/using_gridmaps.rst
  tutorials/animation/cutout_animation.rst
  tutorials/animation/files/gbot_resources.zip
  tutorials/physics/files/kbscene.zip
  tutorials/physics/files/using_area_2d.zip
  tutorials/physics/files/using_kinematic2d.zip
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/using_area_2d.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/scripting/files/autoload.zip
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:getting started, area:manual

#7235 Update docs: set_shader_param -> set_shader_parameter
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug, area:manual

#7236 Your first 3D shader - update outdated images and information
  tutorials/shaders/your_first_shader/img/noise-set.png
  tutorials/shaders/your_first_shader/img/noise-set.webp
  tutorials/shaders/your_first_shader/img/normal-set.png
  tutorials/shaders/your_first_shader/img/normal-set.webp
  tutorials/shaders/your_first_shader/img/plane-sub-set.png
  tutorials/shaders/your_first_shader/img/plane-sub-set.webp
  tutorials/shaders/your_first_shader/img/shader-editor.webp
  tutorials/shaders/your_first_shader/img/shader-error.png
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: bug, topic:rendering, area:manual

#7137 Link to the Multiple resolutions demo in the relevant page (3.6)
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, cherrypick:3.5, area:manual

#7170 Document bypassing Gatekeeper path randomization in Running on macOS
  tutorials/export/running_on_macos.rst
Labels: enhancement, area:manual
