Repository godotengine/godot-docs, pull requests merged in 2023-11, with the labels that each got.

#8371 Document comment keywords being highlighted in the script editor
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#8362 docs: fix headless check
  tutorials/export/exporting_for_dedicated_servers.rst
Labels: bug, area:manual, cherrypick:4.1

#8370 Typo in Horizontal Alignment tag on "BBCode in RichTextLabel"
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: bug, area:manual, cherrypick:4.1

#8375 Fix incorrect C# example using `_GetConfigurationWarnings`
  tutorials/best_practices/godot_interfaces.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8373 Document `source_color` shader hint being relevant for 2D HDR
  tutorials/3d/environment_and_post_processing.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual

#8361 Update Frequently asked questions for Godot 4.2
  about/faq.rst
Labels: enhancement, area:about

#8332 Update 06.jump_and_squash.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: area:getting started, content:proofreading, cherrypick:4.1

#8376 Fix list of default comment marker keywords
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual

#8368 Clean up the instructions in the `compiling_for_android` docs
  contributing/development/compiling/compiling_for_android.rst
Labels: enhancement, area:contributing, topic:buildsystem

#8381 Fix GDExample C++ signal connect example and add explanation
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: cherrypick:4.1, topic:gdextension

#8394 Update some of the 3D particles pages for 4.2
  tutorials/3d/particles/creating_a_3d_particle_system.rst
  tutorials/3d/particles/img/particle_props_emitter.webp
  tutorials/3d/particles/img/particle_props_time.webp
  tutorials/3d/particles/index.rst
  tutorials/3d/particles/process_material_properties.rst
  tutorials/3d/particles/properties.rst
Labels: enhancement, area:manual

#8363 Add a page on runtime file loading and saving
  about/list_of_features.rst
  tutorials/io/index.rst
  tutorials/io/runtime_file_loading_and_saving.rst
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual

#8395 Remove extra "the" in nodes_and_scenes.rst
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: bug, area:getting started, cherrypick:4.1

#8388 Update references to community GDExtensions to point to up-to-date resources
  about/faq.rst
  about/list_of_features.rst
  getting_started/introduction/godot_design_philosophy.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8358 Fix navigationpath example script.
  tutorials/navigation/navigation_using_navigationpaths.rst
Labels: bug, area:manual, cherrypick:4.1

#8322 Mention support for per-tile rotation in Using TileSets
  tutorials/2d/img/using_tilemaps_create_pattern.webp
  tutorials/2d/img/using_tilemaps_select_layer.webp
  tutorials/2d/img/using_tilemaps_select_multiple_tiles_from_tileset.webp
  tutorials/2d/img/using_tilemaps_select_single_tile_from_tileset.webp
  tutorials/2d/img/using_tilemaps_use_pattern.webp
  tutorials/2d/using_tilemaps.rst
  tutorials/2d/using_tilesets.rst
Labels: enhancement, area:manual

#8396 Remove outdated custom mouse cursor demo project reference
  tutorials/inputs/custom_mouse_cursor.rst
Labels: bug, area:manual, cherrypick:4.1

#8403 Remove extra `the` in `tutorials/ui/index.rst`
  tutorials/ui/index.rst
Labels: bug, area:manual, cherrypick:4.1

#8404 Replace `,` with `.` in `gui_containers.rst`
  tutorials/ui/gui_containers.rst
Labels: bug, area:manual, cherrypick:4.1

#8412 Fix unused image due to bad syntax in Custom performance monitors
  tutorials/scripting/debug/custom_performance_monitors.rst
Labels: bug, area:manual, cherrypick:4.1

#8416 Fixed typo
  tutorials/xr/setting_up_xr.rst
Labels: bug, area:manual, cherrypick:4.1

#8349 Update scripting_player_input.rst
  getting_started/step_by_step/scripting_player_input.rst
Labels: enhancement, area:getting started, cherrypick:4.1

#8401 Document support for code folding regions in GDScript reference
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, area:manual

#8413 Fix various cases of unused images
  getting_started/first_3d_game/02.player_input.rst
  tutorials/2d/img/lights_and_shadow_pointlight2d_texture_example.webp
  tutorials/2d/using_tilemaps.rst
  tutorials/2d/using_tilesets.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/img/environment_3d_lut_import.webp
  tutorials/3d/lights_and_shadows.rst
Labels: bug, area:manual, cherrypick:4.1

#8409 Improve GDExtension documentation
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual

#8408 Add class name in classref links in Run-time file loading and saving
  tutorials/io/runtime_file_loading_and_saving.rst
  tutorials/networking/http_request_class.rst
Labels: enhancement, area:manual

#8422 Mark Using the Project Manager page as up-to-date
  tutorials/editor/project_manager.rst
Labels: enhancement, area:manual

#8426 Document support for importing KTX images in Importing images
  tutorials/assets_pipeline/exporting_3d_scenes.rst
  tutorials/assets_pipeline/importing_3d_scenes/index.rst
  tutorials/assets_pipeline/importing_audio_samples.rst
  tutorials/assets_pipeline/importing_images.rst
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#8424 Update list of modules that can be disabled in Optimizing for size
  contributing/development/compiling/optimizing_for_size.rst
Labels: enhancement, area:manual

#8378 Document `VERTEX_ID`, `INSTANCE_ID` built-ins for `canvas_item` vertex shader
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: area:manual, cherrypick:4.0, cherrypick:4.1

#8406 Use EditorInterface singleton in Making main screen plugins
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: enhancement, area:manual

#8136 fix #8076, update image and remove note in GDScript warning system docs
  tutorials/scripting/gdscript/warning_system.rst
Labels: area:manual

#8414 Add missing comma in instancing.rst
  getting_started/step_by_step/instancing.rst
Labels: bug, area:getting started, cherrypick:4.1

#8415 Minor fixes in scripting_first_script.rst
  getting_started/step_by_step/scripting_first_script.rst
Labels: bug, area:getting started, cherrypick:4.1

#8430 Update images on first script page
  getting_started/step_by_step/img/scripting_first_script_centering_sprite.png
  getting_started/step_by_step/img/scripting_first_script_centering_sprite.webp
  getting_started/step_by_step/img/scripting_first_script_click_other_node.png
  getting_started/step_by_step/img/scripting_first_script_click_other_node.webp
  getting_started/step_by_step/img/scripting_first_script_dragging_sprite.png
  getting_started/step_by_step/img/scripting_first_script_print_hello_world.png
  getting_started/step_by_step/img/scripting_first_script_print_hello_world.webp
  getting_started/step_by_step/scripting_first_script.rst
Labels: enhancement, area:getting started, cherrypick:4.1

#8407 Update register_types in binding_to_external_libraries.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
Labels: area:contributing, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7767 Fix duplicate mob squash logic in 3D tutorial (Your first 3D game)
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: area:getting started

#8203 fixed vector value in bullet example
  tutorials/scripting/instancing_with_signals.rst
Labels: bug, area:manual, cherrypick:4.1

#8193 Small fixes to overridable_functions.rst
  tutorials/scripting/overridable_functions.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8429 Clarifies that Lua-style dictionary keys must be string literals in the GD Reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8146 Instancing 4.1 up to date
  getting_started/step_by_step/instancing.rst
Labels: bug, area:manual, cherrypick:4.1

#8221 Incorrect path in generating *.out tests command in integration tests documentation
  contributing/development/core_and_modules/unit_testing.rst
Labels: bug, area:contributing, cherrypick:4.1

#8210 Update Viewports tutorial
  tutorials/rendering/img/cameras.png
  tutorials/rendering/img/cameras.webp
  tutorials/rendering/img/container.png
  tutorials/rendering/img/container.webp
  tutorials/rendering/img/default_scene.png
  tutorials/rendering/img/default_scene.webp
  tutorials/rendering/img/input.png
  tutorials/rendering/img/input.webp
  tutorials/rendering/img/overdraw.png
  tutorials/rendering/img/overdraw.webp
  tutorials/rendering/img/subviewportnode.webp
  tutorials/rendering/img/texturemenu.png
  tutorials/rendering/img/texturemenu.webp
  tutorials/rendering/img/texturepath.png
  tutorials/rendering/img/texturepath.webp
  tutorials/rendering/img/unshaded.png
  tutorials/rendering/img/unshaded.webp
  tutorials/rendering/img/viewportnode.png
  tutorials/rendering/img/wireframe.webp
  tutorials/rendering/viewports.rst
Labels: bug, area:manual, cherrypick:4.1

#7948 Add LSP/DAP configuration section on external editors
  _tools/codespell-ignore.txt
  tutorials/editor/external_editor.rst
  tutorials/editor/img/lsp_vscode_status.png
Labels: enhancement, area:manual, cherrypick:4.1

#8129 Minor fixes in getting started
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug, area:getting started, cherrypick:4.1

#7882 Update webrtc.rst
  tutorials/networking/webrtc.rst
Labels: bug, area:manual, cherrypick:4.1

#8436 Document glTF base path in Runtime file loading and saving
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#8294 Correct the description of "tree order"
  tutorials/scripting/scene_tree.rst
Labels: bug, area:manual, cherrypick:4.1

#8259 Updated Code Folding Hotkey Reference for MacOS
  tutorials/editor/default_key_mapping.rst
Labels: area:manual

#7934 Fixed macOS shortcut
  getting_started/step_by_step/instancing.rst
Labels: bug, area:getting started, cherrypick:4.1

#8437 Remove the remaining reminder and add it as a warning (Your first 2D game - Heads up display)
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started, cherrypick:4.1

#8440 c_sharp_exports.rst: use uint for layers; update casing to C# convention
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.1

#8441 Document generating mipmaps in Runtime file loading and saving
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#8442 Mark Android system font loading as unreliable in Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual

#8250 Update GDScript warning system to use `@warning_ignore`
  tutorials/scripting/gdscript/img/typed_gdscript_warning_example.png
  tutorials/scripting/gdscript/img/typed_gdscript_warning_example.webp
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_errors.png
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_errors.webp
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_ignore.png
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_ignore.webp
  tutorials/scripting/gdscript/warning_system.rst
Labels: bug, area:manual, cherrypick:4.1

#7579 GDScript: Clarify setter/getter documentation
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8410 Document setting up font outline, shadow and MSDF in Using fonts
  tutorials/ui/gui_using_fonts.rst
  tutorials/ui/img/using_fonts_system_font_serif.webp
Labels: enhancement, area:manual, cherrypick:4.1

#7725 Added chroma key shader tutorial in Playing Videos
  tutorials/animation/img/chroma_key_scene.webp
  tutorials/animation/img/chroma_key_video.webp
  tutorials/animation/img/slider_range.webp
  tutorials/animation/playing_videos.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8138 Add video tutorial reference
  community/tutorials.rst
Labels: enhancement, area:community, cherrypick:4.1

#8304 More clarity and explanation for audio effects
  tutorials/audio/audio_effects.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7994 Custom drawing in 2D update gdscript
  tutorials/2d/custom_drawing_in_2d.rst
Labels: bug, area:manual, cherrypick:4.1

#8379 [3.x] Document `VERTEX_ID`, `INSTANCE_ID` built-ins for vertex shaders
  tutorials/2d/using_tilemaps.rst
  tutorials/3d/using_transforms.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: cherrypick:3.5, area:manual

#8454 Add `--headless` parameter to "compiling with dotnet" examples
  contributing/development/compiling/compiling_with_dotnet.rst
Labels: enhancement, topic:dotnet, area:contributing, topic:buildsystem, cherrypick:4.0, cherrypick:4.1

#8456 Fix styling and grammar in object_class.rst
  contributing/development/core_and_modules/object_class.rst
Labels: enhancement, area:contributing, content:proofreading, cherrypick:4.1

#8468 Update the default diffuse mode
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual, cherrypick:4.1

#8411 Update `list-unused-images.sh` script for recent changes
  _tools/list-unused-images.sh
Labels: enhancement, cherrypick:4.1

#8476 Update setting_up_xr.rst with consistent spelling in code examples
  tutorials/xr/setting_up_xr.rst
Labels: bug, area:manual

#8473 Remove outdated C++ tutorial in "Your first 2D game"
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/07.finishing-up.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1, topic:gdextension

#8471 Document using EditorScript in Running code in the editor
  tutorials/plugins/img/running_code_in_the_editor_creating_editor_script.webp
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8469 Update MinGW-w64 instructions for Windows cross-compilation
  contributing/development/compiling/compiling_for_windows.rst
Labels: bug, area:manual, cherrypick:4.1

#8489 Fixing style guide example on 2 indent levels for continuation lines
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, area:manual, cherrypick:4.1

#8490 Update the list of limitations for the Android editor
  tutorials/editor/using_the_android_editor.rst
Labels: enhancement, topic:gdextension

#8481 Document alpha antialiasing in Standard Material 3D
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8493 Fixes typo in reference to normalized method.
  getting_started/first_3d_game/03.player_movement_code.rst
Labels: bug, area:getting started, content:proofreading, cherrypick:4.0, cherrypick:4.1

#8495 Update C# platform support
  about/faq.rst
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_ios.rst
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: topic:dotnet, area:about, area:manual

#8475 Add German style guide
  _styleguides/de.md
Labels: enhancement

#8497 "as long" -> "as long as" in 03.player_movement_code.rst
  getting_started/first_3d_game/03.player_movement_code.rst
Labels: bug, area:getting started, content:proofreading

#8472 Add FencerDevLog to the list of video tutorials in tutorials.rst
  community/tutorials.rst
Labels: enhancement, area:community, cherrypick:4.1

#7889 Remove UWP mentions as the platform port was removed in 4.2
  about/complying_with_licenses.rst
  about/faq.rst
  contributing/development/compiling/compiling_for_uwp.rst
  contributing/development/compiling/index.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/core_and_modules/custom_platform_ports.rst
  contributing/workflow/bug_triage_guidelines.rst
  tutorials/export/exporting_for_uwp.rst
  tutorials/export/feature_tags.rst
  tutorials/export/index.rst
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, content:organization, area:manual, area:contributing

#8501 Add redirects for old UWP pages to FAQ note
  _tools/redirects/redirects.csv
Labels: enhancement, content:redirect

#8511 Update copy node path in default_key_mapping.rst
  tutorials/editor/default_key_mapping.rst
Labels: bug, area:manual, cherrypick:4.1

#8509 Removed specular_phong and specular_blinn from spatial_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual, cherrypick:4.1

#8462 Adjust comma placement in 01.project_setup.rst
  getting_started/first_2d_game/01.project_setup.rst
Labels: area:getting started, content:proofreading, cherrypick:4.1

#8488 Add "Upgrading from Godot 4.1 to Godot 4.2" page
  tutorials/migrating/index.rst
  tutorials/migrating/upgrading_to_godot_4.2.rst
Labels: enhancement, content:new page, area:manual

#8521 Fix Android library title capitalization
  tutorials/platform/android/android_library.rst
Labels: bug, area:manual, content:proofreading

#8520 Typo fixed in Same-scene limitation section of scene_unique_nodes.rst
  tutorials/scripting/scene_unique_nodes.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.1

#8506 Update shader reference pages for canvas_item shaders and particle shaders for 4.2
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/particle_shader.rst
Labels: bug, enhancement, topic:rendering, area:manual

#8523 Fix some headers that were incorrectly comments
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/xr/index.rst
Labels: area:manual, content:proofreading

#8524 conf.py: Fix regression with composite language codes
  conf.py
Labels: bug, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1

#8479 Update navigation_using_navigationservers.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: area:manual, content:proofreading, cherrypick:4.1

#8527 Fix typo in background_loading.rst
  tutorials/io/background_loading.rst
Labels: bug, area:manual, cherrypick:4.1

#8516 Fix copyright header in code style guidelines
  contributing/development/code_style_guidelines.rst
Labels: cherrypick:3.5, cherrypick:3.6, area:contributing, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7983 Step by Step - Instancing 4.1 update
  getting_started/step_by_step/img/instancing_2d_scene_select.webp
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:manual

#8165 Reworked the pause menu example in pausing_games.rst
  tutorials/scripting/pausing_games.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8525 Update Particles2D instructions to convert GPU to CPU
  tutorials/2d/img/particles_convert.png
  tutorials/2d/img/particles_convert.webp
  tutorials/2d/particle_systems_2d.rst
Labels: bug, area:manual, cherrypick:4.1

#8293 Clarify confusion around property initialization
  tutorials/best_practices/godot_notifications.rst
Labels: enhancement, topic:dotnet, topic:gdscript, area:manual

#8459 Add visual shader node interface explanation
  tutorials/shaders/img/vs_boolean.webp
  tutorials/shaders/img/vs_node.webp
  tutorials/shaders/img/vs_sampler.webp
  tutorials/shaders/img/vs_scalar.webp
  tutorials/shaders/img/vs_transform.webp
  tutorials/shaders/img/vs_vector.webp
  tutorials/shaders/visual_shaders.rst
Labels: enhancement, area:manual, content:images, cherrypick:4.1

#7945 [3.6] Add C# code examples in `Using signals`
  getting_started/step_by_step/signals.rst
Labels: enhancement, topic:dotnet, cherrypick:3.5, area:getting started

#8113 Update 04.creating_the_enemy.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#8056 Document AMD FidelityFX Super Resolution 2.2 support
  about/list_of_features.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/img/antialiasing_fsr2_native.webp
  tutorials/3d/img/resolution_scaling_fsr2_0.5.webp
  tutorials/3d/img/resolution_scaling_fsr2_msaa_4x_0.5.webp
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/resolution_scaling.rst
Labels: enhancement, topic:rendering, area:manual

#8500 Add section on optimizing distribution size in Optimizing a build for size
  contributing/development/compiling/optimizing_for_size.rst
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8364 Add 'Night Quest Games Blog' to tutorials.rst
  community/tutorials.rst
Labels: enhancement, area:community, cherrypick:4.1

#7915 Updating the 2D tutorial in light of an editor bug
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: enhancement, topic:dotnet, area:getting started, cherrypick:4.1

#8457 Change comment to use new executable name: godot.linuxbsd.editor.dev.x86_64.llvm
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8528 Document limitations of local RenderingDevices in Using compute shaders
  tutorials/shaders/compute_shaders.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8207 Fix epub-related failures
  _extensions/godot_descriptions.py
  _templates/layout.html
Labels: bug, enhancement

#8499 Add hint reg. Safari audio autoplay restriction when exporting for the web
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8450 Reorganise "about" headers
  _tools/redirects/redirects.csv
  index.rst
  tutorials/img/troubleshooting_graphics_driver_sharpening.webp
  tutorials/troubleshooting.rst
Labels: enhancement, content:organization

#8192 Added C# code tabs to SurfaceTool.rst
  tutorials/3d/procedural_geometry/surfacetool.rst
Labels: enhancement, topic:dotnet, area:manual

#8505 add missing override modifier for _process()
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8503 Add an option to soft link besides copying for libatomic.a on linuxbsd
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing, cherrypick:4.1

#8517 Correct XR feature list to be more accurate
  about/list_of_features.rst
Labels: topic:xr, area:about

#8518 Reference the new movement demos in our roomscale writeup
  tutorials/xr/xr_room_scale.rst
Labels: topic:xr, area:manual

#8466 Minor edits for scripting_player_input.rst
  getting_started/step_by_step/scripting_player_input.rst
Labels: enhancement, area:getting started, cherrypick:4.1

#8538 Change the note about disconnecting C# signals
  tutorials/scripting/c_sharp/c_sharp_signals.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#8537 Update 2d_movement.rst
  tutorials/2d/2d_movement.rst
Labels: topic:dotnet, area:manual, content:proofreading, cherrypick:4.2
