Repository godotengine/godot-docs, pull requests merged in 2023-05, with the labels that each got.

#7254 Update image on standard material page
  tutorials/3d/img/add_material.png
  tutorials/3d/img/add_material.webp
  tutorials/3d/standard_material_3d.rst
Labels: bug, area:manual

#7239 Your first 2D Game - Update remaining signal name occurrences
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started

#7252 minor grammar and typo in gdscript_documentation_comments.rst
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
Labels: bug, area:manual

#7240 Clarified TimeScale node parameter name
  tutorials/animation/animation_tree.rst
Labels: enhancement, area:manual

#7249 Remove unneeded repetition in gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual

#7241 Marked potentially outdated pages
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/first_3d_game/going_further.rst
  getting_started/first_3d_game/index.rst
Labels: bug

#7238 Update "2D Sprite Animation" Page
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/img/2d_animation_add_from_spritesheet.webp
  tutorials/2d/img/2d_animation_full_animation.png
  tutorials/2d/img/2d_animation_full_animation.webp
  tutorials/2d/img/2d_animation_new_animation.png
  tutorials/2d/img/2d_animation_new_animation.webp
  tutorials/2d/img/2d_animation_new_spriteframes.png
  tutorials/2d/img/2d_animation_new_spriteframes.webp
  tutorials/2d/img/2d_animation_new_track.png
  tutorials/2d/img/2d_animation_new_track.webp
  tutorials/2d/img/2d_animation_play_spritesheet_animation.webp
  tutorials/2d/img/2d_animation_setframes.png
  tutorials/2d/img/2d_animation_setframes.webp
  tutorials/2d/img/2d_animation_spritesheet_select_rows.webp
  tutorials/2d/img/2d_animation_spritesheet_selectframes.webp
Labels: enhancement, area:manual

#7258 Update usages of obsolete rad2deg() and deg2rad() in docs
  getting_started/first_2d_game/05.the_main_game_scene.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/performance/using_servers.rst
  tutorials/scripting/evaluating_expressions.rst
Labels: bug, topic:dotnet, topic:gdscript, area:manual

#7232 Added restated text
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started

#7259 Update compiling_for_android.rst
  contributing/development/compiling/compiling_for_android.rst
Labels: area:contributing, topic:buildsystem

#7234 Updated with autoplay mention
  getting_started/first_3d_game/09.adding_animations.rst
Labels: enhancement, area:getting started

#7268 docs: add script templates example
  tutorials/scripting/creating_script_templates.rst
Labels: topic:gdscript, area:getting started

#7272 VS Code: remove duplicate code block
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: bug, area:manual

#7144 Updated method name in GDScript example
  getting_started/first_3d_game/04.mob_scene.rst
Labels: bug, area:getting started

#6565 Removed repetitive reference to NodePath
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual

#7280 GDExtension: Clarify ADD_SIGNAL Macro
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual, content:proofreading

#7281 Update physics_introduction.rst
  tutorials/physics/physics_introduction.rst
Labels: enhancement, area:manual

#6961 Updated "Reporting node configuration warnings"
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, area:manual

#5644 Streamline bug reporting process
  contributing/ways_to_contribute.rst
Labels: enhancement, needs work, area:contributing

#5764 Console support: Improve explanation and restructure
  tutorials/platform/consoles.rst
Labels: enhancement, area:manual

#7275 Update PR Workflow documentation to include updated information about GitHub's account verification via HTTPS
  contributing/workflow/pr_workflow.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:contributing, cherrypick:4.0

#7277 Add SPECULAR_AMOUNT spatial light shader built-in
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, topic:rendering, area:manual

#7287 Replaced all instances of "hard drive" with "local storage"
  getting_started/step_by_step/nodes_and_scenes.rst
  tutorials/scripting/nodes_and_scene_instances.rst
Labels: enhancement, area:manual

#6482 Update 01.game_setup.rst key binding on Mac
  getting_started/first_3d_game/01.game_setup.rst
Labels: bug, area:getting started

#7274 Build ePubs of the documentation for offline reading
  .github/workflows/build_offline_docs.yml
  README.md
  index.rst
Labels: enhancement, content:website

#7289 RTD: Change OS image to Ubuntu 22.04
  .readthedocs.yml
Labels: bug

#7295 Update rigid_body.rst
  tutorials/physics/rigid_body.rst
Labels: bug, area:manual

#7293 Remove outdated HiDPI note from nodes and scenes
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: bug, area:getting started

#7168 Mention Windows graphics driver TDR issues on Using compute shaders
  tutorials/shaders/compute_shaders.rst
Labels: enhancement, area:manual

#7292 Document focus and sleep caveats in Controllers, gamepads and joysticks
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7276 Document setting up Vulkan validation layers on desktop platforms
  contributing/development/compiling/compiling_for_android.rst
  contributing/development/debugging/vulkan/vulkan_validation_layers.rst
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual

#6626 Document binary variant decoding/encoding helper
  tutorials/io/binary_serialization_api.rst
Labels: enhancement, area:manual

#7297 Fix incorrect reference to `PacketPeerUDP.bind` in migrating tutorial
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: bug, area:manual, cherrypick:4.0

#7302 Update using_area_2d.rst
  tutorials/physics/using_area_2d.rst
Labels: bug, area:manual, topic:physics

#7204 fix: 3d tutorial squash code
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: enhancement, area:getting started

#7305 Document Linux + NVIDIA suspend issue in Troubleshooting
  about/troubleshooting.rst
Labels: enhancement, cherrypick:4.0

#7301 Document StandardMaterial3D refraction limitations
  about/list_of_features.rst
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7311 Document SpatialMaterial refraction limitations (3.6)
  about/list_of_features.rst
  tutorials/3d/spatial_material.rst
Labels: enhancement, cherrypick:3.5, area:manual

#7315 Update installing/making plugins pages with new images
  tutorials/plugins/editor/img/installing_plugins_assetlib_tab.png
  tutorials/plugins/editor/img/installing_plugins_assetlib_tab.webp
  tutorials/plugins/editor/img/installing_plugins_project_settings.png
  tutorials/plugins/editor/img/installing_plugins_project_settings.webp
  tutorials/plugins/editor/img/making_plugins-create_plugin_dialog.png
  tutorials/plugins/editor/img/making_plugins-create_plugin_dialog.webp
  tutorials/plugins/editor/img/making_plugins-custom_dock.png
  tutorials/plugins/editor/img/making_plugins-custom_dock.webp
  tutorials/plugins/editor/img/making_plugins-custom_node_console.png
  tutorials/plugins/editor/img/making_plugins-custom_node_console.webp
  tutorials/plugins/editor/img/making_plugins-custom_node_create.png
  tutorials/plugins/editor/img/making_plugins-custom_node_create.webp
  tutorials/plugins/editor/img/making_plugins-my_custom_dock_scene.png
  tutorials/plugins/editor/img/making_plugins-my_custom_dock_scene.webp
  tutorials/plugins/editor/img/making_plugins-my_custom_mode_folder.png
  tutorials/plugins/editor/img/making_plugins-my_custom_mode_folder.webp
  tutorials/plugins/editor/img/making_plugins-project_settings.png
  tutorials/plugins/editor/img/making_plugins-project_settings.webp
  tutorials/plugins/editor/installing_plugins.rst
  tutorials/plugins/editor/making_plugins.rst
Labels: enhancement, area:manual, content:images

#7316 Fix missing word in Window focus section of Controllers, gamepads and joysticks
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: bug, area:manual, cherrypick:4.0

#7322 Remove obsolete and confusing tip re: move_and_slide()
  tutorials/physics/using_character_body_2d.rst
Labels: bug, area:manual, topic:physics, cherrypick:4.0

#7338 Mention Spatial -> Node3D rename in Introduction docs
  getting_started/introduction/key_concepts_overview.rst
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement, area:getting started, area:manual

#6671 Mention that annotations in GDScript support constant expressions
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual

#7335 Change --export to --export-release
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual

#7309 gdexample.gdextension file not recognized
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual

#7341 Document faking volumetric fog using QuadMeshes
  tutorials/3d/img/volumetric_fog_quad_mesh_texture.webp
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.0

#7336 Fixed minor grammatical error
  tutorials/best_practices/scene_organization.rst
Labels: enhancement, area:manual

#7346 Marked /tutorials/rendering/viewports.rst as outdated
  tutorials/rendering/viewports.rst
Labels: bug, area:manual

#7308 Error in gdexample.cpp
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual

#7344 Docs CI: Limit concurrent builds
  .github/workflows/ci.yml
Labels: enhancement

#6422 Corrected sample code in import_plugins.rst
  tutorials/plugins/editor/import_plugins.rst
Labels: bug, area:manual

#7299 Update scenes_versus_scripts.rst minor correction
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/best_practices/what_are_godot_classes.rst
Labels: bug, area:manual

#7324 Add section mentioning "export as glTF" to CSG docs page
  tutorials/3d/csg_tools.rst
  tutorials/3d/img/export_as_gltf.webp
Labels: enhancement, area:manual

#7312 Document Linux + NVIDIA suspend issue in Troubleshooting
  about/troubleshooting.rst
Labels: enhancement, cherrypick:3.5, area:about

#7313 Document focus and sleep caveats in Controllers, gamepads and joysticks (3.6)
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement, cherrypick:3.5, area:manual

#7339 Update submitting_to_assetlib.rst
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement, area:community

#7354 Link to ThorVG viewer to check whether a SVG can render correctly
  tutorials/assets_pipeline/importing_images.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7352 Added a C# tutorial for the "Setting up XR"-section
  tutorials/xr/setting_up_xr.rst
Labels: enhancement, topic:dotnet, topic:xr, area:manual, cherrypick:4.0

#7355 Document font size caveats for pixel art fonts in Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7360 Update physics_introduction.rst
  tutorials/physics/physics_introduction.rst
Labels: bug, topic:dotnet, area:manual

#7283 Update descriptions and types for CanvasItem built-ins
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement, topic:rendering, area:manual

#7351 Change cpu_optimization.rst languages to link to gdextension implementations
  tutorials/performance/cpu_optimization.rst
Labels: bug, area:manual

#7349 Fix navigation script error
  tutorials/navigation/navigation_introduction_3d.rst
Labels: bug, area:manual

#7353 Documented export config files and evironment vars
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_ios.rst
  tutorials/export/exporting_for_linux.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/export/exporting_for_uwp.rst
  tutorials/export/exporting_for_web.rst
  tutorials/export/exporting_for_windows.rst
  tutorials/export/exporting_projects.rst
Labels: enhancement, area:manual

#7018 IAP_method_getProducts
  tutorials/platform/android/android_in_app_purchases.rst
Labels: bug, area:manual

#7363 Fix typo in lights_and_shadows.rst
  tutorials/3d/lights_and_shadows.rst
Labels: bug, topic:rendering, area:manual

#7362 More precise documentation about property underlying access
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual

#7359 Document project settings in 01.project_setup.rst
  getting_started/first_2d_game/01.project_setup.rst
Labels: enhancement, area:getting started

#7368 Fix code literal syntax in Using AnimationTree
  tutorials/animation/animation_tree.rst
Labels: bug, area:manual, cherrypick:4.0

#6133 Add a page documenting Godot's internal rendering architecture
  contributing/development/core_and_modules/img/rendering_architecture_diagram.webp
  contributing/development/core_and_modules/index.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: enhancement, content:new page, area:contributing

#7200 Fix Keyboard modifiers example
  tutorials/inputs/img/inputs_inputmap.png
  tutorials/inputs/img/inputs_inputmap.webp
  tutorials/inputs/input_examples.rst
Labels: bug, area:manual

#7323 Update "GDScript reference" (operators and `match`)
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7093 Update 07.finishing-up.rst
  getting_started/first_2d_game/07.finishing-up.rst
Labels: area:getting started

#6480 make the section describing wiring up the hit signal slightly more verbose
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, area:getting started

#6542 rework two funcref code examples
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/scene_organization.rst
Labels: enhancement, area:manual

#7369 Small grammar fix in Getting Started 3D
  getting_started/first_3d_game/08.score_and_replay.rst
Labels: enhancement, area:getting started, content:proofreading

#7370 Snake-case .tscn, .gd and _on_* callbacks
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/nodes_and_scenes.rst
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_player_input.rst
  getting_started/step_by_step/signals.rst
  tutorials/3d/using_gridmaps.rst
  tutorials/audio/recording_with_microphone.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/editor/project_settings.rst
  tutorials/physics/using_area_2d.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/plugins/editor/3d_gizmos.rst
  tutorials/plugins/editor/inspector_plugins.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
  tutorials/plugins/editor/visual_shader_plugins.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/static_typing.rst
  tutorials/scripting/groups.rst
  tutorials/scripting/instancing_with_signals.rst
  tutorials/scripting/nodes_and_scene_instances.rst
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:getting started, area:manual

#7372 Clarification in Getting Started 2D
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, area:getting started

#7371 Update some C# examples
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_player_input.rst
  tutorials/2d/2d_movement.rst
  tutorials/2d/2d_transforms.rst
  tutorials/audio/recording_with_microphone.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/godot_notifications.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/physics/kinematic_character_2d.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/using_area_2d.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/singletons_autoload.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0

#7340 Document using NoiseTexture3D with FogMaterial in Volumetric fog
  tutorials/3d/img/volumetric_fog_fog_material_density_texture.webp
  tutorials/3d/particles/attractors.rst
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, topic:rendering, area:manual

#7334 Update NavigationObstacle doc for avoidance rework
  tutorials/navigation/img/nav_static_obstacle_build.gif
  tutorials/navigation/navigation_using_navigationobstacles.rst
Labels: enhancement, area:manual

#7350 Update NavigationAgent doc for avoidance rework
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual

#7376 Fix wrong navigation agent example code in
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: bug, area:manual

#7377 [4.0] Fix wrong navigation agent example code
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: bug, area:manual

#7381 Fixed code snippet using 3.x name for PhysicsServer2D
  tutorials/physics/ray-casting.rst
Labels: bug, area:manual, topic:physics, cherrypick:4.0

#7379 Clarify that iOS plugin's files have to be in a very specific directory to work
  tutorials/platform/ios/ios_plugin.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7389 Mention that all font sizes in Godot are in pixels, not points in Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7378 Update GDExtension tutorial for entry functions
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual

#7387 Update "Step by step - Using signals" images and scene references
  getting_started/step_by_step/img/signals_01_new_scene.png
  getting_started/step_by_step/img/signals_01_new_scene.webp
  getting_started/step_by_step/img/signals_02_2d_scene.png
  getting_started/step_by_step/img/signals_02_2d_scene.webp
  getting_started/step_by_step/img/signals_04_add_child_node.png
  getting_started/step_by_step/img/signals_04_add_child_node.webp
  getting_started/step_by_step/img/signals_05_add_button.png
  getting_started/step_by_step/img/signals_05_add_button.webp
  getting_started/step_by_step/img/signals_07_select_tool.png
  getting_started/step_by_step/img/signals_07_select_tool.webp
  getting_started/step_by_step/img/signals_08_toggle_motion_text.png
  getting_started/step_by_step/img/signals_08_toggle_motion_text.webp
  getting_started/step_by_step/img/signals_10_node_dock.png
  getting_started/step_by_step/img/signals_10_node_dock.webp
  getting_started/step_by_step/img/signals_11_pressed_signals.png
  getting_started/step_by_step/img/signals_11_pressed_signals.webp
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started, cherrypick:4.0

#7386 Improve description of enums in GdScript basics
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7203 Fix link to the 3.x version of Compiling for Linux
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: bug, area:contributing, cherrypick:4.0

#7393 Fix vector math tutorial
  tutorials/math/vector_math.rst
Labels: bug, topic:dotnet, topic:gdscript, area:manual, cherrypick:4.0

#7394 Update standard_material_3d.rst
  tutorials/3d/standard_material_3d.rst
Labels: bug, area:manual, cherrypick:4.0

#7384 Clarify UI position setup in "Your first 2D game - Heads up display"
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started, cherrypick:4.0

#7396 Fix code typos
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual, cherrypick:4.0

#7401 Replace incorrect Speed variable in C# snippet in scripting_player_input.rst
  getting_started/step_by_step/scripting_player_input.rst
Labels: bug, topic:dotnet, area:getting started, cherrypick:4.0

#7404 Update embree library version (embree3-devel) to install for Fedora.
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: bug, area:manual, cherrypick:4.0

#7414 Update instancing.rst
  getting_started/step_by_step/instancing.rst
Labels: bug, area:getting started, cherrypick:4.0

#7417 Remove outdated warning from Importing translations tutorial
  tutorials/assets_pipeline/importing_translations.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7419 Update guidelines on headless exporting in Command line tutorial
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7422 Remove agent avoidance page
  tutorials/navigation/index.rst
  tutorials/navigation/navigation_using_agent_avoidance.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement, content:organization, area:manual

#7427 Minor fixes to navigationagent doc
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual

#7410 Add notes on color/depth buffer formats in Internal rendering architecture
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: enhancement, area:contributing, cherrypick:4.0

#7430 Update using_character_body_2d.rst
  tutorials/physics/using_character_body_2d.rst
Labels: bug, area:manual, cherrypick:4.0

#7426 GDScript: Add mention that `@onready @export` doesn't work as expected
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.0

#7420 Added configuring ide for rider
  .gitignore
  contributing/development/configuring_an_ide/img/rider_attach_to_process.webp
  contributing/development/configuring_an_ide/img/rider_configurations.webp
  contributing/development/configuring_an_ide/img/rider_configurations_changed.webp
  contributing/development/configuring_an_ide/img/rider_run_debug.webp
  contributing/development/configuring_an_ide/index.rst
  contributing/development/configuring_an_ide/rider.rst
Labels: enhancement, area:contributing, cherrypick:4.0

#7433 Fix compute_shaders.rst C# code snippets to compile
  tutorials/shaders/compute_shaders.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0

#7409 Make it possible to read abbreviations by tapping on mobile
  _static/css/custom.css
Labels: enhancement, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0

#7406 Add information about 3D asset direction conventions to "Importing 3D scenes"
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, area:manual, cherrypick:4.0

#7440 Fix RST link in importing 3D scenes asset direction conventions
  tutorials/assets_pipeline/importing_scenes.rst
Labels: bug, area:manual, cherrypick:4.0

#7441 update get_tree().get_root and GetTree().GetRoot()
  tutorials/inputs/handling_quit_requests.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/scripting/scene_tree.rst
Labels: bug, area:manual, cherrypick:4.0

#7439 Add a section for the Android editor
  tutorials/editor/index.rst
  tutorials/editor/using_the_android_editor.rst
Labels: enhancement, cherrypick:3.6, area:manual, cherrypick:4.0

#7447 Fix NavigationLink doc using old property names
  tutorials/navigation/navigation_using_navigationlinks.rst
Labels: bug, area:manual, cherrypick:4.0
