Repository godotengine/godot-docs, pull requests merged in 2023-08, with the labels that each got.

#7744 Update upgrading_to_godot_4.rst - Adding conversion example for change_scene()
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7768 Document macOS editor dock icon duplicating itself in Troubleshooting
  about/troubleshooting.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7783 fix typo in bbcode_in_richtextlabel.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7732 Use different color for control flow keywords in GDScript syntax highlighting
  _extensions/gdscript.py
  _static/css/custom.css
Labels: enhancement, content:website, cherrypick:4.0, cherrypick:4.1

#7794 typo "rasterizd"
  tutorials/ui/gui_using_fonts.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7798 Document more array formats that can be used in vertex arrays
  tutorials/3d/procedural_geometry/arraymesh.rst
Labels: bug, topic:rendering, area:manual, cherrypick:4.0, cherrypick:4.1

#7759 Update "GDScript documentation comments" page
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
  tutorials/scripting/gdscript/img/deprecated_and_experimental_marks.webp
Labels: enhancement, topic:gdscript, area:manual

#7781 Document C# diagnostics
  tutorials/scripting/c_sharp/diagnostics/GD0001.rst
  tutorials/scripting/c_sharp/diagnostics/GD0002.rst
  tutorials/scripting/c_sharp/diagnostics/GD0101.rst
  tutorials/scripting/c_sharp/diagnostics/GD0102.rst
  tutorials/scripting/c_sharp/diagnostics/GD0103.rst
  tutorials/scripting/c_sharp/diagnostics/GD0104.rst
  tutorials/scripting/c_sharp/diagnostics/GD0105.rst
  tutorials/scripting/c_sharp/diagnostics/GD0106.rst
  tutorials/scripting/c_sharp/diagnostics/GD0201.rst
  tutorials/scripting/c_sharp/diagnostics/GD0202.rst
  tutorials/scripting/c_sharp/diagnostics/GD0203.rst
  tutorials/scripting/c_sharp/diagnostics/GD0301.rst
  tutorials/scripting/c_sharp/diagnostics/GD0302.rst
  tutorials/scripting/c_sharp/diagnostics/GD0303.rst
  tutorials/scripting/c_sharp/diagnostics/GD0401.rst
  tutorials/scripting/c_sharp/diagnostics/GD0402.rst
  tutorials/scripting/c_sharp/diagnostics/index.rst
  tutorials/scripting/c_sharp/index.rst
Labels: enhancement, topic:dotnet, content:new page

#7793 Document removal of implicit multi-level calls in Upgrading to Godot 4
  tutorials/migrating/upgrading_to_godot_4.1.rst
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7807 fixed Localization using gettext wrong word #7749
  tutorials/i18n/localization_using_gettext.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7806 Update key_concepts_overview.rst
  getting_started/introduction/key_concepts_overview.rst
Labels: area:getting started, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7828 Mention typing of `for` loop variable in Static typing in GDScript
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, topic:gdscript, area:manual

#7823 Add missing annotation prefix in godot_interfaces
  tutorials/best_practices/godot_interfaces.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7826 Patch lobby example implementation.
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7824 Update images and related information of using_area_2d
  tutorials/physics/img/area2d_coin_nodes.png
  tutorials/physics/img/area2d_coin_nodes.webp
  tutorials/physics/img/area2d_properties.png
  tutorials/physics/img/area2d_properties.webp
  tutorials/physics/using_area_2d.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#7330 Update input event tutorial to reflect recent changes
  tutorials/inputs/img/input_event_flow.png
  tutorials/inputs/img/input_event_flow.webp
  tutorials/inputs/inputevent.rst
Labels: enhancement, area:manual

#7849 Recommend official Blender downloads in Importing 3D scenes
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, area:manual, cherrypick:4.1

#7844 Remove unsupported image format
  tutorials/assets_pipeline/importing_images.rst
Labels: bug, cherrypick:3.6, area:manual, cherrypick:4.0, cherrypick:4.1

#7850 Update exporting to Android XR devices for new loader
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_meta_quest.webp
  tutorials/xr/img/xr_export_features.webp
Labels: enhancement, topic:xr, area:manual
