Repository godotengine/godot-docs, pull requests merged in 2023-02, with the labels that each got.

#6709 Fixed typo in spatial shader reference.
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual

#6710 Correct CanvasItem shader docs about AT_LIGHT_PASS builtin
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: bug, topic:rendering

#6705 Document using additive Sprite2D as a faster alternative in 2D lights and shadows
  tutorials/2d/2d_lights_and_shadows.rst
Labels: enhancement, area:manual

#6702 Document vibration in Controllers, gamepads and joysticks
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement, area:manual

#6698 Rewrite compute shader tutorial
  tutorials/shaders/compute_shaders.rst
  tutorials/shaders/introduction_to_shaders.rst
Labels: enhancement, area:manual

#6700 C# signal delegates must be public
  tutorials/scripting/c_sharp/c_sharp_signals.rst
Labels: bug, topic:dotnet, area:manual

#6633 Add documentation about the XR action map
  tutorials/xr/img/xr_action_map.webp
  tutorials/xr/img/xr_add_touch_controller.webp
  tutorials/xr/img/xr_aim_pose.webp
  tutorials/xr/img/xr_all_actions.webp
  tutorials/xr/img/xr_my_first_action_set.webp
  tutorials/xr/img/xr_select_action.webp
  tutorials/xr/img/xr_simple_controller.webp
  tutorials/xr/img/xr_touch_completed.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_action_map.rst
  tutorials/xr/xr_action_map.rst
Labels: content:new page, topic:xr, area:manual

#6708 Add new 3rd party company
  tutorials/platform/consoles.rst
Labels: enhancement, area:manual

#6371 Update Saving games documentation for Godot 4.0
  tutorials/io/saving_games.rst
Labels: bug, area:manual, content:proofreading

#6719 Fix headings in XR action map documentation
  tutorials/xr/xr_action_map.rst
Labels: bug, topic:xr

#6718 Remove incorrect 3D suffix from nodes in realtime navigation
  tutorials/navigation/real_time_navigation_3d.rst
Labels: bug, cherrypick:3.5, area:manual

#6703 Improve Fixing jitter, stutter and input lag documentation (3.6)
  tutorials/rendering/jitter_stutter.rst
Labels: enhancement, cherrypick:3.5, area:manual

#6707 Linking between First 2D Shader and Custom Drawing
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: enhancement, area:manual

#6216 Revamp global illumination documentation
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/baked_lightmaps.rst
  tutorials/3d/faking_global_illumination.rst
  tutorials/3d/gi_probes.rst
  tutorials/3d/img/average.webp
  tutorials/3d/img/bad.webp
  tutorials/3d/img/baked_light_import.png
  tutorials/3d/img/baked_light_indirect.gif
  tutorials/3d/img/baked_light_mode.png
  tutorials/3d/img/faking_global_illumination_comparison.webp
  tutorials/3d/img/gi_lightmap_gi_direct_and_indirect.webp
  tutorials/3d/img/gi_lightmap_gi_indirect_only.webp
  tutorials/3d/img/gi_lightmap_gi_indirect_only_reflection_probe.webp
  tutorials/3d/img/gi_none.webp
  tutorials/3d/img/gi_none_reflection_probe.webp
  tutorials/3d/img/gi_sdfgi.webp
  tutorials/3d/img/gi_ssil_only.webp
  tutorials/3d/img/gi_voxel_gi.webp
  tutorials/3d/img/global_illumination_example.webp
  tutorials/3d/img/good.webp
  tutorials/3d/img/lightmap_gi_bake.png
  tutorials/3d/img/lightmap_gi_bake_mode.png
  tutorials/3d/img/lightmap_gi_blender.png
  tutorials/3d/img/lightmap_gi_bounds.png
  tutorials/3d/img/lightmap_gi_capture.png
  tutorials/3d/img/lightmap_gi_comparison.png
  tutorials/3d/img/lightmap_gi_import.webp
  tutorials/3d/img/lightmap_gi_lmsize.png
  tutorials/3d/img/lightmap_gi_mesh_import_meshes.webp
  tutorials/3d/img/lightmap_gi_mesh_menu.png
  tutorials/3d/img/lightmap_gi_omnilight_size.png
  tutorials/3d/img/lightmap_gi_scene.png
  tutorials/3d/img/lightmap_gi_use.png
  tutorials/3d/img/lightmap_gi_uvchannel.png
  tutorials/3d/img/reflection_probes_reflection_probe.webp
  tutorials/3d/img/reflection_probes_reflection_probe_ssr.webp
  tutorials/3d/img/reflection_probes_ssr.webp
  tutorials/3d/index.rst
  tutorials/3d/introduction_to_global_illumination.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/reflection_probes.rst
  tutorials/3d/sdfgi.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/3d/using_lightmap_gi.rst
  tutorials/3d/using_voxel_gi.rst
  tutorials/assets_pipeline/importing_scenes.rst
  tutorials/migrating/upgrading_to_godot_4.rst
  tutorials/performance/optimizing_3d_performance.rst
Labels: enhancement, content:new page, topic:rendering, area:manual

#6720 Clarify ternary operator in the style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, area:manual, content:proofreading

#6699 Use new API for 4.0
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, topic:dotnet, area:getting started

#6603 Update Importing 3D scenes documentation for Godot 4.0
  about/list_of_features.rst
  tutorials/assets_pipeline/importing_scenes.rst
Labels: enhancement, area:about, area:manual

#6693 Update some C# examples for 4.0
  tutorials/2d/2d_transforms.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/3d/using_transforms.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/godot_notifications.rst
  tutorials/inputs/handling_quit_requests.rst
  tutorials/inputs/input_examples.rst
  tutorials/inputs/inputevent.rst
  tutorials/io/saving_games.rst
  tutorials/math/beziers_and_curves.rst
  tutorials/math/interpolation.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/math/random_number_generation.rst
  tutorials/math/vector_math.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/networking/http_request_class.rst
  tutorials/performance/using_multimesh.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/rigid_body.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/plugins/editor/inspector_plugins.rst
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_signals.rst
  tutorials/scripting/cross_language_scripting.rst
  tutorials/ui/custom_gui_controls.rst
Labels: bug, topic:dotnet, area:manual

#6729 small c# fix in the "Arc polygon function" section
  tutorials/2d/custom_drawing_in_2d.rst
Labels: bug, topic:dotnet, area:manual

#6721 C#: Add table with equivalent GlobalScope methods
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#6677 C#: Add table with equivalent Array methods
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#6730 Add a dedicated page about the C# Variant type
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_signals.rst
  tutorials/scripting/c_sharp/c_sharp_variant.rst
  tutorials/scripting/c_sharp/index.rst
Labels: enhancement, topic:dotnet, content:new page, area:manual

#6722 Document Signal and Callable types in C# differences page
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#6717 Fix wrong registration method names for 3D gizmo plugins
  tutorials/plugins/editor/3d_gizmos.rst
Labels: bug, area:manual

#6362 Add C# documentation for the export section
  tutorials/export/exporting_for_dedicated_servers.rst
  tutorials/export/exporting_for_web.rst
  tutorials/export/feature_tags.rst
Labels: enhancement, topic:dotnet, area:manual

#6715 Remove invalid web feature tags
  tutorials/export/feature_tags.rst
Labels: bug, area:manual

#6704 Clarify `@export_enum` docs
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual

#6712 Fix method names in Navigation overview
  tutorials/navigation/navigation_introduction_3d.rst
Labels: bug, area:manual

#6731 "Your first 2D Game" update some more images and outdated info
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/02.player_scene.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_2d_game/07.finishing-up.rst
  getting_started/first_2d_game/img/mob_animations.gif
  getting_started/first_2d_game/img/mob_animations.webp
  getting_started/first_2d_game/img/new-project-button.png
  getting_started/first_2d_game/img/new-project-button.webp
  getting_started/first_2d_game/img/player_coll_shape.png
  getting_started/first_2d_game/img/player_coll_shape.webp
  getting_started/first_2d_game/img/spriteframes_panel.webp
  getting_started/first_2d_game/img/spriteframes_panel2.webp
  getting_started/first_2d_game/img/start_button_shortcut.png
  getting_started/first_2d_game/img/start_button_shortcut.webp
  getting_started/first_2d_game/img/start_button_shortcut2.webp
  getting_started/first_2d_game/img/ui_anchor.png
  getting_started/first_2d_game/img/ui_anchor.webp
Labels: bug, area:getting started, content:images

#6734 C#: Lowercase titles for exports and signals pages
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_signals.rst
Labels: enhancement, area:manual

#6733 C#: Replace "falsy" with "false" in C# "is" doc
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:dotnet, area:manual

#6696 Update and add C# RefCounted example in "Scenes versus Scripts"
  tutorials/best_practices/scenes_versus_scripts.rst
Labels: bug, enhancement, topic:dotnet, area:manual

#6379 Update gdscript_styleguide.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual

#6732 Add C# type test example (pattern matching)
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: enhancement, topic:dotnet, area:manual

#6661 GDScript style guide: Improve type inference section
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual

#6547 fix(01.game_setup.rst): Extents->Size adjustments and new screenshots
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/img/01.game_setup/09.box_extents.webp
  getting_started/first_3d_game/img/01.game_setup/09.box_size.webp
Labels: bug, area:getting started, content:proofreading

#6666 Clarify `#undef` behavior on non-existing defines in Shader preprocessor
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual

#6737 Update ways to contribute and propose ideas in the FAQ
  about/faq.rst
Labels: enhancement, area:about

#6745 Clarify behavior with `#define` and semicolons in Shader preprocessor
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual

#6725 Updates GLSL reference to contain GDScript types
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual

#6739 Add missing differences to C# documentation
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#6748 Update Using fonts documentation for 4.0.beta17
  tutorials/ui/gui_using_fonts.rst
  tutorials/ui/img/using_fonts_bitmap_font_from_image_example_configuration.webp
Labels: enhancement, area:manual

#6752 Fix gdscript_exports @export_node_path example by adding quotes
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug, area:manual

#6750 Document Unicode identifiers now being supported in GDScript reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual

#6753 Update Mono references to .NET
  about/list_of_features.rst
  contributing/workflow/bug_triage_guidelines.rst
  getting_started/step_by_step/scripting_languages.rst
Labels: enhancement, topic:dotnet, area:about

#6766 Fix errors in navigation_layers bitmask example
  tutorials/navigation/navigation_using_navigationlayers.rst
Labels: bug, area:manual

#6759 Mention disabling bilinear filtering in Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual

#6746 Update C# exports documentation
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: enhancement, topic:dotnet, area:manual

#6747 Update sync_with_audio.rst for Godot 4
  tutorials/audio/sync_with_audio.rst
Labels: bug, area:manual

#6761 Update Invalid References
  contributing/documentation/docs_image_guidelines.rst
  tutorials/assets_pipeline/importing_scenes.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: bug, area:manual

#6662 Add an introduction page for XR tools
  tutorials/xr/basic_xr_locomotion.rst
  tutorials/xr/img/godot_xr_tools_basic_movement.webp
  tutorials/xr/img/godot_xr_tools_enable.webp
  tutorials/xr/img/godot_xr_tools_floor.webp
  tutorials/xr/img/godot_xr_tools_root_folder.webp
  tutorials/xr/img/xr_tools_basic_hands.webp
  tutorials/xr/index.rst
  tutorials/xr/introducing_xr_tools.rst
Labels: content:new page, topic:xr, area:manual

#6771 Fix navigation basic setup confusing instructions / images
  tutorials/navigation/img/nav_2d_min_setup_step3.png
  tutorials/navigation/img/nav_2d_min_setup_step3.webp
  tutorials/navigation/img/nav_3d_min_setup_step4.png
  tutorials/navigation/img/nav_3d_min_setup_step4.webp
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
Labels: enhancement, area:manual

#6770 Update FAQ for Godot 4.0
  about/faq.rst
  community/asset_library/submitting_to_assetlib.rst
  community/asset_library/what_is_assetlib.rst
  contributing/ways_to_contribute.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/introduction_to_godot.rst
  tutorials/platform/consoles.rst
Labels: enhancement, area:manual

#6768 Fix `rotation_degrees` note in "Upgrading to Godot 4"
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: bug, area:manual

#6762 Update compute_shaders.rst
  tutorials/shaders/compute_shaders.rst
Labels: bug, area:manual

#6780 Add NavigationAgent.is_navigation_finished() early return to script examples to avoid in-place jitter
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual

#6794 Fix Python link typo in Compiling for Linux
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: bug, area:contributing

#6796 Remove "features" subheading on "list of features" page in about section and promote its subheading to one level above
  about/list_of_features.rst
Labels: enhancement, area:about

#6803 Improve the Shader preprocessor documentation
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual

#6402 Add a page on variable rate shading (VRS)
  tutorials/3d/img/variable_rate_shading_texture_example.webp
  tutorials/3d/img/variable_rate_shading_textured_disabled.webp
  tutorials/3d/img/variable_rate_shading_textured_enabled.webp
  tutorials/3d/img/variable_rate_shading_untextured_disabled.webp
  tutorials/3d/img/variable_rate_shading_untextured_enabled.webp
  tutorials/3d/index.rst
  tutorials/3d/resolution_scaling.rst
  tutorials/3d/variable_rate_shading.rst
  tutorials/performance/gpu_optimization.rst
Labels: enhancement, content:new page, topic:rendering, area:manual

#6773 Update List of features for Godot 4.0.rc1
  about/list_of_features.rst
  tutorials/3d/resolution_scaling.rst
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:about, content:proofreading

#6805 Clarify the behavior of Stop pause mode in Pausing games
  tutorials/scripting/pausing_games.rst
Labels: enhancement, cherrypick:3.5, area:manual

#6804 Document the generation source used for SDF in CanvasItem shaders
  tutorials/2d/2d_lights_and_shadows.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement, area:manual

#6778 Add C# Examples for ArrayMesh Tutorial
  tutorials/3d/procedural_geometry/arraymesh.rst
Labels: enhancement, topic:dotnet, area:manual

#6763 Fix your first 3D game issues
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/first_3d_game/going_further.rst
  getting_started/first_3d_game/img/01.game_setup/13.move_gizmo_y_axis.png
  getting_started/first_3d_game/img/01.game_setup/move_gizmo_y_axis.webp
  getting_started/first_3d_game/img/08.score_and_replay/05.dynamic_font.webp
  getting_started/first_3d_game/img/08.score_and_replay/06.font_data.webp
  getting_started/first_3d_game/img/08.score_and_replay/13.retry_color_picker.png
  getting_started/first_3d_game/img/08.score_and_replay/retry_color_picker.webp
  getting_started/first_3d_game/img/09.adding_animations/01.animation_player_dock.png
  getting_started/first_3d_game/img/09.adding_animations/animation_player_dock.webp
  getting_started/first_3d_game/index.rst
Labels: bug, enhancement, area:manual

#6774 Add documentation about XR room scale
  tutorials/xr/img/XRRoomCenterWalk.gif
  tutorials/xr/img/XRRoomRotateOrigin.gif
  tutorials/xr/img/XRRoomWalkOffCliff.gif
  tutorials/xr/img/XRRoomWalkWall.gif
  tutorials/xr/img/xr_room_scale_character_body.webp
  tutorials/xr/img/xr_room_scale_origin_body.webp
  tutorials/xr/index.rst
  tutorials/xr/xr_room_scale.rst
Labels: topic:xr, area:manual

#5119 Add pseudolocalization tutorial
  tutorials/i18n/img/pseudolocalization_settings.webp
  tutorials/i18n/index.rst
  tutorials/i18n/pseudolocalization.rst
Labels: enhancement, area:manual

#6801 There is no 4D noise in base Noise
  tutorials/math/random_number_generation.rst
Labels: bug, area:manual

#6810 Clarify limitations of transparent materials in Spatial shaders
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, topic:rendering, area:manual

#6809 Document volumetric fog having a finite distance
  tutorials/3d/volumetric_fog.rst
Labels: enhancement, topic:rendering, area:manual

#6670 Scene unique nodes: clarify intended usage
  tutorials/scripting/img/unique_name.png
  tutorials/scripting/img/unique_name_scene_instance_example.png
  tutorials/scripting/scene_unique_nodes.rst
Labels: enhancement, area:manual

#6772 Add C# collections documentation page
  tutorials/scripting/c_sharp/c_sharp_collections.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/index.rst
Labels: topic:dotnet, content:new page, area:manual

#6813 Enable error reporting on the CI and address the remaining errors
  .github/workflows/ci.yml
  tutorials/networking/websocket.rst
  tutorials/shaders/shader_reference/shader_preprocessor.rst
  tutorials/shaders/shaders_style_guide.rst
  tutorials/xr/xr_action_map.rst
Labels: bug, enhancement, content:website

#6818 Mention the need for Flip Faces when using QuadMesh for post-processing
  tutorials/shaders/advanced_postprocessing.rst
Labels: bug, topic:rendering

#6814 Move the latest branch warning from JS into templates
  Makefile
  _static/js/custom.js
  _templates/layout.html
  conf.py
Labels: enhancement, content:website

#6821 Update `class_name` in Static typing in GDScript to follow style guide
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, area:manual

#6787 Document shadow quality workaround with orthogonal camera in Your first 3D game
  getting_started/first_3d_game/03.player_movement_code.rst
Labels: enhancement, area:manual

#6792 Update the `Compiling with Mono` page
  _tools/redirects/redirects.csv
  contributing/development/compiling/compiling_with_dotnet.rst
  contributing/development/compiling/compiling_with_mono.rst
  contributing/development/compiling/index.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:contributing

#6781 Add note about removing new_game() _ready() in 2D tut
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started

#6820 Update references to "Mono" menu item to "Dotnet"
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug, topic:dotnet, area:manual

#6212 Addition of GDExtension docs
  _tools/redirects/redirects.csv
  about/docs_changelog.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/export/feature_tags.rst
  tutorials/networking/webrtc.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/scripting/gdextension/files/cpp_example/SConstruct
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/img/gdextension_cpp_animated.gif
  tutorials/scripting/gdextension/img/gdextension_cpp_nodes.webp
  tutorials/scripting/gdextension/img/gdextension_cpp_sprite.webp
  tutorials/scripting/gdextension/index.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
  tutorials/scripting/index.rst
Labels: enhancement, content:new page, area:manual

#6559 Document how to use screen space textures using uniform hints
  tutorials/shaders/custom_postprocessing.rst
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
  tutorials/shaders/shaders_style_guide.rst
Labels: enhancement, topic:rendering, area:manual

#6827 Update outdated "Nodes and Scenes" page
  getting_started/step_by_step/img/nodes_and_scenes_01_empty_editor.png
  getting_started/step_by_step/img/nodes_and_scenes_01_empty_editor.webp
  getting_started/step_by_step/img/nodes_and_scenes_02_scene_dock.png
  getting_started/step_by_step/img/nodes_and_scenes_02_scene_dock.webp
  getting_started/step_by_step/img/nodes_and_scenes_03_create_node_window.png
  getting_started/step_by_step/img/nodes_and_scenes_03_create_node_window.webp
  getting_started/step_by_step/img/nodes_and_scenes_04_create_label_window.png
  getting_started/step_by_step/img/nodes_and_scenes_04_create_label_window.webp
  getting_started/step_by_step/img/nodes_and_scenes_05_editor_with_label.png
  getting_started/step_by_step/img/nodes_and_scenes_05_editor_with_label.webp
  getting_started/step_by_step/img/nodes_and_scenes_06_label_text.png
  getting_started/step_by_step/img/nodes_and_scenes_06_label_text.webp
  getting_started/step_by_step/img/nodes_and_scenes_07_move_tool.png
  getting_started/step_by_step/img/nodes_and_scenes_07_move_tool.webp
  getting_started/step_by_step/img/nodes_and_scenes_08_hello_world_text.png
  getting_started/step_by_step/img/nodes_and_scenes_08_hello_world_text.webp
  getting_started/step_by_step/img/nodes_and_scenes_09_play_scene_button.png
  getting_started/step_by_step/img/nodes_and_scenes_09_play_scene_button.webp
  getting_started/step_by_step/img/nodes_and_scenes_10_save_scene_as.webp
  getting_started/step_by_step/img/nodes_and_scenes_10_save_scene_popup.png
  getting_started/step_by_step/img/nodes_and_scenes_11_final_result.webp
  getting_started/step_by_step/img/nodes_and_scenes_11_save_scene_as.png
  getting_started/step_by_step/img/nodes_and_scenes_12_final_result.png
  getting_started/step_by_step/img/nodes_and_scenes_12_play_button.webp
  getting_started/step_by_step/img/nodes_and_scenes_13_main_scene_popup.webp
  getting_started/step_by_step/img/nodes_and_scenes_13_play_button.png
  getting_started/step_by_step/img/nodes_and_scenes_14_main_scene_popup.png
  getting_started/step_by_step/img/nodes_and_scenes_14_select_main_scene.webp
  getting_started/step_by_step/img/nodes_and_scenes_15_select_main_scene.png
  getting_started/step_by_step/img/nodes_and_scenes_character_nodes.png
  getting_started/step_by_step/img/nodes_and_scenes_character_nodes.webp
  getting_started/step_by_step/img/nodes_and_scenes_nodes.png
  getting_started/step_by_step/img/nodes_and_scenes_nodes.webp
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started

#6822 Add documentation about OpenXR passthrough
  tutorials/xr/img/xr_export_passthrough.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_passthrough.rst
Labels: topic:xr, area:manual

#6783 First cut of text-to-speech tutorial
  tutorials/audio/index.rst
  tutorials/audio/text_to_speech.rst
Labels: enhancement, area:manual

#6828 Add bang operator to gdscript style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, area:manual

#6558 Add bang operator to operators table
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, area:manual

#6782 Update resource importing documentation for Godot 4.0
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/3d/volumetric_fog.rst
  tutorials/assets_pipeline/img/asset_workflow1.png
  tutorials/assets_pipeline/img/asset_workflow2.png
  tutorials/assets_pipeline/img/asset_workflow3.png
  tutorials/assets_pipeline/img/asset_workflow4.png
  tutorials/assets_pipeline/img/asset_workflow5.png
  tutorials/assets_pipeline/img/import_process_change_preset.webp
  tutorials/assets_pipeline/img/import_process_changing_import_type.webp
  tutorials/assets_pipeline/img/import_process_example.webp
  tutorials/assets_pipeline/img/import_process_import_defaults.webp
  tutorials/assets_pipeline/img/importing_audio_samples_advanced_import_settings.webp
  tutorials/assets_pipeline/img/importing_audio_samples_import_options_mp3.webp
  tutorials/assets_pipeline/img/importing_audio_samples_import_options_wav.webp
  tutorials/assets_pipeline/img/importing_images_import_dock.webp
  tutorials/assets_pipeline/img/importing_images_inspector_preview.webp
  tutorials/assets_pipeline/img/importing_images_normal_map_rgtc.webp
  tutorials/assets_pipeline/import_process.rst
  tutorials/assets_pipeline/importing_audio_samples.rst
  tutorials/assets_pipeline/importing_images.rst
Labels: enhancement, area:manual

#6807 "Your first 3D game - Score and Replay" update images, indentation and naming
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/img/08.score_and_replay/01.label_node.png
  getting_started/first_3d_game/img/08.score_and_replay/01_label_node.webp
  getting_started/first_3d_game/img/08.score_and_replay/02.score_color_picker.png
  getting_started/first_3d_game/img/08.score_and_replay/02.score_custom_color.webp
  getting_started/first_3d_game/img/08.score_and_replay/02.score_label_moved.png
  getting_started/first_3d_game/img/08.score_and_replay/02.score_placeholder.png
  getting_started/first_3d_game/img/08.score_and_replay/02_score_placeholder.webp
  getting_started/first_3d_game/img/08.score_and_replay/03.creating_theme.png
  getting_started/first_3d_game/img/08.score_and_replay/03_score_font_color.webp
  getting_started/first_3d_game/img/08.score_and_replay/04.theme_preview.png
  getting_started/first_3d_game/img/08.score_and_replay/04_score_label_moved.webp
  getting_started/first_3d_game/img/08.score_and_replay/05_creating_theme.webp
  getting_started/first_3d_game/img/08.score_and_replay/06_theme_preview.webp
  getting_started/first_3d_game/img/08.score_and_replay/07.font_size.webp
  getting_started/first_3d_game/img/08.score_and_replay/07_font_size.webp
  getting_started/first_3d_game/img/08.score_and_replay/08.open_main_script.png
  getting_started/first_3d_game/img/08.score_and_replay/08_open_main_script.webp
  getting_started/first_3d_game/img/08.score_and_replay/09_score_in_game.png
  getting_started/first_3d_game/img/08.score_and_replay/10.layout_icon.png
  getting_started/first_3d_game/img/08.score_and_replay/10_anchor_preset.webp
  getting_started/first_3d_game/img/08.score_and_replay/11.full_rect_option.png
  getting_started/first_3d_game/img/08.score_and_replay/11_full_rect_option.webp
  getting_started/first_3d_game/img/08.score_and_replay/12.anchors_updated.png
  getting_started/first_3d_game/img/08.score_and_replay/12_anchors_updated.webp
  getting_started/first_3d_game/img/08.score_and_replay/13_retry_color_picker.webp
  getting_started/first_3d_game/img/08.score_and_replay/14.retry_node.png
  getting_started/first_3d_game/img/08.score_and_replay/14_center_option.webp
  getting_started/first_3d_game/img/08.score_and_replay/15.layout_center.png
  getting_started/first_3d_game/img/08.score_and_replay/15_new_scene.webp
  getting_started/first_3d_game/img/08.score_and_replay/16.new_scene.png
  getting_started/first_3d_game/img/08.score_and_replay/16_music_player_node.webp
  getting_started/first_3d_game/img/08.score_and_replay/17.music_player_node.png
  getting_started/first_3d_game/img/08.score_and_replay/17_music_node_properties.webp
  getting_started/first_3d_game/img/08.score_and_replay/18.music_node_properties.png
  getting_started/first_3d_game/img/08.score_and_replay/18_register_autoload.webp
  getting_started/first_3d_game/img/08.score_and_replay/19.register_autoload.png
  getting_started/first_3d_game/img/08.score_and_replay/19_scene_dock_tabs.webp
  getting_started/first_3d_game/img/08.score_and_replay/20.scene_dock_tabs.png
  getting_started/first_3d_game/img/08.score_and_replay/20_remote_scene_tree.webp
  getting_started/first_3d_game/img/08.score_and_replay/21.remote_scene_tree.png
  getting_started/first_3d_game/img/08.score_and_replay/retry_color_picker.webp
Labels: enhancement, area:getting started

#6835 Fix minor inconsistencies of gdextension docs
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual

#6834 Fix TTS code example and add C# version
  tutorials/audio/text_to_speech.rst
Labels: bug, area:manual

#6839 Remove duplicate text from GDExtension doc
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: bug, area:manual

#6836 Update terrain image example in Using TileSets
  tutorials/2d/img/using_tilesets_configure_terrain_peering_bits.webp
Labels: enhancement, area:manual

#6819 Add content to the hand tracking page in the documentation
  tutorials/xr/img/openxr_hand_skeleton.webp
  tutorials/xr/img/xr_enable_handtracking.webp
  tutorials/xr/openxr_hand_tracking.rst
Labels: topic:xr, area:manual

#6840 Fix link to Rust GDExtension repository
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: bug, area:manual

#6844 Update redirects, redirects script
  _tools/redirects/convert_git_renames_to_csv.py
  _tools/redirects/create_redirects.py
  _tools/redirects/redirects.csv
Labels: enhancement, content:redirect
