Repository godotengine/godot-docs, pull requests merged in 2023-10, with the labels that each got.

#8111 Corrected --e to -e for rider docs
  contributing/development/configuring_an_ide/rider.rst
Labels: bug, area:contributing, cherrypick:4.0, cherrypick:4.1

#8120 Fix typos: "modelling" -> "modeling"
  tutorials/3d/csg_tools.rst
  tutorials/3d/high_dynamic_range.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/animation/2d_skeletons.rst
  tutorials/assets_pipeline/importing_scenes.rst
  tutorials/shaders/advanced_postprocessing.rst
  tutorials/shaders/making_trees.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8124 Remove outdated Firefox Linux warning
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8016 Clarify wording in "Your first 2D game - Creating the enemy"
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#7997 Update ray casting tutorial.
  tutorials/physics/img/raycast_falsepositive.png
  tutorials/physics/img/raycast_falsepositive.webp
  tutorials/physics/ray-casting.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8135 Fix Build issue
  tutorials/3d/using_transforms.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/performance/gpu_optimization.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8097 Add note for windows laptop to class reference doc
  getting_started/introduction/first_look_at_the_editor.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#8144 Update C# differences for 4.2
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#8142 Update the state of C#/.NET support as of 4.2
  about/list_of_features.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_features.rst
  tutorials/scripting/c_sharp/index.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:dotnet, area:about, area:manual

#8069 Add instructions on sky shader optimization
  tutorials/shaders/shader_reference/sky_shader.rst
Labels: enhancement, topic:rendering, area:manual

#8140 Improve introduction into buildsystem
  contributing/development/compiling/index.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/index.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.1

#8118 Remove outdated trimesh note
  tutorials/physics/collision_shapes_3d.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8091 📄Fix internationalizing games outdated setting path
  tutorials/i18n/img/locale_test.png
  tutorials/i18n/img/locale_test.webp
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8167 GDScript: Update `match` patterns and literal docs
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, enhancement, topic:gdscript, area:manual

#8168 Clarify hiding lights doesn't disable baking in Using LightmapGI
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.0, cherrypick:4.1

#8156 Link to Importing images' Mipmaps section in Multiple resolutions
  tutorials/assets_pipeline/importing_images.rst
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8082 Update gdscript_format_string.rst
  tutorials/scripting/gdscript/gdscript_format_string.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7830 Split the "Importing 3D scenes" article into multiple pages
  _tools/redirects/redirects.csv
  classes/class_editorscenepostimport.rst
  classes/class_resourceimporterobj.rst
  classes/class_resourceimporterscene.rst
  tutorials/3d/csg_tools.rst
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_extract_materials.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_extract_materials_confirm.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_materials.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_meshes.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_node.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_advanced_import_settings_scene.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_blender_empty_draw_types.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_changing_import_type.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_create_inherited_scene_dialog.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_import_dock.webp
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
  tutorials/assets_pipeline/importing_3d_scenes/index.rst
  tutorials/assets_pipeline/importing_3d_scenes/model_export_considerations.rst
  tutorials/assets_pipeline/importing_3d_scenes/node_type_customization.rst
  tutorials/assets_pipeline/index.rst
Labels: enhancement

#7989 Update order of nodes in key_concepts_overview.rst
  getting_started/introduction/key_concepts_overview.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#8130 Update "Static typing in GDScript" page
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/img/typed_gdscript_code_completion_dynamic.webp
  tutorials/scripting/gdscript/img/typed_gdscript_code_completion_typed.webp
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, topic:gdscript, area:manual

#8153 Automatically convert spaces to tabs in CodeBlocks
  _static/css/custom.css
  _static/js/custom.js
  tutorials/migrating/upgrading_to_godot_4.1.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1

#8017 Add code examples for sound playing in the "first 2d game" tutorial
  getting_started/first_2d_game/07.finishing-up.rst
Labels: enhancement, area:getting started

#7848 Fix style in GodotScript code for if
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: topic:gdscript, area:getting started, content:proofreading, cherrypick:4.0, cherrypick:4.1

#7741 Clarify class keyword usage
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#7752 Made scrollbar follow user's color theme
  _static/css/custom.css
Labels: enhancement, content:website, cherrypick:4.0, cherrypick:4.1

#7825 Update singletons_autoload.rst
  tutorials/scripting/singletons_autoload.rst
Labels: area:manual, cherrypick:4.0, cherrypick:4.1

#8037 C# code example bug in CharacterBody2D tutorial
  tutorials/physics/using_character_body_2d.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.0, cherrypick:4.1

#7953 Remove reference to old target in the macOS docs
  contributing/development/compiling/compiling_for_macos.rst
Labels: enhancement, topic:buildsystem, cherrypick:4.0, cherrypick:4.1

#8171 Anticipate the target argument
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement, area:contributing

#8149 close #8074, update mouse and input coordinates page
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, topic:input

#8178 Fixed qa link
  getting_started/introduction/learning_new_features.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#8157 fix comment
  getting_started/first_3d_game/04.mob_scene.rst
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#8188 update mouse and input coords page (again)
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8177 Standardize/Improve C# GD.Load() examples
  tutorials/best_practices/godot_interfaces.rst
  tutorials/best_practices/logic_preferences.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/scripting/cross_language_scripting.rst
  tutorials/scripting/instancing_with_signals.rst
  tutorials/scripting/resources.rst
  tutorials/scripting/singletons_autoload.rst
Labels: bug, enhancement, topic:dotnet, area:manual

#8085 Update images in "Your first 2D game - Coding the player" with wrong settings
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/img/attach_node_window.webp
  getting_started/first_2d_game/img/export_variable.webp
  getting_started/first_2d_game/img/player_signals.webp
Labels: bug, area:getting started, cherrypick:4.0, cherrypick:4.1

#8185 Change KinematicBodies to CharacterBodies in collision_shapes_3d.rst and collision_shapes_2d.rst
  tutorials/physics/collision_shapes_2d.rst
  tutorials/physics/collision_shapes_3d.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8175 Don't use SceneTree when not referring to the class
  tutorials/navigation/navigation_different_actor_types.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_optimizing_performance.rst
  tutorials/navigation/navigation_using_navigationregions.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#7792 Update signals.rst and instancing.rst
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/signals.rst
Labels: bug, area:getting started

#8114 Update code snippet to Godot 4
  tutorials/best_practices/godot_notifications.rst
Labels: bug, topic:gdscript, area:manual

#8020 add list of cors headers needed in web export
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual

#7985 Update "GDScript documentation comments" page
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
Labels: enhancement, topic:gdscript, area:manual

#7863 Use relative font size for `code` elements
  _static/css/custom.css
Labels: bug, content:website

#7831 Add a note about tool script inheritance
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual

#7762 Update 06.heads_up_display.rst
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#7722 Added an overview of the containers subtypes
  tutorials/ui/gui_containers.rst
  tutorials/ui/img/containers_aspectratio.webp
  tutorials/ui/img/containers_aspectratio_drag.webp
  tutorials/ui/img/containers_center.webp
  tutorials/ui/img/containers_center_drag.webp
  tutorials/ui/img/containers_hflow.webp
  tutorials/ui/img/containers_hflow_drag.webp
Labels: enhancement, area:manual

#7577 Fix Visual studio Clang Extension outdated and grammar on Code style guidelines
  contributing/development/code_style_guidelines.rst
Labels: enhancement, area:contributing

#7809 Update nodes_and_scenes.rst
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started

#7884 Update the Android documentation for Godot 4.2
  _tools/redirects/redirects.csv
  about/docs_changelog.rst
  classes/class_editorexportplatformandroid.rst
  contributing/development/compiling/compiling_for_android.rst
  tutorials/export/android_gradle_build.rst
  tutorials/export/img/custom_build_enable.png
  tutorials/export/img/custom_build_gradle.png
  tutorials/export/img/custom_build_install_template.png
  tutorials/export/img/gradle_build_enable.webp
  tutorials/export/img/gradle_build_gradle.webp
  tutorials/export/img/gradle_build_install_template.webp
  tutorials/export/index.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/platform/android/android_library.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/android/img/android_export_preset_plugins_section.png
  tutorials/platform/android/img/gltf_viewer_sample_app_screenshot.webp
  tutorials/platform/android/index.rst
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_gradle_build.webp
Labels: enhancement

#8199 Improve the navigation documentation markup
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_debug_tools.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
  tutorials/navigation/navigation_using_navigationlinks.rst
  tutorials/navigation/navigation_using_navigationmaps.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
  tutorials/navigation/navigation_using_navigationregions.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8223 Updated 'clone down' default editor shortcut
  tutorials/editor/default_key_mapping.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, topic:input

#8201 Fix property quotation in Internationalizing Games
  tutorials/i18n/internationalizing_games.rst
Labels: bug, area:manual, cherrypick:4.1

#8230 Fix typos and formatting issues for the updated Android documentation
  tutorials/platform/android/android_library.rst
  tutorials/platform/android/android_plugin.rst
Labels: enhancement

#8217 Clean up the Android documentation for Godot 4.1
  _tools/redirects/redirects.csv
  about/docs_changelog.rst
  classes/class_editorexportplatformandroid.rst
  contributing/development/compiling/compiling_for_android.rst
  tutorials/export/android_gradle_build.rst
  tutorials/export/img/custom_build_enable.png
  tutorials/export/img/custom_build_gradle.png
  tutorials/export/img/custom_build_install_template.png
  tutorials/export/img/gradle_build_enable.webp
  tutorials/export/img/gradle_build_gradle.webp
  tutorials/export/img/gradle_build_install_template.webp
  tutorials/export/index.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/platform/android/android_library.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/android/img/gltf_viewer_sample_app_screenshot.webp
  tutorials/platform/android/index.rst
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_gradle_build.webp
Labels: enhancement, cherrypick:4.0

#8232 Document setting up Blender-style transform shortcuts in Introduction to 3D
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement, area:manual

#8211 inspector_plugins.rst: add new "wide" parameter to _parse_property
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.0, cherrypick:4.1

#8233 Document Visibility Parent functionality in Visibility Ranges
  tutorials/3d/visibility_ranges.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.0, cherrypick:4.1

#8200 Link to "Environment and Post-Processing" from "Custom Post-Processing"
  tutorials/shaders/custom_postprocessing.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8229 Update exporting_for_dedicated_servers.rst
  tutorials/export/exporting_for_dedicated_servers.rst
Labels: area:manual, content:proofreading

#8244 Docs: Update link to Android Gradle Build
  classes/class_editorexportplatformandroid.rst
Labels: bug, area:class reference

#8235 Fix wrong property name of ``AnimatedSprite2D``
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: area:getting started, content:proofreading, cherrypick:4.1

#8252 Update remaining QA links
  about/introduction.rst
  community/channels.rst
  contributing/documentation/updating_the_class_reference.rst
  tutorials/export/exporting_for_android.rst
Labels: enhancement, cherrypick:4.1

#8253 Update Windows security instructions
  contributing/development/compiling/compiling_for_windows.rst
Labels: enhancement, area:contributing, cherrypick:4.1

#8266 4.2 Update Project-Manager images with new design
  getting_started/first_2d_game/img/new-project-button.webp
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/img/01.game_setup/01.import_button.png
  getting_started/first_3d_game/img/01.game_setup/01.import_button.webp
  getting_started/introduction/img/editor_intro_project_manager.webp
  tutorials/editor/img/editor_ui_intro_project_manager_01.webp
  tutorials/editor/img/editor_ui_intro_project_manager_02.webp
  tutorials/editor/img/editor_ui_intro_project_manager_04.webp
  tutorials/editor/img/editor_ui_intro_project_manager_05.webp
  tutorials/editor/img/editor_ui_intro_project_manager_06.webp
  tutorials/editor/img/editor_ui_intro_project_manager_08.webp
  tutorials/editor/img/editor_ui_intro_project_manager_09.webp
  tutorials/editor/project_manager.rst
Labels: enhancement, area:getting started, area:manual, content:images

#8241 Added some C#-snippets to tutorials/using_servers.rst
  tutorials/performance/using_servers.rst
Labels: enhancement, topic:dotnet, area:manual

#8227 Update the state of C#/.NET support as of 4.2 beta 1
  about/list_of_features.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/index.rst
Labels: enhancement, topic:dotnet, area:about, area:manual

#7968 Bumping Java JDK to 17 for Latest Android Release
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual, topic:buildsystem

#8291 fix typo in multiple files
  tutorials/audio/text_to_speech.rst
  tutorials/scripting/c_sharp/diagnostics/GD0302.rst
  tutorials/scripting/c_sharp/index.rst
Labels: area:manual, content:proofreading

#8282 Update 09.adding_animations.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: enhancement, area:getting started

#8273 Document new denoisers and properties in Using Lightmap global illumination
  about/list_of_features.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/img/lightmap_gi_denoiser_comparison.webp
  tutorials/3d/global_illumination/img/lightmap_gi_denoiser_jnlm_strength.webp
  tutorials/3d/global_illumination/img/lightmap_gi_denoiser_jnlm_vs_oidn.webp
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, area:manual

#8272 Update references to the ImmediateMesh in the Procedural Geometry tutorial
  tutorials/3d/procedural_geometry/immediatemesh.rst
  tutorials/3d/procedural_geometry/index.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1

#8258 fix: vertex coordinates are in local space
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: bug, area:manual

#8299 Fix and improve Transpose's description in Using TileSets
  tutorials/2d/using_tilesets.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8269 Update GDScript reference, 'in'-keyword explanation
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#8285 Document glow in 2D in Environment and post-processing
  about/list_of_features.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/img/environment_and_post_processing_glow_blur.webp
  tutorials/3d/img/environment_and_post_processing_glow_in_2d.webp
Labels: enhancement, area:manual

#8198 Reorder "Advanced Postprocessing" page to after "Custom Postprocessing"
  tutorials/shaders/index.rst
Labels: enhancement, topic:rendering, area:manual

#8270 Importing Audio Samples: loop points are in samples, not seconds
  tutorials/assets_pipeline/importing_audio_samples.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1, topic:import

#8109 Add C# Tips to 3d tutorial game step 6
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: enhancement, topic:dotnet, area:getting started

#8084 Update gdextension_cpp_example.rst (Clarification rwt dump extension API)
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1, topic:gdextension

#8173 Add diagrams that explain the import process for some 3D scene formats
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_available_formats_blend.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_available_formats_fbx.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_available_formats_gltf_editor.webp
  tutorials/assets_pipeline/importing_3d_scenes/img/importing_3d_scenes_available_formats_gltf_runtime.webp
Labels: enhancement, area:manual, topic:import

#8119 Clarify where sound files are
  getting_started/first_2d_game/07.finishing-up.rst
Labels: enhancement, area:getting started, cherrypick:4.0, cherrypick:4.1

#8302 C#: Fix some forgotten lowercase x/y/z
  getting_started/first_3d_game/09.adding_animations.rst
  tutorials/3d/using_transforms.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/math/vectors_advanced.rst
  tutorials/ui/size_and_anchors.rst
Labels: bug, topic:dotnet, area:getting started, area:manual

#8301 Replacing `find_node()` with `get_node()` as `find_node()` doesn't exist
  tutorials/plugins/running_code_in_the_editor.rst
Labels: area:manual, content:proofreading, cherrypick:4.1

#8303 Fix missing word in particle flipbook documentation
  tutorials/2d/particle_systems_2d.rst
Labels: bug, area:manual, cherrypick:4.1

#8298 Document integer scaling support in Multiple resolutions
  tutorials/rendering/img/multiple_resolutions_pixel_art_fractional_scaling.webp
  tutorials/rendering/img/multiple_resolutions_pixel_art_integer_scaling.webp
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, topic:rendering, area:manual

#8265 fix file casing in singletons_autoload tutorial
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1

#8179 Fixed code in article "Using RigidBody"
  tutorials/physics/rigid_body.rst
Labels: bug, topic:dotnet, topic:gdscript, area:manual

#8309 Document alternative dotfile creation method for Windows
  tutorials/best_practices/project_organization.rst
Labels: enhancement, area:manual

#8320 [Input] Fix incorrect setter usage in C#
  tutorials/inputs/handling_quit_requests.rst
Labels: bug, topic:dotnet, area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1

#8323 Improve documentation related to SharedArrayBuffer in Exporting for the Web
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_ios.rst
  tutorials/export/exporting_for_linux.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/export/exporting_for_web.rst
  tutorials/export/exporting_for_windows.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8321 Use Node2D instead of PhysicsBody2D for C# collision example
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: bug, topic:dotnet, area:getting started, cherrypick:4.0, cherrypick:4.1

#8277 #8276 Replaced image from Godot 3 with Godot 4 image.
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/img/03.player_movement_code/04.scene_tree_with_camera.png
  getting_started/first_3d_game/img/03.player_movement_code/04.scene_tree_with_camera.webp
Labels: area:getting started, content:images

#8334 Reimplement space-to-tab regex without lookbehind
  _static/js/custom.js
Labels: bug, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1

#8342 Disable collapsing tabs for codeblocks
  conf.py
Labels: enhancement, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1

#8341 Update C# diagnostic documentation
  tutorials/scripting/c_sharp/diagnostics/GD0001.rst
  tutorials/scripting/c_sharp/diagnostics/GD0002.rst
  tutorials/scripting/c_sharp/diagnostics/GD0107.rst
  tutorials/scripting/c_sharp/diagnostics/index.rst
Labels: enhancement, topic:dotnet, area:manual

#8310 Mention `Array.slice()`'s exclusive end parameter in Upgrading to Godot 4
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8324 Update BBCode in RichTextLabel documentation for Godot 4.2
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/img/bbcode_in_richtextlabel_effect_pulse.webp
Labels: enhancement, area:manual

#8335 Add Video and Text tutorial links for tutorials.rst
  community/tutorials.rst
Labels: enhancement, area:community

#8346 Document cryptographically secure random number generation
  tutorials/math/random_number_generation.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8329 Emphasize the importance of mipmaps for `textureLod()` in Screen-reading shaders
  tutorials/shaders/custom_postprocessing.rst
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/shaders_style_guide.rst
Labels: enhancement, area:manual, cherrypick:4.1

#8343 Update GDScript lexer
  _extensions/gdscript.py
Labels: bug, enhancement, content:website, cherrypick:4.0, cherrypick:4.1

#8359 Change XR Android export to mention OpenXR vendors plugin
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/xr_enable_loader_plugin.webp
  tutorials/xr/img/xr_enable_vendors_plugin.webp
Labels: topic:xr, area:manual

#8340 Fixed typos in custom_performance_monitors.rst
  tutorials/scripting/debug/custom_performance_monitors.rst
Labels: bug, area:manual, cherrypick:4.1
