Repository godotengine/godot-docs, pull requests merged in 2024-03, with the labels that each got.

#9028 Document disabling NVIDIA ShadowPlay overlay in Troubleshooting
  tutorials/troubleshooting.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2

#9037 Update hiDPI support documentation in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: bug, cherrypick:4.1, cherrypick:4.2

#9040 Document roughness impacting refraction behavior in Standard Material 3D
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2

#9026 GDScript: Document `@export_storage` annotation
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual

#8924 MergeGroups initial docs
  tutorials/3d/img/bake_merge_group.webp
  tutorials/3d/index.rst
  tutorials/3d/merge_groups.rst
Labels: content:new page, topic:rendering, area:manual

#9044 Remove incorrect information on script templates
  tutorials/scripting/creating_script_templates.rst
Labels: bug, area:manual, cherrypick:4.2

#9041 Document some glow properties being unavailable with Compatibility
  tutorials/3d/environment_and_post_processing.rst
Labels: enhancement, topic:rendering, area:manual

#9029 Fix and update Dodge the Creeps Issues
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/first_3d_game/img/02.player_input/left_inputmap.webp
  getting_started/first_3d_game/img/09.adding_animations/autoplay_button.webp
Labels: bug, enhancement, area:getting started, cherrypick:4.2

#9050 Change degress to radians for sky shader built in
  tutorials/shaders/shader_reference/sky_shader.rst
Labels: bug, area:manual, cherrypick:4.2

#9058 Update requiered JDK version (3.6)
  tutorials/export/exporting_basics.rst
Labels: bug, area:manual

#9057 Update release policy info on 4.1
  about/release_policy.rst
Labels: bug, area:about, cherrypick:4.2

#9053 Rename save game variable for clarity
  tutorials/io/saving_games.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9060 [Manual] Clarify use of `delta` with `move_and_slide`
  tutorials/physics/physics_introduction.rst
Labels: enhancement, area:manual, topic:physics, cherrypick:4.1, cherrypick:4.2

#9052 Remove confusing sentence for changing scenes
  tutorials/scripting/change_scenes_manually.rst
Labels: bug, area:manual, cherrypick:4.2

#9054 [Navigation] Document 3D support is required for navigation
  contributing/development/compiling/optimizing_for_size.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.2

#9027 Replace Reference usage with RefCounted in Resources Tutorial
  tutorials/scripting/resources.rst
Labels: bug, area:manual, cherrypick:4.2

#9070 Clarify how to open the SpriteFrames panel
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#9071 Minor fixes to getting started signals page
  getting_started/step_by_step/img/signals_12_node_connection.png
  getting_started/step_by_step/img/signals_12_node_connection.webp
  getting_started/step_by_step/signals.rst
Labels: bug, area:getting started, cherrypick:4.2

#9075 Unify C# naming notes and comments
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/06.heads_up_display.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/step_by_step/signals.rst
Labels: enhancement, topic:dotnet, area:getting started, cherrypick:4.2

#9077 Update intro to 3D images, document preview light
  tutorials/3d/img/tuto_3d1.png
  tutorials/3d/img/tuto_3d1.webp
  tutorials/3d/img/tuto_3d10.png
  tutorials/3d/img/tuto_3d10.webp
  tutorials/3d/img/tuto_3d2.png
  tutorials/3d/img/tuto_3d2.webp
  tutorials/3d/img/tuto_3d3.png
  tutorials/3d/img/tuto_3d3.webp
  tutorials/3d/img/tuto_3d4.png
  tutorials/3d/img/tuto_3d4.webp
  tutorials/3d/img/tuto_3d5.png
  tutorials/3d/img/tuto_3d5.webp
  tutorials/3d/img/tuto_3d6.png
  tutorials/3d/img/tuto_3d6.webp
  tutorials/3d/img/tuto_3d6_1.png
  tutorials/3d/img/tuto_3d6_1.webp
  tutorials/3d/img/tuto_3d6_2.png
  tutorials/3d/img/tuto_3d6_2.webp
  tutorials/3d/img/tuto_3d8.png
  tutorials/3d/img/tuto_3d8.webp
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8932 Replace "alt" with "opt" for macOS shortcuts
  contributing/documentation/docs_writing_guidelines.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/introduction/first_look_at_the_editor.rst
  tutorials/editor/default_key_mapping.rst
Labels: enhancement, area:getting started, area:manual, cherrypick:4.2

#9079 Fix method names
  tutorials/plugins/editor/inspector_plugins.rst
Labels: bug, area:manual, cherrypick:4.2

#9088 Fix autoplay icon link in Your first 3D game - Adding animations
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug, area:getting started, cherrypick:4.2

#8983 Clarify `production=yes` SCons option in Compiling for Linux/*BSD
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_windows.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.2

#9081 Update XR Index page
  tutorials/xr/index.rst
Labels: enhancement, topic:xr, area:manual, cherrypick:4.2

#9089 Add notes about "skip file" and "keep file" import types.
  tutorials/assets_pipeline/import_process.rst
Labels: enhancement, topic:import

#9098 Add extension support info for web export
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9099 Change call from empty to is_empty in RNG tutorial
  tutorials/math/random_number_generation.rst
Labels: bug, area:manual, cherrypick:4.2

#9102 Document that hint_color is now source_color
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:shaders

#9105 Update android SDK version [3.x]
  tutorials/export/exporting_for_android.rst
Labels: enhancement, cherrypick:3.5, area:manual

#9101 Add more tool script info and add a section
  tutorials/plugins/editor/making_plugins.rst
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9114 Add a help pages detailing out OpenXR settings.
  tutorials/xr/img/openxr_eye_gaze_interaction.webp
  tutorials/xr/img/openxr_settings.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_settings.rst
Labels: enhancement, topic:xr

#9121 OpenXR: Add a note about the vendor plugin
  tutorials/xr/deploying_to_android.rst
Labels: enhancement, topic:xr

#9118 Update faq's directx12 question
  about/faq.rst
Labels: enhancement, topic:rendering, area:about

#9116 Add intellisense configuration for VSCode
  contributing/development/configuring_an_ide/img/vscode_edit_configurations.webp
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:contributing, cherrypick:4.2

#9131 Add table of contents to EPUB of docs
  conf.py
Labels: content:website, cherrypick:4.2

#9130 Add missing word in instancing.rst
  getting_started/step_by_step/instancing.rst
Labels: bug, area:getting started, content:proofreading, cherrypick:4.2

#9115 Update signal intro with note concerning external editors
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#9096 Mention per-vertex shading is currently unimplemented in Standard Material 3D
  tutorials/3d/img/spatial_material2.png
  tutorials/3d/img/spatial_material6.png
  tutorials/3d/img/spatial_material6.webp
  tutorials/3d/standard_material_3d.rst
Labels: bug, area:manual, cherrypick:4.2

#9125 Add note for hosting asset icons on GitHub
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement, area:community, cherrypick:4.2, topic:assetlib

#9123 Update note on exporting `SkeletonProfile`s in "Retargeting 3D Skeletons"
  tutorials/assets_pipeline/retargeting_3d_skeletons.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:animation

#9124 Update Overview of Debugging Tools for 4.3.
  tutorials/scripting/debug/img/customize_run_instances.webp
  tutorials/scripting/debug/img/overview_debug.webp
  tutorials/scripting/debug/overview_of_debugging_tools.rst
Labels: enhancement, area:manual

#9061 Document new feature allowing `@export`ed Arrays to set property hints for their elements
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual

#9139 Update C# version recommendation in C# style guide
  tutorials/scripting/c_sharp/c_sharp_style_guide.rst
Labels: enhancement, topic:dotnet, area:manual

#9097 Added clarification to distance fade modes in Standard Material 3D
  tutorials/3d/img/standart_material_distance_fade_object_dither_mode.webp
  tutorials/3d/img/standart_material_distance_fade_pixel_alpha_mode.webp
  tutorials/3d/img/standart_material_distance_fade_pixel_dither_mode.webp
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, topic:rendering, area:manual

#9016 Add missing Ctrl-click equivalents for MacOS.
  getting_started/introduction/learning_new_features.rst
  getting_started/step_by_step/scripting_first_script.rst
Labels: enhancement, area:getting started

#9149 Mention how to improve font rendering quality in 3D text
  tutorials/3d/3d_text.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9148 Update SSL/TLS certificates page for Godot 4.x
  tutorials/networking/img/add_crt.png
  tutorials/networking/img/ssl_certs.png
  tutorials/networking/img/tls_certificates_export_filter.webp
  tutorials/networking/img/tls_certificates_project_setting.webp
  tutorials/networking/ssl_certificates.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9164 Update C# style guide (spaces in single line initializers)
  tutorials/scripting/c_sharp/c_sharp_style_guide.rst
Labels: enhancement, topic:dotnet, area:manual

#9155 Fix incorrect uses of a/an
  about/faq.rst
  about/system_requirements.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  contributing/development/core_and_modules/unit_testing.rst
  contributing/development/file_formats/tscn.rst
  tutorials/3d/global_illumination/using_lightmap_gi.rst
  tutorials/animation/creating_movies.rst
  tutorials/animation/playing_videos.rst
  tutorials/assets_pipeline/escn_exporter/material.rst
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
  tutorials/assets_pipeline/importing_audio_samples.rst
  tutorials/assets_pipeline/importing_images.rst
  tutorials/editor/using_the_android_editor.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/export/one-click_deploy.rst
  tutorials/i18n/localization_using_gettext.rst
  tutorials/inputs/inputevent.rst
  tutorials/io/background_loading.rst
  tutorials/io/runtime_file_loading_and_saving.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/networking/http_request_class.rst
  tutorials/physics/soft_body.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/scripting/c_sharp/c_sharp_variant.rst
  tutorials/scripting/change_scenes_manually.rst
  tutorials/scripting/evaluating_expressions.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
  tutorials/shaders/screen-reading_shaders.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/fog_shader.rst
  tutorials/shaders/shader_reference/particle_shader.rst
  tutorials/shaders/shader_reference/sky_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
  tutorials/ui/gui_containers.rst
  tutorials/ui/gui_using_theme_editor.rst
  tutorials/xr/xr_room_scale.rst
Labels: enhancement, area:manual, content:proofreading

#9166 Update the community channels
  community/channels.rst
Labels: enhancement, area:community, cherrypick:4.2
