Repository godotengine/godot-docs, pull requests merged in 2024-05, with the labels that each got.

#9304 Fix grammar mistake in scripting_development
  contributing/development/core_and_modules/scripting_development.rst
Labels: bug, area:contributing

#9146 Add how to add animation call method tracks/keys through code.
  tutorials/animation/animation_track_types.rst
Labels: enhancement, area:manual, topic:animation

#9244 Add `CAMERA_VISIBLE_LAYERS` to spatial shader docs
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: area:manual, topic:shaders

#9309 Add info on script template folders
  tutorials/scripting/creating_script_templates.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9316 Add a `super` keyword to the table of keywords
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript

#9319 Document QOA in importing audio samples
  tutorials/assets_pipeline/importing_audio_samples.rst
Labels: enhancement, area:manual, topic:import

#9325 Add documentation for navigation mesh chunk baking
  tutorials/navigation/img/navmesh_bound_bordersize.webp
  tutorials/navigation/img/navmesh_chunk_build.gif
  tutorials/navigation/img/navmesh_chunk_gaps.webp
  tutorials/navigation/img/navmesh_chunks.webp
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement, area:manual, topic:navigation

#9328 Added information about GODOT_SPLASH placeholder in HTML shell
  tutorials/platform/web/customizing_html5_shell.rst
Labels: area:manual, topic:export

#9313 Update class reference and doc comment markup documentation
  contributing/documentation/class_reference_primer.rst
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
  tutorials/scripting/gdscript/img/icon.svg
Labels: enhancement, topic:gdscript, area:manual, area:contributing

#9314 Fixes css background color override for highlight box
  _static/css/custom.css
Labels: bug, content:website, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9343 Fix 4.1 RTD build
  requirements.txt
Labels: bug, python

#9350 4.0 spelling fixes
  tutorials/3d/global_illumination/using_lightmap_gi.rst
  tutorials/3d/using_transforms.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/performance/gpu_optimization.rst
Labels: bug, content:proofreading

#9351 Fix 4.0 RTD build
  requirements.txt
Labels: bug, python

#9361 Fix meaning of "scons" by itself in Introduction to the Buildsystem
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: bug, area:contributing, topic:buildsystem, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9357 Update dependencies in Compiling for Linux/*BSD
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing

#9366 [4.2] Update dependencies in Compiling for Linux/*BSD
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing

#9348 Document the possibility to enable custom pretty-printers in GDB
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:contributing, cherrypick:4.2

#9329 Change "Editor > Convert Icons With Editor Theme" to "Editor > Convert Colors With Editor Theme"
  tutorials/plugins/editor/making_plugins.rst
Labels: bug, area:manual

#9307 Clarify how to enable post-import script
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
Labels: enhancement, area:manual, topic:import

#9322 Update 2d_sprite_animation.rst
  tutorials/2d/2d_sprite_animation.rst
Labels: bug, topic:dotnet, area:manual

#9010 Mention the comment (ignorable) column function in translation csv
  tutorials/assets_pipeline/importing_translations.rst
Labels: enhancement, area:manual, topic:import

#8834 Update c_sharp_signals.rst
  tutorials/scripting/c_sharp/c_sharp_signals.rst
Labels: topic:dotnet, area:manual, content:proofreading

#9352 Mention that user is responsible for POSITION value when it's written to anywhere in the shader
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2, topic:shaders

#9371 Update the Android documentation for Godot 4.3
  contributing/development/compiling/compiling_for_android.rst
  tutorials/export/exporting_for_android.rst
  tutorials/export/img/android_editor_settings.webp
  tutorials/export/img/androidsdk.png
Labels: area:manual, topic:buildsystem, topic:porting

#9389 Fix typo in Using NavigationServer tutorial page
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.1, topic:navigation, cherrypick:4.2

#9354 Entering transparent pipeline when reading ALPHA
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, topic:shaders

#9401 Document HardLimiter audio bus effect
  tutorials/audio/audio_buses.rst
  tutorials/audio/audio_effects.rst
  tutorials/audio/img/audio_buses4.png
  tutorials/audio/img/audio_buses4.webp
Labels: enhancement, area:manual, topic:audio

#9414 Add `thirdparty` as linter exception
  _tools/codespell-ignore.txt
Labels: bug, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9429 Fix mixup between `translated` and `translated_local`
  tutorials/math/matrices_and_transforms.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.1, cherrypick:4.2, topic:2d, topic:3d

#9431 Fix (C#) Dictionaries in the Scripting/Resources section
  tutorials/scripting/resources.rst
Labels: topic:dotnet, area:manual

#9432 First 3D Game update input-action screenshot to 4.2
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/img/02.player_input/07.adding_action.png
  getting_started/first_3d_game/img/02.player_input/07.adding_action.webp
Labels: enhancement, area:getting started, cherrypick:4.1, cherrypick:4.2

#9436 Typo: Losses -> Lossless
  contributing/documentation/docs_image_guidelines.rst
Labels: bug, area:contributing

#9425 Improve Compiling for Android and Compiling for iOS docs
  contributing/development/compiling/compiling_for_android.rst
  contributing/development/compiling/compiling_for_ios.rst
Labels: enhancement, area:contributing, topic:porting

#9438 change shrink to enlarge in "Your first 3D game" tutorial
  getting_started/first_3d_game/02.player_input.rst
Labels: enhancement, area:getting started
