Repository godotengine/godot-docs, pull requests merged in 2024-10, with the labels that each got.

#10001 Clarify "authority" in High-level multiplayer
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:multiplayer, cherrypick:4.3

#10023 Remove individual youtube channel links from tutorials page
  community/tutorials.rst
Labels: discussion, area:community, cherrypick:4.3

#10026 Fix indentation on mouse_and_input_coordinates.rst
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: area:manual, content:proofreading, topic:input, cherrypick:4.2, cherrypick:4.3

#10032 Tweak note about making Physics Material unique in Creating instances
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:getting started, cherrypick:4.2, cherrypick:4.3

#10037 Fix "some times" typo
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.3

#9838 Update Parallax Split Screen Details
  tutorials/2d/2d_parallax.rst
  tutorials/2d/img/2d_parallax_splitscreen.webp
Labels: area:manual, topic:2d, cherrypick:4.3

#9908 Document file path String methods in File paths in Godot projects
  tutorials/io/data_paths.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10009 Fix incorrect notice about XDG paths working on all platforms in Data paths
  tutorials/io/data_paths.rst
Labels: bug, area:manual, cherrypick:4.2, cherrypick:4.3

#10028 Add notes on bit depth for ints and floats
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10045 Document expression evaluator in Debugger panel
  tutorials/scripting/debug/debugger_panel.rst
Labels: enhancement, topic:gdscript, area:manual

#10046 Update Default editor shortcuts for Godot 4.3+
  tutorials/editor/default_key_mapping.rst
Labels: enhancement, area:manual, content:images, cherrypick:4.3

#9979 Fix code sample for add_autoload_singleton in plugin
  tutorials/plugins/editor/making_plugins.rst
Labels: bug, area:manual, topic:plugin, cherrypick:4.3

#10007 Add tutorial for reducing pipeline compilation stutters.
  tutorials/performance/img/pipeline_compilations_hidden_node.webp
  tutorials/performance/img/pipeline_compilations_monitors.webp
  tutorials/performance/index.rst
  tutorials/performance/pipeline_compilations.rst
Labels: enhancement, area:manual, topic:shaders

#10025 Update JetBrains Rider documentation
  contributing/development/configuring_an_ide/img/rider_attach_to_process.webp
  contributing/development/configuring_an_ide/img/rider_attach_to_process_dialog.webp
  contributing/development/configuring_an_ide/img/rider_configurations.webp
  contributing/development/configuring_an_ide/img/rider_configurations_changed.webp
  contributing/development/configuring_an_ide/img/rider_run_debug.webp
  contributing/development/configuring_an_ide/rider.rst
Labels: enhancement, area:contributing

#10034 Add documentation for themed icons (monochrome)
  tutorials/export/exporting_for_android.rst
Labels: area:manual, topic:export, cherrypick:4.3, platform:android

#10061 Add a note about GDScript format strings in C++
  tutorials/scripting/gdscript/gdscript_format_string.rst
Labels: enhancement

#9966 Add a gdextension online documentation guide.
  tutorials/scripting/gdextension/gdextension_docs_system.rst
Labels: enhancement, area:manual, topic:gdextension, cherrypick:4.3

#10074 Clarify that the Better Collada addon is unmaintained in 4.x
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
Labels: bug, area:manual, topic:import, cherrypick:4.2, cherrypick:4.3

#10090 Remove note in Submitting to Asset Library
  community/asset_library/submitting_to_assetlib.rst
Labels: enhancement, area:community

#10099 Document physics spiral of death performance issue in Troubleshooting physics issues
  tutorials/physics/troubleshooting_physics_issues.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10084 Fix shader function overloading paragraph
  tutorials/shaders/shader_reference/shading_language.rst
Labels: area:manual, topic:shaders

#10095 Clarify restrictions on nested array types in Static typing in GDScript
  tutorials/scripting/gdscript/static_typing.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3

#10096 Document `generate_bundle=yes` SCons option in Compiling for macOS and iOS
  contributing/development/compiling/compiling_for_ios.rst
  contributing/development/compiling/compiling_for_macos.rst
  tutorials/export/exporting_for_macos.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.3, platform:ios, platform:macos

#10064 Remove Blender ESCN exporter pages
  _tools/redirects/redirects.csv
  tutorials/assets_pipeline/escn_exporter/animation.rst
  tutorials/assets_pipeline/escn_exporter/img/armature.jpg
  tutorials/assets_pipeline/escn_exporter/img/body_type.jpg
  tutorials/assets_pipeline/escn_exporter/img/col_only.png
  tutorials/assets_pipeline/escn_exporter/img/collision_shapes.jpg
  tutorials/assets_pipeline/escn_exporter/img/dope_sheet.jpg
  tutorials/assets_pipeline/escn_exporter/img/enable_physics.png
  tutorials/assets_pipeline/escn_exporter/img/external_mat_option.jpg
  tutorials/assets_pipeline/escn_exporter/img/gd_dot_material.jpg
  tutorials/assets_pipeline/escn_exporter/img/hide.jpg
  tutorials/assets_pipeline/escn_exporter/img/in_godot.jpg
  tutorials/assets_pipeline/escn_exporter/img/light_properties.jpg
  tutorials/assets_pipeline/escn_exporter/img/material_search.jpg
  tutorials/assets_pipeline/escn_exporter/img/nla_editor.jpg
  tutorials/assets_pipeline/escn_exporter/img/nla_pushdown.jpg
  tutorials/assets_pipeline/escn_exporter/img/nla_strip.jpg
  tutorials/assets_pipeline/escn_exporter/img/stash_action.jpg
  tutorials/assets_pipeline/escn_exporter/img/stash_action_option.jpg
  tutorials/assets_pipeline/escn_exporter/index.rst
  tutorials/assets_pipeline/escn_exporter/lights.rst
  tutorials/assets_pipeline/escn_exporter/material.rst
  tutorials/assets_pipeline/escn_exporter/mesh.rst
  tutorials/assets_pipeline/escn_exporter/physics.rst
  tutorials/assets_pipeline/escn_exporter/skeleton.rst
Labels: enhancement, area:manual

#10105 Add warning about uninitialized variables in shaders
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10093 Document Variant not being nullable
  contributing/development/core_and_modules/variant_class.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10097 Mention documentation comments in GDScript basics
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#10083 Add an about page for the Godot XR Editor
  tutorials/editor/index.rst
  tutorials/editor/using_the_android_editor.rst
  tutorials/editor/using_the_xr_editor.rst
Labels: enhancement, topic:xr, area:manual, topic:porting

#10078 Document filename requirements in C# global classes
  tutorials/scripting/c_sharp/c_sharp_global_classes.rst
Labels: enhancement, topic:dotnet, cherrypick:4.3

#10106 Clarify section on using the file browser
  tutorials/editor/project_manager.rst
Labels: enhancement, area:manual, cherrypick:4.3

#9939 Remove note about not supporting per-instance uniforms in the Compatibility backend
  tutorials/shaders/shader_reference/shading_language.rst
Labels: area:manual, topic:shaders

#10077 Adding Visual Studio Code Mac launch.json example
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10109 Add note about flat shading and Grow in Standard Material page
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10107 Clarify COLOR and TEXTURE in CanvasItem shaders
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10112 Add link from Rendering to 2D and 3D rendering sections
  tutorials/2d/index.rst
  tutorials/3d/index.rst
  tutorials/rendering/index.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.3

#10118 Fix docstring written as comment
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3

#9846 Fix shader language matrix row/col convention
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, area:manual, topic:shaders, cherrypick:4.3

#10124 Fix HDR 2D mention in Upgrading to Godot 4 page
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10120 Remove reference to 3.1 as a minimum version
  tutorials/best_practices/scenes_versus_scripts.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10125 Update Release Policy for release of 3.6
  about/release_policy.rst
Labels: bug, area:about, cherrypick:4.3

#10122 Remove references to 3.x minor versions
  tutorials/animation/2d_skeletons.rst
  tutorials/animation/animation_tree.rst
  tutorials/audio/sync_with_audio.rst
  tutorials/editor/using_the_web_editor.rst
  tutorials/inputs/controllers_gamepads_joysticks.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10126 Remove unnecessary note from doc page
  contributing/workflow/pr_workflow.rst
Labels: bug, area:contributing, cherrypick:4.3

#10127 Add `#error` shader preprocessor directive description
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual, topic:shaders

#10130 Fix typo "exists" to "exits"
  tutorials/xr/a_better_xr_start_script.rst
Labels: bug, area:manual, cherrypick:4.3

#10128 Update URL to Microsoft codesigning guide in Exporting for Windows
  tutorials/export/exporting_for_windows.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3

#10137 Note about stage func/discard may be used in custom shader function
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10129 Add `CLIP_SPACE_FAR` built-in description to spatial shaders
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:shaders

#10119 Clarify use of source_color in Shading Language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10143 Note limitation of shader world coordinates with large world coordinates
  tutorials/physics/large_world_coordinates.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10152 Use negative index for `get_child()` in Singletons (Autoload)
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10149 Clarify cherry-picking workflow in Contributing to the Documentation
  contributing/documentation/contributing_to_the_documentation.rst
Labels: enhancement, area:contributing, cherrypick:4.2, cherrypick:4.3

#10150 Fix unreachable pages in sidebar under C# Diagnostics
  tutorials/scripting/c_sharp/diagnostics/index.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10123 Add writing guidelines for when to specify a Godot version
  contributing/documentation/docs_writing_guidelines.rst
Labels: enhancement, area:contributing

#10114 Add new Renderers page
  about/faq.rst
  about/list_of_features.rst
  tutorials/2d/2d_antialiasing.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/global_illumination/introduction_to_global_illumination.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/rendering/img/renderers_rendering_layers.webp
  tutorials/rendering/index.rst
  tutorials/rendering/renderers.rst
  tutorials/shaders/shader_reference/index.rst
Labels: content:new page, topic:rendering, area:manual

#10153 Add note about shader uniform size limit to Shading Language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10151 Add filenames as captions for code blocks
  contributing/development/code_style_guidelines.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/compiling/optimizing_for_size.rst
  contributing/development/configuring_an_ide/visual_studio_code.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/core_and_modules/custom_audiostreams.rst
  contributing/development/core_and_modules/custom_godot_servers.rst
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
  contributing/development/handling_compatibility_breakages.rst
  tutorials/rendering/compositor.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual, area:contributing

#10080 Improve GDScript Basics sidebar navigation by changing header levels
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10142 Add Web export file name section
  tutorials/export/exporting_for_web.rst
Labels: area:manual, topic:porting, cherrypick:4.3, platform:web

#10161 Fix broken link in README to Contributing section
  README.md
Labels: bug

#10162 Mention callback argument count in The JavaScript bridge singleton
  tutorials/platform/web/javascript_bridge.rst
Labels: enhancement, area:manual, topic:porting, cherrypick:4.3, platform:web

#10163 Tweak constant example in Shading language to avoid referring to reserved `PI`
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, area:manual, topic:shaders, cherrypick:4.3

#10166 Correctly name enum type
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.3

#10164 Remove usages of "LTS"
  about/list_of_features.rst
  about/release_policy.rst
Labels: bug, area:about, cherrypick:4.2, cherrypick:4.3

#10167 Add Antialiasing comparison table, remove redundant MSAA limitations section
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
Labels: enhancement, topic:rendering, area:manual

#10110 Fix unreachable pages under 3D Particles by using fake headers
  tutorials/3d/particles/index.rst
Labels: bug, area:manual, cherrypick:4.3

#10172 Update required version of emscripten
  contributing/development/compiling/compiling_for_web.rst
Labels: enhancement, area:manual, platform:web

#10180 Made edits to match GDScript code order
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3
