Repository godotengine/godot-docs, pull requests merged in 2024-12, with the labels that each got.

#9621 Add new Introduction to 2D page
  tutorials/2d/img/2d_editor_guidelines.webp
  tutorials/2d/img/2d_editor_viewport.webp
  tutorials/2d/img/2d_editor_viewport_with_viewmenu.webp
  tutorials/2d/img/2d_platformer_demo.webp
  tutorials/2d/img/2d_ruler_with_snap.webp
  tutorials/2d/img/2d_snapping_options.webp
  tutorials/2d/img/2d_snapping_options_menu.webp
  tutorials/2d/img/2d_toolbar.webp
  tutorials/2d/img/3d_in_2d_demo_editor.webp
  tutorials/2d/index.rst
  tutorials/2d/introduction_to_2d.rst
Labels: enhancement, content:new page, area:manual, topic:2d, cherrypick:4.3, topic:editor

#10358 Update documentation changelog for Introduction to 2D
  about/docs_changelog.rst
Labels: enhancement, area:about

#10360 Fix grammar in Using tilesets
  tutorials/2d/using_tilesets.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.3

#10330 Mark Haxe GDExtension bindings as archived
  about/list_of_features.rst
Labels: enhancement, area:about, topic:gdextension, cherrypick:4.3

#10363 4.3 cherry picks
  about/list_of_features.rst
  conf.py
  tutorials/2d/2d_antialiasing.rst
  tutorials/2d/2d_parallax.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/2d/img/2d_editor_guidelines.webp
  tutorials/2d/img/2d_editor_viewport.webp
  tutorials/2d/img/2d_editor_viewport_with_viewmenu.webp
  tutorials/2d/img/2d_platformer_demo.webp
  tutorials/2d/img/2d_ruler_with_snap.webp
  tutorials/2d/img/2d_snapping_options.webp
  tutorials/2d/img/2d_snapping_options_menu.webp
  tutorials/2d/img/2d_toolbar.webp
  tutorials/2d/img/3d_in_2d_demo_editor.webp
  tutorials/2d/index.rst
  tutorials/2d/introduction_to_2d.rst
  tutorials/2d/using_tilesets.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/using_decals.rst
  tutorials/audio/recording_with_microphone.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/troubleshooting_physics_issues.rst
  tutorials/platform/android/android_library.rst
  tutorials/scripting/creating_script_templates.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/gui_skinning.rst
Labels: bug, enhancement

#10364 Update stable
  about/list_of_features.rst
  conf.py
  tutorials/2d/2d_antialiasing.rst
  tutorials/2d/2d_parallax.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/2d/img/2d_editor_guidelines.webp
  tutorials/2d/img/2d_editor_viewport.webp
  tutorials/2d/img/2d_editor_viewport_with_viewmenu.webp
  tutorials/2d/img/2d_platformer_demo.webp
  tutorials/2d/img/2d_ruler_with_snap.webp
  tutorials/2d/img/2d_snapping_options.webp
  tutorials/2d/img/2d_snapping_options_menu.webp
  tutorials/2d/img/2d_toolbar.webp
  tutorials/2d/img/3d_in_2d_demo_editor.webp
  tutorials/2d/index.rst
  tutorials/2d/introduction_to_2d.rst
  tutorials/2d/using_tilesets.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/using_decals.rst
  tutorials/audio/recording_with_microphone.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/troubleshooting_physics_issues.rst
  tutorials/platform/android/android_library.rst
  tutorials/scripting/creating_script_templates.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/gui_skinning.rst
Labels: bug, enhancement

#10359 Port physics interpolation docs from 3.6
  tutorials/physics/index.rst
  tutorials/physics/interpolation/2d_and_3d_physics_interpolation.rst
  tutorials/physics/interpolation/advanced_physics_interpolation.rst
  tutorials/physics/interpolation/img/fti_camera_worldspace.webp
  tutorials/physics/interpolation/img/fti_graph_fixed_ticks.webp
  tutorials/physics/interpolation/img/fti_graph_interpolated.webp
  tutorials/physics/interpolation/img/physics_interpolation_mode.webp
  tutorials/physics/interpolation/index.rst
  tutorials/physics/interpolation/physics_interpolation_introduction.rst
  tutorials/physics/interpolation/physics_interpolation_quick_start_guide.rst
  tutorials/physics/interpolation/using_physics_interpolation.rst
Labels: enhancement, area:manual, topic:physics

#10329 Remove references to PoolVector
  contributing/development/core_and_modules/core_types.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
Labels: bug, area:manual, area:contributing, cherrypick:4.3

#10135 Add AstarGrid2D headline to 2D Navigation Overview
  tutorials/navigation/navigation_introduction_2d.rst
Labels: enhancement, area:manual, topic:navigation

#10377 Update broken link to RTD docs in comment
  conf.py
Labels: enhancement, content:website, python

#10373 Improve Shader functions page
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: bug, area:manual, content:proofreading, topic:shaders

#10371 Clarify sentence in Overview of Godot's key concepts
  getting_started/introduction/key_concepts_overview.rst
Labels: enhancement, area:getting started

#10366 Add Nim GDExtension
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual, topic:gdextension

#10381 Mention that GIFs should be avoided in Docs image guidelines
  contributing/documentation/docs_image_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10380 Use more idiomatic English in How to Contribute
  contributing/how_to_contribute.rst
Labels: enhancement, area:contributing, content:proofreading

#10385 Add an introduction to the 2D index page
  tutorials/2d/index.rst
  tutorials/physics/index.rst
Labels: enhancement, area:manual, topic:2d, cherrypick:4.3

#10376 [4.3] Change Edit on GitHub link to point to master
  conf.py
Labels: enhancement, discussion, content:website, python

#10333 Add a page on the Output bottom panel
  tutorials/scripting/debug/img/overview_output.webp
  tutorials/scripting/debug/index.rst
  tutorials/scripting/debug/output_panel.rst
  tutorials/scripting/debug/overview_of_debugging_tools.rst
  tutorials/scripting/gdscript/gdscript_documentation_comments.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, content:new page, area:manual, topic:gui, cherrypick:4.3

#10386 TIME is affected by time_scale
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/fog_shader.rst
  tutorials/shaders/shader_reference/particle_shader.rst
  tutorials/shaders/shader_reference/sky_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual, topic:shaders, cherrypick:4.3

#10390 Add introduction to Platform-specific index page
  tutorials/export/index.rst
  tutorials/platform/index.rst
Labels: enhancement, area:manual

#10391 Update documentation changelog for new Output Panel page
  about/docs_changelog.rst
Labels: enhancement, area:about

#10392 Improve Physics Interpolation pages
  tutorials/physics/index.rst
  tutorials/physics/interpolation/2d_and_3d_physics_interpolation.rst
  tutorials/physics/interpolation/advanced_physics_interpolation.rst
  tutorials/physics/interpolation/index.rst
  tutorials/physics/interpolation/physics_interpolation_introduction.rst
  tutorials/physics/interpolation/using_physics_interpolation.rst
Labels: bug, area:manual, content:proofreading

#9399 Fix C# main screen plugin example and document C# `EditorInterface` singleton
  tutorials/plugins/editor/making_main_screen_plugins.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: topic:dotnet, area:manual, topic:plugin

#10101 Tweak animation file names to be less confusing in Creating the player scene
  getting_started/first_2d_game/02.player_scene.rst
Labels: bug, area:getting started, cherrypick:4.3

#10400 Update documentation changelog for Physics Interpolation
  about/docs_changelog.rst
Labels: enhancement, area:about

#10399 Tweak wording in Creating the player scene
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.3

#10401 Update debugger visual profiler screenshot
  tutorials/scripting/debug/img/debugger_visual_profiler_results.webp
Labels: enhancement, area:manual, content:images

#10404 Improve "Version Compatibility" section in "What is GDExtension"
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual, topic:gdextension, cherrypick:4.3

#10407 Add self links to shader functions page
  _static/css/custom.css
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: enhancement, area:manual, topic:shaders

#10398 Tweak wording in C# differences
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, cherrypick:4.3

#10408 Link to foveation settings from VRS page
  tutorials/3d/variable_rate_shading.rst
  tutorials/xr/openxr_settings.rst
Labels: enhancement, area:manual

#10409 Simply remove some words
  contributing/development/handling_compatibility_breakages.rst
  tutorials/assets_pipeline/import_process.rst
  tutorials/performance/general_optimization.rst
  tutorials/platform/web/javascript_bridge.rst
  tutorials/rendering/compositor.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdscript/gdscript_advanced.rst
  tutorials/shaders/shader_reference/shader_functions.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/custom_gui_controls.rst
  tutorials/xr/introducing_xr_tools.rst
  tutorials/xr/openxr_composition_layers.rst
  tutorials/xr/openxr_hand_tracking.rst
  tutorials/xr/setting_up_xr.rst
  tutorials/xr/xr_action_map.rst
Labels: enhancement, area:manual, area:contributing, content:proofreading

#10410 Fix article outdated status for spring arm page
  tutorials/3d/spring_arm.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10403 Add example of GDExtension written pure C
  tutorials/scripting/gdextension/gdextension_c_example.rst
  tutorials/scripting/gdextension/img/gdextension_c_inspector_properties.webp
  tutorials/scripting/gdextension/img/gdextension_c_methods_doc.webp
  tutorials/scripting/gdextension/img/gdextension_c_moving_sprite.gif
  tutorials/scripting/gdextension/img/gdextension_c_running.webp
  tutorials/scripting/gdextension/img/gdextension_c_signal_doc.webp
  tutorials/scripting/gdextension/img/gdextension_c_signal_print.webp
  tutorials/scripting/gdextension/index.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, content:new page, area:manual, topic:gdextension

#10406 Fix usage of `source_color` with `hint_depth_texture`
  tutorials/shaders/advanced_postprocessing.rst
Labels: bug, area:manual, topic:shaders, cherrypick:4.3

#10413 Rephrase dictionary description in Advanced GDScript
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#10414 Clarify MeshLibrary format and constraints
  tutorials/3d/using_gridmaps.rst
Labels: enhancement, area:manual, topic:3d

#10325 [System requirements] Add information about different requirements for different renderers.
  about/system_requirements.rst
Labels: enhancement, area:about

#10416 Clarify creating a global in Singletons (Autoload)
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:manual

#10421 Mention exception to setting values before adding to tree
  tutorials/best_practices/logic_preferences.rst
Labels: bug, area:manual, cherrypick:4.3

#9743 Text editor documentation
  getting_started/introduction/first_look_at_the_editor.rst
  tutorials/editor/default_key_mapping.rst
  tutorials/editor/img/editor_ui_script_editor_coding_area.webp
  tutorials/editor/img/editor_ui_script_editor_menu.webp
  tutorials/editor/img/editor_ui_script_editor_open.webp
  tutorials/editor/img/editor_ui_script_editor_replace_all.webp
  tutorials/editor/img/editor_ui_script_editor_replaceinfiles.webp
  tutorials/editor/img/editor_ui_script_editor_script_panel.webp
  tutorials/editor/img/script_editor_icons/Connected.webp
  tutorials/editor/img/script_editor_icons/Documentation.webp
  tutorials/editor/img/script_editor_icons/Foldable.webp
  tutorials/editor/img/script_editor_icons/Script.webp
  tutorials/editor/img/script_editor_icons/ScriptCSharp.webp
  tutorials/editor/img/script_editor_icons/ToolScript.webp
  tutorials/editor/img/script_editor_icons/override.webp
  tutorials/editor/img/script_editor_icons/receiver.webp
  tutorials/editor/img/script_editor_icons/text_editor.webp
  tutorials/editor/img/script_editor_icons/text_editor_coding_area_indicators.webp
  tutorials/editor/img/script_editor_icons/text_editor_edit_menu.webp
  tutorials/editor/img/script_editor_icons/text_editor_file_menu.webp
  tutorials/editor/img/script_editor_icons/text_editor_goto_menu.webp
  tutorials/editor/img/script_editor_icons/text_editor_menu.webp
  tutorials/editor/img/script_editor_icons/text_editor_search_menu.webp
  tutorials/editor/index.rst
  tutorials/editor/script_editor.rst
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual, topic:editor

#10424 Document example code label in docs repo
  contributing/workflow/bug_triage_guidelines.rst
Labels: enhancement, area:contributing

#10423 Tweak wording in Contributing to the class reference
  contributing/documentation/updating_the_class_reference.rst
Labels: enhancement, area:contributing

#10428 Fix typo (copy-paste) in gui_using_fonts.rst
  tutorials/ui/gui_using_fonts.rst
Labels: bug, area:manual, topic:gui, cherrypick:4.3

#10429 Fix Introduction to 2D scale hot key
  tutorials/2d/introduction_to_2d.rst
Labels: bug, area:manual, topic:2d, cherrypick:4.3, topic:editor

#10427 C#: Update platform support for 4.4 and new minimum required TFM
  about/list_of_features.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/c_sharp_style_guide.rst
  tutorials/scripting/c_sharp/index.rst
Labels: enhancement, topic:dotnet, area:about, area:getting started, area:manual, platform:android

#10435 Remove trailing double quote from link in GLTFState documentation
  classes/class_gltfstate.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.3

#10418 Remove default labels from issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/enhancement_request.md
Labels: enhancement

#10411 Only show warning box if page is outdated
  _templates/layout.html
Labels: enhancement, content:website, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10433 [.NET] Use collection expressions
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/3d/procedural_geometry/arraymesh.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/best_practices/godot_interfaces.rst
  tutorials/math/random_number_generation.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/navigation/navigation_using_navigationobstacles.rst
  tutorials/navigation/navigation_using_navigationservers.rst
  tutorials/networking/http_client_class.rst
  tutorials/networking/http_request_class.rst
  tutorials/physics/ray-casting.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/cross_language_scripting.rst
  tutorials/shaders/compute_shaders.rst
Labels: enhancement, topic:dotnet, area:manual

#10419 Add technical definition for manifoldness
  tutorials/3d/csg_tools.rst
Labels: enhancement, area:manual, topic:3d

#10437 GDScript: Document `@warning_ignore_start` and `@warning_ignore_restore`
  _extensions/gdscript.py
  tutorials/scripting/gdscript/warning_system.rst
Labels: enhancement, topic:gdscript, area:manual

#10374 Fix instruction for RISC-V (the previous instruction didn't work)
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing

#8928 Add a paragraph about self
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#10430 OpenXR: add binding modifiers documentation to action map
  tutorials/xr/img/openxr_action_binding_modifier.webp
  tutorials/xr/img/openxr_analog_threshold_modifier.webp
  tutorials/xr/img/openxr_dpad_modifier.webp
  tutorials/xr/img/openxr_haptic_vibration.webp
  tutorials/xr/img/openxr_ip_binding_modifier.webp
  tutorials/xr/img/openxr_project_settings_analog_threshold_modifier.webp
  tutorials/xr/img/openxr_project_settings_dpad_modifier.webp
  tutorials/xr/img/openxr_thumbstick_dpad.webp
  tutorials/xr/xr_action_map.rst
Labels: enhancement, topic:xr

#10369 Standardize header syntax within About section
  about/complying_with_licenses.rst
  about/docs_changelog.rst
  about/faq.rst
  about/system_requirements.rst
Labels: area:about, content:proofreading

#10432 Remove links to YouTube devlogs
  community/tutorials.rst
Labels: enhancement, discussion, area:contributing

#10447 Fix layout issue in `godot_notifications.rst`
  tutorials/best_practices/godot_notifications.rst
Labels: enhancement, area:manual, content:proofreading, cherrypick:4.3

#10448 Groups: Nodes panel doesn't allow node multiselect
  tutorials/scripting/groups.rst
Labels: bug, area:manual, cherrypick:4.3

#10446 Document standards for RST section header syntax
  contributing/documentation/docs_writing_guidelines.rst
Labels: enhancement, area:contributing
