Repository godotengine/godot-docs, pull requests merged in 2024-06, with the labels that each got.

#9448 Remove duplicate words in `getting_started/first_2d_game`
  getting_started/first_2d_game/02.player_scene.rst
Labels: bug, area:getting started, content:proofreading, cherrypick:4.1, cherrypick:4.2

#9311 Update the passthrough documentation to reflect the changes in Godot 4.3
  _tools/redirects/redirects.csv
  tutorials/xr/ar_passthrough.rst
  tutorials/xr/img/openxr_default_blend_mode.webp
  tutorials/xr/img/openxr_export_passthrough.webp
  tutorials/xr/img/xr_export_passthrough.webp
  tutorials/xr/img/xr_passthrough_example.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_passthrough.rst
Labels: enhancement, topic:xr, area:manual

#9336 Update NavigationObstacles for Godot 4.3 changes
  _tools/redirects/redirects.csv
  tutorials/navigation/img/nav_mesh_obstacles.webp
  tutorials/navigation/img/nav_mesh_obstacles_discard.webp
  tutorials/navigation/img/nav_mesh_obstacles_properties.webp
  tutorials/navigation/navigation_using_navigationobstacles.rst
Labels: enhancement, content:redirect, area:manual

#9409 Add documentation about the compositor
  tutorials/rendering/compositor.rst
  tutorials/rendering/img/add_compositor_effect.webp
  tutorials/rendering/img/new_compositor.webp
  tutorials/rendering/img/post_process_shader.webp
  tutorials/rendering/index.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d, topic:shaders

#9457 Update outdated call to `ImmediateMesh.surface_clear`
  tutorials/3d/procedural_geometry/immediatemesh.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.1, cherrypick:4.2, topic:3d

#9407 Remove Note from Constants
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.1, cherrypick:4.2

#9326 Update using a viewport as a texture tutorial for 4.2
  tutorials/shaders/img/planet_new_colorrect.png
  tutorials/shaders/img/planet_new_colorrect.webp
  tutorials/shaders/img/planet_new_viewport.png
  tutorials/shaders/img/planet_new_viewport.webp
  tutorials/shaders/img/planet_new_viewport_texture.png
  tutorials/shaders/img/planet_new_viewport_texture.webp
  tutorials/shaders/img/planet_noise.png
  tutorials/shaders/img/planet_noise.webp
  tutorials/shaders/img/planet_noise_color.png
  tutorials/shaders/img/planet_noise_color.webp
  tutorials/shaders/img/planet_noise_fbm.png
  tutorials/shaders/img/planet_noise_fbm.webp
  tutorials/shaders/img/planet_noise_fbm_shaded.png
  tutorials/shaders/img/planet_noise_smooth.png
  tutorials/shaders/img/planet_noise_smooth.webp
  tutorials/shaders/img/planet_normals.png
  tutorials/shaders/img/planet_normals.webp
  tutorials/shaders/img/planet_ocean.png
  tutorials/shaders/img/planet_ocean.webp
  tutorials/shaders/img/planet_ocean_reflect.png
  tutorials/shaders/img/planet_ocean_reflect.webp
  tutorials/shaders/img/planet_pick_viewport_texture.png
  tutorials/shaders/img/planet_pick_viewport_texture.webp
  tutorials/shaders/img/planet_seam.png
  tutorials/shaders/img/planet_seam.webp
  tutorials/shaders/img/planet_sincos.png
  tutorials/shaders/img/planet_sincos.webp
  tutorials/shaders/img/viewport_texture_node_tree.webp
  tutorials/shaders/using_viewport_as_texture.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:shaders

#9232 Update inheritance tree images for 4.2
  contributing/development/core_and_modules/files/class_tree.zip
  contributing/development/core_and_modules/img/Control.png
  contributing/development/core_and_modules/img/Control.webp
  contributing/development/core_and_modules/img/Node2D.webp
  contributing/development/core_and_modules/img/Node3D.webp
  contributing/development/core_and_modules/img/Object.png
  contributing/development/core_and_modules/img/Object.webp
  contributing/development/core_and_modules/img/RefCounted.webp
  contributing/development/core_and_modules/img/Reference.png
  contributing/development/core_and_modules/img/Spatial.png
  contributing/development/core_and_modules/inheritance_class_tree.rst
Labels: enhancement, area:contributing, cherrypick:4.2

#9456 Update project manager page screenshots for 4.3
  tutorials/editor/img/editor_ui_intro_project_manager_01.webp
  tutorials/editor/img/editor_ui_intro_project_manager_02.webp
  tutorials/editor/img/editor_ui_intro_project_manager_03.webp
  tutorials/editor/img/editor_ui_intro_project_manager_04.webp
  tutorials/editor/img/editor_ui_intro_project_manager_06.webp
  tutorials/editor/img/editor_ui_intro_project_manager_09.webp
  tutorials/editor/img/editor_ui_intro_project_manager_10.webp
  tutorials/editor/img/editor_ui_intro_project_manager_11.webp
  tutorials/editor/img/editor_ui_intro_project_manager_12.webp
  tutorials/editor/project_manager.rst
Labels: enhancement, area:manual

#9455 Update minimal websocket client example.
  tutorials/networking/websocket.rst
Labels: bug, area:manual, topic:network

#9458 Fix a typo: "and that you not introducing"
  contributing/development/code_style_guidelines.rst
Labels: bug, area:manual

#9384 Improve OpenGL documentation in Internal rendering architecture
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: enhancement, topic:rendering, area:contributing

#9373 OpenXR: Add documentation page about the new composition layers
  tutorials/xr/img/openxr_composition_layer_hole_punch.webp
  tutorials/xr/img/openxr_composition_layer_quad.webp
  tutorials/xr/img/openxr_composition_layer_subviewport.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_composition_layers.rst
Labels: enhancement, topic:xr, area:manual

#9450 Replace old `--export` flag with `--export-release`
  tutorials/animation/creating_movies.rst
  tutorials/export/exporting_projects.rst
Labels: bug, area:manual

#9465 Fix invalid indentation in various files
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/core_and_modules/custom_audiostreams.rst
  contributing/development/core_and_modules/custom_godot_servers.rst
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
  getting_started/step_by_step/scripting_player_input.rst
  tutorials/3d/particles/turbulence.rst
  tutorials/3d/procedural_geometry/immediatemesh.rst
  tutorials/assets_pipeline/importing_3d_scenes/node_type_customization.rst
  tutorials/navigation/navigation_using_navigationobstacles.rst
  tutorials/platform/android/android_in_app_purchases.rst
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/scripting/creating_script_templates.rst
  tutorials/scripting/gdscript/gdscript_advanced.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/scene_tree.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, content:proofreading, cherrypick:4.1, cherrypick:4.2

#9477 Correct typo in tscn docs
  contributing/development/file_formats/tscn.rst
Labels: bug, area:contributing

#9472 Clarify where to report engine bugs
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#9468 Update project manager screenshots in getting started for 4.3
  getting_started/first_2d_game/img/new-project-button.webp
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/img/01.game_setup/01.import_button.webp
  getting_started/first_3d_game/img/01.game_setup/02.browse_to_project_folder.png
  getting_started/first_3d_game/img/01.game_setup/02.browse_to_project_folder.webp
  getting_started/first_3d_game/img/01.game_setup/03.import_and_edit.png
  getting_started/first_3d_game/img/01.game_setup/03.import_and_edit.webp
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/img/editor_intro_language.webp
  getting_started/introduction/img/editor_intro_project_manager.webp
  getting_started/introduction/img/editor_intro_project_templates.webp
  getting_started/introduction/img/editor_intro_settings.webp
  getting_started/step_by_step/img/instancing_import_and_edit_button.webp
  getting_started/step_by_step/img/instancing_import_button.webp
  getting_started/step_by_step/img/instancing_import_project_file.webp
Labels: enhancement, area:getting started

#9478 Fix link to import hints
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
Labels: bug, area:manual, content:proofreading

#9474 Fix misplaced end of sentence
  contributing/development/file_formats/tscn.rst
Labels: bug, area:contributing

#9158 Document how to handle compatibility breakages
  about/release_policy.rst
  contributing/development/handling_compatibility_breakages.rst
  contributing/development/index.rst
Labels: enhancement, content:new page, area:contributing, topic:buildsystem, cherrypick:4.2

#9494 Fix indented text captured by tabs group directive
  getting_started/first_3d_game/06.jump_and_squash.rst
Labels: bug, area:getting started, content:proofreading, cherrypick:4.1, cherrypick:4.2

#9491 Link to more up-to-date FuncGodot plugin in CSG Tools, add Cyclops Level Builder
  tutorials/3d/csg_tools.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:3d

#9490 Sync BBCode tutorial page with features added in 4.3.
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/img/bbcode_in_richtextlabel_image_align.webp
  tutorials/ui/img/bbcode_in_richtextlabel_table_align.webp
Labels: enhancement, area:manual, topic:gui

#9466 Add CSharp code example for SetShaderParameter()
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: enhancement, topic:dotnet, area:manual, topic:shaders

#9461 Update groups tutorial for project-wide node groups
  tutorials/scripting/groups.rst
  tutorials/scripting/img/groups_add_new_group_button.webp
  tutorials/scripting/img/groups_add_new_group_modal.webp
  tutorials/scripting/img/groups_add_node_to_group.webp
  tutorials/scripting/img/groups_global_groups_settings.webp
  tutorials/scripting/img/groups_group_editor_window.webp
  tutorials/scripting/img/groups_manage_groups_button.webp
  tutorials/scripting/img/groups_node_after_adding.webp
  tutorials/scripting/img/groups_node_tab.webp
  tutorials/scripting/img/groups_node_tab_with_created_groups.webp
  tutorials/scripting/img/groups_node_tab_with_multiple_types_of_groups.webp
Labels: enhancement, area:manual

#9209 Update Python code style guidelines regarding usage of `ruff`
  contributing/development/code_style_guidelines.rst
Labels: area:contributing, topic:buildsystem

#9470 Update C++ example to use version 4.2
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, area:manual

#9493 Adding a next steps page to the XR documentation
  community/tutorials.rst
  tutorials/xr/index.rst
  tutorials/xr/xr_next_steps.rst
Labels: topic:xr, area:manual

#9506 Fix some incorrect entries in shader built-ins
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: topic:shaders

#9507 Fix typo in "Optimizing 3D performance"
  tutorials/performance/optimizing_3d_performance.rst
Labels: bug, area:manual, content:proofreading

#9511 Fix some incorrect entries in shader built-ins
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: topic:shaders

#9514 Fix wrong lines of code in the "Using NavigationMaps" page
  tutorials/navigation/navigation_using_navigationmaps.rst
Labels: bug, area:manual

#9378 Update using_tilesets.rst
  tutorials/2d/img/using_tilesets_create_new_atlas.webp
  tutorials/2d/img/using_tilesets_load_tilesheet.webp
  tutorials/2d/using_tilesets.rst
Labels: enhancement, area:manual

#9518 Change "effecting" to "affecting" in scene organization
  tutorials/best_practices/scene_organization.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.1, cherrypick:4.2

#9513 Typo in gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: area:manual, content:proofreading

#9509 Update import pages for ufbx in 4.3
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
Labels: enhancement, area:manual

#9519 Update exporting for Windows images
  tutorials/export/exporting_for_windows.rst
  tutorials/export/img/windows_editor_settings.png
  tutorials/export/img/windows_editor_settings.webp
  tutorials/export/img/windows_export_codesign.png
  tutorials/export/img/windows_export_codesign.webp
Labels: enhancement, area:manual

#9383 Add documentation about .gdextension file
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/gdextension_file.rst
  tutorials/scripting/gdextension/index.rst
Labels: content:new page, area:manual

#9534 Update deploying_to_android.rst
  tutorials/xr/deploying_to_android.rst
Labels: topic:xr, area:manual

#9527 Remove reference to 3.x plugin
  tutorials/rendering/jitter_stutter.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9541 pi/4 is 45 degrees.
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug, area:getting started, content:proofreading, cherrypick:4.1, cherrypick:4.2

#9543 Document caveats related to GPUParticles3D collision
  tutorials/3d/particles/collision.rst
  tutorials/3d/particles/properties.rst
Labels: bug, enhancement, area:manual, cherrypick:4.2, topic:3d, topic:particles

#9546 Extract remaining changes from setget/annotation update PR's
  tutorials/best_practices/data_preferences.rst
  tutorials/best_practices/logic_preferences.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, area:manual, area:contributing

#9556 GDScript: Update lambda documentation
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#9552 Remove unnecessary opinion about languages.
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, discussion, area:manual, cherrypick:4.1, cherrypick:4.2

#9557 Update name of where you get openJDK from
  contributing/development/compiling/compiling_for_android.rst
Labels: bug, area:manual

#9542 Add Sickhead to porting support list
  tutorials/platform/consoles.rst
Labels: area:manual, foundation

#9564 Fix link written in md syntax instead of rst
  tutorials/platform/android/android_plugin.rst
Labels: bug, area:manual, cherrypick:4.1, cherrypick:4.2
