Repository godotengine/godot-docs, pull requests merged in 2024-11, with the labels that each got.

#10158 Update Sphinx and requirements
  .github/workflows/ci.yml
  _static/css/algolia.css
  conf.py
  requirements.txt
Labels: bug, enhancement, dependencies, cherrypick:3.5, cherrypick:3.6, python, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10189 Update documentation changelog for 4.3
  about/docs_changelog.rst
  tutorials/2d/2d_parallax.rst
Labels: enhancement, cherrypick:4.3

#10193 Replace broken link to official discord
  about/introduction.rst
Labels: bug, area:about, cherrypick:4.3

#10201 Mention a way to get development snapshots' source code in Getting the source
  contributing/development/compiling/getting_source.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10198 Improve Customizing the mouse cursor
  tutorials/inputs/custom_mouse_cursor.rst
Labels: enhancement, topic:dotnet, area:manual, content:proofreading, topic:input, cherrypick:4.3

#10187 Improve display of rubric fake headers with `:heading-level:` option
  contributing/development/compiling/index.rst
  contributing/development/core_and_modules/index.rst
  tutorials/3d/particles/index.rst
  tutorials/scripting/c_sharp/diagnostics/index.rst
  tutorials/scripting/index.rst
Labels: enhancement, cherrypick:4.3

#10191 Add section to Documentation changelog page for 4.4
  about/docs_changelog.rst
  tutorials/performance/pipeline_compilations.rst
Labels: enhancement, area:manual

#10156 Add spring arm third-person camera tutorial
  tutorials/3d/img/spring_arm_camera_collision.webp
  tutorials/3d/img/spring_arm_camera_motion_cast.webp
  tutorials/3d/img/spring_arm_camera_shape.webp
  tutorials/3d/img/spring_arm_children.webp
  tutorials/3d/img/spring_arm_editor_setup.webp
  tutorials/3d/img/spring_arm_length_setup.webp
  tutorials/3d/img/spring_arm_pivot_setup.webp
  tutorials/3d/img/spring_arm_position_length.webp
  tutorials/3d/img/spring_arm_shape.webp
  tutorials/3d/index.rst
  tutorials/3d/spring_arm.rst
  tutorials/3d/video/spring_arm_camera.webm
Labels: enhancement, content:new page, area:manual, topic:3d

#10195 Update Editor Icons page to reflect usage of `svgo`
  contributing/development/code_style_guidelines.rst
  contributing/development/editor/creating_icons.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10181 Clarify when `FRAGCOORD.z` is used as depth output
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10200 Link to Getting Started Input tutorial from Input examples page
  getting_started/first_3d_game/02.player_input.rst
  tutorials/inputs/inputevent.rst
Labels: enhancement, area:manual, topic:input, cherrypick:4.3

#10205 Add new Spring arm page to documentation changelog
  about/docs_changelog.rst
Labels: enhancement, area:about

#9837 Add GDExtension C++ snippets to tutorials/best_practices
  tutorials/best_practices/godot_notifications.rst
  tutorials/best_practices/logic_preferences.rst
  tutorials/best_practices/scene_organization.rst
Labels: area:manual, topic:gdextension

#10098 Add C# documentation for connecting to GDScript signals with parameters
  tutorials/scripting/cross_language_scripting.rst
Labels: enhancement, topic:dotnet, topic:gdscript, area:manual

#10171 Fix inaccurate/misleading note about shader global arrays
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, area:manual, topic:shaders

#10210 Fix link to Windows platform port in Custom platform ports
  contributing/development/core_and_modules/custom_platform_ports.rst
Labels: bug, area:contributing, cherrypick:4.3

#10075 Fix "or_greater"/"or_less" code example
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3

#10197 Improve interpolation smoothing example
  tutorials/math/interpolation.rst
Labels: enhancement, area:manual, topic:animation

#10214 Link to project settings when mentioning them
  tutorials/2d/2d_antialiasing.rst
  tutorials/2d/2d_parallax.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/using_decals.rst
  tutorials/audio/recording_with_microphone.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/troubleshooting_physics_issues.rst
  tutorials/platform/android/android_library.rst
  tutorials/scripting/creating_script_templates.rst
  tutorials/ui/gui_skinning.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10208 CI: Skip class reference sync and offline docs on forks
  .github/workflows/build_offline_docs.yml
  .github/workflows/sync_class_ref.yml
Labels: enhancement, cherrypick:3.6, github_actions, cherrypick:4.3

#10209 I18N: Remove canonical/hreflang tags, let RTD handle SEO/locale negotiation
  _templates/layout.html
  conf.py
Labels: bug, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10223 Tweak SSRL performance cost in 3D antialiasing comparison table
  tutorials/3d/3d_antialiasing.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#10222 Change all usages of "run-time" to "runtime"
  about/faq.rst
  about/list_of_features.rst
  contributing/development/core_and_modules/common_engine_methods_and_macros.rst
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
  contributing/development/core_and_modules/custom_platform_ports.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  contributing/development/core_and_modules/unit_testing.rst
  getting_started/first_3d_game/index.rst
  tutorials/3d/global_illumination/introduction_to_global_illumination.rst
  tutorials/3d/global_illumination/using_lightmap_gi.rst
  tutorials/3d/global_illumination/using_voxel_gi.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/mesh_lod.rst
  tutorials/3d/occlusion_culling.rst
  tutorials/3d/resolution_scaling.rst
  tutorials/assets_pipeline/importing_audio_samples.rst
  tutorials/export/feature_tags.rst
  tutorials/i18n/internationalizing_games.rst
  tutorials/inputs/inputevent.rst
  tutorials/migrating/upgrading_to_godot_4.1.rst
  tutorials/migrating/upgrading_to_godot_4.2.rst
  tutorials/migrating/upgrading_to_godot_4.3.rst
  tutorials/migrating/upgrading_to_godot_4.rst
  tutorials/performance/using_multiple_threads.rst
  tutorials/rendering/jitter_stutter.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
  tutorials/scripting/gdscript/gdscript_advanced.rst
  tutorials/shaders/shader_reference/shader_preprocessor.rst
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, content:proofreading

#10220 Fix codespell not running on some files
  .github/workflows/ci.yml
  contributing/development/compiling/getting_source.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, github_actions, cherrypick:4.2, cherrypick:4.3

#10227 Improve GDScript format strings tutorial
  tutorials/scripting/gdscript/gdscript_format_string.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#10219 Improve Bug triage guidelines
  contributing/workflow/bug_triage_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10216 Update "Size and anchors" to reflect Godot 4.3 terminology
  tutorials/ui/img/anchor_presets.webp
  tutorials/ui/img/layout_dropdown_menu.png
  tutorials/ui/img/margin.png
  tutorials/ui/img/marginaround.png
  tutorials/ui/img/marginend.png
  tutorials/ui/img/offset.webp
  tutorials/ui/img/offset_around.webp
  tutorials/ui/img/offset_end.webp
  tutorials/ui/size_and_anchors.rst
Labels: bug, area:manual, topic:gui, cherrypick:4.3

#10233 Update list of debugging settings
  tutorials/scripting/debug/overview_of_debugging_tools.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10237 Remove unneeded C# comment from First 2D Game
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, topic:dotnet, area:getting started, cherrypick:4.3

#10246 Typo fix in signals.rst
  getting_started/step_by_step/signals.rst
Labels: bug, area:getting started, cherrypick:4.3

#9993 Document `@export_custom` and additional range hints in GDScript exports
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:dotnet, topic:gdscript, area:manual, cherrypick:4.3

#10249 Mention web support in Choosing a renderer section
  tutorials/rendering/renderers.rst
Labels: enhancement, topic:rendering, area:manual

#10244 Add multiple renderer support to Advanced Postprocessing
  tutorials/shaders/advanced_postprocessing.rst
Labels: enhancement, area:manual, topic:shaders

#10248 [4.3] Add multiple renderer support to Advanced Postprocessing
  tutorials/shaders/advanced_postprocessing.rst
Labels: enhancement, area:manual, topic:shaders

#10194 Remove the new "switch-menu" in sidebartitle
  conf.py
Labels: bug, dependencies

#10231 Document CURRENT_RENDERER built-in shader define
  tutorials/shaders/shader_reference/shader_preprocessor.rst
Labels: enhancement, area:manual, topic:shaders

#10221 Enforce style guidelines with custom codespell dictionary
  .github/workflows/ci.yml
  _tools/codespell-dict.txt
  about/list_of_features.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/troubleshooting.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, github_actions, cherrypick:4.2, cherrypick:4.3

#9822 Update Random number generation for Godot 4.2+
  tutorials/math/random_number_generation.rst
Labels: enhancement, area:manual, cherrypick:4.2, cherrypick:4.3

#10262 Add comments about non-monospaced tables
  tutorials/3d/3d_antialiasing.rst
  tutorials/rendering/renderers.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10256 Update recommended renderer for XR
  tutorials/rendering/renderers.rst
  tutorials/xr/setting_up_xr.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10235 Use "built-in" and "built into", avoid "builtin", "built in", and "built-in to"
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/documentation/docs_image_guidelines.rst
  tutorials/2d/using_tilemaps.rst
  tutorials/editor/managing_editor_features.rst
  tutorials/platform/ios/plugins_for_ios.rst
  tutorials/shaders/compute_shaders.rst
  tutorials/shaders/custom_postprocessing.rst
  tutorials/shaders/shader_materials.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement, content:proofreading

#10232 Document exporting as progressive web app in Exporting for the web
  tutorials/audio/audio_buses.rst
  tutorials/audio/audio_streams.rst
  tutorials/editor/using_the_web_editor.rst
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3, platform:web

#10266 Bump minimum SCons/Python for builds
  contributing/development/compiling/compiling_for_android.rst
  contributing/development/compiling/compiling_for_ios.rst
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/compiling_for_web.rst
  contributing/development/compiling/compiling_for_windows.rst
Labels: enhancement, area:contributing

#10257 Improve grammar and writing in Pipeline compilations page
  tutorials/performance/pipeline_compilations.rst
Labels: enhancement, topic:rendering, area:manual

#10267 CI: Integrate `pre-commit` for style checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  _tools/format.sh
  classes/index.rst
  contributing/how_to_contribute.rst
  getting_started/introduction/first_look_at_the_editor.rst
  pyproject.toml
  tutorials/assets_pipeline/escn_exporter/index.rst
  tutorials/editor/external_editor.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/scripting/gdextension/gdextension_file.rst
  tutorials/xr/xr_action_map.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, topic:buildsystem, cherrypick:4.0, cherrypick:4.1, github_actions, cherrypick:4.2, topic:codestyle, cherrypick:4.3

#10247 Add note about LightmapGI only baking nodes under its parent
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: topic:rendering, area:manual

#10275 C# exports: Fix semicolon syntax error
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: bug, topic:dotnet, area:manual, content:proofreading, cherrypick:4.3

#10169 Add section on manual style to Writing Guidelines
  contributing/documentation/docs_writing_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.3

#10229 Document converting CSG nodes to MeshInstance3D and related lightmapping workflow
  tutorials/3d/csg_tools.rst
  tutorials/3d/global_illumination/using_lightmap_gi.rst
  tutorials/3d/occlusion_culling.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#10069 Add color constants reference to BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, topic:gui, cherrypick:4.3

#10054 Clarify Documentation for rotated_local() Function in 3D Transforms
  tutorials/3d/using_transforms.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10242 Add info about layer mask exporting to physics_introduction.rst
  tutorials/physics/physics_introduction.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: area:manual, topic:physics, cherrypick:4.3

#9777 Use the newly introduced ``is not`` operator
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, area:manual

#10276 Cherrypick #10242 (Add info about layer mask exporting to physics_introduction) to master
  tutorials/physics/physics_introduction.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, area:manual, topic:physics

#10277 Compiling for Linux/BSD: Add openKylin
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing, topic:buildsystem

#9923 Clarified `--script <script>` expected path values
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual

#10108 Rephrase tutorial items for targeting with a Navigation Agent
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, content:proofreading, topic:navigation

#9873 Document sub plugins
  tutorials/plugins/editor/img/sub_plugin_creation.webp
  tutorials/plugins/editor/img/sub_plugin_moved.webp
  tutorials/plugins/editor/making_plugins.rst
Labels: enhancement, area:manual, topic:plugin

#9756 Fix Typo and add information to Handling quit requests/On mobile devices
  tutorials/inputs/handling_quit_requests.rst
Labels: bug, area:manual, platform:ios

#9637 Update android export page for AAB requirement
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual, cherrypick:4.2, platform:android

#8908 Add ThreadSanitizer usage note under Linux
  contributing/development/debugging/using_sanitizers.rst
Labels: enhancement, area:contributing

#10280 Fix grammar in Matrices and transforms
  tutorials/math/matrices_and_transforms.rst
Labels: bug, area:manual, content:proofreading, cherrypick:4.3

#10243 Add UPDATE comments to perishable information
  about/release_policy.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  tutorials/2d/2d_parallax.rst
  tutorials/3d/particles/attractors.rst
  tutorials/3d/standard_material_3d.rst
  tutorials/assets_pipeline/importing_images.rst
  tutorials/audio/audio_streams.rst
  tutorials/editor/using_the_web_editor.rst
  tutorials/export/exporting_for_web.rst
  tutorials/io/data_paths.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/migrating/upgrading_to_godot_4.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/performance/pipeline_compilations.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/rendering/compositor.rst
  tutorials/rendering/multiple_resolutions.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
  tutorials/scripting/gdscript/static_typing.rst
  tutorials/troubleshooting.rst
  tutorials/xr/setting_up_xr.rst
Labels: enhancement, area:about, area:manual, area:contributing

#9887 Add mention of Auto Reload Scripts on External Change option to the e…
  tutorials/editor/external_editor.rst
Labels: enhancement, area:manual

#10283 Document `rand_weighted()` in Random number generation
  tutorials/math/random_number_generation.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10284 Add hyphens to some adjective phrases
  about/list_of_features.rst
  contributing/development/best_practices_for_engine_contributors.rst
  contributing/development/configuring_an_ide/code_blocks.rst
  contributing/development/configuring_an_ide/visual_studio_code.rst
  contributing/development/core_and_modules/2d_coordinate_systems.rst
  tutorials/export/exporting_projects.rst
  tutorials/performance/vertex_animation/animating_thousands_of_fish.rst
  tutorials/platform/consoles.rst
  tutorials/xr/ar_passthrough.rst
Labels: enhancement, area:about, area:manual, area:contributing, content:proofreading

#10285 Use "low-level" and "high-level" instead of "low level" and "high level"
  contributing/development/best_practices_for_engine_contributors.rst
  contributing/workflow/bug_triage_guidelines.rst
  tutorials/2d/2d_transforms.rst
  tutorials/2d/custom_drawing_in_2d.rst
  tutorials/export/exporting_for_web.rst
  tutorials/networking/high_level_multiplayer.rst
  tutorials/networking/websocket.rst
  tutorials/performance/using_servers.rst
  tutorials/physics/ray-casting.rst
  tutorials/scripting/scene_tree.rst
Labels: enhancement, area:manual, area:contributing, content:proofreading

#8195 Improve code style for cross-language scripting examples
  tutorials/scripting/cross_language_scripting.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.3

#10289 Fix EOF newlines in using multiple threads
  tutorials/performance/using_multiple_threads.rst
Labels: bug, area:manual, content:proofreading

#10259 Clarify VERTEX and other shader built-ins
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:shaders

#10293 Fix wrong editor setting in Overview of Debugging Tools
  tutorials/scripting/debug/overview_of_debugging_tools.rst
Labels: bug, area:manual, cherrypick:4.3, topic:editor

#9910 Add examples of individually setting bits in Physics introduction
  tutorials/physics/physics_introduction.rst
Labels: area:manual, topic:physics

#9841 Add documentation for `hint_enum` uniform in shading_language.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#8072 Add C# code to random_number_generation and fix shuffle bag example.
  tutorials/math/random_number_generation.rst
Labels: enhancement, topic:dotnet, area:manual

#10286 Remove performance comparison from C# Basics
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.3

#9338 Improve shader function descriptions
  _static/css/custom.css
  tutorials/shaders/shader_reference/index.rst
  tutorials/shaders/shader_reference/shader_functions.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10019 Add dev_build and dev_mode flags to SCons compilation instructions for desktop editor pages
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: area:contributing, topic:buildsystem, cherrypick:4.2, cherrypick:4.3

#10287 Add FAQ entry "Which programming language is fastest?"
  about/faq.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, topic:gdscript, area:about, topic:gdextension, cherrypick:4.3

#10173 Clarify Area2D warning behavior
  getting_started/first_2d_game/02.player_scene.rst
  getting_started/first_2d_game/img/no_shape_warning.webp
Labels: enhancement, area:getting started, cherrypick:4.3

#10299 Add `samplerExternalOES` type to variable types of shading language
  tutorials/shaders/shader_reference/shader_functions.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, topic:shaders

#10304 Update PackedArray explanation to match Godot 4.0 behavior
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.2, cherrypick:4.3

#10302 Add Shader functions page to documentation changelog
  about/docs_changelog.rst
Labels: enhancement, area:about, topic:shaders

#10311 CI: Remove EOF fixer from pre-commit hook
  .pre-commit-config.yaml
Labels: bug, github_actions

#10312 Remove extra paragraph `textureQueryLod` from `shader_functions.rst`
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: bug, area:manual, topic:shaders

#10313 Document focus StyleBox caveats in Introduction to GUI skinning
  tutorials/ui/gui_skinning.rst
Labels: enhancement, area:manual, topic:gui, cherrypick:4.3

#10316 Remove link to Reddit list of tutorials
  community/tutorials.rst
Labels: enhancement, area:community

#10317 Remove wiki reference in Introduction to 3D
  tutorials/3d/introduction_to_3d.rst
Labels: bug, area:manual, topic:3d, cherrypick:4.3

#10321 Update groups image in `saving_games` tutorial
  tutorials/io/img/groups.png
  tutorials/io/img/groups.webp
  tutorials/io/saving_games.rst
Labels: bug, area:manual, content:images, cherrypick:4.3, topic:editor

#9945 Improve wording of OpenGL support on desktop platforms.
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: bug, area:contributing, cherrypick:4.3

#10324 Add `SCREEN_UV` shader built-in to spatial light shader
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:shaders

#10319 Update translation priorities in Localization contributing page
  contributing/documentation/editor_and_docs_localization.rst
Labels: enhancement, area:contributing

#10326 Document Light3D shadow caster mask property
  tutorials/3d/lights_and_shadows.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#10323 Update C# Rider install steps for now built-in plugin "Godot Support"
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.3

#10335 Remove instructions on setting up Pyston for faster development
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_macos.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.3

#10334 Fix outdated reference to `godot.tools.html` in Compiling for the Web
  contributing/development/compiling/compiling_for_web.rst
Labels: bug, area:contributing, topic:buildsystem, cherrypick:4.3, platform:web

#10340 Replace mentions of Reference with RefCounted
  contributing/development/core_and_modules/object_class.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, area:manual, area:contributing, cherrypick:4.2, cherrypick:4.3

#10338 Document GDScript `@export_tool_button`
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual

#10183 Standardize renderer names and terms
  about/faq.rst
  about/list_of_features.rst
  contributing/development/core_and_modules/custom_platform_ports.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  tutorials/3d/3d_rendering_limitations.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/global_illumination/reflection_probes.rst
  tutorials/3d/global_illumination/using_sdfgi.rst
  tutorials/3d/global_illumination/using_voxel_gi.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/occlusion_culling.rst
  tutorials/3d/using_decals.rst
  tutorials/3d/variable_rate_shading.rst
  tutorials/3d/volumetric_fog.rst
  tutorials/assets_pipeline/importing_images.rst
  tutorials/editor/project_manager.rst
  tutorials/migrating/upgrading_to_godot_4.rst
  tutorials/rendering/renderers.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
  tutorials/troubleshooting.rst
Labels: enhancement, area:about, area:manual, area:contributing, cherrypick:4.3

#10328 Update file_access.h location
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
Labels: bug, area:contributing, cherrypick:4.3

#10308 Add information on web export splash color in custom HTML shells
  tutorials/platform/web/customizing_html5_shell.rst
Labels: enhancement, area:manual, topic:export, platform:web

#10342 POT Generator: Document `TRANSLATORS:` and `NO_TRANSLATE` comments
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement, area:manual

#10344 Note that shader function descriptions are modified from OpenGL docs
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: enhancement, area:manual, foundation, topic:shaders

#10347 4.3 cherrypicks
  about/faq.rst
  community/tutorials.rst
  contributing/development/compiling/compiling_for_ios.rst
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/compiling_for_web.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  contributing/development/core_and_modules/object_class.rst
  getting_started/first_2d_game/02.player_scene.rst
  getting_started/first_2d_game/img/no_shape_warning.webp
  tutorials/3d/introduction_to_3d.rst
  tutorials/3d/using_transforms.rst
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/inputs/handling_quit_requests.rst
  tutorials/io/img/groups.png
  tutorials/io/img/groups.webp
  tutorials/io/saving_games.rst
  tutorials/math/matrices_and_transforms.rst
  tutorials/math/random_number_generation.rst
  tutorials/math/vectors_advanced.rst
  tutorials/performance/using_multimesh.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/cross_language_scripting.rst
  tutorials/scripting/debug/overview_of_debugging_tools.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/ui/gui_containers.rst
  tutorials/ui/gui_skinning.rst
Labels: bug, enhancement

#10348 CI: Integrate pre-commit for style checks
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  _tools/format.sh
  pyproject.toml
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, topic:buildsystem, cherrypick:4.0, cherrypick:4.1, github_actions, cherrypick:4.2

#10356 4.3 Cherrypicks: shaders
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, enhancement

#10357 Update stable
  tutorials/shaders/shader_reference/canvas_item_shader.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, enhancement
