Repository godotengine/godot-docs, pull requests merged in 2024-08, with the labels that each got.

#9681 Update docs for new TileMapLayer node
  tutorials/2d/2d_lights_and_shadows.rst
  tutorials/2d/img/using_tilemaps_create_layers.webp
  tutorials/2d/img/using_tilemaps_save_tileset_to_resource.webp
  tutorials/2d/img/using_tilesets_create_custom_data_layer.webp
  tutorials/2d/img/using_tilesets_create_navigation_layer.webp
  tutorials/2d/img/using_tilesets_create_new_tileset.webp
  tutorials/2d/img/using_tilesets_create_occlusion_layer.webp
  tutorials/2d/img/using_tilesets_create_physics_layer.webp
  tutorials/2d/img/using_tilesets_create_terrain_set.webp
  tutorials/2d/img/using_tilesets_specify_size_then_edit.webp
  tutorials/2d/using_tilemaps.rst
  tutorials/2d/using_tilesets.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
Labels: enhancement, area:manual

#9686 Document Windows Defender causing slow startup in large projects
  tutorials/troubleshooting.rst
Labels: enhancement, area:manual

#9689 Add variable font weight table to Using fonts
  tutorials/ui/gui_using_fonts.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:gui

#9690 Recommend `unshaded` render mode for quad in Advanced post-processing
  tutorials/shaders/advanced_postprocessing.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:shaders

#9641 Update standard_material_3d.rst to Godot 4
  tutorials/3d/standard_material_3d.rst
Labels: topic:rendering, area:manual, topic:3d

#9695 Update 3d_gizmos.rst
  tutorials/plugins/editor/3d_gizmos.rst
Labels: bug, area:manual, cherrypick:4.2, topic:3d

#8569 Improve color constants cheat sheet
  img/color_constants.png
Labels: enhancement, cherrypick:4.2

#9421 Finish incomplete setence in High-level multiplayer tutorial
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, area:manual, content:proofreading, cherrypick:4.1, cherrypick:4.2, topic:multiplayer

#9388 Add typed loop variable example in for-loop section
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.2

#9143 Add instructions and screenshot for opening a scene in instancing.rst
  getting_started/step_by_step/img/instancing_ball_scene_open.webp
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#9693 Add Duplicate Lines shortcut to Text Editor
  tutorials/editor/default_key_mapping.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9642 Update scene_organization.rst
  tutorials/best_practices/scene_organization.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9700 Add section about subcases to the unit testing guide
  contributing/development/core_and_modules/unit_testing.rst
Labels: enhancement, area:contributing, topic:tests

#9701 Add section about special tags to the unit testing guide
  contributing/development/core_and_modules/unit_testing.rst
Labels: enhancement, area:contributing, topic:tests

#9685 Upgrade to 4.3: Add note about Multiplayer protocol compat breakage
  tutorials/migrating/upgrading_to_godot_4.3.rst
Labels: enhancement, area:manual, topic:multiplayer

#9709 Mention that the NavigationMesh border_size only works along xz-axis
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement, area:manual, topic:navigation

#9702 CSharp example missing return type
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.2

#9708 Update gdscript_styleguide.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: bug, area:manual, content:proofreading

#9400 Update VisualShader page for 4.3
  tutorials/shaders/img/shader_material_create_mesh.png
  tutorials/shaders/img/shader_material_create_mesh.webp
  tutorials/shaders/img/visual_shader_create.webp
  tutorials/shaders/img/visual_shader_create2.webp
  tutorials/shaders/img/visual_shader_editor2.png
  tutorials/shaders/img/visual_shader_editor2.webp
  tutorials/shaders/img/vs_boolean.webp
  tutorials/shaders/img/vs_expression.gif
  tutorials/shaders/img/vs_fresnel.png
  tutorials/shaders/img/vs_fresnel.webp
  tutorials/shaders/img/vs_node.webp
  tutorials/shaders/img/vs_popup.png
  tutorials/shaders/img/vs_popup.webp
  tutorials/shaders/img/vs_reroute.webp
  tutorials/shaders/img/vs_reroute_handle.webp
  tutorials/shaders/img/vs_sampler.webp
  tutorials/shaders/img/vs_scalar.webp
  tutorials/shaders/img/vs_switch.png
  tutorials/shaders/img/vs_switch.webp
  tutorials/shaders/img/vs_transform.webp
  tutorials/shaders/img/vs_vector.webp
  tutorials/shaders/visual_shaders.rst
Labels: enhancement, area:manual, topic:shaders

#9640 Truly pause game in XR start script tutorial
  tutorials/xr/a_better_xr_start_script.rst
Labels: bug, topic:xr, cherrypick:4.2

#9711 Add links to navigation mesh chunks demos
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement, area:manual

#9721 Fix funding link to be an external link
  contributing/how_to_contribute.rst
Labels: bug, area:contributing

#9482 Add clarification for importing project in Your first 3D game tutorial
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/img/01.game_setup/import_project_to_4.x_prompt.webp
Labels: enhancement, area:getting started

#9729 Fix other funding link
  contributing/how_to_contribute.rst
Labels: bug, cherrypick:3.5, cherrypick:3.6, area:contributing, cherrypick:4.0, cherrypick:4.1, foundation, cherrypick:4.2

#9730 Update NavigationAgent doc with new simplify_path property
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, topic:navigation

#9731 Add 2D versions of NavigationAgent script templates
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, topic:navigation

#9736 Add tip and warning about TileMap build-in navigation
  tutorials/2d/using_tilemaps.rst
Labels: enhancement, area:manual, topic:navigation

#9739 Add info for opening demo projects
  getting_started/step_by_step/instancing.rst
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:getting started, area:manual

#9719 Add cubemap template images to Importing images
  tutorials/assets_pipeline/img/cubemap_template_1x6.webp
  tutorials/assets_pipeline/img/cubemap_template_2x3.webp
  tutorials/assets_pipeline/img/cubemap_template_3x2.webp
  tutorials/assets_pipeline/img/cubemap_template_6x1.webp
  tutorials/assets_pipeline/importing_images.rst
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, topic:rendering, area:manual, topic:import, cherrypick:4.2, topic:shaders

#9667 Add page about gdextension docs generation
  tutorials/scripting/gdextension/gdextension_docs_system.rst
  tutorials/scripting/gdextension/gdextension_file.rst
  tutorials/scripting/gdextension/img/gdextension_docs_generation.webp
  tutorials/scripting/gdextension/index.rst
Labels: enhancement, content:new page, area:manual

#9618 Update GDExtension tutorial with the hot reload feature
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, topic:gdextension, cherrypick:4.2

#9548 Add warnings for classes named "Editor" in GDscript and C# pages, class_name keyword/global class attribute
  tutorials/scripting/c_sharp/c_sharp_global_classes.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:manual

#7829 Mention buffer size and Windows 11 mouse polling in Fixing jitter, stutter and input lag
  tutorials/rendering/jitter_stutter.rst
Labels: enhancement, area:manual, topic:input

#9753 Fix project structure diagram in gdextension docs system docs
  tutorials/scripting/gdextension/gdextension_docs_system.rst
Labels: area:manual, cherrypick:4.3

#9489 Add smoothstep graphs
  img/smoothstep_range.webp
Labels: enhancement, content:images

#9754 Fix glTF capitalization in manual
  getting_started/first_3d_game/02.player_input.rst
  tutorials/platform/android/android_library.rst
  tutorials/xr/openxr_hand_tracking.rst
Labels: area:manual, topic:import

#9582 Add commas before "but" throughout documentation
  contributing/development/best_practices_for_engine_contributors.rst
  contributing/development/code_style_guidelines.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/documentation/building_the_manual.rst
  contributing/documentation/contributing_to_the_documentation.rst
  contributing/workflow/pr_review_guidelines.rst
  tutorials/2d/2d_sprite_animation.rst
  tutorials/2d/2d_transforms.rst
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/3d/mesh_lod.rst
  tutorials/3d/using_decals.rst
  tutorials/3d/variable_rate_shading.rst
  tutorials/3d/visibility_ranges.rst
  tutorials/3d/volumetric_fog.rst
  tutorials/troubleshooting.rst
Labels: enhancement, discussion

#9764 Fix compile error in advanced_postprocessing.rst
  tutorials/shaders/advanced_postprocessing.rst
Labels: bug, area:manual, cherrypick:4.1, cherrypick:4.2, topic:shaders, cherrypick:4.3

#9760 Add a link for JetBrains Rider LSP/DAP support
  tutorials/editor/external_editor.rst
Labels: enhancement, area:manual

#9758 Update iOS system requirements.
  about/system_requirements.rst
Labels: area:about

#9774 Fix Visual Studio Code gdb pretty print script path to match the Godot repository
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: bug, area:contributing, cherrypick:4.3

#9755 Update release policy information on Godot 4.3
  about/release_policy.rst
Labels: enhancement, area:about

#9793 C#: Remove references to `GODOT_SERVER` and `GODOT_HTML5` defines
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.2, cherrypick:4.3

#9791 Corrected typo in gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, area:manual

#9788 Fix "make html FILELIST" command in building_the_manual.rst
  contributing/documentation/building_the_manual.rst
Labels: bug, area:contributing

#9713 Fix description of typed resource exports
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug, area:manual

#9773 Update 07.killing_player.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/img/08.score_and_replay/18_register_autoload.webp
  tutorials/scripting/img/autoload_example.webp
  tutorials/scripting/img/autoload_tab.webp
  tutorials/scripting/img/autoload_tutorial1.webp
Labels: enhancement, area:getting started

#9790 [GDExtension] Add missing iOS instructions and build/config example code.
  tutorials/scripting/gdextension/files/cpp_example/SConstruct
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: area:manual, topic:gdextension, cherrypick:4.2, cherrypick:4.3

#9747 Update android SDK and Java version [3.6]
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual, topic:export

#9800 Fix out of date comment about depth buffer
  tutorials/shaders/advanced_postprocessing.rst
Labels: area:manual, topic:shaders, cherrypick:4.3

#9767 Update navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, content:proofreading, topic:navigation

#9332 LOD and updating optimizing 3D docs
  tutorials/3d/img/lod_node_scene.webp
  tutorials/3d/img/lod_wireframe.webp
  tutorials/3d/index.rst
  tutorials/3d/level_of_detail.rst
  tutorials/performance/optimizing_3d_performance.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#9805 Update certain example code snippets to use the new syntax
  contributing/development/core_and_modules/custom_godot_servers.rst
  tutorials/navigation/navigation_introduction_2d.rst
  tutorials/navigation/navigation_introduction_3d.rst
  tutorials/navigation/navigation_using_navigationservers.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:manual, cherrypick:4.3

#9796 Fix comment directive to prevent webpage display
  contributing/how_to_contribute.rst
Labels: bug, area:contributing, content:proofreading, cherrypick:4.3

#9812 Add C# examples to Using NavigationMaps
  tutorials/navigation/navigation_using_navigationmaps.rst
Labels: enhancement, area:manual, topic:navigation

#9815 Add C# examples to Mesh level of detail
  tutorials/3d/mesh_lod.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#9814 Add C# examples to Occlusion culling
  tutorials/3d/occlusion_culling.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#9813 Add C# examples to Using NavigationRegions
  tutorials/navigation/navigation_using_navigationregions.rst
Labels: enhancement, area:manual, cherrypick:4.1, topic:navigation, cherrypick:4.2, cherrypick:4.3

#9810 Add C# example to CPU optimization
  tutorials/performance/cpu_optimization.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#9798 Add C# examples to High-level Multiplayer documentation
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.1, cherrypick:4.2, topic:multiplayer, cherrypick:4.3

#9820 Add C# examples to Background loading
  tutorials/io/background_loading.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#9816 Add C# example to Creating movies
  tutorials/animation/creating_movies.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2, topic:animation, cherrypick:4.3

#9804 Add C# examples to Using Viewports documentation
  tutorials/rendering/viewports.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.3

#9819 Add link to `godot-proposals` in the issue template
  .github/ISSUE_TEMPLATE/config.yml
Labels: enhancement

#9817 Add C# example to Playing videos
  tutorials/animation/playing_videos.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2, topic:animation, cherrypick:4.3

#9827 Remove article before plural noun in autoloads_versus_internal_nodes.rst
  tutorials/best_practices/autoloads_versus_internal_nodes.rst
Labels: bug, area:manual, cherrypick:4.3

#9836 Update animations text in data_preferences.rst
  tutorials/best_practices/data_preferences.rst
Labels: bug, area:manual, cherrypick:4.3

#9811 Fix codespell path and spelling errors
  .github/workflows/ci.yml
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
  tutorials/scripting/c_sharp/c_sharp_global_classes.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/troubleshooting.rst
Labels: bug, area:manual, github_actions, cherrypick:4.3

#9762 Improve next_pass documentation
  tutorials/3d/img/next_pass.webp
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.2, cherrypick:4.3

#9833 Add missing C# code examples to documentation
  about/introduction.rst
  tutorials/i18n/internationalizing_games.rst
  tutorials/io/runtime_file_loading_and_saving.rst
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_debug_tools.rst
  tutorials/navigation/navigation_different_actor_locomotion.rst
  tutorials/navigation/navigation_different_actor_types.rst
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
  tutorials/navigation/navigation_using_navigationlinks.rst
  tutorials/navigation/navigation_using_navigationmeshes.rst
  tutorials/navigation/navigation_using_navigationobstacles.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
  tutorials/performance/thread_safe_apis.rst
  tutorials/performance/using_servers.rst
  tutorials/physics/ragdoll_system.rst
  tutorials/physics/ray-casting.rst
Labels: enhancement, topic:dotnet

#9855 Fix typo in using_tilesets.rst
  tutorials/2d/using_tilesets.rst
Labels: bug, area:manual

#9829 Document physics interpolation not being supported in 2D particles yet
  tutorials/2d/particle_systems_2d.rst
Labels: enhancement, topic:particles, cherrypick:4.3

#9787 Document GDScript "when" and clarify pattern guard docs
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#9847 Update SSL/TLS networking tutorial
  tutorials/networking/img/tls_certificates_export_filter.webp
  tutorials/networking/ssl_certificates.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:network, cherrypick:4.3

#9854 [Contributing] Improve list of classes disabled by `disable_advanced_gui`
  contributing/development/compiling/optimizing_for_size.rst
Labels: enhancement, area:contributing, topic:buildsystem

#9864 Fix decals demo link in Using decals
  tutorials/3d/using_decals.rst
Labels: bug, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3
