Repository godotengine/godot-docs, pull requests merged in 2024-02, with the labels that each got.

#8870 Correcting link to class Reference
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: topic:gdscript, area:manual

#8772 First 3d game animation fixes
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/first_3d_game/img/09.adding_animations/10.initial_keys.webp
  getting_started/first_3d_game/img/09.adding_animations/11.moving_keys.webp
  getting_started/first_3d_game/img/09.adding_animations/13.second_keys.webp
  getting_started/first_3d_game/img/09.adding_animations/15.box_select.webp
  getting_started/first_3d_game/img/09.adding_animations/animation_final_keyframes.webp
  getting_started/first_3d_game/img/09.adding_animations/second_keys_both.webp
  getting_started/first_3d_game/img/09.adding_animations/timeline_05_click.webp
Labels: enhancement, area:getting started, cherrypick:4.2

#8884 Update process_material_properties.rst
  tutorials/3d/particles/process_material_properties.rst
Labels: bug, area:manual, cherrypick:4.2

#8879 Fix C# typos: capitalize method name, use public property names
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/cross_language_scripting.rst
Labels: topic:dotnet, area:manual, content:proofreading, cherrypick:4.2

#8876 Update Android SDK command line instructions
  tutorials/export/exporting_for_android.rst
Labels: bug, area:manual, cherrypick:4.2

#8885 Fix missing texture mipmap bias formula in Resolution scaling
  tutorials/3d/resolution_scaling.rst
Labels: bug, topic:rendering, area:manual, cherrypick:4.1, cherrypick:4.2

#8897 Remove outdated references to other tutorial
  tutorials/shaders/advanced_postprocessing.rst
Labels: bug, area:manual, cherrypick:4.2

#8878 c_sharp_variant.rst: add more examples, fix explicit vs. implicit
  tutorials/scripting/c_sharp/c_sharp_variant.rst
Labels: topic:dotnet, area:manual

#8894 Link to C# Variant-compatible section directly
  tutorials/scripting/c_sharp/c_sharp_collections.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_signals.rst
  tutorials/scripting/c_sharp/c_sharp_variant.rst
  tutorials/scripting/c_sharp/diagnostics/GD0102.rst
  tutorials/scripting/c_sharp/diagnostics/GD0202.rst
  tutorials/scripting/c_sharp/diagnostics/GD0301.rst
  tutorials/scripting/c_sharp/diagnostics/GD0302.rst
Labels: topic:dotnet, area:manual

#8896 Remove reference to DevDocs copy of documentation
  index.rst
Labels: bug, cherrypick:4.2

#8887 Add instruction to bake navigation BakePolygon
  tutorials/navigation/navigation_introduction_2d.rst
Labels: bug, area:manual, cherrypick:4.2

#8856 Clarify what Navlink does and does not do
  tutorials/navigation/navigation_using_navigationlinks.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8886 Replace set_velocity with velocity property
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8722 Update scripting_player_input.rst
  getting_started/step_by_step/scripting_player_input.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#8899 Fix script error in NavigationMesh example
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: bug, area:manual, topic:navigation, cherrypick:4.2

#8852 singletons_autoload.rst: add C# example similar to "Global Variable"
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, topic:dotnet, area:manual

#8905 Update the Emscripten minimum requirements to 3.1.39
  contributing/development/compiling/compiling_for_web.rst
Labels: bug, topic:buildsystem, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#8907 Typo fix
  tutorials/export/exporting_for_dedicated_servers.rst
Labels: bug, area:manual, cherrypick:4.2

#8910 Add info on finding script templates folder
  tutorials/scripting/creating_script_templates.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8909 Build offline version of stable branch
  .github/workflows/build_offline_docs.yml
Labels: enhancement, content:website

#8875 Update gui_using_fonts.rst
  tutorials/ui/gui_using_fonts.rst
Labels: area:manual, topic:import, cherrypick:4.2

#8918 GDScript: Document `is not` operator
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#8900 Remove duplicate information in autoload page
  tutorials/scripting/singletons_autoload.rst
Labels: bug, area:manual, cherrypick:4.2

#8927 Update C# API in the code example of "Custom GUI controls"
  tutorials/ui/custom_gui_controls.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.2

#8935 Remove Godot 3 reference from profiler page
  tutorials/scripting/debug/the_profiler.rst
Labels: bug, area:manual, cherrypick:4.2

#8934 Clarify which track is being talked about
  tutorials/animation/introduction.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8933 Clarify which scene to run in step by step
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#8863 Update compiling_for_linuxbsd.rst Added a description that compiling for RISC-V devices
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing, cherrypick:4.2

#8941 c_sharp_differences.rst: clarify System.IO.Path note
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.2

#8917 Add documentation for when navigation debug mesh will show
  tutorials/navigation/navigation_debug_tools.rst
Labels: enhancement, area:manual, topic:navigation

#8955 Several improvements to "First 3D Game" tutorial
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/05.spawning_mobs.rst
  getting_started/first_3d_game/06.jump_and_squash.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/08.score_and_replay.rst
  getting_started/first_3d_game/09.adding_animations.rst
  getting_started/first_3d_game/going_further.rst
  getting_started/first_3d_game/index.rst
Labels: bug, area:getting started, cherrypick:4.2

#8959 Improve clarity of 2d tutorial section
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#8963 grammar error
  getting_started/first_3d_game/04.mob_scene.rst
Labels: bug, area:getting started, cherrypick:4.2

#8940 Clarify and add to C# API general differences
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual

#8923 Clarify C# GlobalClass exported node behavior
  tutorials/scripting/c_sharp/c_sharp_exports.rst
  tutorials/scripting/c_sharp/c_sharp_global_classes.rst
  tutorials/scripting/c_sharp/img/globalclasses_addnode.webp
  tutorials/scripting/c_sharp/img/globalclasses_createresource.webp
  tutorials/scripting/c_sharp/img/globalclasses_exportednode.webp
  tutorials/scripting/c_sharp/img/globalclasses_exportedproperty1.webp
  tutorials/scripting/c_sharp/img/globalclasses_exportedproperty2.webp
Labels: enhancement, topic:dotnet, area:manual

#8968 Mention passing side assumption of RVO avoidance
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8971 Correct dictionary re-allocation from "quadratic" to "exponential"
  tutorials/best_practices/data_preferences.rst
Labels: area:manual, content:proofreading, cherrypick:4.1, cherrypick:4.2

#8936 Replace "Play Scene button" with "Run Current Scene button"
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#8977 Fix broken link
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: bug, area:contributing, cherrypick:4.2

#8960 Add note on enabling driver input in recording_with_microphone.rst to allow mic recording
  tutorials/audio/recording_with_microphone.rst
Labels: enhancement, area:manual

#8951 Node type customization warning updated to explain suffix options #8950
  tutorials/assets_pipeline/importing_3d_scenes/node_type_customization.rst
Labels: enhancement, area:manual

#8978 Update 04.mob_scene.rst
  getting_started/first_3d_game/04.mob_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#8976 Update some navigation code examples
  tutorials/navigation/navigation_connecting_navmesh.rst
  tutorials/navigation/navigation_using_navigationlayers.rst
  tutorials/navigation/navigation_using_navigationmaps.rst
  tutorials/navigation/navigation_using_navigationpathqueryobjects.rst
  tutorials/navigation/navigation_using_navigationpaths.rst
  tutorials/navigation/navigation_using_navigationregions.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8943 Update images for lightmap page
  tutorials/3d/global_illumination/img/lightmap_gi_bake.png
  tutorials/3d/global_illumination/img/lightmap_gi_bake.webp
  tutorials/3d/global_illumination/img/lightmap_gi_bake_mode.png
  tutorials/3d/global_illumination/img/lightmap_gi_bake_mode.webp
  tutorials/3d/global_illumination/img/lightmap_gi_blender.png
  tutorials/3d/global_illumination/img/lightmap_gi_blender.webp
  tutorials/3d/global_illumination/img/lightmap_gi_lmsize.png
  tutorials/3d/global_illumination/img/lightmap_gi_lmsize.webp
  tutorials/3d/global_illumination/img/lightmap_gi_mesh_menu.png
  tutorials/3d/global_illumination/img/lightmap_gi_mesh_menu.webp
  tutorials/3d/global_illumination/img/lightmap_gi_scene.png
  tutorials/3d/global_illumination/img/lightmap_gi_scene.webp
  tutorials/3d/global_illumination/img/lightmap_gi_use.png
  tutorials/3d/global_illumination/img/lightmap_gi_use.webp
  tutorials/3d/global_illumination/img/lightmap_gi_uvchannel.png
  tutorials/3d/global_illumination/img/lightmap_gi_uvchannel.webp
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8926 Physics interpolation - document how to spawn bullets
  tutorials/physics/interpolation/using_physics_interpolation.rst
Labels: topic:rendering, topic:physics

#8946 Minor dodge the creeps fixes
  getting_started/first_2d_game/03.coding_the_player.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
  getting_started/first_2d_game/img/start_button_shortcut2.webp
Labels: bug, area:getting started, cherrypick:4.2

#8997 [Documentation>Runtime file loading and saving] Removed a single space that shouldn't be there
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: bug, area:manual, cherrypick:4.2

#8996 Clarify instructions for creating rest pose
  tutorials/animation/2d_skeletons.rst
  tutorials/animation/img/skel2d14.png
  tutorials/animation/img/skel2d14.webp
Labels: enhancement, area:manual, cherrypick:4.2

#8938 Add description for MAIN_CAM_INV_VIEW_MATRIX to spatial shader doc page
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual

#8921 Remove reference of ``vertex`` in particle shaders
  tutorials/shaders/introduction_to_shaders.rst
Labels: area:manual, content:proofreading, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9003 Document onion skinning, autoplay on load and remove a reference to Godot 3
  tutorials/animation/img/autoplay_on_load.webp
  tutorials/animation/img/onion_skin.webp
  tutorials/animation/introduction.rst
Labels: enhancement, area:manual, cherrypick:4.2

#8986 [Web] Expand "Interacting with Javascript"
  contributing/development/compiling/compiling_for_web.rst
  tutorials/export/exporting_for_web.rst
  tutorials/export/feature_tags.rst
  tutorials/platform/web/index.rst
  tutorials/platform/web/javascript_bridge.rst
Labels: area:manual, topic:export

#8830 Inspector plugin tutorial: update PackedScene.instance() ref
  tutorials/plugins/editor/inspector_plugins.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9006 docs: typo in `spatial_shader.rst`
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: area:manual, content:proofreading, topic:shaders

#8743 Rename SCons command line options for CCFLAGS, etc. to lowercase
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement, area:contributing

#9014 Use Montserrat font for headings to match godotengine.org
  _static/css/custom.css
  _static/css/fonts/Montserrat-Bold.woff2
Labels: enhancement, content:website, cherrypick:4.1, cherrypick:4.2

#9020 Update project name translation instructions
  tutorials/i18n/img/localized_name.png
  tutorials/i18n/img/localized_name.webp
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9015 Fix website highlight of text
  _static/css/custom.css
Labels: bug, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#8925 Physics Interpolation 2D Docs
  tutorials/physics/interpolation/2d_and_3d_physics_interpolation.rst
  tutorials/physics/interpolation/img/physics_interpolation_mode.webp
  tutorials/physics/interpolation/index.rst
Labels: topic:rendering, topic:physics

#8980 Fix Handling Quit Requests wording about mobile platforms
  tutorials/inputs/handling_quit_requests.rst
Labels: enhancement, area:manual

#8832 Moving disclaimer comments inline
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: enhancement, area:getting started, cherrypick:4.2
