Repository godotengine/godot-docs, pull requests merged in 2024-07, with the labels that each got.

#9522 Update audio streams page for Godot 4.3
  tutorials/audio/audio_streams.rst
  tutorials/audio/img/audio_stream_2d.png
  tutorials/audio/img/audio_stream_2d.webp
  tutorials/audio/img/audio_stream_2d_area.png
  tutorials/audio/img/audio_stream_2d_area.webp
  tutorials/audio/img/audio_stream_3d.png
  tutorials/audio/img/audio_stream_3d.webp
  tutorials/audio/img/audio_stream_3d_area.png
  tutorials/audio/img/audio_stream_3d_area.webp
  tutorials/audio/img/audio_stream_doppler.png
  tutorials/audio/img/audio_stream_doppler.webp
  tutorials/audio/img/audio_stream_player.png
  tutorials/audio/img/audio_stream_player.webp
  tutorials/audio/img/audio_stream_reverb_bus.png
  tutorials/audio/img/audio_stream_reverb_bus.webp
  tutorials/audio/img/audio_stream_reverb_bus2.png
  tutorials/audio/img/audio_stream_reverb_bus2.webp
Labels: enhancement, area:manual

#9567 Fix dead links in the documentation
  about/faq.rst
  community/tutorials.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/cross-compiling_for_ios_on_linux.rst
  contributing/documentation/docs_image_guidelines.rst
  tutorials/3d/3d_antialiasing.rst
  tutorials/assets_pipeline/importing_3d_scenes/model_export_considerations.rst
Labels: bug, area:manual, cherrypick:4.2

#9570 Fix typo in project manager tutorial
  tutorials/editor/project_manager.rst
Labels: bug, area:manual, content:proofreading

#9569 Add dependency section to gdextension file docs
  tutorials/scripting/gdextension/gdextension_file.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9572 Add more precise information about library paths
  tutorials/scripting/gdextension/gdextension_file.rst
Labels: enhancement, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9565 Recommend using NVIDIA app to resolve replay indicator issue in Troubleshooting
  tutorials/troubleshooting.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9573 Mention that signals are first-class types since Godot 4.0 in Using signals
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started, cherrypick:4.2

#9566 Added xform() and xform_inv() function's changes in 4.0 migration docs
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual

#9584 Clarify notice about feature tags being immutable
  tutorials/export/feature_tags.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9574 Update first_look_at_the_editor.rst
  getting_started/introduction/first_look_at_the_editor.rst
Labels: enhancement, area:getting started

#9544 Clarify `INV_VIEW_MATRIX` and `MAIN_CAM_INV_VIEW_MATRIX`
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:3d, topic:shaders

#9593 Remove references to the no longer needed DXC
  contributing/development/compiling/compiling_for_windows.rst
Labels: enhancement, topic:rendering, area:manual, topic:buildsystem, waiting on PR merge

#9580 macOS screenshot updates to learning_new_features.rst
  getting_started/introduction/learning_new_features.rst
Labels: enhancement, area:getting started

#9603 Add requested changes and finish up stale PR's
  getting_started/step_by_step/scripting_first_script.rst
  tutorials/shaders/shader_reference/canvas_item_shader.rst
Labels: enhancement, topic:dotnet, area:getting started, area:manual, topic:shaders

#9499 Rewrite OpenXR hand tracking to reflect new architecture
  tutorials/xr/img/openxr_enable_hand_tracking_meta.webp
  tutorials/xr/img/openxr_hand_interaction_profile.webp
  tutorials/xr/img/openxr_hand_skeleton.webp
  tutorials/xr/img/openxr_hand_tracking_nodes.webp
  tutorials/xr/img/openxr_htc_hand_interaction_profile.webp
  tutorials/xr/img/openxr_msft_hand_interaction_profile.webp
  tutorials/xr/img/openxr_simple_controller_hand.webp
  tutorials/xr/img/xr_enable_handtracking.webp
  tutorials/xr/index.rst
  tutorials/xr/openxr_body_tracking.rst
  tutorials/xr/openxr_hand_tracking.rst
Labels: topic:xr, area:manual

#9605 Fix input action C# issue
  tutorials/inputs/inputevent.rst
Labels: topic:dotnet, area:manual, content:proofreading, cherrypick:4.1, topic:input, cherrypick:4.2

#9607 Document baking lightmaps on Android/web editor is not supported
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, topic:rendering, area:manual

#9608 [4.2] Document baking lightmaps on Android/web editor is not supported
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, topic:rendering, area:manual

#9606 Link to class reference BBCode syntax subset in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, cherrypick:4.2, topic:gui

#9587 Add 2D Parallax documentation page
  tutorials/2d/2d_parallax.rst
  tutorials/2d/img/2d_parallax_repeat_bad.webp
  tutorials/2d/img/2d_parallax_repeat_good.webp
  tutorials/2d/img/2d_parallax_repeat_good_norect.webp
  tutorials/2d/img/2d_parallax_scroll.gif
  tutorials/2d/img/2d_parallax_single_centered.webp
  tutorials/2d/img/2d_parallax_single_expand.webp
  tutorials/2d/img/2d_parallax_size_bad.webp
  tutorials/2d/img/2d_parallax_size_repeat.webp
  tutorials/2d/img/2d_parallax_size_scale.webp
  tutorials/2d/img/2d_parallax_size_viewport.webp
  tutorials/2d/img/2d_parallax_splitscreen.webp
  tutorials/2d/img/2d_parallax_zoom_repeat_adjusted.webp
  tutorials/2d/img/2d_parallax_zoom_repeat_times.webp
  tutorials/2d/img/2d_parallax_zoom_single.webp
  tutorials/2d/index.rst
  tutorials/2d/video/2d_parallax_scroll_scale.webm
Labels: enhancement, content:new page, area:manual

#9578 1st 3D Game Tutorial: Setting up the game area update
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/img/01.game_setup/use_snap.webp
Labels: area:getting started, topic:3d

#9611 Audio Streams Tutorial: change outdated reference to AudioStreamRandomPitch
  tutorials/audio/audio_streams.rst
Labels: enhancement, area:manual, topic:audio

#9615 Fix wrong information on NavigationLayers page
  tutorials/navigation/navigation_using_navigationlayers.rst
  tutorials/navigation/navigation_using_navigationlinks.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2

#9613 Mention that unwanted navmesh can be discarded with a NavigationObstacle3D
  tutorials/navigation/img/nav_obstacle_bake.webp
  tutorials/navigation/navigation_using_navigationmeshes.rst
Labels: enhancement, area:manual

#9617 Update tutorials.rst
  community/tutorials.rst
Labels: bug, area:community

#9609 Fresh "How to contribute" page
  _tools/redirects/redirects.csv
  contributing/how_to_contribute.rst
  contributing/workflow/first_steps.rst
  contributing/workflow/index.rst
  index.rst
Labels: enhancement, cherrypick:3.5, cherrypick:3.6, area:contributing, cherrypick:4.1, cherrypick:4.2

#9623 Update exporting for android page for Godot 4.2.2
  tutorials/export/exporting_for_android.rst
  tutorials/export/img/androidsdk.png
  tutorials/export/img/androidsdk.webp
Labels: enhancement, area:manual

#9631 Fix redirect to new contribution guidelines
  _tools/redirects/redirects.csv
Labels: bug, content:redirect, cherrypick:3.5, cherrypick:3.6, area:contributing, cherrypick:4.1, cherrypick:4.2

#9622 Fix scrolling outside of content area
  _static/css/custom.css
Labels: bug, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.1, cherrypick:4.2

#9633 Update "Autoload" navigation to match 4.3 menu
  tutorials/scripting/singletons_autoload.rst
Labels: enhancement, area:manual

#9579 Updated required package link for Android docs
  tutorials/export/exporting_for_android.rst
Labels: bug, area:manual, topic:export

#9568 Update Cross-compiling for iOS on Linux
  contributing/development/compiling/cross-compiling_for_ios_on_linux.rst
Labels: enhancement, cherrypick:4.2

#9481 A Revisited "Intro to 3D Page"
  tutorials/3d/img/3d_toolbar.webp
  tutorials/3d/img/godot-tps-demo.webp
  tutorials/3d/img/tuto_3d4.webp
  tutorials/3d/img/tuto_3d9.webp
  tutorials/3d/img/tuto_3d_gizmo.webp
  tutorials/3d/img/tuto_3d_updated_view_menu.webp
  tutorials/3d/introduction_to_3d.rst
  tutorials/editor/default_key_mapping.rst
  tutorials/editor/index.rst
  tutorials/editor/project_manager.rst
Labels: enhancement, area:manual, topic:3d

#9658 Update Docs for ARM support
  about/list_of_features.rst
  about/system_requirements.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement, area:about, area:contributing

#9650 Update "Compiling for Windows" page.
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/img/wintemplates.png
  contributing/development/compiling/img/wintemplates.webp
Labels: enhancement, area:contributing

#9553 First look at editor's interface iteration
  community/asset_library/what_is_assetlib.rst
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/img/editor_intro_3d_viewport.webp
  getting_started/introduction/img/editor_intro_3d_viewport_perspective.webp
  getting_started/introduction/img/editor_intro_language.webp
  getting_started/introduction/img/editor_intro_scene_selector.webp
  getting_started/introduction/key_concepts_overview.rst
  tutorials/editor/customizing_editor.rst
  tutorials/editor/img/editor_ui_intro_project_manager_05.webp
  tutorials/editor/img/editor_ui_intro_project_manager_08.webp
  tutorials/editor/img/editor_ui_intro_project_manager_10.webp
  tutorials/editor/project_manager.rst
Labels: enhancement, area:getting started, area:manual, area:community

#9250 Add "Upgrading from Godot 4.2 to Godot 4.3" page
  tutorials/migrating/index.rst
  tutorials/migrating/upgrading_to_godot_4.3.rst
Labels: enhancement, content:new page, area:manual

#9512 Ubuntu APT oneliner to install system builtin alternatives
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing, cherrypick:4.2

#9656 Update getting started link
  getting_started/introduction/godot_design_philosophy.rst
Labels: area:getting started

#9358 Document behavior of modulo operator
  tutorials/scripting/evaluating_expressions.rst
Labels: enhancement, area:manual, cherrypick:4.1, cherrypick:4.2

#9669 Update the Android build documentation
  contributing/development/compiling/compiling_for_android.rst
  tutorials/editor/using_the_android_editor.rst
  tutorials/export/exporting_for_android.rst
Labels: enhancement, topic:buildsystem

#9644 Update change_scenes_manually.rst
  tutorials/scripting/change_scenes_manually.rst
Labels: enhancement, area:manual, cherrypick:4.2

#9679 Changed wrong method name to correct one
  tutorials/export/feature_tags.rst
Labels: bug, area:manual

#9677 Remove already completed step from 06.heads_up_display.rst
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: enhancement, area:getting started, cherrypick:4.2
