Repository godotengine/godot-docs, pull requests merged in 2025-01, with the labels that each got.

#10450 [Web] Fix JavaScriptBridge.create_callback docs
  tutorials/platform/web/javascript_bridge.rst
Labels: bug, area:manual, topic:porting, platform:web

#10443 Add Catlike Coding to tutorials.rst
  community/tutorials.rst
Labels: enhancement, area:community, foundation

#10461 Fix improper format in Code Block in `gdscript_basics.rst`
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3

#10459 Fix grammar in Tutorials and resources
  community/tutorials.rst
Labels: bug, area:community, content:proofreading, cherrypick:4.3

#10457 Fix macOS Close Scene default shortcut
  tutorials/editor/default_key_mapping.rst
Labels: area:manual, topic:editor

#10315 Explain difference between global shader uniforms and global scope in shaders
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10439 Update fedora embree package
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: bug, area:contributing, topic:buildsystem, cherrypick:4.3

#10282 Overhaul Project Settings page
  tutorials/editor/img/project_settings_advanced.webp
  tutorials/editor/img/project_settings_basic.webp
  tutorials/editor/project_settings.rst
  tutorials/inputs/input_examples.rst
  tutorials/plugins/editor/installing_plugins.rst
Labels: enhancement, area:manual, cherrypick:4.3, topic:editor

#10261 Reorganize and improve shader Uniforms section
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10378 "first 2D game" - minor additions, clarification when areas of the editor are first mentioned
  getting_started/first_2d_game/01.project_setup.rst
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.3

#10361 Add GitHub Action to automatically create cherrypick PRs
  .github/workflows/cherrypick.yml
Labels: enhancement, discussion, github_actions

#10464 Update Android `themed icons` info
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual, cherrypick:4.3, platform:android

#10466 Mention the expected file name for the player scene in Your first 2D game
  getting_started/first_2d_game/02.player_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.3

#10465 Mention Vulkan and Direct3D 12 SDK install scripts in Compiling for macOS/Windows
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/compiling_for_windows.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.3, platform:macos

#10475 Add navigation buttons before user-contributed notes on all pages.
  _templates/layout.html
Labels: enhancement, content:website

#10474 CI updates (master branch)
  .github/dependabot.yml
  .github/workflows/build_offline_docs.yml
  .github/workflows/cherrypick.yml
  .github/workflows/ci.yml
  .github/workflows/sync_class_ref.yml
  conf.py
Labels: bug, enhancement, github_actions

#9385 Document Metal support in Internal rendering architecture
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: enhancement, topic:rendering, area:contributing

#10482 Document shadowmasks in Using LightmapGI
  tutorials/3d/global_illumination/img/lightmap_gi_shadowmask.webp
  tutorials/3d/global_illumination/using_lightmap_gi.rst
Labels: enhancement, topic:rendering, area:manual

#10487 Clarify the meaning of instancing diagram arrows in Creating instances
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:getting started, cherrypick:4.3

#10486 Document only direct child nodes accounting for CollisionShape2D/3D
  tutorials/physics/collision_shapes_2d.rst
  tutorials/physics/collision_shapes_3d.rst
Labels: enhancement, area:manual, topic:physics, cherrypick:4.3

#10481 Fix the "Example lobby implementation" section of the High-level multiplayer tutorial
  tutorials/networking/high_level_multiplayer.rst
Labels: area:manual, topic:network, topic:multiplayer, cherrypick:4.3

#10452 Update 05.the_main_game_scene.rst
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, area:getting started, cherrypick:4.3

#10496 Update audio bus images for Godot 4.3
  tutorials/audio/audio_buses.rst
  tutorials/audio/img/audio_buses1.png
  tutorials/audio/img/audio_buses1.webp
  tutorials/audio/img/audio_buses2.png
  tutorials/audio/img/audio_buses2.webp
  tutorials/audio/img/audio_buses3.png
  tutorials/audio/img/audio_buses3.webp
  tutorials/audio/img/audio_buses5.png
  tutorials/audio/img/audio_buses5.webp
Labels: enhancement, area:manual, content:images

#10497 Update windows changing application icon page for Godot 4.4
  tutorials/export/changing_application_icon_for_windows.rst
  tutorials/export/img/icon_export_settings.png
  tutorials/export/img/icon_export_settings.webp
  tutorials/export/img/icon_project_settings.png
  tutorials/export/img/icon_project_settings.webp
  tutorials/export/img/icon_rcedit.png
  tutorials/export/img/icon_rcedit.webp
Labels: enhancement, area:manual, content:images

#10498 Update Environment page for 4.4
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/img/environment_adjustments.webp
  tutorials/3d/img/environment_ambient.webp
  tutorials/3d/img/environment_background1.webp
  tutorials/3d/img/environment_camera.webp
  tutorials/3d/img/environment_preview_sun_sky_dialog.webp
  tutorials/3d/img/environment_preview_sun_sky_toggle.webp
  tutorials/3d/img/environment_ssao_parameters.webp
  tutorials/3d/img/environment_world.webp
Labels: enhancement, area:manual, content:images

#10504 Add `@icon` ordering to the GDScript style guide
  contributing/development/core_and_modules/common_engine_methods_and_macros.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#10502 Fix `Switch` node boolean conversion description in Visual shaders
  tutorials/shaders/visual_shaders.rst
Labels: bug, area:manual, topic:shaders

#10511 Clarify the impact of "Normal Map (RG Channels)" on texture imports.
  tutorials/assets_pipeline/importing_images.rst
Labels: bug, area:manual, topic:import, cherrypick:4.3

#10510 Update setting up XR for Godot 4.3
  tutorials/xr/img/openxr_settings.webp
  tutorials/xr/img/xr_basic_scene.webp
  tutorials/xr/img/xr_left_hand.webp
  tutorials/xr/img/xr_right_hand.webp
  tutorials/xr/img/xr_shaders.webp
  tutorials/xr/openxr_settings.rst
  tutorials/xr/setting_up_xr.rst
  tutorials/xr/xr_action_map.rst
Labels: enhancement, topic:xr, area:manual, cherrypick:4.3

#10519 Document automatic ICO generation in Changing application icon for Windows
  tutorials/export/changing_application_icon_for_windows.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3

#10523 Update first look at Godot's interface for Godot 4.4
  getting_started/introduction/first_look_at_the_editor.rst
  getting_started/introduction/img/editor_intro_3d_viewport.webp
  getting_started/introduction/img/editor_intro_bottom_panel_animation.webp
  getting_started/introduction/img/editor_intro_editor_empty.webp
  getting_started/introduction/img/editor_intro_filesystem_dock.webp
  getting_started/introduction/img/editor_intro_help_class_animated_sprite.webp
  getting_started/introduction/img/editor_intro_inspector_dock.webp
  getting_started/introduction/img/editor_intro_project_manager.webp
  getting_started/introduction/img/editor_intro_search_help_button.webp
  getting_started/introduction/img/editor_intro_settings.webp
  getting_started/introduction/img/editor_intro_toolbar_2d.webp
  getting_started/introduction/img/editor_intro_toolbar_3d.webp
  getting_started/introduction/img/editor_intro_top_menus.webp
  getting_started/introduction/img/editor_intro_workspace_2d.webp
  getting_started/introduction/img/editor_intro_workspace_3d.webp
  getting_started/introduction/img/editor_intro_workspace_assetlib.webp
  getting_started/introduction/img/editor_intro_workspace_game.webp
  getting_started/introduction/img/editor_intro_workspace_script.webp
Labels: enhancement, area:getting started, content:images

#10520 Update animation tracks page for Godot 4.4
  tutorials/animation/animation_track_types.rst
  tutorials/animation/img/audio_track.webp
  tutorials/animation/img/bezier_curve_icon.webp
  tutorials/animation/img/bezier_curves.webp
  tutorials/animation/img/manipulator_modes.webp
Labels: enhancement, area:manual, content:images

#10524 Update Intro to 3D page for Godot 4.4
  tutorials/3d/img/3d_toolbar.webp
  tutorials/3d/img/tuto_3d3.webp
  tutorials/3d/img/tuto_3d4.webp
  tutorials/3d/img/tuto_3d6.webp
  tutorials/3d/img/tuto_3d6_1.webp
  tutorials/3d/img/tuto_3d6_2.webp
  tutorials/3d/img/tuto_3d8.webp
  tutorials/3d/img/tuto_3d9.webp
  tutorials/3d/img/tuto_3d_gizmo.webp
  tutorials/3d/img/tuto_3d_updated_view_menu.webp
  tutorials/3d/introduction_to_3d.rst
Labels: enhancement, area:manual

#10525 Update Physics introduction images
  tutorials/physics/img/physics_layer_names.png
  tutorials/physics/img/physics_layer_names.webp
  tutorials/physics/img/player_coll_shape.png
  tutorials/physics/img/player_coll_shape.webp
  tutorials/physics/img/player_collision_layers.png
  tutorials/physics/img/player_collision_layers.webp
  tutorials/physics/img/player_collision_mask.png
  tutorials/physics/img/player_collision_mask.webp
  tutorials/physics/physics_introduction.rst
Labels: enhancement, area:manual, content:images

#10527 Update CSG page note for 4.4
  tutorials/3d/csg_tools.rst
Labels: enhancement, area:manual

#10531 Update using visual shaders page for 4.4
  tutorials/shaders/img/visual_shader_editor2.webp
  tutorials/shaders/img/vs_meshemitter.webp
  tutorials/shaders/visual_shaders.rst
Labels: enhancement, area:manual, topic:shaders

#10528 Fix WebAssembly threads/GDNative ZIP names in Compiling for the Web
  development/compiling/compiling_for_web.rst
Labels: bug, cherrypick:3.5, area:contributing, topic:buildsystem, platform:web

#10455 Update 04.creating_the_enemy.rst
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, area:getting started

#10489 Update screenshot of Editor Settings location for Exporting for Android
  tutorials/export/exporting_for_android.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3, platform:android

#9653 Fix Making trees tutorial
  tutorials/shaders/making_trees.rst
Labels: area:manual, topic:shaders

#8991 Configure ignoring object and library files in CLion
  contributing/development/configuring_an_ide/clion.rst
  contributing/development/configuring_an_ide/img/clion-ignore-object-library-files.webp
  contributing/development/configuring_an_ide/img/clion-object-library-files-in-project-view.webp
Labels: enhancement, area:contributing

#9848 Update fract delta description in particle_systems_2d.rst
  tutorials/2d/particle_systems_2d.rst
Labels: enhancement, area:manual, topic:2d, topic:particles

#10541 Add links from GDScript keywords table to relevant sections
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.3

#10540 Add small tutorial on making existing mesh manifold with Blender
  tutorials/3d/csg_tools.rst
  tutorials/3d/img/csg_manifold_step_1.webp
  tutorials/3d/img/csg_manifold_step_2.webp
Labels: enhancement, area:manual, topic:3d

#10532 Document recovery mode
  tutorials/editor/img/editor_ui_intro_project_manager_13.webp
  tutorials/editor/project_manager.rst
  tutorials/troubleshooting.rst
Labels: enhancement, area:manual

#10514 Document adding scene-unique nodes by prefixing with '%'
  tutorials/scripting/scene_unique_nodes.rst
Labels: enhancement, area:manual

#9913 Update "Exporting for the Web" to include 4.3 features
  tutorials/export/exporting_for_web.rst
Labels: enhancement, topic:export, topic:porting, cherrypick:4.3, platform:web

#7566 Update 03.coding_the_player.rst
  getting_started/first_2d_game/03.coding_the_player.rst
Labels: enhancement, area:getting started

#10533 Update navigation link page for new debug arrows
  tutorials/navigation/img/nav_link_debug_visuals.webp
  tutorials/navigation/navigation_using_navigationlinks.rst
Labels: enhancement, area:manual, topic:navigation

#10008 i18n: Add explanation for locales and automatic language setting
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:manual

#9849 Add missing manual renames from editor's renames_map
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, discussion, area:manual, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10544 Add warning about tool scripts needing editor restart
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual, topic:plugin, cherrypick:4.3, topic:editor

#5843 Add optimization tips for mobile in Exporting to HTML5
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, cherrypick:4.3

#9267 Fixed small code error in custom_drawing_in_2d.rst
  tutorials/2d/custom_drawing_in_2d.rst
Labels: bug, area:manual

#9327 Update gdscript_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual

#7899 Fix description of GUI input propagation
  tutorials/inputs/inputevent.rst
Labels: enhancement, area:manual, topic:input

#8920 Update code order with static annotation on gdscript_styleguide.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual

#9691 Update list of spatial shader render modes for Godot 4.4
  tutorials/assets_pipeline/importing_images.rst
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: enhancement, area:manual, topic:shaders

#8736 Update list of advantages and disadvantages to more accurately refle…
  tutorials/scripting/gdscript/gdscript_advanced.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.2

#9084 Ambiguous description of _process()
  getting_started/first_3d_game/03.player_movement_code.rst
Labels: enhancement, area:getting started

#10551 Change from blender directory to blender exec
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
Labels: enhancement, area:manual

#10547 Update note about Parallax2D being experimental
  tutorials/2d/2d_parallax.rst
Labels: enhancement, area:manual, waiting on PR merge, topic:2d

#10552 Update docs for runtime loading of WAV files
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#10556 Update intro to 2D page for 4.4
  tutorials/2d/img/2d_editor_viewport.webp
  tutorials/2d/img/2d_editor_viewport_with_viewmenu.webp
  tutorials/2d/img/2d_snapping_options_menu.webp
  tutorials/2d/img/2d_toolbar.webp
  tutorials/2d/introduction_to_2d.rst
Labels: enhancement, area:manual

#10555 Update available 3D formats page
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
Labels: enhancement, area:manual

#10558 Improve shading language page
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3

#10554 Fully update first 3D Shader page
  tutorials/shaders/your_first_shader/img/cos.png
  tutorials/shaders/your_first_shader/img/cos.webp
  tutorials/shaders/your_first_shader/img/cos4.png
  tutorials/shaders/your_first_shader/img/cos4.webp
  tutorials/shaders/your_first_shader/img/light.png
  tutorials/shaders/your_first_shader/img/light.webp
  tutorials/shaders/your_first_shader/img/noise-low.png
  tutorials/shaders/your_first_shader/img/noise-low.webp
  tutorials/shaders/your_first_shader/img/noise-set.webp
  tutorials/shaders/your_first_shader/img/noise.png
  tutorials/shaders/your_first_shader/img/noise.webp
  tutorials/shaders/your_first_shader/img/normal-set.webp
  tutorials/shaders/your_first_shader/img/normal.png
  tutorials/shaders/your_first_shader/img/normal.webp
  tutorials/shaders/your_first_shader/img/normalmap.png
  tutorials/shaders/your_first_shader/img/normalmap.webp
  tutorials/shaders/your_first_shader/img/normalmap2.png
  tutorials/shaders/your_first_shader/img/normalmap2.webp
  tutorials/shaders/your_first_shader/img/plane-sub.png
  tutorials/shaders/your_first_shader/img/plane-sub.webp
  tutorials/shaders/your_first_shader/img/plane.png
  tutorials/shaders/your_first_shader/img/plane.webp
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: enhancement, area:manual, topic:shaders

#10567 Reword warning about slow thread creation in Using multiple threads
  tutorials/performance/using_multiple_threads.rst
Labels: enhancement, area:manual, cherrypick:4.3

#10382 Briefly document Vector<> variations
  contributing/development/core_and_modules/core_types.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, area:contributing

#10582 Github Action / Offline Docs Workflow: Don't cancel other offline builds if one fails
  .github/workflows/build_offline_docs.yml
Labels: bug, github_actions

#10583 GH: Offline builds need to install imagemagick on Ubuntu 24.04+
  .github/workflows/build_offline_docs.yml
Labels: bug, github_actions

#10585 [3.6] Update sphinx-tabs for Ubuntu 24.04 compat
  requirements.txt
  tutorials/3d/baked_lightmaps.rst
  tutorials/3d/procedural_geometry/meshdatatool.rst
  tutorials/best_practices/scene_organization.rst
  tutorials/best_practices/scenes_versus_scripts.rst
Labels: bug, python, github_actions

#10569 Point mapping contributions to Godot in Controllers, gamepads and joysticks
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement, area:manual, cherrypick:4.1, topic:input, cherrypick:4.2, cherrypick:4.3

#10515 Document $GODOT_SPLASH_CLASSES placeholder for custom HTML5 shells
  tutorials/platform/web/customizing_html5_shell.rst
Labels: enhancement, area:manual, platform:web

#10580 Add notes about automatic `.app` bundle creation to compiling for macOS page.
  contributing/development/compiling/compiling_for_macos.rst
Labels: enhancement, area:contributing, platform:macos
