Repository godotengine/godot-docs, pull requests merged in 2025-04, with the labels that each got.

#10822 Link to class reference for each platform that can be exported to
  tutorials/export/exporting_for_android.rst
  tutorials/export/exporting_for_ios.rst
  tutorials/export/exporting_for_linux.rst
  tutorials/export/exporting_for_macos.rst
  tutorials/export/exporting_for_web.rst
  tutorials/export/exporting_for_windows.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3, cherrypick:4.4

#10775 Document `fgcolor` and `bgcolor` highlight padding in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, topic:gui, cherrypick:4.4

#10799 Added a hyperlink
  tutorials/math/vectors_advanced.rst
Labels: enhancement, area:manual

#10826 Update wording in "First 3D Game -> Character Animation"
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug, area:getting started

#10830 Fix outdated notice about reflection probes not being supported in Compatibility
  tutorials/3d/global_illumination/reflection_probes.rst
Labels: bug, topic:rendering, area:manual, topic:3d, cherrypick:4.3, cherrypick:4.4

#10829 [First 3D Game] Update player script recaps to use `Basis.looking_at()`
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/07.killing_player.rst
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug, area:getting started

#10804 Clarify the purpose of the MIT license.
  getting_started/introduction/godot_design_philosophy.rst
Labels: enhancement, area:getting started

#10762 Clarify the behavior of MeshInstance3D automatic instancing
  contributing/development/core_and_modules/internal_rendering_architecture.rst
  tutorials/performance/optimizing_3d_performance.rst
Labels: enhancement, area:manual, area:contributing, cherrypick:4.3, cherrypick:4.4

#10807 Update images and clarify instructions in "Getting Started 3D - Player Input"
  getting_started/first_3d_game/02.player_input.rst
  getting_started/first_3d_game/img/02.player_input/01.new_scene.png
  getting_started/first_3d_game/img/02.player_input/02.instantiating_the_model.webp
  getting_started/first_3d_game/img/02.player_input/03.scene_structure.png
  getting_started/first_3d_game/img/02.player_input/06.toggling_visibility.webp
  getting_started/first_3d_game/img/02.player_input/07.adding_action.webp
  getting_started/first_3d_game/img/02.player_input/07.input_map_tab.png
  getting_started/first_3d_game/img/02.player_input/07.project_settings.png
  getting_started/first_3d_game/img/02.player_input/08.actions_list_empty.png
  getting_started/first_3d_game/img/02.player_input/09.keyboard_key_popup.png
  getting_started/first_3d_game/img/02.player_input/09.keyboard_keys.png
  getting_started/first_3d_game/img/02.player_input/12.move_inputs_mapped.webp
  getting_started/first_3d_game/img/02.player_input/13.joy_button_option.webp
  getting_started/first_3d_game/img/02.player_input/14.add_jump_button.png
  getting_started/first_3d_game/img/02.player_input/14.jump_input_action.webp
  getting_started/first_3d_game/img/02.player_input/actions_list_empty.webp
  getting_started/first_3d_game/img/02.player_input/add_capsuleshape3d.webp
  getting_started/first_3d_game/img/02.player_input/add_character_body3D.webp
  getting_started/first_3d_game/img/02.player_input/adding_action.webp
  getting_started/first_3d_game/img/02.player_input/adding_node3D.webp
  getting_started/first_3d_game/img/02.player_input/input_map_tab.webp
  getting_started/first_3d_game/img/02.player_input/instantiating_the_model.webp
  getting_started/first_3d_game/img/02.player_input/joy_button_option.webp
  getting_started/first_3d_game/img/02.player_input/joystick_axis_input.webp
  getting_started/first_3d_game/img/02.player_input/jump_input_action.webp
  getting_started/first_3d_game/img/02.player_input/keyboard_keys.webp
  getting_started/first_3d_game/img/02.player_input/left_inputmap.webp
  getting_started/first_3d_game/img/02.player_input/left_joystick_select.webp
  getting_started/first_3d_game/img/02.player_input/move_inputs_mapped.webp
  getting_started/first_3d_game/img/02.player_input/moving_the_sphere_up.png
  getting_started/first_3d_game/img/02.player_input/new_scene.webp
  getting_started/first_3d_game/img/02.player_input/project_settings.webp
  getting_started/first_3d_game/img/02.player_input/scene_structure.webp
  getting_started/first_3d_game/img/02.player_input/sphere_shape.png
  getting_started/first_3d_game/img/02.player_input/toggling_visibility.webp
Labels: enhancement, area:getting started, content:images, cherrypick:4.4

#10749 Document support for 2D per-instance uniforms in Shading language
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.4

#10740 Add reminder to free RID's in compute shader tutorial
  tutorials/shaders/compute_shaders.rst
Labels: enhancement, area:manual, topic:shaders

#10828 Add middleware section to consoles page and clean up some outdated text
  tutorials/platform/consoles.rst
Labels: enhancement, topic:porting, cherrypick:4.4

#10834 Fix description of `shadows_disabled` shader render mode
  tutorials/shaders/shader_reference/spatial_shader.rst
Labels: bug, area:manual, topic:shaders

#10781 Clarify type-safety of as
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, discussion, topic:gdscript, area:manual

#10832 Fix Export Enum Example in c_sharp_exports.rst ( Line 458)
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.3, cherrypick:4.4

#10837 Remove outdated note on .app not being supported, and minor improvements to macOS export notes
  tutorials/export/exporting_for_macos.rst
  tutorials/export/exporting_projects.rst
Labels: area:manual, platform:macos

#10790 Update two XR tools pages
  tutorials/xr/basic_xr_locomotion.rst
  tutorials/xr/img/godot_xr_tools_basic_movement.webp
  tutorials/xr/img/godot_xr_tools_enable.webp
  tutorials/xr/img/godot_xr_tools_floor.webp
  tutorials/xr/img/godot_xr_tools_root_folder.webp
  tutorials/xr/img/xr_tools_basic_hands.webp
  tutorials/xr/introducing_xr_tools.rst
Labels: enhancement, topic:xr, area:manual

#10819 Update OpenXR Settings page
  tutorials/xr/img/openxr_settings.webp
  tutorials/xr/openxr_settings.rst
Labels: enhancement, topic:xr, area:manual

#10841 Add comma to Using NavigationAgents
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: enhancement, area:manual, content:proofreading

#10846 C#: Remove outdated bits defines
  tutorials/scripting/c_sharp/c_sharp_features.rst
Labels: bug, topic:dotnet, area:manual

#10724 Add Odin binding to community GDExtension binding list
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual

#10657 Update games made with Godot in Getting Started
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/introduction/img/engine_design_rpg_in_a_box.png
  getting_started/introduction/img/introduction_cassette_beasts.webp
  getting_started/introduction/img/introduction_ex_zodiac.png
  getting_started/introduction/img/introduction_helms_of_fury.jpg
  getting_started/introduction/img/introduction_pvkk.webp
  getting_started/introduction/img/introduction_rpg_in_a_box.png
  getting_started/introduction/img/introduction_rpg_in_a_box.webp
  getting_started/introduction/img/introduction_usagi_shima.webp
  getting_started/introduction/introduction_to_godot.rst
Labels: enhancement, area:getting started, content:images

#9211 Update tutorials.rst - added free Zenva resources
  community/tutorials.rst
Labels: enhancement, area:community, cherrypick:4.2

#10847 Clarify resources.rst
  tutorials/scripting/resources.rst
Labels: bug, area:manual, cherrypick:4.3, cherrypick:4.4

#10806 Update data_preferences.rst
  tutorials/best_practices/data_preferences.rst
Labels: enhancement, area:manual

#10851 Change "allow to" to "allow you to"
  tutorials/ui/gui_skinning.rst
Labels: bug, area:manual

#10853 Fix @export_custom hint format in gdscript_exports.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3, cherrypick:4.4

#10560 docs: Add a note about the effect of `@export`.
  tutorials/networking/high_level_multiplayer.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, discussion, area:manual, topic:network

#10838 Included note about requirement for class_name for a resource to show…
  tutorials/scripting/resources.rst
Labels: enhancement, topic:gdscript, area:manual

#10780 Update Enum names, improve enum member names, and add related suggestion
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, discussion, topic:gdscript, area:manual

#9698 Update the getting started 3d tutorial for godot 4.x
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/03.player_movement_code.rst
  getting_started/first_3d_game/img/01.game_setup/04.start_assets.webp
  getting_started/first_3d_game/index.rst
Labels: enhancement, area:getting started, Linked Demo PR

#10861 Update CPU optimization physics interpolation info
  tutorials/performance/cpu_optimization.rst
Labels: enhancement, area:manual, cherrypick:4.4

#10849 Fix typos in warning system documentation images
  tutorials/scripting/gdscript/img/typed_gdscript_warning_example.webp
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_errors.webp
  tutorials/scripting/gdscript/img/typed_gdscript_warning_system_ignore.webp
Labels: area:manual, content:images

#10845 Document `optimize=size_extra` SCons option
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/development/compiling/optimizing_for_size.rst
Labels: area:contributing, topic:buildsystem

#10821 [Navigation] Update contributing docs to reflect 2D navigation changes
  contributing/development/compiling/optimizing_for_size.rst
  contributing/development/core_and_modules/unit_testing.rst
Labels: area:contributing, topic:navigation

#10754 Reflect the changes to Rider setup after the fix of the project generation logic to support any OS with and without MSVC toolchain
  contributing/development/compiling/index.rst
  contributing/development/configuring_an_ide/rider.rst
Labels: enhancement, area:contributing

#9087 Change network termination instructions
  tutorials/networking/high_level_multiplayer.rst
Labels: enhancement, area:manual, topic:network, topic:multiplayer, cherrypick:4.4

#10866 Remove iOS simulator mentions.
  contributing/development/compiling/compiling_for_ios.rst
  tutorials/export/one-click_deploy.rst
Labels: area:manual, area:contributing, platform:ios, cherrypick:4.4

#10756 Style: Integrate new `#pragma once` syntax
  contributing/development/code_style_guidelines.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/core_and_modules/custom_godot_servers.rst
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
  contributing/development/core_and_modules/custom_resource_format_loaders.rst
  contributing/development/core_and_modules/unit_testing.rst
  contributing/development/cpp_usage_guidelines.rst
  tutorials/performance/using_multiple_threads.rst
  tutorials/scripting/gdextension/gdextension_c_example.rst
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
Labels: enhancement, topic:codestyle, content:example code, cherrypick:4.4

#10871 Fix missing back-ticks on "Shading lanugage" page
  tutorials/shaders/shader_reference/shading_language.rst
Labels: bug, area:manual, topic:shaders

#10758 Update android_library.rst
  tutorials/platform/android/android_library.rst
Labels: enhancement, area:manual, platform:android

#10878 Update #include path for Time usage
  contributing/development/core_and_modules/common_engine_methods_and_macros.rst
Labels: bug, area:contributing, cherrypick:4.4

#10864 Several minor XR page improvements
  tutorials/xr/img/openxr_enabled.webp
  tutorials/xr/introducing_xr_tools.rst
  tutorials/xr/openxr_settings.rst
  tutorials/xr/setting_up_xr.rst
  tutorials/xr/xr_action_map.rst
Labels: enhancement, topic:xr, area:manual, cherrypick:4.4

#10883 Update introduction_to_2d.rst small typo fix
  tutorials/2d/introduction_to_2d.rst
Labels: bug, area:manual, cherrypick:4.4

#10882 Fix code block format
  contributing/development/compiling/compiling_with_dotnet.rst
Labels: bug, area:contributing, cherrypick:4.4

#10885 update Rider instructions for doctest
  contributing/development/configuring_an_ide/rider.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#10887 Fix typo in C# example in Running code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: enhancement, area:manual, cherrypick:4.3, cherrypick:4.4

#10889 Mention the lack of debugger support in Running code in the editor
  tutorials/plugins/running_code_in_the_editor.rst
  tutorials/scripting/debug/debugger_panel.rst
Labels: enhancement, area:manual, cherrypick:4.3, cherrypick:4.4

#10880 Update the 'Using Fonts' page to include information on spacing adjustments and kerning pairs for image fonts
  tutorials/ui/gui_using_fonts.rst
  tutorials/ui/img/using_fonts_bitmap_font_advance_offsets_diagram.webp
  tutorials/ui/img/using_fonts_bitmap_font_from_image_example_configuration.webp
  tutorials/ui/img/using_fonts_bitmap_font_from_image_import_options.webp
  tutorials/ui/img/using_fonts_bitmap_kerning_pairs_example.webp
Labels: enhancement, area:manual, topic:gui, cherrypick:4.4

#10868 Remove outdated reference to fog transmission in Environment and post-processing
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/img/environment_fog_transmission.webp
Labels: bug, area:manual, cherrypick:4.3, cherrypick:4.4

#10892 Document new bbcode [br] in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual

#10747 Document typed dictionaries in GDScript
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.4

#10901 Add `_CLASS_SNAKE_CASE_` script template placeholder
  tutorials/scripting/creating_script_templates.rst
Labels: enhancement, area:manual, cherrypick:4.4

#10902 Hide user notes on 404 page
  404.rst
  conf.py
Labels: bug, content:website, cherrypick:4.3, cherrypick:4.4

#10873 Add a table listing STL datatypes and their Godot equivalents in C++ usage guidelines
  contributing/development/cpp_usage_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#10812 Document file logging in Data paths
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  tutorials/export/exporting_for_dedicated_servers.rst
  tutorials/io/data_paths.rst
Labels: enhancement, area:manual, cherrypick:4.3, cherrypick:4.4

#10800 Update inspector dock
  tutorials/editor/img/inspector_dock_overlay.webp
  tutorials/editor/img/inspector_dock_revert.webp
  tutorials/editor/img/inspector_dock_subresource.webp
  tutorials/editor/img/inspector_node_name_and_tools.png
  tutorials/editor/img/inspector_overview.png
  tutorials/editor/img/inspector_overview.webp
  tutorials/editor/img/inspector_search_bar.png
  tutorials/editor/img/inspector_tools_menu.png
  tutorials/editor/img/inspector_tools_menu.webp
  tutorials/editor/img/inspector_top_buttons.png
  tutorials/editor/img/inspector_top_buttons.webp
  tutorials/editor/inspector_dock.rst
Labels: enhancement, area:manual, topic:editor
