Repository godotengine/godot-docs, pull requests merged in 2025-02, with the labels that each got.

#10565 Add Getting Started for Parallax2D
  tutorials/2d/2d_parallax.rst
  tutorials/2d/img/2d_parallax_size_viewport.webp
Labels: enhancement, area:manual, topic:2d, cherrypick:4.3

#10596 Add Plausible
  conf.py
Labels: enhancement, content:website, cherrypick:3.5, cherrypick:3.6, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10571 Add a command snippet to build only modified documentation
  contributing/documentation/building_the_manual.rst
Labels: enhancement, area:contributing

#10589 Update UI in nodes-and-scenes
  getting_started/step_by_step/img/nodes_and_scenes_01_empty_editor.webp
  getting_started/step_by_step/img/nodes_and_scenes_03_create_node_window.webp
  getting_started/step_by_step/img/nodes_and_scenes_04_create_label_window.webp
  getting_started/step_by_step/img/nodes_and_scenes_05_editor_with_label.webp
  getting_started/step_by_step/img/nodes_and_scenes_08_hello_world_text.webp
  getting_started/step_by_step/img/nodes_and_scenes_10_save_scene_as.webp
  getting_started/step_by_step/img/nodes_and_scenes_11_final_result.webp
  getting_started/step_by_step/img/nodes_and_scenes_14_select_main_scene.webp
Labels: enhancement, area:getting started, content:images

#10513 Sync "Creating the Enemy" section of Getting Started/First Game 2D tutorial with demo project code
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, area:getting started

#10607 Document `[ExportToolButton]` attribute
  tutorials/scripting/c_sharp/c_sharp_exports.rst
Labels: enhancement, topic:dotnet, area:manual

#10570 Improve GDExtension tutorial based on own experience
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/img/gdextension_cpp_animated.gif
  tutorials/scripting/gdextension/img/gdextension_cpp_animated.webm
Labels: area:manual, topic:gdextension

#10575 Fix editor shortcut documentation for macos
  tutorials/editor/default_key_mapping.rst
Labels: bug, area:manual, platform:macos, topic:editor

#10597 Update 2D particles page for Godot 4.4
  tutorials/2d/img/emission_shapes1.png
  tutorials/2d/img/emission_shapes1.webp
  tutorials/2d/img/emission_shapes2.png
  tutorials/2d/img/emission_shapes2.webp
  tutorials/2d/img/emission_shapes3.png
  tutorials/2d/img/emission_shapes3.webp
  tutorials/2d/img/emission_shapes4.png
  tutorials/2d/img/emission_shapes4.webp
  tutorials/2d/img/particles2.png
  tutorials/2d/img/particles2.webp
  tutorials/2d/img/particles_convert.webp
  tutorials/2d/img/particles_flipbook_create_canvasitemmaterial.webp
  tutorials/2d/img/particles_material.png
  tutorials/2d/img/particles_material.webp
  tutorials/2d/index.rst
  tutorials/2d/particle_process_material_2d.rst
  tutorials/2d/particle_systems_2d.rst
  tutorials/3d/particles/process_material_properties.rst
Labels: enhancement, area:manual

#10566 Fix video alignment after dependency update
  _static/css/custom.css
  contributing/documentation/docs_image_guidelines.rst
  tutorials/2d/2d_parallax.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/spring_arm.rst
Labels: bug, content:website, area:manual, area:contributing

#10610 Revert "Fix video alignment after dependency update"
  _static/css/custom.css
  contributing/documentation/docs_image_guidelines.rst
  tutorials/2d/2d_parallax.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/spring_arm.rst
Labels: bug, content:website

#10611 Fix video alignment after dependency update without CSS
  contributing/documentation/docs_image_guidelines.rst
  tutorials/2d/2d_parallax.rst
  tutorials/3d/csg_tools.rst
  tutorials/3d/spring_arm.rst
Labels: bug, content:website, area:manual, area:contributing

#10606 Improve First 3D shader tutorial
  tutorials/shaders/shader_reference/shading_language.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: enhancement, area:manual, topic:shaders

#10613 Document logical operator support in `Expression`
  tutorials/scripting/evaluating_expressions.rst
Labels: enhancement, area:manual

#10608 Add clarifying text for instance docs
  getting_started/step_by_step/instancing.rst
Labels: enhancement, area:getting started

#10630 Fix library/binary confusion in compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: bug, area:contributing, content:proofreading, cherrypick:4.3

#10628 Remove shader materials page
  tutorials/shaders/img/shader_create.png
  tutorials/shaders/img/shader_material_convert.png
  tutorials/shaders/img/shader_material_create.png
  tutorials/shaders/img/shader_material_editor.png
  tutorials/shaders/img/visual_shader_code.png
  tutorials/shaders/img/visual_shader_editor.png
  tutorials/shaders/index.rst
  tutorials/shaders/shader_materials.rst
  tutorials/shaders/your_first_shader/your_first_2d_shader.rst
  tutorials/shaders/your_first_shader/your_first_3d_shader.rst
Labels: enhancement, discussion, area:manual, topic:shaders

#10637 GDExtension: Fix typo on `compatibility_minimum` property
  tutorials/scripting/gdextension/gdextension_cpp_example.rst
  tutorials/scripting/gdextension/gdextension_docs_system.rst
Labels: bug, area:manual, cherrypick:4.1, cherrypick:4.2, cherrypick:4.3

#10647 Fix meaning of `target=template_debug` in Introduction to the buildsystem
  contributing/development/compiling/introduction_to_the_buildsystem.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.3

#10644 Update UV preivew screenshot
  tutorials/3d/global_illumination/img/lightmap_gi_uvchannel.webp
Labels: enhancement, area:manual

#10643 Document MP3 runtime loading
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#10653 Update links to Q&A site to forum
  contributing/documentation/updating_the_class_reference.rst
  getting_started/introduction/learning_new_features.rst
Labels: enhancement, area:getting started, area:contributing, cherrypick:4.3

#10651 Add note on pressing F6 for current scene vs. F5 for default scene
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started

#10654 Improve links to Step by step
  about/introduction.rst
  getting_started/first_2d_game/index.rst
  getting_started/step_by_step/index.rst
  tutorials/networking/http_request_class.rst
Labels: enhancement, area:about, area:getting started, area:manual

#10656 Updating "Run Current Scene" usage for consistency/clarity
  getting_started/step_by_step/nodes_and_scenes.rst
Labels: enhancement, area:getting started

#10658 Remove links and screenshots of old plugins
  getting_started/introduction/godot_design_philosophy.rst
  getting_started/introduction/img/engine_design_fsm_plugin.png
Labels: bug, area:getting started, cherrypick:4.3

#10649 Change path to "Export Deformation Bones Only"
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
Labels: bug, area:manual, topic:import, topic:3d, cherrypick:4.3

#10672 Add i18n (internationalization) label to Bug triage guidelines
  contributing/workflow/bug_triage_guidelines.rst
Labels: enhancement, area:contributing

#10671 Remove outdated disadvantages to upgrading to Godot 4
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual

#10677 Document limitation of Visual Profiler on macOS in Compatibility
  tutorials/scripting/debug/debugger_panel.rst
Labels: enhancement, topic:rendering, area:manual, platform:macos, topic:editor

#10665 Update screenshots and descriptions in Asset Library docs
  community/asset_library/img/assetlib_asset.png
  community/asset_library/img/assetlib_asset.webp
  community/asset_library/img/assetlib_login.png
  community/asset_library/img/assetlib_login.webp
  community/asset_library/img/assetlib_login_header.png
  community/asset_library/img/assetlib_login_header.webp
  community/asset_library/img/assetlib_register-login.png
  community/asset_library/img/assetlib_register-login.webp
  community/asset_library/img/assetlib_register.png
  community/asset_library/img/assetlib_register.webp
  community/asset_library/img/assetlib_search.png
  community/asset_library/img/assetlib_search.webp
  community/asset_library/img/assetlib_website.png
  community/asset_library/img/assetlib_website.webp
  community/asset_library/using_assetlib.rst
Labels: enhancement, area:community, topic:assetlib

#10684 Updated GPUParticles3D typo on the 2d particle systems page
  tutorials/2d/particle_systems_2d.rst
Labels: bug, topic:rendering, area:manual, content:proofreading, topic:2d, cherrypick:4.3

#10689 Add missing InputEvent.is_echo()
  tutorials/inputs/inputevent.rst
Labels: bug, area:manual

#10686 Update first 2D game images for 4.4
  getting_started/first_2d_game/img/grid_snap_button.webp
  getting_started/first_2d_game/img/lock_children.webp
  getting_started/first_2d_game/img/path2d_buttons.webp
  getting_started/first_2d_game/img/ui_anchor.webp
Labels: area:getting started, content:images

#10685 Remove unneeded dependencies from Fedora installation in Compiling for Linux/*BSD
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: enhancement, area:contributing, topic:buildsystem, cherrypick:4.3

#10562 Update compiling_for_windows.rst
  contributing/development/compiling/compiling_for_windows.rst
Labels: bug, area:contributing

#10679 Clarify the global registration of named_classes
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#10667 Add Needed Signal Connection Steps for Timers
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, area:getting started

#10594 Update XR Deploying to android page for 4.4
  tutorials/xr/deploying_to_android.rst
  tutorials/xr/img/android_gradle_build.webp
  tutorials/xr/img/android_meta_quest.webp
  tutorials/xr/img/openxr_loader_asset_lib.webp
  tutorials/xr/img/xr_enable_vendors_plugin.webp
  tutorials/xr/img/xr_export_features.webp
Labels: enhancement, topic:xr, area:manual

#10640 Update Gridmaps page for 4.4
  tutorials/3d/img/gridmap_create_body.png
  tutorials/3d/img/gridmap_create_body.webp
  tutorials/3d/img/gridmap_dropdown.webp
  tutorials/3d/img/gridmap_export.png
  tutorials/3d/img/gridmap_export.webp
  tutorials/3d/img/gridmap_main.png
  tutorials/3d/img/gridmap_menu.png
  tutorials/3d/img/gridmap_mesh_library_inspector.webp
  tutorials/3d/img/gridmap_mesh_library_settings.webp
  tutorials/3d/img/gridmap_mesh_scene.png
  tutorials/3d/img/gridmap_mesh_scene.webp
  tutorials/3d/img/gridmap_meshlibrary1.png
  tutorials/3d/img/gridmap_meshlibrary1.webp
  tutorials/3d/img/gridmap_panel.webp
  tutorials/3d/img/gridmap_select.png
  tutorials/3d/img/gridmap_shift_axis.png
  tutorials/3d/using_gridmaps.rst
Labels: enhancement, area:manual

#10693 Add `else if` to shading reference
  tutorials/shaders/shader_reference/shading_language.rst
Labels: enhancement, area:manual, topic:shaders

#10663 Improve Creating your first script page
  getting_started/introduction/introduction_to_godot.rst
  getting_started/step_by_step/img/scripting_first_script_icon.svg
  getting_started/step_by_step/scripting_first_script.rst
Labels: enhancement, area:getting started, content:proofreading

#10694 Switch terms *error* and *warning* in output panel debug docs.
  tutorials/scripting/debug/output_panel.rst
Labels: bug, area:manual

#10695 Reorder Output panel message categories to match order in editor
  tutorials/scripting/debug/output_panel.rst
Labels: enhancement, area:manual, topic:editor

#9433 Add guidelines on inline comments in GDScript style guide
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.2

#10676 Update Bisecting regressions page
  contributing/workflow/bisecting_regressions.rst
Labels: bug, area:contributing

#8620 Change libpath in binding_to_external_libraries.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
Labels: area:contributing

#10680 GitHub Actions: Check URLs using lychee
  .github/workflows/check_urls.yml
  .lycheeignore
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: enhancement, github_actions

#10697 Document animation markers
  tutorials/animation/img/animation_marker_click_area.webp
  tutorials/animation/img/animation_marker_selected.webp
  tutorials/animation/introduction.rst
Labels: enhancement, area:manual, topic:animation

#10699 2D game: Help people create MobPath as a child of Main
  getting_started/first_2d_game/05.the_main_game_scene.rst
Labels: enhancement, area:getting started

#10659 Update links to C# and GDScript sections
  about/list_of_features.rst
  getting_started/introduction/introduction_to_godot.rst
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_languages.rst
  tutorials/performance/cpu_optimization.rst
  tutorials/scripting/c_sharp/c_sharp_basics.rst
  tutorials/scripting/c_sharp/index.rst
  tutorials/scripting/cross_language_scripting.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/scripting/gdscript/index.rst
Labels: enhancement, topic:dotnet, topic:gdscript, area:getting started, area:manual

#10709 Mention renderer limitations in Resolution scaling
  tutorials/3d/resolution_scaling.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d, cherrypick:4.3

#10526 Document Jolt built-in module in 4.4
  tutorials/physics/index.rst
  tutorials/physics/using_jolt_physics.rst
Labels: enhancement, area:manual, topic:physics

#10687 Update first 3D game setup page images for 4.4
  getting_started/first_3d_game/01.game_setup.rst
  getting_started/first_3d_game/04.mob_scene.rst
  getting_started/first_3d_game/img/01.game_setup/02.browse_to_project_folder.webp
  getting_started/first_3d_game/img/01.game_setup/03.import_and_edit.webp
  getting_started/first_3d_game/img/01.game_setup/04.start_assets.png
  getting_started/first_3d_game/img/01.game_setup/04.start_assets.webp
  getting_started/first_3d_game/img/01.game_setup/05.main_node.png
  getting_started/first_3d_game/img/01.game_setup/05.main_node.webp
  getting_started/first_3d_game/img/01.game_setup/06.staticbody_node.png
  getting_started/first_3d_game/img/01.game_setup/06.staticbody_node.webp
  getting_started/first_3d_game/img/01.game_setup/07.collision_shape_warning.png
  getting_started/first_3d_game/img/01.game_setup/07.collision_shape_warning.webp
  getting_started/first_3d_game/img/01.game_setup/08.create_box_shape3D.jpg
  getting_started/first_3d_game/img/01.game_setup/08.create_box_shape3D.webp
  getting_started/first_3d_game/img/01.game_setup/10.mesh_instance3d.png
  getting_started/first_3d_game/img/01.game_setup/10.mesh_instance3d.webp
  getting_started/first_3d_game/img/01.game_setup/11.box_mesh.webp
  getting_started/first_3d_game/img/01.game_setup/12.cube_resized.png
  getting_started/first_3d_game/img/01.game_setup/12.cube_resized.webp
  getting_started/first_3d_game/img/01.game_setup/14.select_mode_icon.png
  getting_started/first_3d_game/img/01.game_setup/14.select_mode_icon.webp
  getting_started/first_3d_game/img/01.game_setup/16.turn_on_shadows.webp
  getting_started/first_3d_game/img/01.game_setup/17.project_with_light.webp
  getting_started/first_3d_game/img/01.game_setup/adding_static_body3D.webp
  getting_started/first_3d_game/img/01.game_setup/create_directional_light3d.webp
  getting_started/first_3d_game/img/01.game_setup/ground_down1meter.webp
  getting_started/first_3d_game/img/01.game_setup/use_snap.webp
Labels: area:getting started, content:images

#10715 Remove unmaintained gdextension in what_is_gdextension.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
Labels: enhancement, area:manual, topic:gdextension

#10713 Document `cell` padding not supporting spaces between values in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, topic:gui, cherrypick:4.3

#10711 C#: Document `[ExportToolButton]` diagnostics
  tutorials/scripting/c_sharp/diagnostics/GD0108.rst
  tutorials/scripting/c_sharp/diagnostics/GD0109.rst
  tutorials/scripting/c_sharp/diagnostics/GD0110.rst
  tutorials/scripting/c_sharp/diagnostics/GD0111.rst
  tutorials/scripting/c_sharp/diagnostics/index.rst
Labels: topic:dotnet, content:new page, area:manual

#10718 Fix bad links in Exporting for web
  tutorials/export/exporting_for_web.rst
Labels: bug, area:manual, topic:export, cherrypick:4.3

#10716 Update Tonemap docs in Environment and post-processing page
  tutorials/3d/environment_and_post_processing.rst
Labels: enhancement, topic:rendering, area:manual

#10614 Update playing videos
  tutorials/animation/playing_videos.rst
Labels: enhancement, area:manual

#10714 Update instructions on setting Full Rect anchor in Custom post-processing
  tutorials/shaders/custom_postprocessing.rst
  tutorials/shaders/img/custom_postprocessing_anchors_preset_full_rect.webp
Labels: enhancement, area:manual, topic:shaders, cherrypick:4.3
