Repository godotengine/godot-docs, pull requests merged in 2025-03, with the labels that each got.

#10546 Add "Upgrading from Godot 4.3 to Godot 4.4" page
  tutorials/migrating/index.rst
  tutorials/migrating/upgrading_to_godot_4.4.rst
Labels: enhancement, content:new page, area:manual

#10645 Update exporting projects page
  tutorials/export/exporting_projects.rst
  tutorials/export/img/export.png
  tutorials/export/img/export.webp
  tutorials/export/img/export_dialog.png
  tutorials/export/img/export_dialog.webp
  tutorials/export/img/export_error.png
  tutorials/export/img/export_error.webp
  tutorials/export/img/export_preset.png
  tutorials/export/img/export_preset.webp
  tutorials/export/img/export_resources.webp
  tutorials/export/img/export_selected.webp
  tutorials/export/img/export_templates.webp
  tutorials/export/img/expres.png
  tutorials/export/img/expselected.png
  tutorials/export/img/exptemp.png
Labels: enhancement, area:manual

#8623 Clarify that EditorScript can only run using the internal script editor
  tutorials/plugins/running_code_in_the_editor.rst
Labels: topic:dotnet, area:manual, topic:plugin

#10725 Tweak GDScript code style to match style guide in The Compositor
  tutorials/rendering/compositor.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.3

#10625 Update binding Signal connection args docs
  tutorials/scripting/gdscript/gdscript_basics.rst
Labels: enhancement, topic:gdscript, area:manual

#10722 Fix visual artifacts
  tutorials/2d/2d_movement.rst
  tutorials/2d/img/movement_8way.gif
  tutorials/2d/img/movement_click.gif
  tutorials/2d/img/movement_rotate1.gif
  tutorials/2d/img/movement_rotate2.gif
  tutorials/2d/video/movement_8way.webm
  tutorials/2d/video/movement_click.webm
  tutorials/2d/video/movement_rotate_keyboard.webm
  tutorials/2d/video/movement_rotate_mouse.webm
Labels: enhancement, area:manual

#10733 Update release policy for 4.4 release
  about/release_policy.rst
Labels: area:about, cherrypick:4.3

#10732 Remove mention of Handbrake from playing_videos.rst
  tutorials/animation/playing_videos.rst
Labels: bug, area:manual

#10735 Document Glow Upscale Mode project setting in Environment and post-processing
  tutorials/3d/environment_and_post_processing.rst
  tutorials/3d/img/environment_and_post_processing_glow_scale_mode.webp
Labels: enhancement, topic:rendering, area:manual, topic:3d, cherrypick:4.3

#10736 Fix documented function call in openxr reference space docs
  tutorials/xr/openxr_settings.rst
Labels: bug, topic:xr

#10170 Add docs contribution checklist page
  contributing/documentation/docs_contribution_checklist.rst
  contributing/documentation/docs_image_guidelines.rst
  contributing/documentation/docs_writing_guidelines.rst
  contributing/documentation/index.rst
Labels: discussion, content:new page, area:contributing

#10742 Remove reference to MonoDevelop in C# Basics
  tutorials/scripting/c_sharp/c_sharp_basics.rst
Labels: enhancement, topic:dotnet, area:manual

#10745 Document `editor_hint` and `editor_runtime` feature flags
  tutorials/export/feature_tags.rst
Labels: enhancement, area:manual, topic:export

#10741 String.format() wrong placeholder syntax
  tutorials/scripting/gdscript/gdscript_format_string.rst
Labels: bug, topic:gdscript, area:manual, cherrypick:4.3

#10748 Fix inaccurate `read_string_from_stdin` migration info.
  tutorials/migrating/upgrading_to_godot_4.4.rst
Labels: bug, area:manual

#10751 Update exporting_for_web.rst
  tutorials/export/exporting_for_web.rst
Labels: bug, area:manual, topic:export, platform:web, cherrypick:4.4

#10729 Update misleading documentation about importing compressed WAV files
  tutorials/assets_pipeline/importing_audio_samples.rst
Labels: enhancement, area:manual

#10752 Added script to play the mob animation
  getting_started/first_2d_game/04.creating_the_enemy.rst
Labels: enhancement, area:getting started, Linked Demo PR

#10761 Link to C# external editor documentation in Visual Studio and VS Code Configuring an IDE
  contributing/development/configuring_an_ide/visual_studio.rst
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:contributing, cherrypick:4.3, cherrypick:4.4

#10683 Update Bug triage guidelines
  contributing/workflow/bug_triage_guidelines.rst
Labels: enhancement, area:contributing

#10771 Update making_main_screen_plugins.rst
  tutorials/plugins/editor/making_main_screen_plugins.rst
Labels: enhancement, area:manual

#10766 chore: Update the link to predefined color mappings for Icons.
  contributing/development/editor/creating_icons.rst
Labels: bug, area:contributing

#10727 Create xr full screen effects doc page
  tutorials/xr/img/xr_full_screen_effects_ending_quad.webp
  tutorials/xr/img/xr_full_screen_effects_starting_quad.webp
  tutorials/xr/img/xr_full_screen_effects_vignette_before_after.webp
  tutorials/xr/index.rst
  tutorials/xr/xr_full_screen_effects.rst
Labels: enhancement, topic:xr, area:manual

#10796 Fix typo in Release policy
  about/release_policy.rst
Labels: bug, area:about, cherrypick:4.3, cherrypick:4.4

#10792 Fix typo - gdexample.cpp should be gdexample.c in the C documentation
  tutorials/scripting/gdextension/gdextension_c_example.rst
Labels: bug, area:manual

#10791 Fix typo in instancing.rst
  getting_started/step_by_step/instancing.rst
Labels: bug, area:getting started, content:proofreading

#10794 Update doctest links from onqtam/doctest to doctest/doctest
  contributing/development/core_and_modules/unit_testing.rst
Labels: enhancement, area:contributing

#10782 Fix misplaced bad example
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, discussion, topic:gdscript, area:manual

#10808 Fix C# example about interpolating with quaternions
  tutorials/3d/using_transforms.rst
Labels: bug, topic:dotnet, area:manual, cherrypick:4.3, cherrypick:4.4

#10763 Update 2D batching notice in Internal rendering architecture for Godot 4.4
  contributing/development/core_and_modules/internal_rendering_architecture.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#10811 CI: Check URLs on schedule only to reduce false positives
  .github/workflows/check_urls.yml
Labels: enhancement, github_actions

#10770 Replace axes colors in image
  tutorials/3d/img/transforms_euler.png
  tutorials/3d/img/transforms_euler.webp
  tutorials/3d/using_transforms.rst
Labels: area:manual, content:images

#10813 Remove duplicate paragraph from Getting Started page
  getting_started/first_2d_game/06.heads_up_display.rst
Labels: bug, area:getting started
