Repository godotengine/godot-docs, pull requests merged in 2025-09, with the labels that each got.

#11246 Update instructions for resolution scaling in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.4

#11257 Add some `button` roles
  tutorials/2d/2d_meshes.rst
  tutorials/3d/particles/collision.rst
  tutorials/animation/2d_skeletons.rst
  tutorials/plugins/editor/making_plugins.rst
  tutorials/xr/basic_xr_locomotion.rst
  tutorials/xr/xr_action_map.rst
Labels: enhancement, area:manual

#11252 Update Troubleshooting physics issues for Godot 4.5
  tutorials/physics/troubleshooting_physics_issues.rst
Labels: enhancement, area:manual, topic:physics

#11272 Mention Default Theme Scale project setting in Multiple Resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, topic:rendering, area:manual, cherrypick:4.4

#11270 Add a Troubleshooting section to Exporting for the Web
  tutorials/export/exporting_for_web.rst
  tutorials/export/img/exporting_for_web_reset_unregister_service_worker_chromium.webp
  tutorials/export/img/exporting_for_web_reset_unregister_service_worker_firefox.webp
  tutorials/export/one-click_deploy.rst
Labels: enhancement, area:manual, topic:export, platform:web

#11285 Update RTD version
  conf.py
Labels: enhancement

#11286 Update stable
  conf.py
Labels: enhancement

#11287 Update 4.4 to 4.5
  engine_details/development/compiling/getting_source.rst
  index.rst
Labels: enhancement

#11288 Update stable
  engine_details/development/compiling/getting_source.rst
  index.rst
Labels: enhancement

#11217 Improve the pygments lexer to cover GDScript 2 better
  _extensions/gdscript.py
  _static/css/custom.css
Labels: enhancement, content:website, topic:gdscript, cherrypick:4.5

#11250 Document applying updates on MSVC in Compiling for Windows
  engine_details/development/compiling/compiling_for_windows.rst
Labels: enhancement, area:engine details, cherrypick:4.4, cherrypick:4.5

#11266 Add logging documentation
  tutorials/io/data_paths.rst
  tutorials/scripting/debug/debugger_panel.rst
  tutorials/scripting/debug/output_panel.rst
  tutorials/scripting/index.rst
  tutorials/scripting/logging.rst
Labels: content:new page, area:manual, linked demo pr, cherrypick:4.5

#11263 Remove outdated/broken shared library section in Custom modules in C++
  engine_details/architecture/custom_modules_in_cpp.rst
Labels: bug, area:engine details, cherrypick:4.4, cherrypick:4.5

#11222 Add documentation on using the Engine compilation configuration editor
  about/list_of_features.rst
  engine_details/development/compiling/optimizing_for_size.rst
  tutorials/editor/img/engine_compilation_configuration_editor_detect.webp
  tutorials/editor/img/engine_compilation_configuration_editor_detected.webp
  tutorials/editor/index.rst
  tutorials/editor/using_engine_compilation_configuration_editor.rst
Labels: content:new page, area:manual, topic:editor

#11303 Fix license text using syntax highlighting in Complying with licenses
  about/complying_with_licenses.rst
Labels: bug, area:about, cherrypick:4.4, cherrypick:4.5

#11301 Mention new warnings for `ProjectSettings.add_property_info()` in Upgrading to Godot 4.5
  tutorials/migrating/upgrading_to_godot_4.5.rst
Labels: enhancement, area:manual, cherrypick:4.5

#11307 Fix rendering diagram link.
  engine_details/architecture/internal_rendering_architecture.rst
Labels: bug, area:engine details, cherrypick:4.5

#11294 Document TileMapLayer physics chunking caveats in Upgrading to Godot 4.5
  tutorials/migrating/upgrading_to_godot_4.5.rst
Labels: enhancement, area:manual, cherrypick:4.5

#11317 Edit "Core types" descriptions
  engine_details/architecture/core_types.rst
Labels: enhancement, area:engine details, cherrypick:4.5

#11322 Fix inspector_dock.rst - Show inspector menu route was wrong
  tutorials/editor/inspector_dock.rst
Labels: bug, area:manual, topic:editor, cherrypick:4.4, cherrypick:4.5

#11324 Document exporting/compiling for the iOS simulator not currently being supported
  engine_details/development/compiling/compiling_for_ios.rst
  tutorials/export/exporting_for_ios.rst
Labels: enhancement, area:manual, area:engine details, topic:buildsystem, platform:ios, cherrypick:4.4, cherrypick:4.5

#11299 Mention importance of thread-safety in `Logger` example
  tutorials/scripting/logging.rst
Labels: enhancement, area:manual, cherrypick:4.5

#11315 Add redirects to redirects.csv after contributing content was migrated.
  _tools/redirects/redirects.csv
Labels: enhancement, content:redirect, area:engine details
