Repository godotengine/godot-docs, pull requests merged in 2025-05, with the labels that each got.

#10911 Fix URL to gamepad tester website
  tutorials/inputs/controllers_gamepads_joysticks.rst
Labels: enhancement, area:manual, cherrypick:4.4

#10913 Few fixes for shader's built-in methods
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: area:manual, topic:shaders

#10912 Add new `FixedVector` type to the types table.
  contributing/development/cpp_usage_guidelines.rst
Labels: enhancement, area:contributing

#10631 Split C++ (godot-cpp) and GDExtension system info into separate categories, children of Scripting.
  _tools/redirects/redirects.csv
  about/docs_changelog.rst
  classes/class_gdextension.rst
  classes/class_gdextensionmanager.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/scripting/cpp/about_godot_cpp.rst
  tutorials/scripting/cpp/files/cpp_example/SConstruct
  tutorials/scripting/cpp/gdextension_cpp_example.rst
  tutorials/scripting/cpp/gdextension_docs_system.rst
  tutorials/scripting/cpp/img/gdextension_cpp_animated.webm
  tutorials/scripting/cpp/img/gdextension_cpp_nodes.webp
  tutorials/scripting/cpp/img/gdextension_cpp_sprite.webp
  tutorials/scripting/cpp/img/gdextension_docs_generation.webp
  tutorials/scripting/cpp/index.rst
  tutorials/scripting/gdextension/gdextension_c_example.rst
  tutorials/scripting/gdextension/gdextension_file.rst
  tutorials/scripting/gdextension/index.rst
  tutorials/scripting/gdextension/what_is_gdextension.rst
  tutorials/scripting/index.rst
  tutorials/scripting/other_languages.rst
Labels: enhancement, content:organization, area:manual, topic:gdextension

#10904 Remove incorrect section about occluder ordering
  tutorials/2d/2d_lights_and_shadows.rst
Labels: bug, area:manual, cherrypick:4.4

#10923 Fix missing apostrophe.
  tutorials/inputs/inputevent.rst
Labels: bug, area:manual, cherrypick:4.4

#10835 Document how to opt out of name suffix customization in 3D import
  tutorials/assets_pipeline/importing_3d_scenes/node_type_customization.rst
Labels: enhancement, topic:import, topic:3d

#10936 Add AgX to list of tonemappers in List of Features
  about/list_of_features.rst
Labels: enhancement, area:about, cherrypick:4.4

#10935 Remove outdated 2D batching note
  tutorials/performance/gpu_optimization.rst
Labels: bug, cherrypick:4.4

#10914 Add notes to `Dictionary`, `HashMap` and `Array`.
  about/faq.rst
  contributing/development/cpp_usage_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#10945 Document abstract classes in GDScript
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual

#10944 Document `[hint]` tag quote support in BBCode in RichTextLabel
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, topic:gui, cherrypick:4.4

#10903 Add a Troubleshooting section to Exporting packs, patches and mods
  tutorials/export/exporting_pcks.rst
  tutorials/export/exporting_projects.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3, cherrypick:4.4

#10890 Document loading FBX scenes in Run-time file loading and saving
  tutorials/io/runtime_file_loading_and_saving.rst
Labels: enhancement, area:manual

#10954 Mention Canvas Resize Policy in Exporting for the Web
  tutorials/export/exporting_for_web.rst
Labels: enhancement, area:manual, topic:export, cherrypick:4.3, platform:web, cherrypick:4.4

#10947 Android: Add note that higher jdk version are also supported.
  tutorials/export/exporting_for_android.rst
Labels: area:manual, topic:export, platform:android

#10951 Update clion.rst.
  contributing/development/configuring_an_ide/clion.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#10955 Link to Resolution scaling documentation in Multiple resolutions
  tutorials/rendering/multiple_resolutions.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d, cherrypick:4.3, cherrypick:4.4

#10962 Fix mistake about sky shaders having fragment() function
  tutorials/shaders/introduction_to_shaders.rst
Labels: bug, area:manual, cherrypick:4.0, cherrypick:4.1, cherrypick:4.2, topic:shaders, cherrypick:4.3, cherrypick:4.4

#10959 Remove suggestion to do a partial upgrade
  contributing/development/compiling/compiling_for_windows.rst
Labels: bug, area:contributing, topic:buildsystem, cherrypick:4.3, cherrypick:4.4
