Repository godotengine/godot-docs, pull requests merged in 2025-07, with the labels that each got.

#11080 Update ICU break iterator instructions in Internationalizing games
  tutorials/i18n/img/icu_data.png
  tutorials/i18n/internationalizing_games.rst
Labels: bug, area:manual, topic:i18n, cherrypick:4.4

#11052 Update command line arguments to match master branch
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual

#11087 Modify Importing audio samples to be in pair with 4.4 documentation
  tutorials/assets_pipeline/importing_audio_samples.rst
Labels: bug, topic:audio, cherrypick:4.4

#11095 Update OpenJDK download link in exporting_for_android.rst
  tutorials/export/exporting_for_android.rst
Labels: bug, area:manual, platform:android, cherrypick:4.4

#11096 Add FoldableContainer to the Control node gallery page
  img/control_gallery.webp
Labels: enhancement, area:manual, topic:gui

#11097 Expand list of supported architectures on Linux
  about/list_of_features.rst
  about/system_requirements.rst
Labels: enhancement, area:about, cherrypick:4.4

#11098 Update custom template images on compiling pages
  contributing/development/compiling/compiling_for_android.rst
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/img/andtemplates.png
  contributing/development/compiling/img/andtemplates.webp
  contributing/development/compiling/img/lintemplates.png
  contributing/development/compiling/img/lintemplates.webp
  contributing/development/compiling/img/wintemplates.webp
Labels: enhancement, area:manual, content:images, cherrypick:4.4

#11102 Update `GodotGooglePlayBilling` documentation
  tutorials/platform/android/android_in_app_purchases.rst
Labels: enhancement, area:manual, cherrypick:4.2, cherrypick:4.3, platform:android, cherrypick:4.4

#11100 Update docs for built-in ICO file creation
  tutorials/export/changing_application_icon_for_windows.rst
  tutorials/export/exporting_for_windows.rst
  tutorials/export/img/icon_rcedit.webp
  tutorials/export/img/windows_editor_settings.webp
Labels: enhancement, area:manual

#11092 Add curly brackets to mouse and input coordinates C# code
  tutorials/inputs/mouse_and_input_coordinates.rst
Labels: discussion, topic:dotnet, area:manual, topic:codestyle

#11109 Fix typo "ubfx" -> "ufbx" in `available_formats.rst`
  tutorials/assets_pipeline/importing_3d_scenes/available_formats.rst
Labels: bug, area:manual, cherrypick:4.4

#11099 Update Standard Material 3D page for new transform options
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, area:manual

#11089 fix NavigationAgent3D template for Node3D
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: bug, area:manual, topic:navigation, topic:3d

#11106 Update visual shader page for Godot 4.5
  tutorials/shaders/img/shader_material_create_mesh.webp
  tutorials/shaders/img/visual_shader_create.webp
  tutorials/shaders/img/visual_shader_editor2.webp
  tutorials/shaders/img/vs_popup.webp
  tutorials/shaders/visual_shaders.rst
Labels: enhancement, area:manual, topic:shaders

#11112 Add missing brackets in c# code
  tutorials/3d/using_transforms.rst
  tutorials/best_practices/godot_notifications.rst
  tutorials/inputs/handling_quit_requests.rst
  tutorials/inputs/inputevent.rst
  tutorials/physics/physics_introduction.rst
  tutorials/physics/ray-casting.rst
  tutorials/physics/using_character_body_2d.rst
  tutorials/xr/a_better_xr_start_script.rst
Labels: enhancement, topic:dotnet, area:manual, topic:codestyle, cherrypick:4.4

#11044 Update `NavigationPathQueryObjects` to explain all (new) options
  tutorials/navigation/img/path_clip_and_limits.gif
  tutorials/navigation/img/path_postprocess_diff.webp
  tutorials/navigation/img/path_simplification_diff.webp
  tutorials/navigation/navigation_using_navigationagents.rst
  tutorials/navigation/navigation_using_navigationpathqueryobjects.rst
Labels: area:manual, topic:navigation

#10920 Clarify UTF encoding between C# strings and Godot Strings
  tutorials/scripting/c_sharp/c_sharp_differences.rst
Labels: enhancement, topic:dotnet, area:manual, cherrypick:4.4

#10988 Move C++ container type information from C++ usage guidelines to Core types
  about/faq.rst
  contributing/development/core_and_modules/core_types.rst
  contributing/development/cpp_usage_guidelines.rst
Labels: enhancement, area:contributing, cherrypick:4.4

#11126 Fixed typo in high_level_multiplayer.rst
  tutorials/networking/high_level_multiplayer.rst
Labels: bug, area:manual

#11001 Change "clips" to "slices"
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
Labels: area:manual, topic:import, topic:animation

#11103 Document SSE4.2 instruction set in System requirements
  about/system_requirements.rst
Labels: enhancement, area:manual

#11135 Link to `Why not STL?` section in FAQ from core engine containers.
  contributing/development/core_and_modules/core_types.rst
Labels: enhancement, area:contributing

#11123 Update descriptions of `AHashMap` and `HashMap`. Recommend `AHashMap` over `HashMap` by default.
  contributing/development/core_and_modules/core_types.rst
Labels: enhancement, area:contributing

#11046 Replace remaining uses of shorthand codeblock syntax, add CI check
  .github/workflows/ci.yml
  _tools/check-rst.sh
  contributing/development/code_style_guidelines.rst
  contributing/development/compiling/compiling_for_linuxbsd.rst
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/compiling_for_windows.rst
  contributing/development/compiling/compiling_with_dotnet.rst
  contributing/development/compiling/getting_source.rst
  contributing/development/compiling/introduction_to_the_buildsystem.rst
  contributing/documentation/editor_and_docs_localization.rst
  tutorials/assets_pipeline/importing_3d_scenes/import_configuration.rst
  tutorials/export/exporting_for_dedicated_servers.rst
  tutorials/networking/websocket.rst
  tutorials/physics/physics_introduction.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/platform/ios/ios_plugin.rst
  tutorials/scripting/evaluating_expressions.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
  tutorials/scripting/gdscript/static_typing.rst
  tutorials/shaders/introduction_to_shaders.rst
  tutorials/shaders/shader_reference/shader_functions.rst
Labels: enhancement, content:website, area:manual, area:contributing

#3935 Update i18n gettext tutorial to include POT generation, plurals and context support
  tutorials/i18n/localization_using_gettext.rst
Labels: enhancement, area:manual, topic:i18n

#10820 Autoload nodes can be accessed in the editor if they're using tool scripts
  tutorials/plugins/running_code_in_the_editor.rst
Labels: bug, area:manual

#11143 Document previewing translations in editor
  tutorials/i18n/img/locale_editor_preview.webp
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:manual, topic:i18n

#11153 Remove deprecated Intel GPA from General optimization tips
  tutorials/performance/general_optimization.rst
Labels: enhancement, area:manual, cherrypick:4.4

#11138 Update CLion IDE Setup Docs with Code Completion Configuration
  contributing/development/configuring_an_ide/clion.rst
Labels: bug, area:contributing, cherrypick:4.4
