Repository godotengine/godot-docs, pull requests merged in 2025-06, with the labels that each got.

#10934 Update the Using Containers tutorial
  tutorials/ui/gui_containers.rst
Labels: bug, enhancement, area:manual, topic:gui

#10995 Add premultiplied alpha documentation to StandardMaterial3D tutorial
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d, cherrypick:4.4

#10992 Add missing noun in iOS plugin documentation
  tutorials/platform/ios/ios_plugin.rst
Labels: bug, area:manual, cherrypick:4.4

#10869 Fix Sublime Text arguments in Using an external editor
  tutorials/editor/external_editor.rst
Labels: bug, area:manual, topic:editor

#11005 [Jolt] Remove reference to removed setting
  tutorials/physics/using_jolt_physics.rst
Labels: bug, area:manual, topic:physics

#10983 Use SpeedScale in Player.cs in part 9 of 3d tutorial
  getting_started/first_3d_game/09.adding_animations.rst
Labels: bug, topic:dotnet, area:getting started

#10979 Add documentation for JavaClassWrapper and AndroidRuntime plugin
  tutorials/platform/android/index.rst
  tutorials/platform/android/javaclasswrapper_and_androidruntimeplugin.rst
Labels: enhancement, area:manual, topic:plugin, platform:android, cherrypick:4.4

#11004 Update the class reference guide for tab indentation
  contributing/documentation/class_reference_primer.rst
Labels: area:contributing

#10990 Remove warning on build caused by non-existent pygment
  tutorials/best_practices/version_control_systems.rst
Labels: bug, content:website, cherrypick:4.4

#10900 update instructions and screenshot to work with XCode 16.3
  tutorials/export/exporting_for_ios.rst
  tutorials/export/img/ios_export_add_dir.png
  tutorials/export/img/ios_export_add_dir.webp
  tutorials/export/img/ios_export_delete_pck.png
  tutorials/export/img/ios_export_delete_pck.webp
  tutorials/export/img/ios_export_file.png
  tutorials/export/img/ios_export_file.webp
  tutorials/export/img/ios_export_file_inspector.webp
  tutorials/export/img/ios_export_file_ref.png
  tutorials/export/img/ios_export_file_ref.webp
  tutorials/export/img/ios_export_output.png
  tutorials/export/img/ios_export_output.webp
  tutorials/export/img/ios_export_set_path.png
  tutorials/export/img/ios_export_set_path.webp
  tutorials/export/img/ios_export_target_membership.webp
Labels: enhancement, area:manual, platform:ios

#10072 AnimationTree documentation simplification and expansion
  tutorials/animation/animation_tree.rst
  tutorials/animation/img/animtree13.png
  tutorials/animation/img/animtree14.png
  tutorials/animation/img/animtree16.png
  tutorials/animation/img/animtree17.png
  tutorials/animation/img/animtree18.png
  tutorials/animation/img/animtree9.png
  tutorials/animation/img/animtree9.webp
  tutorials/animation/img/animtree_animtooutput.png
  tutorials/animation/img/animtree_badanimcondition.gif
  tutorials/animation/img/animtree_badanimcondition.webp
  tutorials/animation/img/animtree_blend2.gif
  tutorials/animation/img/animtree_blendmode.png
  tutorials/animation/img/animtree_blendnodes.webp
  tutorials/animation/img/animtree_blendspace1d.webp
  tutorials/animation/img/animtree_blendspace2d.gif
  tutorials/animation/img/animtree_blendspacepoints.gif
  tutorials/animation/img/animtree_connections.gif
  tutorials/animation/img/animtree_emptyblendtree.webp
  tutorials/animation/img/animtree_emptystatemachine.webp
  tutorials/animation/img/animtree_filtering.png
  tutorials/animation/img/animtree_goodanimcondition.gif
  tutorials/animation/img/animtree_goodanimcondition.webp
  tutorials/animation/img/animtree_goodanimexpression.gif
  tutorials/animation/img/animtree_goodanimexpression.webp
  tutorials/animation/img/animtree_goodanimexpression2.webp
  tutorials/animation/img/animtree_oneshot.gif
  tutorials/animation/img/animtree_parameters.webp
  tutorials/animation/img/animtree_propertypath.webp
  tutorials/animation/img/animtree_rootmotiontrack.webp
  tutorials/animation/img/animtree_rootnodes.png
  tutorials/animation/img/animtree_statemachinetransitionproperties.webp
  tutorials/animation/img/animtree_timescale.webp
  tutorials/animation/img/animtree_timeseek.webp
  tutorials/animation/img/animtree_transition.webp
  tutorials/animation/img/animtree_transitiontypes.png
  tutorials/animation/img/animtree_treeandplayersetup.png
Labels: enhancement, area:manual, cherrypick:4.4

#11019 Add HR bbcode info.
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: enhancement, area:manual, topic:gui

#11033 [Navigation] Update documentation after nav split
  tutorials/navigation/navigation_using_navigationservers.rst
Labels: area:manual, topic:navigation

#11030 Document `--lsp-port` command line argument
  tutorials/editor/command_line_tutorial.rst
Labels: enhancement, area:manual

#11042 Correct NavigationAgent property name
  tutorials/navigation/navigation_using_navigationagents.rst
Labels: bug, topic:navigation, cherrypick:4.4

#11007 Add reminder to update VCS ignore settings on upgrading from Godot 3 …
  tutorials/migrating/upgrading_to_godot_4.rst
Labels: enhancement, area:manual, cherrypick:4.2, cherrypick:4.3, cherrypick:4.4

#11050 Various grammar and spelling fixes
  contributing/development/best_practices_for_engine_contributors.rst
  contributing/development/compiling/compiling_for_macos.rst
  contributing/development/compiling/index.rst
  contributing/development/core_and_modules/2d_coordinate_systems.rst
  contributing/development/core_and_modules/binding_to_external_libraries.rst
  contributing/development/handling_compatibility_breakages.rst
  contributing/documentation/docs_image_guidelines.rst
  contributing/documentation/updating_the_class_reference.rst
  getting_started/step_by_step/scripting_player_input.rst
  tutorials/3d/lights_and_shadows.rst
  tutorials/animation/animation_tree.rst
  tutorials/animation/creating_movies.rst
  tutorials/animation/playing_videos.rst
  tutorials/best_practices/data_preferences.rst
  tutorials/best_practices/scenes_versus_scripts.rst
  tutorials/editor/command_line_tutorial.rst
  tutorials/editor/customizing_editor.rst
  tutorials/editor/index.rst
  tutorials/i18n/localization_using_gettext.rst
  tutorials/io/data_paths.rst
  tutorials/io/runtime_file_loading_and_saving.rst
  tutorials/performance/gpu_optimization.rst
  tutorials/performance/pipeline_compilations.rst
  tutorials/physics/interpolation/2d_and_3d_physics_interpolation.rst
  tutorials/physics/interpolation/physics_interpolation_introduction.rst
  tutorials/physics/using_jolt_physics.rst
  tutorials/platform/android/android_plugin.rst
  tutorials/plugins/editor/import_plugins.rst
  tutorials/rendering/jitter_stutter.rst
  tutorials/scripting/c_sharp/c_sharp_differences.rst
  tutorials/scripting/c_sharp/c_sharp_style_guide.rst
  tutorials/scripting/cpp/gdextension_cpp_example.rst
  tutorials/scripting/creating_script_templates.rst
  tutorials/scripting/debug/debugger_panel.rst
  tutorials/scripting/gdextension/gdextension_c_example.rst
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_exports.rst
  tutorials/scripting/resources.rst
  tutorials/shaders/shader_reference/shader_preprocessor.rst
  tutorials/shaders/visual_shaders.rst
  tutorials/ui/bbcode_in_richtextlabel.rst
  tutorials/xr/a_better_xr_start_script.rst
  tutorials/xr/ar_passthrough.rst
  tutorials/xr/basic_xr_locomotion.rst
  tutorials/xr/openxr_composition_layers.rst
  tutorials/xr/openxr_hand_tracking.rst
  tutorials/xr/openxr_settings.rst
  tutorials/xr/xr_action_map.rst
  tutorials/xr/xr_room_scale.rst
Labels: area:getting started, area:manual, area:contributing, content:proofreading

#11051 Update link to Ruff editor integrations
  contributing/development/code_style_guidelines.rst
Labels: bug, area:contributing, cherrypick:4.4

#10996 Add specular occlusion documentation to StandardMaterial3D tutorial
  tutorials/3d/img/spatial_material1.webp
  tutorials/3d/img/spatial_material_bentnormals.webp
  tutorials/3d/standard_material_3d.rst
Labels: enhancement, topic:rendering, area:manual, topic:3d

#11024 Remove outdated note referencing a file which no longer exists
  contributing/development/core_and_modules/custom_modules_in_cpp.rst
Labels: bug, area:contributing, cherrypick:4.4

#10825 Update Visual Studio Code configuration for macOS systems
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: area:contributing, platform:macos

#10823 Document `@export_tool_button` icon parameter in GDScript exports
  tutorials/scripting/gdscript/gdscript_exports.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.4

#11063 Update visual_shaders.rst
  tutorials/shaders/visual_shaders.rst
Labels: bug, area:manual, cherrypick:4.4

#11029 GDScript: Document abstract and variadic functions
  _extensions/gdscript.py
  tutorials/scripting/gdscript/gdscript_basics.rst
  tutorials/scripting/gdscript/gdscript_styleguide.rst
Labels: enhancement, topic:gdscript, area:manual

#11066 Update static_typing.rst
  tutorials/scripting/gdscript/static_typing.rst
Labels: bug, area:manual, cherrypick:4.4
