Repository godotengine/godot-docs, pull requests merged in 2025-08, with the labels that each got.

#11157 Add feature tags that can be added on export depending on export options
  tutorials/export/feature_tags.rst
Labels: enhancement, area:manual

#11158 Reference "Using an external text editor" in the "Visual Studio Code" page
  contributing/development/configuring_an_ide/visual_studio_code.rst
Labels: enhancement, area:contributing

#11075 Add behavior change note for @export_file annotation in Godot 4.4
  tutorials/migrating/upgrading_to_godot_4.4.rst
Labels: enhancement, area:manual, cherrypick:4.4

#11036 Keep consistent with previous text to avoid misleading
  contributing/development/compiling/compiling_with_dotnet.rst
Labels: bug, topic:dotnet, area:contributing, cherrypick:4.4

#11159 Update Editor icons Setup Docs with Color conversion Note
  contributing/development/editor/creating_icons.rst
Labels: area:contributing, cherrypick:4.4

#11167 Update kdevelop.rst
  contributing/development/configuring_an_ide/kdevelop.rst
Labels: bug, area:contributing

#11160 Fix incorrect Intel IGP minimum requirement in System requirements
  about/system_requirements.rst
Labels: bug, area:about, cherrypick:4.3, cherrypick:4.4

#11118 Add the render models extension to the OpenXR settings page
  tutorials/xr/openxr_settings.rst
Labels: enhancement, topic:xr, area:manual

#11174 Fix compute shader heightmap demo link in Using compute shaders
  tutorials/shaders/compute_shaders.rst
Labels: bug, area:manual, topic:shaders, cherrypick:4.4

#11169 Add tabs to SConstruct snippet
  tutorials/scripting/cpp/gdextension_docs_system.rst
Labels: bug, area:manual, topic:buildsystem, cherrypick:4.4

#11177 Add UI roles to remaining step by step pages
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/nodes_and_scenes.rst
  getting_started/step_by_step/scripting_first_script.rst
  getting_started/step_by_step/scripting_player_input.rst
  getting_started/step_by_step/signals.rst
Labels: enhancement, area:getting started

#11181 Update images on Kdevelop page
  contributing/development/configuring_an_ide/img/kdevelop_addincludes.png
  contributing/development/configuring_an_ide/img/kdevelop_addincludes.webp
  contributing/development/configuring_an_ide/img/kdevelop_buildconfig.png
  contributing/development/configuring_an_ide/img/kdevelop_buildconfig.webp
  contributing/development/configuring_an_ide/img/kdevelop_configlaunches.png
  contributing/development/configuring_an_ide/img/kdevelop_configlaunches.webp
  contributing/development/configuring_an_ide/img/kdevelop_configlaunches2.png
  contributing/development/configuring_an_ide/img/kdevelop_configlaunches2.webp
  contributing/development/configuring_an_ide/img/kdevelop_custombuild.png
  contributing/development/configuring_an_ide/img/kdevelop_custombuild.webp
  contributing/development/configuring_an_ide/img/kdevelop_newproject.png
  contributing/development/configuring_an_ide/img/kdevelop_newproject.webp
  contributing/development/configuring_an_ide/img/kdevelop_openconfig.png
  contributing/development/configuring_an_ide/img/kdevelop_openconfig.webp
  contributing/development/configuring_an_ide/kdevelop.rst
Labels: area:contributing, content:images

#11184 Update RISC-V toolchain version
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: area:contributing, topic:buildsystem

#11190 Remove reference to non-existent "identity" property in bbcode tutorial
  tutorials/ui/bbcode_in_richtextlabel.rst
Labels: area:manual, topic:gui, cherrypick:4.3, cherrypick:4.4

#11194 Fix typo for custom UI roles
  getting_started/step_by_step/instancing.rst
  getting_started/step_by_step/nodes_and_scenes.rst
  getting_started/step_by_step/signals.rst
Labels: bug, area:getting started

#11191 Fix package name for pip in MSYS2
  contributing/development/compiling/compiling_for_windows.rst
Labels: bug, area:contributing, cherrypick:4.4

#11173 [Contributing] Update suggested Ubuntu version
  contributing/development/compiling/compiling_for_linuxbsd.rst
Labels: area:contributing, topic:buildsystem

#11235 Link to Pseudolocalization page in Internationalizing games
  tutorials/i18n/internationalizing_games.rst
Labels: enhancement, area:manual, topic:i18n, cherrypick:4.4

#11231 Update usage of `ruff`
  contributing/development/code_style_guidelines.rst
Labels: bug, area:contributing, cherrypick:4.4

#11238 Clarify assignment operator in typed array/dictionary documentation
  tutorials/scripting/gdscript/static_typing.rst
Labels: enhancement, topic:gdscript, area:manual, cherrypick:4.4
